<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Presentation1 PresentationAll" tal:attributes="class php:Presentation1->getId()==Presentation->getId()?'active':'disable'">
					<a tal:attributes="href Presentation1/getURLSetting">
						<i class="glyphicons-show_big_thumbnails"/><span tal:content="Presentation1/getName"/>
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a tal:attributes="href Presentation/getURLSettingSlideInsLoad" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>
					<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-remove_2"/> Xóa chọn
					</a>
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">								
								<thead>
									<tr>
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th class="left">TÊN</th>
										<th width="60" class="right">T.TỰ</th>										
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Slide Presentation/getSlideAll">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Slide/getId"/></td>
										<td><a tal:attributes="href Slide/getURLSettingUpdLoad" tal:content="Slide/getName"/></td>
										<td class="right"><span tal:content="Slide/getOrder" /></td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Slide/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>								
							</table>
						</div>
					</div>					
															
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>
			</div>
		</div>
		<div id="PresentationCurrent" tal:attributes="alt Presentation/getId" />
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Slide/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 Presentation			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Slide/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
				
		/*]]>*/
		</script>
	</body>
</html>