<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<header class="content-title">
								<h1 class="title">CÁC SẢN PHẨM ĐÃ CHỌN</h1>
								<p class="title-desc">Tìm ra sản phẩm bạn ưng ý</p>
							</header>
							<div class="xs-margin"></div>
							<div class="row">
								<div class="col-md-12 table-responsive">
									<table class="table table-striped compare-item-table">
										<tr>
											<td class="table-title">Sản phẩm</td>
											<td tal:repeat="Item Cart/getItems">
												<figure>
													<img tal:attributes="src php:Item['Image']" width="180"/>
												</figure>
												<p class="item-name"><a href="#" tal:content="php:Item['Name']"/></p>
											</td>
										</tr>
										<tr>
											<td class="table-title">Giá</td>
											<td tal:repeat="Item Cart/getItems">
												<span class="item-price-special" tal:content="php:Item['PriceP']"/>
											</td>
										</tr>																			
										<tr>
											<td class="table-title">Đánh giá</td>
											<td tal:repeat="Item Cart/getItems">
												<div class="ratings-container">
													<div class="ratings">
														<div class="ratings-result" data-result="90"></div>
													</div>
													<span class="ratings-amount">
														1 đánh giá
													</span>
												</div>
											</td>											
										</tr>										
										<tr>
											<td class="table-title"></td>
											<td tal:repeat="Item Cart/getItems">
												<a href="#" class="btn btn-custom-2">Mua ngay</a>
											</td>											
										</tr>
									</table>
									<div class="xlg-margin"></div><!-- Space -->
								</div><!-- End .col-md-12 -->
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>