<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body onunload="GUnload()">
		<!--
		<div metal:use-macro="mFront.xhtml/OptionPanel"/>
		!-->
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<header class="content-title">
							<h1 class="title">Liên lạc nhanh với chúng tôi</h1>
							<p class="title-desc">sẽ những ưu đãi và chất lượng phục vụ tốt nhất</p>
							</header>
							<div class="xs-margin"></div><!-- space -->
							<div class="row">
								<div class="col-md-2">									
									<button class="btn btn-custom btnBranch" style="width:100%;" tal:repeat="Branch BranchAll"
										tal:attributes="data-name Branch/getName;
														data-address Branch/getAddress;
														data-x Branch/getX;
														data-y Branch/getY;
														data-phone1 Branch/getPhone1;
														data-phone2 Branch/getPhone2;
														data-email1 Branch/getEmail1;
														data-email2 Branch/getEmail2;
														data-logo Branch/getLogo;
										"	
									>
										<input id="X" type="hidden" tal:attributes="value Branch/getX"/>
										<input id="Y" type="hidden" tal:attributes="value Branch/getY"/>
										<input id="NameXY" type="hidden" tal:attributes="value Branch/getName"/>
										<span tal:content="Branch/getName"/>
										<input id="Logo" type="hidden" tal:attributes="value Branch/getLogo"/>
									</button>
								</div>
								<div class="col-md-10">
									<div id="map"></div>
								</div>
								<div class="col-md-8 col-sm-8 col-xs-12">
									<div class="testimonial-details-contact">
										<header>Xin chào quý khách!</header>
										<span>Chúng tôi luôn lắng nghe những phản hồi của quý khách về chúng tôi. Ý kiến của quý vị sẽ làm nên sự thành công của chúng tôi.</span>
									</div>
									<div class="row">
										<div id="contact-form">
											<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="input-group">
													<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Tên&#42;</span></span>
													<input type="text" name="contact-name" id="contact-name" required="" class="form-control input-lg"/>
												</div>
												<div class="input-group">
													<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
													<input type="email" name="contact-email" id="contact-email" required="" class="form-control input-lg"/>
												</div>
												<div class="input-group">
													<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Chủ đề&#42;</span></span>
													<input type="text" name="contact-subject" id="contact-subject" required="" class="form-control input-lg"/>
												</div>
											</div>
											<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="input-group textarea-container">
													<span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Nội dung</span></span>
													<textarea name="contact-message" id="contact-message" class="form-control" cols="30" rows="6"></textarea>
												</div>
												<input id="BtnSend" type="submit" value="Gửi" class="btn btn-custom-2 md-margin"/>
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-4 col-sm-4 col-xs-12">
									<h2 class="sub-title">Thông tin liên hệ</h2>
									<ul class="contact-details-list">										
										<li>
											<span class="contact-icon contact-icon-mobile"></span>
											<ul>
												<li id="IdName" />
												<li id="IdAddress" />
											</ul>
										</li>
										<li>
											<span class="contact-icon contact-icon-phone"></span>
											<ul>
												<li id="IdPhone1" />
												<li id="IdPhone2" />
											</ul>
										</li>
										<li>
											<span class="contact-icon contact-icon-email"></span>
											<ul>
												<li id="IdEmail1" />
												<li id="IdEmail2" />
											</ul>
										</li>										
									</ul>
								</div><!-- End .col-md-4 -->
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyAL3E55skCbhZdaN7Jm3Tip7Np1X04f76w" type="text/javascript"></script>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/cms/js/gps.jquery.js"/>
		<script type="text/javascript">
			$(function() {											
				$("#map").googleMap().load();
			});
			
			$('.btnBranch').click(function(e){								
				$('#X').val($(this).attr('data-x'));
				$('#Y').val($(this).attr('data-y'));
				$('#NameXY').val($(this).attr('data-name'));
				$('#Logo').val($(this).attr('data-logo'));
				
				$("#map").googleMap().reload();	
				
				$("#IdPhone1").html($(this).attr('data-phone1'));
				$("#IdPhone2").html($(this).attr('data-phone2'));
				
				$("#IdEmail1").html($(this).attr('data-email1'));
				$("#IdEmail2").html($(this).attr('data-email2'));
				
				$("#IdName").html($(this).attr('data-name'));
				$("#IdAddress").html($(this).attr('data-address'));
				
			});
			$('.btnBranch:first').click();
			
			$('#BtnSend').click(function(e){				
				var Data = [];
				Data[0] = $("#contact-name").val();
				Data[1] = $("#contact-email").val();
				Data[2] = $("#contact-subject").val();				
				Data[3] = $("#contact-message").val();					
				
				var URL = "/lien-he/email";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,						
						success: function(msg){								
							if (msg.result = "OK") { 
								$("#contact-name").val('');
								$("#contact-email").val('');
								$("#contact-subject").val('');
								$("#contact-message").val('');	
								alert ("Gui thanh cong!");
							} else {
								alert ("Gui that bai !Ban hay gui lai!");
							}
						}
					});
			});	
		</script>
	</body>
</html>