<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div class="row">						
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Menu</h3>
						</div>						
						<div class="panel-body">
							<div class="row">
								<div tal:repeat="Product ProductAll" class="col-md-3 item-config">
									<div class="item-thumb">
										<a tal:attributes="href Product/getURLView">
											<img src="/mvc/templates/front/img/item.png" class="img-thumbnail"/>
											<h3 tal:content="Product/getName"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Photo Album</h3>
						</div>						
						<div class="panel-body">
							<div class="row">
								<div tal:repeat="Album LastestAlbumAll" class="col-md-4 item-config">
									<div class="item-thumb">
										<a tal:attributes="href Album/getURLView">
											<img tal:attributes="src Album/getImage" class="img-thumbnail" width="100%"/>
											<h3 tal:content="Album/getName"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Videos</h3>
						</div>						
						<div class="panel-body">
							<div class="row">
								<div tal:repeat="Video LastestVideoAll" class="col-md-3 item-config">
									<div class="item-thumb">
										<a tal:attributes="href Video/getURLView">
											<img tal:attributes="src Video/getImage" class="img-thumbnail" width="100%"/>
											<h3 tal:content="Video/getName"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<tal:block metal:use-macro="mFront.xhtml/Subscribe"/>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>$('#carousel-example-generic').carousel({pause: "false"});</script>
	</body>
</html>