<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container" id="wraper">
			<div class="row-fluid">
				<div class="col-md-9 col-sm-9">
					<table class="table table-striped">
						<tr>
							<th width="32px" align="center">STT</th>
							<th width="64px" />
							<th>SÁCH</th>							
						</tr>
						<tr tal:repeat="Book Category/getBookAll">
							<td><div class="text-center" tal:content="repeat/Book/number"/></td>
							<td><img width="64px" tal:attributes="src Book/getThumb"/></td>
							<td>
								<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
								<p tal:content="structure Book/getInfoReduce"/>
								<span tal:content="Book/getTimePrint" />, <B tal:content="Book/getViewed" /> lượt xem, <B tal:content="Book/getAuthor" />
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="panel panel-default">
						<div class="panel-heading">DANH MỤC SÁCH</div>
						<div class="panel-body">
							<a tal:attributes="href Category1/getURLView;class php: Category1->getId()==Category->getId()?'btn btn-primary btn-block':'btn btn-default btn-block'"  tal:repeat="Category1 CategoryBookAll">
								<span tal:content="Category1/getName"/>
							</a>							
						</div>
					</div>										
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>