Options +FollowSymlinks
RewriteEngine on
 
#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/load$ 			?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]
RewriteRule ^change/pass/load$ 		?cmd=ChangePassLoad [L]
RewriteRule ^change/pass/exe$ 		?cmd=ChangePassExe [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 													?cmd=App [L]
RewriteRule ^selling$ 												?cmd=Selling [L]
RewriteRule ^selling/([0-9]+)$ 										?cmd=SellingDomain&IdDomain=$1 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)$ 							?cmd=SellingDomainTable&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/eval/load$ 					?cmd=SellingDomainTableEvalLoad&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/eval/exe$ 					?cmd=SellingDomainTableEvalExe&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/call/load$ 					?cmd=SellingDomainTableCallLoad&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/call/load/([0-9]+)$ 			?cmd=SellingDomainTableCallLoad&IdDomain=$1&IdTable=$2&IdCategory=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/call/exe/([0-9]+)$			?cmd=SellingDomainTableCallExe&IdDomain=$1&IdTable=$2&IdCourse=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/call/exe/([0-9]+)/plus$		?cmd=SellingDomainTableCallExe&IdDomain=$1&IdTable=$2&IdCourse=$3&Delta=1 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/call/exe/([0-9]+)/minus$		?cmd=SellingDomainTableCallExe&IdDomain=$1&IdTable=$2&IdCourse=$3&Delta=-1 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/detail/([0-9]+)/upd/load$	?cmd=SellingDomainTableSessionDetailUpdLoad&IdDomain=$1&IdTable=$2&IdSessionDetail=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/detail/([0-9]+)/upd/exe$		?cmd=SellingDomainTableSessionDetailUpdExe&IdDomain=$1&IdTable=$2&IdSessionDetail=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/detail/([0-9]+)/del/load$	?cmd=SellingDomainTableSessionDetailDelLoad&IdDomain=$1&IdTable=$2&IdSessionDetail=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/detail/([0-9]+)/del/exe$		?cmd=SellingDomainTableSessionDetailDelExe&IdDomain=$1&IdTable=$2&IdSessionDetail=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/move/load$ 					?cmd=SellingDomainTableMoveLoad&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/move/exe$					?cmd=SellingDomainTableMoveExe&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/merge/load$ 					?cmd=SellingDomainTableMergeLoad&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/merge/exe$ 					?cmd=SellingDomainTableMergeExe&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/del/load$ 					?cmd=SellingDomainTableDelLoad&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/del/exe$ 					?cmd=SellingDomainTableDelExe&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/log$							?cmd=SellingDomainTableLog&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/log/page/([0-9]+)$			?cmd=SellingDomainTableLog&IdDomain=$1&IdTable=$2&Page=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/log/([0-9]+)/del/load$ 		?cmd=SellingDomainTableLogDelLoad&IdDomain=$1&IdTable=$2&IdSession=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/log/([0-9]+)/del/exe$ 		?cmd=SellingDomainTableLogDelExe&IdDomain=$1&IdTable=$2&IdSession=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/log/([0-9]+)/upd/load$ 		?cmd=SellingDomainTableLogUpdLoad&IdDomain=$1&IdTable=$2&IdSession=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/log/([0-9]+)/upd/exe$ 		?cmd=SellingDomainTableLogUpdExe&IdDomain=$1&IdTable=$2&IdSession=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/log/([0-9]+)/detail$ 		?cmd=SellingDomainTableLogDetail&IdDomain=$1&IdTable=$2&IdSession=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/([0-9]+)/print$				?cmd=SellingDomainTablePrint&IdDomain=$1&IdTable=$2&IdSession=$3 [L]

RewriteRule ^selling/([0-9]+)/([0-9]+)/checkin/exe$					?cmd=SellingDomainTableCheckinExe&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/([0-9]+)/checkout/load$		?cmd=SellingDomainTableLogUpdLoad&IdDomain=$1&IdTable=$2&IdSession=$3 [L]
RewriteRule ^selling/([0-9]+)/([0-9]+)/([0-9]+)/checkout/exe$		?cmd=SellingDomainTableCheckoutExe&IdDomain=$1&IdTable=$2&IdSession=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# CUSTOMER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^customer/([0-9]+)$											?cmd=FindCustomer&IdCard=$1 [L]
#---------------------------------------------------------------------------------------------------------------------------
# IMPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^import$ 								?cmd=Import [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/page/([0-9]+)$ 		?cmd=ImportSupplier&IdSupplier=$1&Page=$2 [L]
RewriteRule ^import/([0-9]+)/ins/load$ 				?cmd=ImportSupplierInsLoad&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/ins/exe$ 				?cmd=ImportSupplierInsExe&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/upd/load$		?cmd=ImportSupplierUpdLoad&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/upd/exe$		?cmd=ImportSupplierUpdExe&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/del/load$		?cmd=ImportSupplierDelLoad&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/del/exe$		?cmd=ImportSupplierDelExe&IdSupplier=$1&IdOrderImport=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)$				?cmd=ImportSupplierOrder&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/print$		?cmd=ImportSupplierOrderPrint&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/print/1$		?cmd=ImportSupplierOrderPrint1&IdSupplier=$1&IdOrderImport=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)/ins/load$				?cmd=ImportSupplierOrderInsLoad&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/ins/exe$				?cmd=ImportSupplierOrderInsExe&IdSupplier=$1&IdOrderImport=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/([0-9]+)/upd/load$	?cmd=ImportSupplierOrderUpdLoad&IdSupplier=$1&IdOrderImport=$2&IdResource=$3 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/([0-9]+)/upd/exe$		?cmd=ImportSupplierOrderUpdExe&IdSupplier=$1&IdOrderImport=$2&IdResource=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# REPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^report$ 									?cmd=Report [L]

RewriteRule ^report/recipe/print$ 						?cmd=ReportStoreRecipePrint [L]

RewriteRule ^report/selling/([0-9]+)$ 					?cmd=ReportSelling&Type=$1 [L]
RewriteRule ^report/selling/([0-9]+)/refresh$ 			?cmd=ReportSellingRefresh&IdTrack=$1 [L]
RewriteRule ^report/selling/([0-9]+)/general$ 			?cmd=ReportSellingGeneral&IdTrack=$1 [L]
RewriteRule ^report/selling/([a-z0-9_-]+)/detail$ 		?cmd=ReportSellingDetail&Type=$1 [L]

RewriteRule ^report/([0-9]+)$ 							?cmd=ReportDetail&IdTrack=$1 [L]
RewriteRule ^report/ins/load$ 							?cmd=ReportDetailInsLoad [L]
RewriteRule ^report/ins/exe$ 							?cmd=ReportDetailInsExe [L]
RewriteRule ^report/([0-9]+)/upd/load$ 					?cmd=ReportDetailUpdLoad&IdTrack=$1 [L]
RewriteRule ^report/([0-9]+)/upd/exe$ 					?cmd=ReportDetailUpdExe&IdTrack=$1 [L]
RewriteRule ^report/([0-9]+)/del/load$ 					?cmd=ReportDetailDelLoad&IdTrack=$1 [L]
RewriteRule ^report/([0-9]+)/del/exe$ 					?cmd=ReportDetailDelExe&IdTrack=$1 [L]

RewriteRule ^report/([0-9]+)/payroll/general$ 			?cmd=ReportPayRoll&IdTrack=$1 [L]
RewriteRule ^report/([0-9]+)/payroll/([0-9]+)$ 			?cmd=ReportPayRollDetail&IdTrack=$1&IdEmployee=$2 [L]

RewriteRule ^report/paid/([0-9]+)$ 						?cmd=ReportPaidGeneral&IdTrack=$1 [L]
RewriteRule ^report/paid/([0-9]+)/([0-9]+)$ 			?cmd=ReportPaidDetail&IdTrack=$1&IdTerm=$2 [L]

RewriteRule ^report/customer/([0-9]+)$ 					?cmd=ReportCustomerGeneral&IdTrack=$1 [L]
RewriteRule ^report/customer/([0-9]+)/([0-9]+)$ 		?cmd=ReportCustomerDetail&IdTrack=$1&IdCustomer=$2 [L]

RewriteRule ^report/collect/([0-9]+)$ 					?cmd=ReportCollectGeneral&IdTrack=$1 [L]
RewriteRule ^report/collect/([0-9]+)/([0-9]+)$ 			?cmd=ReportCollectDetail&IdTrack=$1&IdTerm=$2 [L]

RewriteRule ^report/import/([0-9]+)/general$ 			?cmd=ReportImportGeneral&IdTrack=$1 [L]
RewriteRule ^report/import/([0-9]+)/([0-9]+)$ 			?cmd=ReportImportDetail&IdTrack=$1&IdSupplier=$2 [L]
RewriteRule ^report/store/([0-9]+)$ 					?cmd=ReportStore&IdTrack=$1 [L]
RewriteRule ^report/store/([0-9]+)/eval$ 				?cmd=ReportEvalStore&IdTrack=$1 [L]
RewriteRule ^report/course/([0-9]+)$ 					?cmd=ReportCourse&IdTrack=$1 [L]
RewriteRule ^report/general/([0-9]+)$ 					?cmd=ReportGeneral&IdTrack=$1 [L]

RewriteRule ^report/form/store/print$ 					?cmd=ReportFormStorePrint [L]

#---------------------------------------------------------------------------------------------------------------------------
# MONEY
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^money$ 												?cmd=Money [L]

RewriteRule ^money/collect/general$ 								?cmd=MoneyCollectGeneral [L]
RewriteRule ^money/collect/general/([0-9]+)$ 						?cmd=MoneyCollectGeneral&IdTerm=$1 [L]
RewriteRule ^money/collect/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyCollectGeneral&IdTerm=$1&Page=$2 [L]
RewriteRule ^money/collect/general/([0-9]+)/ins/load$				?cmd=MoneyCollectGeneralInsLoad&IdTerm=$1 [L]
RewriteRule ^money/collect/general/([0-9]+)/ins/exe$ 				?cmd=MoneyCollectGeneralInsExe&IdTerm=$1 [L]
RewriteRule ^money/collect/general/([0-9]+)/([0-9]+)/upd/load$		?cmd=MoneyCollectGeneralUpdLoad&IdTerm=$1&IdCollect=$2 [L]
RewriteRule ^money/collect/general/([0-9]+)/([0-9]+)/upd/exe$		?cmd=MoneyCollectGeneralUpdExe&IdTerm=$1&IdCollect=$2 [L]
RewriteRule ^money/collect/general/([0-9]+)/([0-9]+)/del/load$		?cmd=MoneyCollectGeneralDelLoad&IdTerm=$1&IdCollect=$2 [L]
RewriteRule ^money/collect/general/([0-9]+)/([0-9]+)/del/exe$		?cmd=MoneyCollectGeneralDelExe&IdTerm=$1&IdCollect=$2 [L]

RewriteRule ^money/paid/general$ 									?cmd=MoneyPaidGeneral [L]
RewriteRule ^money/paid/general/([0-9]+)$ 							?cmd=MoneyPaidGeneral&IdTerm=$1 [L]
RewriteRule ^money/paid/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidGeneral&IdTerm=$1&Page=$2 [L]
RewriteRule ^money/paid/general/([0-9]+)/ins/load$					?cmd=MoneyPaidGeneralInsLoad&IdTerm=$1 [L]
RewriteRule ^money/paid/general/([0-9]+)/ins/exe$ 					?cmd=MoneyPaidGeneralInsExe&IdTerm=$1 [L]
RewriteRule ^money/paid/general/([0-9]+)/([0-9]+)/upd/load$			?cmd=MoneyPaidGeneralUpdLoad&IdTerm=$1&IdPaid=$2 [L]
RewriteRule ^money/paid/general/([0-9]+)/([0-9]+)/upd/exe$			?cmd=MoneyPaidGeneralUpdExe&IdTerm=$1&IdPaid=$2 [L]
RewriteRule ^money/paid/general/([0-9]+)/([0-9]+)/del/load$			?cmd=MoneyPaidGeneralDelLoad&IdTerm=$1&IdPaid=$2 [L]
RewriteRule ^money/paid/general/([0-9]+)/([0-9]+)/del/exe$			?cmd=MoneyPaidGeneralDelExe&IdTerm=$1&IdPaid=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# PAYROLL
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^payroll$ 												?cmd=PayRoll [L]
RewriteRule ^payroll/([0-9]+)$ 										?cmd=PayRoll&IdTrack=$1 [L]
RewriteRule ^payroll/([0-9]+)/([0-9_-]+)$ 							?cmd=PayRollWork&IdTrack=$1&Date=$2 [L]
RewriteRule ^payroll/([0-9]+)/([0-9_-]+)/([0-9]+)/yes$ 				?cmd=PayRollWorkDetail&IdTrack=$1&Date=$2&IdEmployee=$3&State=yes [L]
RewriteRule ^payroll/([0-9]+)/([0-9_-]+)/([0-9]+)/no$ 				?cmd=PayRollWorkDetail&IdTrack=$1&Date=$2&IdEmployee=$3&State=no [L]
RewriteRule ^payroll/([0-9]+)/([0-9_-]+)/([0-9]+)/no/([0-9]+)$ 		?cmd=PayRollWorkDetail&IdTrack=$1&Date=$2&IdEmployee=$3&State=no&Minute=$4 [L]
RewriteRule ^payroll/([0-9]+)/([0-9_-]+)/([0-9]+)/yes/([0-9]+)$ 	?cmd=PayRollWorkDetail&IdTrack=$1&Date=$2&IdEmployee=$3&State=yes&Minute=$4 [L]
RewriteRule ^payroll/([0-9]+)/([0-9_-]+)/([0-9]+)/yes/([0-9]+)/([0-9]+)$ 	?cmd=PayRollWorkDetail&IdTrack=$1&Date=$2&IdEmployee=$3&State=yes&Minute=$4&Extra=$5 [L]
RewriteRule ^payroll/([0-9]+)/([0-9_-]+)/([0-9]+)/no/([0-9]+)/([0-9]+)$ 	?cmd=PayRollWorkDetail&IdTrack=$1&Date=$2&IdEmployee=$3&State=no&Minute=$4&Extra=$5 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.INFO
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 												?cmd=Setting [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CUSTOMER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/customer$ 										?cmd=SettingCustomer [L]
RewriteRule ^setting/customer/page/([0-9]+)$ 						?cmd=SettingCustomer&Page=$1 [L]
RewriteRule ^setting/customer/ins/load$ 							?cmd=SettingCustomerInsLoad [L]
RewriteRule ^setting/customer/ins/exe$ 								?cmd=SettingCustomerInsExe [L]
RewriteRule ^setting/customer/([0-9]+)/upd/load$ 					?cmd=SettingCustomerUpdLoad&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/upd/exe$ 					?cmd=SettingCustomerUpdExe&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/del/load$ 					?cmd=SettingCustomerDelLoad&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/del/exe$ 					?cmd=SettingCustomerDelExe&IdCustomer=$1 [L]
RewriteRule ^setting/customer/([0-9]+)/barcode$ 					?cmd=SettingCustomerBarcode&IdCustomer=$1 [L]
                         
#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CATEGORY
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category$ 										?cmd=SettingCategory [L]
RewriteRule ^setting/category/page/([0-9]+)$ 						?cmd=SettingCategory&Page=$1 [L]
RewriteRule ^setting/category/ins/load$ 							?cmd=SettingCategoryInsLoad [L]
RewriteRule ^setting/category/ins/exe$ 								?cmd=SettingCategoryInsExe [L]
RewriteRule ^setting/category/([0-9]+)/upd/load$ 					?cmd=SettingCategoryUpdLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/([0-9]+)/upd/exe$ 					?cmd=SettingCategoryUpdExe&IdCategory=$1 [L]
RewriteRule ^setting/category/([0-9]+)/del/load$ 					?cmd=SettingCategoryDelLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/([0-9]+)/del/exe$ 					?cmd=SettingCategoryDelExe&IdCategory=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CATEGORY.COURSE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/([0-9]+)$ 						?cmd=SettingCategoryCourse&IdCategory=$1 [L]
RewriteRule ^setting/category/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingCategoryCourse&IdCategory=$1&Page=$2 [L]
RewriteRule ^setting/category/([0-9]+)/ins/load$ 				?cmd=SettingCategoryCourseInsLoad&IdCategory=$1 [L]
RewriteRule ^setting/category/([0-9]+)/ins/exe$ 				?cmd=SettingCategoryCourseInsExe&IdCategory=$1 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/upd/load$ 		?cmd=SettingCategoryCourseUpdLoad&IdCategory=$1&IdCourse=$2 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/upd/exe$ 		?cmd=SettingCategoryCourseUpdExe&IdCategory=$1&IdCourse=$2 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/del/load$ 		?cmd=SettingCategoryCourseDelLoad&IdCategory=$1&IdCourse=$2 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/del/exe$ 		?cmd=SettingCategoryCourseDelExe&IdCategory=$1&IdCourse=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CATEGORY.COURSE.RECIPE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/recipe$ 						?cmd=SettingCategoryCourseRecipe&IdCategory=$1&IdCourse=$2 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/recipe/ins/load$ 				?cmd=SettingCategoryCourseRecipeInsLoad&IdCategory=$1&IdCourse=$2 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/recipe/ins/exe$ 				?cmd=SettingCategoryCourseRecipeInsExe&IdCategory=$1&IdCourse=$2 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/recipe/([0-9]+)/upd/load$ 	?cmd=SettingCategoryCourseRecipeUpdLoad&IdCategory=$1&IdCourse=$2&IdRecipe=$3 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/recipe/([0-9]+)/upd/exe$ 	?cmd=SettingCategoryCourseRecipeUpdExe&IdCategory=$1&IdCourse=$2&IdRecipe=$3 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/recipe/([0-9]+)/del/load$ 	?cmd=SettingCategoryCourseRecipeDelLoad&IdCategory=$1&IdCourse=$2&IdRecipe=$3 [L]
RewriteRule ^setting/category/([0-9]+)/([0-9]+)/recipe/([0-9]+)/del/exe$ 	?cmd=SettingCategoryCourseRecipeDelExe&IdCategory=$1&IdCourse=$2&IdRecipe=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.DOMAIN
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/domain$ 									?cmd=SettingDomain [L]
RewriteRule ^setting/domain/page/([0-9]+)$ 						?cmd=SettingDomain&Page=$1 [L]
RewriteRule ^setting/domain/ins/load$ 							?cmd=SettingDomainInsLoad [L]
RewriteRule ^setting/domain/ins/exe$ 							?cmd=SettingDomainInsExe [L]
RewriteRule ^setting/domain/([0-9]+)/upd/load$ 					?cmd=SettingDomainUpdLoad&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/upd/exe$ 					?cmd=SettingDomainUpdExe&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/del/load$ 					?cmd=SettingDomainDelLoad&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/del/exe$ 					?cmd=SettingDomainDelExe&IdDomain=$1 [L]
                        
#---------------------------------------------------------------------------------------------------------------------------
# SETTING.DOMAIN.TABLE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/domain/([0-9]+)$ 							?cmd=SettingDomainTable&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingDomainTable&IdDomain=$1&Page=$2 [L]
RewriteRule ^setting/domain/([0-9]+)/ins/load$ 					?cmd=SettingDomainTableInsLoad&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/ins/exe$ 					?cmd=SettingDomainTableInsExe&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/([0-9]+)/upd/load$ 		?cmd=SettingDomainTableUpdLoad&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^setting/domain/([0-9]+)/([0-9]+)/upd/exe$ 			?cmd=SettingDomainTableUpdExe&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^setting/domain/([0-9]+)/([0-9]+)/del/load$ 		?cmd=SettingDomainTableDelLoad&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^setting/domain/([0-9]+)/([0-9]+)/del/exe$ 			?cmd=SettingDomainTableDelExe&IdDomain=$1&IdTable=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.UNIT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/unit$ 										?cmd=SettingUnit [L]
RewriteRule ^setting/unit/page/([0-9]+)$ 						?cmd=SettingUnit&Page=$1 [L]
RewriteRule ^setting/unit/ins/load$ 							?cmd=SettingUnitInsLoad [L]
RewriteRule ^setting/unit/ins/exe$ 								?cmd=SettingUnitInsExe [L]
RewriteRule ^setting/unit/([0-9]+)/upd/load$ 					?cmd=SettingUnitUpdLoad&IdUnit=$1 [L]
RewriteRule ^setting/unit/([0-9]+)/upd/exe$ 					?cmd=SettingUnitUpdExe&IdUnit=$1 [L]
RewriteRule ^setting/unit/([0-9]+)/del/load$ 					?cmd=SettingUnitDelLoad&IdUnit=$1 [L]
RewriteRule ^setting/unit/([0-9]+)/del/exe$ 					?cmd=SettingUnitDelExe&IdUnit=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.CONFIG
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/config$ 									?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9]+)$ 						?cmd=SettingConfig&Page=$1 [L]
RewriteRule ^setting/config/ins/load$ 							?cmd=SettingConfigInsLoad [L]
RewriteRule ^setting/config/ins/exe$ 							?cmd=SettingConfigInsExe [L]
RewriteRule ^setting/config/pass/load$ 							?cmd=SettingConfigPassLoad [L]
RewriteRule ^setting/config/pass/exe$ 							?cmd=SettingConfigPassExe [L]
RewriteRule ^setting/config/([0-9]+)/upd/load$ 					?cmd=SettingConfigUpdLoad&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9]+)/upd/exe$ 					?cmd=SettingConfigUpdExe&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9]+)/del/load$ 					?cmd=SettingConfigDelLoad&IdConfig=$1 [L]
RewriteRule ^setting/config/([0-9]+)/del/exe$ 					?cmd=SettingConfigDelExe&IdConfig=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.SUPPLIER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/supplier$ 									?cmd=SettingSupplier [L]
RewriteRule ^setting/supplier/page/([0-9]+)$ 					?cmd=SettingSupplier&Page=$1 [L]
RewriteRule ^setting/supplier/ins/load$ 						?cmd=SettingSupplierInsLoad [L]
RewriteRule ^setting/supplier/ins/exe$ 							?cmd=SettingSupplierInsExe [L]
RewriteRule ^setting/supplier/([0-9]+)/upd/load$ 				?cmd=SettingSupplierUpdLoad&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/upd/exe$ 				?cmd=SettingSupplierUpdExe&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/del/load$ 				?cmd=SettingSupplierDelLoad&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/del/exe$ 				?cmd=SettingSupplierDelExe&IdSupplier=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.SUPPLIER.RESOURCE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/supplier/([0-9]+)$ 						?cmd=SettingSupplierResource&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingSupplierResource&IdSupplier=$1&Page=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/ins/load$ 				?cmd=SettingSupplierResourceInsLoad&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/ins/exe$ 				?cmd=SettingSupplierResourceInsExe&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/upd/load$ 		?cmd=SettingSupplierResourceUpdLoad&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/upd/exe$ 		?cmd=SettingSupplierResourceUpdExe&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/del/load$ 		?cmd=SettingSupplierResourceDelLoad&IdSupplier=$1&IdResource=$2 [L]
RewriteRule ^setting/supplier/([0-9]+)/([0-9]+)/del/exe$ 		?cmd=SettingSupplierResourceDelExe&IdSupplier=$1&IdResource=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.EMPLOYEE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/employee$ 									?cmd=SettingEmployee [L]
RewriteRule ^setting/employee/page/([0-9]+)$ 					?cmd=SettingEmployee&Page=$1 [L]
RewriteRule ^setting/employee/ins/load$ 						?cmd=SettingEmployeeInsLoad [L]
RewriteRule ^setting/employee/ins/exe$ 							?cmd=SettingEmployeeInsExe [L]
RewriteRule ^setting/employee/([0-9]+)/upd/load$ 				?cmd=SettingEmployeeUpdLoad&IdEmployee=$1 [L]
RewriteRule ^setting/employee/([0-9]+)/upd/exe$ 				?cmd=SettingEmployeeUpdExe&IdEmployee=$1 [L]
RewriteRule ^setting/employee/([0-9]+)/del/load$ 				?cmd=SettingEmployeeDelLoad&IdEmployee=$1 [L]
RewriteRule ^setting/employee/([0-9]+)/del/exe$ 				?cmd=SettingEmployeeDelExe&IdEmployee=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.TERM.PAID
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/termpaid$ 									?cmd=SettingTermPaid [L]
RewriteRule ^setting/termpaid/page/([0-9]+)$ 					?cmd=SettingTermPaid&Page=$1 [L]
RewriteRule ^setting/termpaid/ins/load$ 						?cmd=SettingTermPaidInsLoad [L]
RewriteRule ^setting/termpaid/ins/exe$ 							?cmd=SettingTermPaidInsExe [L]
RewriteRule ^setting/termpaid/([0-9]+)/upd/load$ 				?cmd=SettingTermPaidUpdLoad&IdTerm=$1 [L]
RewriteRule ^setting/termpaid/([0-9]+)/upd/exe$ 				?cmd=SettingTermPaidUpdExe&IdTerm=$1 [L]
RewriteRule ^setting/termpaid/([0-9]+)/del/load$ 				?cmd=SettingTermPaidDelLoad&IdTerm=$1 [L]
RewriteRule ^setting/termpaid/([0-9]+)/del/exe$ 				?cmd=SettingTermPaidDelExe&IdTerm=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.TERM.COLLECT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/termcollect$ 								?cmd=SettingTermCollect [L]
RewriteRule ^setting/termcollect/page/([0-9]+)$ 				?cmd=SettingTermCollect&Page=$1 [L]
RewriteRule ^setting/termcollect/ins/load$ 						?cmd=SettingTermCollectInsLoad [L]
RewriteRule ^setting/termcollect/ins/exe$ 						?cmd=SettingTermCollectInsExe [L]
RewriteRule ^setting/termcollect/([0-9]+)/upd/load$ 			?cmd=SettingTermCollectUpdLoad&IdTerm=$1 [L]
RewriteRule ^setting/termcollect/([0-9]+)/upd/exe$ 				?cmd=SettingTermCollectUpdExe&IdTerm=$1 [L]
RewriteRule ^setting/termcollect/([0-9]+)/del/load$ 			?cmd=SettingTermCollectDelLoad&IdTerm=$1 [L]
RewriteRule ^setting/termcollect/([0-9]+)/del/exe$ 				?cmd=SettingTermCollectDelExe&IdTerm=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING.USER
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting/user$ 										?cmd=SettingUser [L]
RewriteRule ^setting/user/page/([0-9]+)$ 						?cmd=SettingUser&Page=$1 [L]
RewriteRule ^setting/user/ins/load$ 							?cmd=SettingUserInsLoad [L]
RewriteRule ^setting/user/ins/exe$ 								?cmd=SettingUserInsExe [L]
RewriteRule ^setting/user/([0-9]+)/upd/load$ 					?cmd=SettingUserUpdLoad&IdUser=$1 [L]
RewriteRule ^setting/user/([0-9]+)/upd/exe$ 					?cmd=SettingUserUpdExe&IdUser=$1 [L]
RewriteRule ^setting/user/([0-9]+)/del/load$ 					?cmd=SettingUserDelLoad&IdUser=$1 [L]
RewriteRule ^setting/user/([0-9]+)/del/exe$ 					?cmd=SettingUserDelExe&IdUser=$1 [L]
