<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>		
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">						
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="32" class="center">STT</th>
										<th class="left">THUỘC TÍNH</th>
										<th width="200" class="right">GIÁ TRỊ</th>										
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="PA Product/getAttributeAll">										
										<td class="center">
											<span tal:content="repeat/PA/number"/>
										</td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" 
												tal:attributes="id 				PA/getId;
																id_attribute 	PA/getIdAttribute;
																name_attribute 	PA/getAttribute/getName;
																id_product 		PA/getIdProduct;
																value 			PA/getValue;
												" 
												tal:content="PA/getAttribute/getName"/>
										</td>																				
										<td class="right">
											<span tal:content="PA/getValue"/>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
															
					<!-- DIALOG EDIT	-->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-truck modal-icon"/>CHỈNH SỬA THÔNG TIN</h3>
								</div>
								<form id="FormProductAttributeUpdate" action="#" class="form-horizontal" novalidate="novalidate">
										<div class="form-group">
											<label class="control-label">Id</label>
											<div class="controls">
												<input id="IdAttribute2" name="IdAttribute2" type="text" class="form-control input-small" readonly="true"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Tên thuộc tính</label>
											<div class="controls">
												<input id="NameAttribute2" name="NameAttribute2" type="text" class="form-control input-small" readonly="true"/>
											</div>
										</div>																				
										<div class="form-group">
											<label class="control-label">Giá trị</label>
											<div class="controls">
												<input id="Value2" name="Value2" type="text" class="form-control input-small"/>
											</div>
										</div>										
									<div class="modal-footer">
										<button id="URLUpdButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->										
				</div>
			</div>
		</div>		
		<div id="IdProduct" tal:attributes="alt Product/getId" />
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
									
			//-----------------------------------------------------------------------------------
			//Load 1 COURSE
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
												
				$('#URLUpdButton').attr('alt', 	$(this).attr('id')	);
				$('#IdAttribute2').attr('value', 		$(this).attr('id_attribute'));
				$('#NameAttribute2').attr('value', 		$(this).attr('name_attribute'));
				$('#Value2').attr('value', 				$(this).attr('value'));
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 Product
			//-----------------------------------------------------------------------------------
			$("#FormProductAttributeUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					},
					Price2:{						
						required:true,
						number:true,
						min:0
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];								
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdProduct').attr('alt');
					Data[2] = $('#IdAttribute2').val();
					Data[3] = $('#Value2').val();
					
					var URL = "/object/upd/ProductAttribute";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Value2').first().focus()},
					0500
				);
			});
			
		/*]]>*/
		</script>		
	</body>
</html>