	
	#wrap {
		min-height: 540px;
		height: auto !important;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.search-result ul li {
		list-style: none outside none !important;
		height: 150px;
		background: url("/mvc/templates/theme/base/img/bamboo.jpg");
		background-size: 90px 150px;
		background-repeat: no-repeat;
		padding-left: 100px;
		display: block;
		margin-top: -20px;
	}
	
	.search-result ul li a {
		text-decoration: none;
		color: #1E5FE9;
	}
	
	.label {
		padding: 5px;
	}
	
	.well {
		background-color: white;
	}