<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
		<link href="/mvc/templates/theme/cchess/css/style.css" rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/Header"/>
		<div id="wrap" class="container-fluid">
			<div metal:use-macro="mBase.xhtml/Breadcrumb" />
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-tabs nav-stacked">
						<li><a href="/ung-dung/quan-ly-cafe">		Quản lý Cafe				<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/quan-ly-quan-an">	Quản lý Quán ăn				<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/quan-ly-karaoke">	Quản lý Karaoke				<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/quan-ly-tap-hoa">	Quản lý Tiệm tạp hóa		<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/quan-ly-dai-ly">		Quản lý Đại lý / Cửa hàng	<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/quan-ly-nha-tro">	Quản lý Nhà trọ				<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/quan-ly-khach-san">	Quản lý Khách sạn			<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/tinh-lai-suat">		Tính lãi suất				<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/hoc-co-tuong">		Học Cờ Tướng				<i class="icon-chevron-right pull-right"/></a></li>						
						<li><a href="/ung-dung/hoc-anh-van">		Học Anh Văn					<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/hoc-tin-hoc">		Học Tin Học					<i class="icon-chevron-right pull-right"/></a></li>
						<li><a href="/ung-dung/hoc-nau-an">			Học Nấu Ăn					<i class="icon-chevron-right pull-right"/></a></li>
					</ul>
				</div>
				<div class="span9">
					
				</div>
			</div>
		</div>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>		
	</body>
</html>