<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mGebo.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">				
                    <div class="row-fluid">
						<div class="span12">
							<form class="navbar-form pull-left" action="/ung-dung/rao-vat/tim-kiem/exe" method="post">
								<div class="input-append">
									<input class="span6 search-query" id="Term" name="Term" type="text" placeholder="Nhập từ cần tìm"/>
									<button class="btn" type="submit"><i class="icon-search"/></button>
								</div>
							</form>
							<p tal:content="structure Ads/getIntroduction"/>
						</div>
					</div>					
                </div>
            </div>
		</div>		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
	</body>
</html>