<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/Header"/>
		<div id="wrap" class="container-fluid">
			<div class="row-fluid">
				<div class="span12">					
					<form class="navbar-form pull-left" action="/ung-dung/rao-vat/tim-kiem/exe" method="post">
						<div class="input-append">
							<input class="span6 search-query" id="Term" name="Term" type="text" placeholder="Nhập từ cần tìm"/>
							<button class="btn" type="submit"><i class="icon-search"/></button>
						</div>
					</form>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					
				</div>				
			</div>
		</div>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>
	</body>
</html>