<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
		<link href="/mvc/templates/theme/cchess/css/style.css" rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/HeaderChess"/>
		<div id="wrap" class="container-fluid">
			<div metal:use-macro="mBase.xhtml/Breadcrumb" />
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-tabs nav-stacked">
						
					</ul>
				</div>
				<div class="span9">
					<div class="well">
						
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>		
	</body>
</html>