<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/Header"/>
		<form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm thông tin" name="search-term" id="search-term" />
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>
	</body>
</html>