<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
				
                    <div class="row-fluid">
						<div class="span12">
							<ul class="dshb_icoNav tac">
								<li><a href="/ung-dung/rao-vat"				style="background-image: url(/mvc/templates/theme/gebo/img/gCons/chat-02.png)">			Rao vặt</a></li>
								<li><a href="/ung-dung/quan-ly-cafe"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/happy-face.png)">		QL Cafe</a></li>
								<li><a href="/ung-dung/quan-ly-quan-an"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/badge.png)">			QL Quán ăn</a></li>
								<li><a href="/ung-dung/quan-ly-karaoke"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/microphone.png)">		QL Karaoke</a></li>
								<li><a href="/ung-dung/quan-ly-tap-hoa"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/dollar.png)">			QL T.Tạp hóa</a></li>
								<li><a href="/ung-dung/quan-ly-dai-ly"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/van.png)">				QL Cửa hàng</a></li>
								<li><a href="/ung-dung/quan-ly-nha-tro"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/multi-agents.png)">	QL Nhà trọ</a></li>
								<li><a href="/ung-dung/quan-ly-khach-san"	style="background-image: url(/mvc/templates/theme/gebo/img/gCons/briefcase.png)">		QL Khách sạn</a></li>
								<li><a href="/ung-dung/tinh-lai-suat"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/edit.png)">			Tính lãi suất</a></li>
								<li><a href="/ung-dung/hoc-co-tuong"		style="background-image: url(/mvc/templates/theme/gebo/img/gCons/connected.png)">		Học Cờ Tướng</a></li>
								<li><a href="/ung-dung/hoc-anh-van"			style="background-image: url(/mvc/templates/theme/gebo/img/gCons/world.png)">			Học Anh Văn</a></li>
								<li><a href="/ung-dung/hoc-tin-hoc"			style="background-image: url(/mvc/templates/theme/gebo/img/gCons/mouse.png)">			Học Tin Học</a></li>
								<li><a href="/ung-dung/hoc-nau-an"			style="background-image: url(/mvc/templates/theme/gebo/img/gCons/bookmark.png)">		Học Nấu Ăn</a></li>
								<li><a href="/ung-dung/nhac-thien"			style="background-image: url(/mvc/templates/theme/gebo/img/gCons/music-node.png)">		Nhạc Thiền</a></li>
							</ul>
						</div>
					</div>
					
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
	</body>
</html>