<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/UserNavigation"/>		
		<div metal:use-macro="mAdmin.xhtml/StyleSwitcher"/>

		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>
				<div class="btn-group">
					<a id="insertObject" tal:attributes="href CS/getURLSettingStepUpdLoad" class="btn btn-success sinleins"><i class="glyphicon glyphicon-plus"> Cập nhật nước đi</i></a>
				</div>
			</div>
			<div metal:use-macro="mAdmin.xhtml/Breadcrumb"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div id="sourceObj" class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="30">STT</th>
											<th width="120"><div class="text-left">ĐỎ</div></th>
											<th width="120"><div class="text-left">XANH</div></th>
											<th><div class="text-left">BÌNH LUẬN</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Step CS/getStepAll">
											<td  align="center" tal:content="repeat/Step/number"/>											
											<td align="left" tal:content="Step/getName1"/>
											<td align="left" tal:content="Step/getName2"/>
											<td align="left" />
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/SignoutDialog"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>
