<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
					
					 <div class="row-fluid">
						<div class="span12">
							<h1 tal:content="Title"/>
							<div class="btn-group">
								<a id="insertObject" tal:attributes="href CS/getURLSettingStepUpdLoad" class="btn btn-success sinleins"><i class="icon-edit icon-white"/> Cập nhật nước đi</a>
							</div>
						</div>
					</div>
                    <div class="row-fluid">
						<div class="span12">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="30">STT</th>
										<th width="120"><div class="text-left">ĐỎ</div></th>
										<th width="120"><div class="text-left">XANH</div></th>
										<th><div class="text-left">BÌNH LUẬN</div></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Step CS/getStepAll">
										<td  align="center" tal:content="repeat/Step/number"/>											
										<td align="left" tal:content="Step/getName1"/>
										<td align="left" tal:content="Step/getName2"/>
										<td align="left" />
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
	</body>
</html>