<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
					
					<h1 tal:content="Title"/>
                    <form class="form-horizontal" tal:attributes="action CS/getURLUpdExe" method="post">
						<div class="control-group">
							<label class="control-label" for="Name">Tên</label>
							<div class="controls">
								<input type="text" id="Name" name="Name" tal:attributes="value CS/getName"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Content">Bình luận</label>
							<div class="controls">
								<textarea id="Content" class="ckeditor" name="Content" tal:content="CS/getContent"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Count">Lượt xem</label>
							<div class="controls">
								<input type="text" id="Count" name="Count" tal:attributes="value CS/getCount"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Order">Thứ tự</label>
							<div class="controls">
								<input type="text" id="Order" name="Order" tal:attributes="value CS/getOrder"/>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>										
						</div>
					</form>
					
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/ckeditor/ckeditor.js"/>
	</body>
</html>