<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
				
                    <div class="row-fluid">
						<div class="span12">
							<h1 tal:content="Title"/>
							<div class="btn-group">
								<a tal:attributes="href '/quan-ly/hoc-nau-an/info-load'" 	class="btn btn-success"><i class="icon-edit icon-white"/> Cập nhật</a>
							</div>
						</div>
					</div>
					
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
	</body>
</html>