	
	#carousel-example-generic img { opacity: .60; }
	
	.shop-items .item, #carousel_container li { height: 333px; }
	
	.tab-content, .news-content { text-align: justify; }
	
	.picture-rows { margin-top: 20px; }
	.picture-rows .staff { box-shadow: 0 0 2px #AAAAAA; border: 5px solid #fff; border-radius: 10px; }
	.picture-rows .staff img { border-radius: 10px; width: 100%; height: 150px; }
	.picture-rows .staff .pic-view img { width: 100%; height: auto; }
	.picture-rows .details { background: #fff; padding: 5px 5px 0 5px; }
	.picture-rows .asocial { font-size: 15px; }
	.picture-rows .asocial i { margin: 0 2px; }
	.picture-rows .video-play { padding: 5px; padding-bottom: 0; background: #000; border-radius: 10px; width: 100%; margin: 0 auto; overflow: hidden; }
	
	#image-view img { box-shadow: 0 0 2px #AAAAAA; border: 5px solid #fff; border-radius: 10px; }
	
	.product-list .sitem { margin: 10px 0; }
	.product-list .sitem .onethree-right a { font-size: 15px; }
	
	.sidebar-items img { max-height: 122px; max-width: 100%; box-shadow: 0 0 2px #AAAAAA; border: 5px solid #fff; border-radius: 10px; }