<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins"><i class="glyphicons-plus"/> Thêm mới</a>
					<div class="widget-box">						
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">								
								<thead>
									<tr>
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th width="40"><div class="text-center">STT</div></th>
										<th width="60"><div class="text-left">SBHYT</div></th>
										<th><div class="text-left">HỌ</div></th>
										<th width="90"><div class="text-left">TÊN</div></th>										
										<th width="140"><div class="text-left">NGÀY SINH</div></th>
										<th width="60"><div class="text-left">G.TÍNH</div></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Student Table/getStudentAll">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Student/getId"/></td>
										<td class="center"><span tal:content="repeat/Student/number"/></td>
										<td class="center"><span tal:content="Student/getCode"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id Student/getId" tal:content="Student/getSurName"/></td>
										<td class="left"><span tal:content="Student/getLastName"/></td>										
										<td class="left"><span tal:content="Student/getBirthday"/></td>
										<td class="left"><span tal:content="Student/getGenderPrint"/></td>										
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Student/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>																								
							</table>							
						</div>
					</div>
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-show_big_thumbnails modal-icon"/>THÊM HỌC SINH</h3></div>
								<form id="FormStudentInsert" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="form-group">
										<label class="control-label">SBHYT</label>
										<div class="controls">
											<input id="Code1" name="Code1" type="text" class="form-control input-small" />
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Họ</label>
										<div class="controls">
											<input id="SurName1" name="SurName1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Tên</label>
										<div class="controls">
											<input id="LastName1" name="LastName1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">SKCB</label>
										<div class="controls">
											<input id="CodeExt11" name="CodeExt11" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Ngày sinh</label>
										<div class="controls">
											<input id="Birthday1" name="Birthday1" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giới tính</label>
										<div class="controls">
											<select name="Gender1" id="Gender1" style="width:80%;">
												<option value="0" >Nữ</option>
												<option value="1" >Nam</option>
											</select>
										</div>
									</div>
									<div id="IdClass1" tal:attributes="alt Table/getId" />
									<div class="modal-footer">
										<button  id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<!-- UPDATE DIALOG  -->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-show_big_thumbnails modal-icon"/>CẬP NHẬT HỌC SINH</h3></div>
								<form id="FormStudentUpdate" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="form-group">
										<label class="control-label">SBHYT</label>
										<div class="controls">
											<input id="Code2" name="Code2" type="text" class="form-control input-small" readonly="true"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Họ</label>
										<div class="controls">
											<input id="SurName2" name="SurName2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Tên</label>
										<div class="controls">
											<input id="LastName2" name="LastName2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">SKCB</label>
										<div class="controls">
											<input id="CodeExt12" name="CodeExt12" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Ngày sinh</label>
										<div class="controls">
											<input id="Birthday2" name="Birthday2" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Giới tính</label>
										<div class="controls">
											<select name="Gender2" id="Gender2" style="width:80%;">
												<option value="0" >Nữ</option>
												<option value="1" >Nam</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Lớp</label>
										<div class="controls">
											<select name="IdClass2" id="IdClass2" style="width:80%;">
												<option tal:repeat="Table TableAll" tal:attributes="value Table/getId">
													<span tal:content="Table/getName"/>
												</option>
											</select>
										</div>
									</div>
									<div class="modal-footer">
										<button  id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Student/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 DOMAIN			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Student/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 Student			
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Student/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#SurName2').attr('value', 	data.SurName);
					$('#LastName2').attr('value', 	data.LastName);
					$('#Code2').attr('value', 		data.Code);
					$('#CodeExt12').attr('value', 	data.CodeExt1);
					$('#Birthday2').attr('value', 	data.Birthday);
					$('#Gender2').select2('val', 	data.Gender);
					$('#IdClass2').select2('val', 	data.IdClass);
				});
			});
			//-----------------------------------------------------------------------------------
			//Update 1 DOMAIN
			//-----------------------------------------------------------------------------------
			$("#FormStudentUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#SurName2').val();
					Data[2] = $('#LastName2').val();
					Data[3] = $('#Code2').val();
					Data[4] = $('#CodeExt12').val();
					Data[5] = $('#Birthday2').val();
					Data[6] = $('#Gender2').val();
					Data[7] = $('#IdClass2').val();
																		
					var URL = "/object/upd/Student";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});		
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name2').first().focus()},
					0500
				);
			});
			
			
			//-----------------------------------------------------------------------------------
			//Insert 1 STUDENT
			//-----------------------------------------------------------------------------------
			$("#FormStudentInsert").validate({
				rules:{
					Name1:{
						minlength: 2,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLInsButton').attr('alt');
					Data[1] = $('#SurName1').val();
					Data[2] = $('#LastName1').val();
					Data[3] = $('#Code1').val();
					Data[4] = $('#CodeExt11').val();
					Data[5] = $('#Birthday1').val();
					Data[6] = $('#Gender1').val();
					Data[7] = $('#IdClass1').attr('alt');
																		
					var URL = "/object/ins/Student";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							//location.reload();
						}
					});		
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Code1').first().focus()},
					0500
				);
			});
						
		/*]]>*/
		</script>
	</body>
</html>