<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>			
			$('.carousel .item:first-child').addClass('active');
			/*
			if(!(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent))){
				window.location ="http://batdongsancamau.net";				
			}*/
		</script>
	</head>	
	<body class="ui-mobile-viewport ui-overlay-a">
		<div data-role="page" class="jqm-demos ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div role="main" class="ui-content jqm-content">												
				<ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
					<li data-role="list-divider">Tin mới cập nhật</li>
					<li class="ui-li-has-thumb" tal:repeat="PT PostTopAll">
						<a tal:attributes="href PT/getURLRead" rel="external" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
							<img tal:attributes="src PT/getPost/getImage" />
							<h2 tal:content="PT/getPost/getTitle"/>
							<p tal:content="structure PT/getPost/getContentReduce"/>
						</a>
					</li>
				</ul>
				<ul data-role="listview" class="ui-listview ui-listview-inset ui-corner-all ui-shadow"  tal:repeat="Category CategoryAll">
					<li data-role="list-divider" tal:content="Category/getName" />
					<li class="ui-li-has-thumb" tal:repeat="Product Category/getTopProductAll">
						<a tal:attributes="href Product/getURLView" rel="external" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
							<img tal:attributes="src Product/getInfo/getImage" />
							<h2 tal:content="Product/getName" />
							<p tal:content="structure Product/getInfo/getInfoReduce"/>
						</a>
					</li>
				</ul>				
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Menu"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>
