<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div data-role="page" class="jqm-demos jqm-home">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>	
			<div role="main" class="ui-content jqm-content">				
				<ul data-role="listview">
					<li data-role="list-divider">Tin mới cập nhật</li>
				    <li tal:repeat="PT PostTopAll">
						<a tal:attributes="href PT/getURLRead" rel="external">
							<img tal:attributes="src PT/getPost/getImage" />
					    	<h2 tal:content="PT/getPost/getTitle" />
						    <p tal:content="structure PT/getPost/getContentReduce"/>
						</a>
				    </li>				
				</ul>
				<ul data-role="listview" data-inset="true" tal:repeat="Category CategoryAll">
					<li data-role="list-divider" tal:content="Category/getName" />					
				    <li tal:repeat="Product Category/getTopProductAll">
						<a tal:attributes="href Product/getURLView" rel="external">
					        <img tal:attributes="src Product/getInfo/getImage" />
					    	<h2 tal:content="Product/getName" />
						    <p tal:content="structure Product/getInfo/getInfoReduce"/>
						</a>
				    </li>					
				</ul>				
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Menu"/>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
	</body>
</html>
