<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="btn-group">
							<div id="URLPublishPost" class="btn btn-success "><i class="glyphicon glyphicon-plus"> Duyệt tin</i></div>
							<span style="padding-left:3px" />
							<div id="URLDeletePost" class="btn btn-success "><i class="glyphicon glyphicon-plus"> Xóa tin</i></div>
						</div>						
						<div class="widget-box">
							<div class="widget-content nopadding">		
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="40">Duyệt<input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
											<th width="30px">STT</th>											
											<th><div class="text-left">NGÀY</div></th>
											<th><div class="text-left">TIÊU ĐỀ</div></th>											
											<th><div class="text-left">NỘI DUNG TÓM TẮT</div></th>											
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Post PostRssAll" >
											<td class="center"><input class="CheckedPublish" type="checkbox" tal:attributes="data-id Post/getId"/></td>
											<td><div tal:content="repeat/Post/number" /></td>											
											<td width="90px"><div tal:content="Post/getTimePrint" /></td>
											<td><a tal:attributes="href Post/getURLView" tal:content="Post/getTitle"/></td>
											<td tal:content="structure Post/getContentReduce"/>											
										</tr>
									</tbody>
								</table>	
							</div>
						</div>
					</div>
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#URLDeletePost').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/PostRss/0";
				
				$(".CheckedPublish").each(function( i, obj){
					if ( $(this).is(':checked')==true ){						
						Data[count] = $(this).attr('data-id');
						count += 1;
					}
				});
				//alert(Data);
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){						
						location.reload();
					}
				});
			});
			
			$('#URLPublishPost').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/admin/setting/post/published";
				
				$(".CheckedPublish").each(function( i, obj){
					if ( $(this).is(':checked')==true ){						
						Data[count] = $(this).attr('data-id');
						count += 1;
					}
				});
				//alert (Data);
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		/*]]>*/
		</script>
	</body>
</html>