<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<tal:block metal:use-macro="mFront.xhtml/Presentation"/>
			<tal:block metal:use-macro="mFront.xhtml/Marquee"/>
			<div class="row">						
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Photo Album</h3>
						</div>						
						<div class="panel-body">
							<div class="row">
								<div tal:repeat="Album AlbumAll" class="col-md-4 item-config">
									<div class="item-thumb">
										<a tal:attributes="href Album/getURLView">
											<img tal:attributes="src Album/getImage" class="img-thumbnail" width="100%"/>
										</a>
									</div>
									<div class="item-info">
										<a tal:attributes="href Album/getURLView">
											<h3 tal:content="Album/getName"/>
										</a>
									</div>
								</div>
							</div>
							<nav>
								<ul class="pagination">
									<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
										<a tal:attributes="href P/getURL" tal:content="P/getName"/>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<tal:block metal:use-macro="mFront.xhtml/ADS-1"/>
					<tal:block metal:use-macro="mFront.xhtml/Subscribe"/>					
					<tal:block metal:use-macro="mFront.xhtml/LikeBox"/>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$('#carousel-presentation-generic').carousel({pause: "false"});
			$('#carousel-presentation-generic .item:first-child').addClass('active');			
		</script>
	</body>
</html>