<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div id="carousel-example-generic" class="carousel slide fade" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item" tal:repeat="Slide Presentation1/getSlideAll">
						<img tal:attributes="src Slide/getURL;alt php:'sequence-slide-' . repeat.Slide.number" width="100%"/>
						<div class="carousel-caption" tal:content="structure Slide/getNote"/>
					</div>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Marquee"/>
			<div class="row">						
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title" tal:content="Tag/getName"/></div>						
						<div class="panel-body">
							<div class="media media-config" tal:repeat="PT PTAll">
								<a tal:attributes="href PT/getURLRead">
									<h4 tal:content="PT/getPost/getTitleReduce"/>
								</a>
								<a class="media-left" tal:attributes="href PT/getURLRead">
									<img tal:attributes="src PT/getPost/getImage; alt PT/getPost/getTitle" width="210" class="img-thumbnail"/>
								</a>
								<div class="media-body">
									<p>Cập nhật: <i tal:content="PT/getPost/getTimePrint"/></p>
									<p tal:content="structure PT/getPost/getContentReduce" style="text-align:justify"/>
								</div>
							</div>
							
							<nav>
								<ul class="pagination">
									<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
										<a tal:attributes="href P/getURL" tal:content="P/getName"/>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<tal:block metal:use-macro="mFront.xhtml/Subscribe"/>
					<tal:block metal:use-macro="mFront.xhtml/ADS-1"/>
					<tal:block metal:use-macro="mFront.xhtml/LikeBox"/>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$('#carousel-example-generic').carousel({pause: "false"});
			$('#carousel-example-generic .item:first-child').addClass('active');
		</script>
	</body>
</html>