<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="og:title"			content="Hương Sen Hồng"/>
		<meta property="og:description"		content="Giới thiệu Khu Ẩm Thực Sinh Thái Hương Sen Hồng"/>
		<meta property="og:image"			content="ảnh mẫu"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div id="carousel-example-generic" class="carousel slide fade" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item" tal:repeat="Slide Presentation1/getSlideAll">
						<img tal:attributes="src Slide/getURL;alt php:'sequence-slide-' . repeat.Slide.number" width="100%"/>
						<div class="carousel-caption" tal:content="structure Slide/getNote"/>
					</div>
				</div>
			</div>
			<div class="row">						
				<div class="col-md-12">
					<marquee class="intro-line" scrolldelay="2" scrollamount="2" behavior="scroll" direction="left">Khu Ẩm Thực Sinh Thái Đầm Sen Cao Lãnh xin kính chào quý khách! Với các món ăn đa dạng và phong phú, chất lượng cao và giá phải chăng cùng phong cách phục vụ chuyên nghiệp, chu đáo, chúng tôi hứa hẹn sẽ là điểm đến tham quan, ăn uổng giải trí lý tưởng cho mọi gia đình</marquee>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Breadcrumb"/>
			<div class="row">						
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title" tal:content="Post/getTitle"/></div>						
						<div class="panel-body">
							<div class="page-header clearfix">								
								<p class="pull-left">Ngày đăng: <i tal:content="Post/getTimePrint"/></p>
								<div class="share-button-group pull-right">
									<div class="fb-share-button" tal:attributes="data-href 'http://huongsenhong.com/gioi-thieu'" data-type="button_count" />
								</div>
							</div>
							<p tal:content="structure Post/getContent"/>
							<b class="pull-right" tal:content="Post/getAuthor"/>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<tal:block metal:use-macro="mFront.xhtml/Subscribe"/>
					<tal:block metal:use-macro="mFront.xhtml/ADS-1"/>
					<tal:block metal:use-macro="mFront.xhtml/LikeBox"/>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$('#carousel-example-generic').carousel({pause: "false"});
			$('#carousel-example-generic .item:first-child').addClass('active');
			
			$('.Liked').click(function(){
				var Data = [];								
				var Id 	= $(this).attr('data-id');
								
				var URL = "/object/liked/Post/"+Id;
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();						
					}
				});
				return false;
			});
		</script>
	</body>
</html>