<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-8">					
					<div class="panel panel-primary">
						<div class="panel-heading">
							<ol class="breadcrumb">						
								<li class="active" tal:content="php: mb_strtoupper(Category->getName(), 'UTF8')"/>
							</ol>
						</div>						
						<div class="panel-body">
							<div role="tabpanel" id="TabVideo">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Viewed')?'active':''">
										<a tal:attributes="href php:'#TabViewed'" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a>
									</li>
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Liked')?'active':''">
										<a tal:attributes="href php:'#TabLiked'" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a>
									</li>
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Recent')?'active':''">
										<a tal:attributes="href php:'#TabRecent'" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-calendar"/></a>
									</li>									
								</ul>
								<div class="tab-content">
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Recent')?'tab-pane active':'tab-pane'"  id="TabRecent">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoRecentAll">
												<td width="48px">												
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>
										<nav>
											<ul class="pagination alternate pull-center page-bar">
												<li tal:repeat="P PNByRecent/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</nav>
									</div>
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Liked')?'tab-pane active':'tab-pane'"  id="TabLiked">							
										<table class="table table-striped">
											<tr tal:repeat="Video VideoLikedAll">
												<td width="48px">												
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>
										<nav>
											<ul class="pagination alternate pull-center page-bar">
												<li tal:repeat="P PNByLiked/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</nav>
									</div>	
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Viewed')?'tab-pane active':'tab-pane'"  id="TabViewed">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoViewedAll">
												<td width="48px">												
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>
										<nav>
											<ul class="pagination alternate pull-center page-bar">
												<li tal:repeat="P PNByViewed/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</nav>
									</div>	
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-md-4">					
					<div class="panel panel-default">						
						<div class="panel-body">														
							<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>
							<div class="fb-like" data-share="true" data-width="100%" data-show-faces="true"></div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>