<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row-fluid">
				<div class="col-md-9">
					<div class="panel panel-primary">
						<div class="panel-heading">							
							<i class="glyphicon glyphicon-tag"/> <span tal:content="Category/getName"/>							
						</div>
						<div class="panel-body">
							<table class="table table-striped">
								<tr tal:repeat="Post PostAll">
									<td width="15%"><img width="96px" tal:attributes="src Post/getImage"/></td>
									<td>
										<a tal:attributes="href Post/getURLView"><span tal:content="Post/getTitle"/></a>
										<p tal:content="structure Post/getContentReduce"/>
										<p><span tal:content="Post/getTimePrint1"/>, <span><i class="glyphicon glyphicon-stats"/> <span tal:content="Post/getViewedPrint"/></span>
										</p>
									</td>
								</tr>
							</table>
						</div>
						<ul class="pagination alternate pull-right page-bar">
							<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
								<a tal:attributes="href P/getURL" tal:content="P/getName"/>
							</li>
						</ul>
					</div>					
				</div>
				<div class="col-md-3">
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>DANH SÁCH</B></div>
						<div class="panel-body">							
							<ul class="list-group">
								<li tal:attributes="class php:Category->getId()==Category1->getId()? 'list-group-item list-group-item-success' : 'list-group-item'" tal:repeat="Category1 CategoryPostAll">
									<a tal:attributes="href Category1/getURLView">
										<span tal:content="Category1/getName"/>
									</a>
									<span class="badge" tal:content="Category1/getPostAll/count"/>
								</li>
							</ul>							
						</div>	
					</div>
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>