	
	@font-face {
		font-family: 'CustomFont';
		src: url('/data/font.ttf');
	}
	
	#ChessBoard {
		border: 2px solid #ADD8E6;
		box-shadow: 0 0 0 30px #ADD8E6 inset;
		margin: 20px;
	}
	
	#MoveList {
		height: 450px;
	}