<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="setting-wraper">
			<div class="setting-header clearfix">
				<span metal:use-macro="macros.xhtml/HeaderAdmin"/>
			</div>
			<div class="setting-main clearfix">
				<div class="column w20i s-menu">
					
				</div>
				<div class="column w80i right s-content">
					<div class="url-bar clearfix">
						<span metal:use-macro="macros.xhtml/TitleAdmin"/>
					</div>
					<div class="s-form">
						<form tal:attributes="action Agency/getURLUpdExe1" method="POST">
							<label for="Name">Tên</label><br/>
							<input id="Name" name="Name" type="text" tal:attributes="value Agency/getName" /><br/>
							<label for="Phone">Điện thoại</label><br/>
							<input id="Phone" name="Phone" type="text" tal:attributes="value Agency/getPhone" /><br/>
							<label for="Email">Email</label><br/>
							<input id="Email" name="Email" type="text" tal:attributes="value Agency/getEmail" /><br/>
							<label for="Password">Mật khẩu</label><br/>
							<input id="Password" name="Password" type="text" tal:attributes="value Agency/getPassword" /><br/>
							<label for="Address">Địa chỉ</label><br/>
							<input id="Address" name="Address" type="text" tal:attributes="value Agency/getAddress" /><br/>
							<button type="submit" name="submit" value="submit-value">Cập nhật</button>
						</form>
					</div>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/FooterAdmin"/>
		</div>
	</body>
</html>