<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div class="wraper">
			<div metal:use-macro="macros.xhtml/Header"/>
			<div id="main">
				<a href="#" class="banner-show">
					<img src="/data/images/ads.jpg" border="0" width="100%"/>
				</a>
				<div class="columb-1-3">
					<!-- ///////////////////////////////////////// -->
					<div class="box">
						Tìm tài sản
					</div>
					<div class="box">
						Tìm lãi suất nhanh
					</div>
					<div class="box">
						Quảng cáo
					</div>
					<div class="box">
						Quảng cáo
					</div>
				</div>
				<div class="columb-2-3">
					<!-- ///////////////////////////////////////// -->
					<div class="box" tal:repeat="N News">
						<div><img tal:attributes="src N/getImage" border="0" width="150px" height="150px" /></div>
						<h1><a tal:attributes="href N/getURLRead" tal:content="N/getTitleReduce1"/></h1>
						<div>Vị trí <span tal:content="N/getPosition"/></div>
						<div>Mã số tin <span tal:content="N/getId"/></div>
						<div>Đăng <span tal:content="N/getDatePrint"/></div>
						<div>Giá <span tal:content="N/getPricePrint"/></div>
						<div>Liên hệ: Mr.Tuấn 09xx.xxx.xxx</div>
					</div>
				</div>
				<div class="columb-3-3">
					<!-- ///////////////////////////////////////// -->
					<div class="box">
						<img src="/data/images/ads/ads1.gif" border="0" width="100%" />
					</div>
					<div class="box">
						<img src="/data/images/ads/ads2.gif" border="0" width="100%" />
					</div>
					<div class="box">
						Phong Thủy Nhà Đất
					</div>
					<div class="box">
						Đăng ký nhận bản tin
					</div>
					<div class="box">
						<img src="/data/images/ads/ads3.gif" border="0" width="100%" />
					</div>
					<div class="box">
						<img src="/data/images/ads/ads4.gif" border="0" width="100%" />
					</div>
					<div class="box">
						Bộ sưu tập nhà đẹp
					</div>
				</div>
				<div class="clear"/>
			</div>
		</div>
		<div metal:use-macro="macros.xhtml/Footer"/>
	</body>
</html>