<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-1.8.11.custom.min.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-addon.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.ui.datepicker-vi.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-vi.js" />
	
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function() {$('#Date').datetimepicker({ dateFormat: 'yy-mm-dd' });});
			/*]]>*/
		</script>
	</head>	
	<body>						
		<div class="setting-wraper">
			<div class="setting-header clearfix">
				<span metal:use-macro="macros.xhtml/HeaderAdmin"/>
			</div>
			<div class="setting-main clearfix">
				<div class="column w20 s-menu">
					
				</div>
				<div class="column w80 right s-content">
					<div class="url-bar clearfix">
						<span metal:use-macro="macros.xhtml/TitleAdmin"/>						
					</div>
					<div class="s-form">
						<form tal:attributes="action Project/getURLAlbumSettingInsExe" method="post">
							<label for="Name">Tên</label><br/>
							<input id="Name" name="Name" type="text" /><br/>
							<label for="Date">Thời gian</label><br/>
							<input id="Date" name="Date" type="text" /><br/>
							<label for="URL">URL</label><br/>
							<input id="URL" name="URL" type="text" /><br/>
							<label for="Description">Nội dung</label><br/>
							<input id="Description" name="Description" type="text" /><br/>
							<button type="submit" name="submit" value="submit-value">Thêm mới</button>
						</form>
					</div>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/FooterAdmin"/>
		</div>
	</body>
</html>

