<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>		
		<span metal:use-macro="macros.xhtml/HeaderAdmin"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<span metal:use-macro="macros.xhtml/PanelAdmin"/>
				<div class="span9">
					<span metal:use-macro="macros.xhtml/TitleAdmin"/>
					
					<table class="table">
						<thead>
							<tr>
								<th width="32">#</th>
								<th>Tên</th>
								<th>Tin tức</th>
								<th width="32"></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="CG CategoryMarketAll">
								<td><span tal:content="repeat/CG/number"/></td>
								<td><a tal:attributes="href CG/getURLUpdLoad"><span tal:content="CG/getName"/></a></td>
								<td><a tal:attributes="href CG/getURLView">
									Xem (<span tal:content="CG/getNews/count"/>)
								</a></td>
								<td><a tal:attributes="href CG/getURLDelLoad">Xóa</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/FooterAdmin"/>
		</div>
	</body>
</html>