<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<span metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3 well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Danh mục</li>						
						<li tal:repeat="Category1 CategoryMarketAll" tal:attributes="class php:Category1->getId()==Category->getId()?'active':''">
							<a tal:attributes="href Category1/getURLView">
								<span tal:content="Category1/getName" /> <span class="badge badge-info pull-right" tal:content="Category1/getNews/count"/> 
							</a>
						</li>
					</ul>
				</div>
				<div class="span9">
					<span metal:use-macro="mAdmin.xhtml/TitleAdmin"/>
					<table class="table">
						<thead>
							<tr>
								<th width="32">#</th>
								<th>Tiêu đề</th>
								<th width="32"></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="News NewsAll">
								<td><span tal:content="repeat/News/number"/></td>
								<td><a tal:attributes="href News/getURLUpdLoad"><span tal:content="News/getTitle"/></a></td>
								<td><a tal:attributes="href News/getURLDelLoad"><span class="icon-remove"/></a></td>
							</tr>
						</tbody>
					</table>
					<a class="btn" tal:attributes="href Category/getURLDetailInsLoad">
						<span class="icon-plus" /> Thêm mới
					</a>
					<div class="pagination pagination-right">
						<ul>
							<li tal:repeat="Page PN/getPages">
								<a tal:attributes="href Page/getURL" tal:content="Page/getName" />
							</li>
						</ul>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>