<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<span metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3 well sidebar-nav">
		
				</div>
				<div class="span9">
					<span metal:use-macro="mAdmin.xhtml/TitleAdmin" />
					<form tal:attributes="action Contact/getURLDelExe" method="POST">
						<fieldset>Bạn muốn xóa <B tal:content="Contact/getName" /> ?</fieldset>
						<button class="btn" type="submit" name="submit" value="submit-value">Xóa</button>
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>