<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<span metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3 well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Danh mục</li>
						<li tal:repeat="Category1 CategoryAll" tal:attributes="class php:Category1->getId()==Category->getId()?'active':''">
							<a tal:attributes="href Category1/getURLView">
								<span tal:content="Category1/getName" />
							</a>
						</li>						
					</ul>
				</div>
				
				<div class="span9">					
					<span metal:use-macro="mAdmin.xhtml/TitleAdmin"/>
					<table class="table">
						<thead>
							<tr>
								<th width="32">#</th>
								<th>Tên</th>									
								<th width="32"></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Ads Category/getAdsAll">
								<td><span tal:content="repeat/Ads/number"/></td>
								<td><a tal:attributes="href Ads/getURLUpdLoad"><span tal:content="Ads/getName"/></a></td>
								<td><a tal:attributes="href Ads/getURLDelLoad"><span class="icon-remove"/></a></td>
							</tr>
						</tbody>
					</table>
					<a class="btn" tal:attributes="href Category/getURLDetailInsLoad">
						<span class="icon-plus" /> Thêm mới
					</a>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>