<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>		
		<div class="setting-wraper">
			<span metal:use-macro="macros.xhtml/HeaderAdmin"/>
			<div class="setting-main clearfix">				
				<div class="column w20 s-menu">
					<ul>
						<li tal:repeat="P ProjectAll" tal:attributes="class php:P->getId()==Project->getId()?'selected':''">
							<a tal:attributes="href P/getURLNewsView">
								<span tal:content="P/getTitle" />
							</a>
						</li>
					</ul>
				</div>
				<div class="column w80 right s-content">
					<div class="url-bar clearfix">
						<span metal:use-macro="macros.xhtml/TitleAdmin"/>
						<div class="column w10 add-tool">
							<a tal:attributes="href Project/getURLNewsInsLoad">Thêm</a>
						</div>
					</div>
					<div class="s-table">
						<table border="0" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th width="32">STT</th>
									<th>TIÊU ĐỀ</th>
									<th>NGÀY</th>
									<th width="32"></th>
								</tr>
							</thead>
							<tbody>
								<tr tal:repeat="News Project/getNews">																																
									<td><span tal:content="repeat/News/number"/></td>
									<td><a tal:attributes="href News/getURLUpdLoad"><span tal:content="News/getTitle"/></a></td>
									<td><span tal:content="News/getDatePrint"/></td>
									<td><a class="s-tools" tal:attributes="href News/getURLDelLoad"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/FooterAdmin"/>
		</div>
	</body>
</html>
