<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-1.8.11.custom.min.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-addon.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.ui.datepicker-vi.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-vi.js" />
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function() {$('#Date').datetimepicker({ dateFormat: 'yy-mm-dd' });});
			/*]]>*/
		</script>
	</head>	
	<body>
		<span metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3 well sidebar-nav">
		
				</div>
				<div class="span9">
					<span metal:use-macro="mAdmin.xhtml/TitleAdmin"/>																					
					<form class="form-horizontal" tal:attributes="action Category/getURLDetailInsExe" method="POST">
						<div class="control-group">
							<label for="Name" class="control-label">Tên</label>
							<div class="controls">
								<input id="Name" name="Name" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label for="Date" class="control-label">Ngày</label>
							<div class="controls">
								<input id="Date" name="Date" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label for="Logo" class="control-label">Logo</label>
							<div class="controls">
								<input id="Logo" name="Logo" type="text"  />
							</div>
						</div>
						<div class="control-group">
							<label for="Content" class="control-label">Nội dung</label>
							<div class="controls">
								<textarea class="ckeditor" name="Content" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button class="btn" type="submit" name="submit" value="submit-value">Thêm</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>