<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<span metal:use-macro="macros.xhtml/HeaderAdmin"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3"></div>
				<div class="span9">
					<form action="/signin/exe" method="POST" class="form-horizontal" autocomplete="off">
						<div class="control-group">
							<label class="control-label" for="inputEmail">Email</label>
							<div class="controls">
								<input name="Email" type="text" id="inputEmail" placeholder="someone@example.com"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword">Mật khẩu</label>
							<div class="controls">
								<input name="Pass" type="password" id="inputPassword" placeholder="Password"/>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox"/> Ghi nhớ tôi trên máy tính này
								</label>
								<button type="submit" class="btn">Đăng nhập</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/FooterAdmin"/>
		</div>
	</body>
</html>