<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function(){
				$("#BankingGuideDetail").hide();
				$("#BankingGuideView").click(function(){
					$("#BankingGuideDetail").toggle("slide");
				});
			});
			/*]]>*/
		</script>
	</head>
	
	<body>
		<div class="container">
			<span metal:use-macro="macros.xhtml/Header"/>
			<div class="middle">
				<div class="default-wraper clearfix">
					<div class="ads-banner" style="margin-top:5px;">
						<img src="/data/images/img/ads.jpg" width="100%" border="0"/>
					</div>
					<div class="column w70">
						<form class="form-editor" tal:attributes="action '/utility/banking'" method="post">
							<div class="row">
								<div for="Value" class="label">Số tiền vay (VNĐ)</div>
								<div class="textbox"><input id="Value" name="Value" type="text" tal:attributes="Value Value"/></div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Type" class="label">Hình thức trả nợ</div>
								<div class="selectbox" >
									<select id="Type" name="Type">
										<option tal:attributes="selected php:Type==0?true:false" value="0">Trả góp theo dư nợ giảm dần</option>
										<option tal:attributes="selected php:Type==1?true:false" value="1">Trả góp đều hàng tháng theo lãi suất đơn</option>
										<option tal:attributes="selected php:Type==2?true:false" value="2">Trả góp đều hàng tháng theo lãi suất kép</option>
										<option tal:attributes="selected php:Type==3?true:false" value="3">Trả góp đều hàng tháng, lãi tính trên dư nợ giảm dần</option>
									</select>
								</div>
								<div class="clear" />
							</div>						
							<div class="row">
								<div for="Rate" class="label">Lãi suất (% năm)</div>
								<div class="textbox" >
									<input id="Rate" name="Rate" type="text" tal:attributes="Value Rate"/>
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Count" class="label">Thời gian vay (tháng)</div>
								<div class="textbox" >
									<input id="Count" name="Count" type="text"  tal:attributes="Value Count"/>
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div class="button" >
									<button type="submit" name="submit" value="submit-value">Xem</button>
									<button id="BankingGuideView" type="button" name="button" value="button-value">Hướng dẫn</button>
								</div>
								<div class="clear" />
							</div>
						</form>
						<table tal:condition="Value" width="100%">
							<tr><td colspan="3" width="100%" align="left"><H3>THÔNG TIN KHOẢN VAY</H3></td></tr>								
							<tr>									
								<td colspan ="3" width="100%" align="left" tal:content="TypeStr"/>
							</tr>
							<tr>
								<td width="50%" align="right">Tổng số tiền vay</td>
								<td width="20%" align="right" tal:content="ValueOld"/>
								<td width="30%" align="right">VNĐ</td>
							</tr>
							<tr>
								<td align="right">Lãi suất</td>
								<td align="right" tal:content="Rate"/>
								<td align="right">%</td>
							</tr>
							<tr>
								<td align="right">Thời gian vay</td>
								<td align="right" tal:content="Count"/>
								<td align="right">tháng</td>
							</tr>
							<tr><td colspan="3" width="100%" align="left"><H3>TỔNG KẾT</H3></td></tr>
							<tr>
								<td align="right">Tổng số tiền lãi</td>
								<td align="right" tal:content="SRateValue"/>
								<td align="right">VNĐ</td>
							</tr>
							<tr>
								<td align="right">Lãi suất thực</td>
								<td align="right" tal:content="SRate"/>
								<td align="right">%</td>
							</tr>
							<tr>
								<td align="right">Tổng số tiền phải trả</td>
								<td align="right" tal:content="ValueNew"/>
								<td align="right">VNĐ</td>
							</tr>
						</table>
						<H3 tal:condition="Value">BẢNG SAO KÊ CHI TIẾT</H3>
						<!--
						<div tal:condition="Value" id="BankingExplainView">
							<table border="0" cellpadding="0" cellspacing="1" class="table-setting">
								<thead>
									<tr>
										<th align="center">Thời gian <BR/>(tháng)</th>
										<th align="right">Tiền phải trả<BR/>(VNĐ)</th>
										<th align="right">Tiền trả<BR/>(VNĐ)</th>
										<th align="right">Tiền lãi<BR/>(VNĐ)</th>
										<th align="right">Còn lại<BR/>(VNĐ)</th>
										<th align="right">Lãi suất thật<BR/>(%)</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="arr ArrData">
										<td align="center" tal:content="php:arr[0]"/>
										<td align="right" tal:content="php:arr[1]"/>
										<td align="right" tal:content="php:arr[2]"/>
										<td align="right" tal:content="php:arr[3]"/>
										<td align="right" tal:content="php:arr[4]"/>
										<td align="right" tal:content="php:arr[5]"/>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td align="center">TỔNG</td>
										<td align="right" tal:content="ValueNew"/>
										<td align="right" tal:content="ValueOld"/>
										<td align="right" tal:content="SRateValue" />
										<td />
										<td />
									</tr>
								</tfoot>
							</table>
						</div>
						!-->
					</div>
					<div class="column w30 right">
						<div class="box no-border" tal:repeat="Ads AdsAll">
							<a tal:attributes="href Ads/getURLRead" target="blank">
								<img tal:attributes="src Ads/getLogo" width="100%" border="0"/>
							</a>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/Footer"/>
		</div>				
	</body>
</html>
