Options +FollowSymlinks
RewriteEngine on

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/load$ 			?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]
RewriteRule ^change/pass/load$ 		?cmd=ChangePassLoad [L]
RewriteRule ^change/pass/exe$ 		?cmd=ChangePassExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 							?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 							?cmd=ObjectUpd&ObjectName=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 												?cmd=App [L]

RewriteRule ^selling$ 											?cmd=Selling [L]
RewriteRule ^selling/load/customer/([0-9]+)$ 					?cmd=SellingCustomerLoad&IdCustomer=$1 [L]
RewriteRule ^selling/session/load/([0-9]+)$ 					?cmd=SellingSessionLoad&IdSession=$1 [L]
RewriteRule ^selling/session/insert/([0-9]+)$ 					?cmd=SellingSessionInsert&IdCustomer=$1 [L]
RewriteRule ^selling/session/print/([0-9]+)$ 					?cmd=SellingSessionPrint&IdSession=$1 [L]

RewriteRule ^selling/call/table/([0-9]+)/([0-9]+)/plus$ 		?cmd=SellingTableCallExe&IdSession=$1&IdCourse=$2&Delta=1 [L]
RewriteRule ^selling/call/table/([0-9]+)/([0-9]+)/minus$ 		?cmd=SellingTableCallExe&IdSession=$1&IdCourse=$2&Delta=-1 [L]

RewriteRule ^selling/search/course$ 							?cmd=SellingSearchCourse [L]
RewriteRule ^selling/search/customer$ 							?cmd=SellingSearchCustomer [L]

RewriteRule ^selling/([0-9]+)/([0-9]+)/([0-9]+)/checkout/exe$	?cmd=SellingTableCheckoutExe&IdDomain=$1&IdTable=$2&IdSession=$3 [L]

#---------------------------------------------------------------------------------------------------------------------------
# MONEY
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^money$ 												?cmd=Money [L]

RewriteRule ^money/collect/general$ 								?cmd=MoneyCollectGeneral [L]
RewriteRule ^money/collect/general/([0-9]+)$ 						?cmd=MoneyCollectGeneral&IdTerm=$1 [L]
RewriteRule ^money/collect/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyCollectGeneral&IdTerm=$1&Page=$2 [L]

RewriteRule ^money/collect/customer$ 								?cmd=MoneyCollectCustomer [L]
RewriteRule ^money/collect/customer/([0-9]+)$ 						?cmd=MoneyCollectCustomer&IdCustomer=$1 [L]
RewriteRule ^money/collect/customer/([0-9]+)/page/([0-9]+)$ 		?cmd=MoneyCollectCustomer&IdCustomer=$1&Page=$2 [L]

RewriteRule ^money/paid/general$ 									?cmd=MoneyPaidGeneral [L]
RewriteRule ^money/paid/general/([0-9]+)$ 							?cmd=MoneyPaidGeneral&IdTerm=$1 [L]
RewriteRule ^money/paid/general/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidGeneral&IdTerm=$1&Page=$2 [L]

RewriteRule ^money/paid/employee$ 									?cmd=MoneyPaidEmployee [L]
RewriteRule ^money/paid/employee/([0-9]+)$ 							?cmd=MoneyPaidEmployee&IdEmployee=$1 [L]
RewriteRule ^money/paid/employee/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidEmployee&IdEmployee=$1&Page=$2 [L]

RewriteRule ^money/paid/supplier$ 									?cmd=MoneyPaidSupplier [L]
RewriteRule ^money/paid/supplier/([0-9]+)$ 							?cmd=MoneyPaidSupplier&IdSupplier=$1 [L]
RewriteRule ^money/paid/supplier/([0-9]+)/page/([0-9]+)$ 			?cmd=MoneyPaidSupplier&IdSupplier=$1&Page=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# PAYROLL
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^payroll$ 												?cmd=PayRoll [L]
RewriteRule ^payroll/([0-9]+)$ 										?cmd=PayRoll&IdTrack=$1 [L]
RewriteRule ^payroll/([0-9]+)/reset$ 								?cmd=PayRollReset&IdTrack=$1 [L]
RewriteRule ^payroll/([0-9]+)/([0-9]+)/print$ 						?cmd=PayRollPrint&IdTrack=$1&IdPayRoll=$2 [L]


#---------------------------------------------------------------------------------------------------------------------------
# IMPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^import$ 								?cmd=Import [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)$ 						?cmd=ImportSupplier&IdSupplier=$1 [L]
RewriteRule ^import/([0-9]+)/page/([0-9]+)$ 		?cmd=ImportSupplier&IdSupplier=$1&Page=$2 [L]

RewriteRule ^import/([0-9]+)/([0-9]+)$				?cmd=ImportSupplierOrder&IdSupplier=$1&IdOrder=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/print$		?cmd=ImportSupplierOrderPrint&IdSupplier=$1&IdOrder=$2 [L]
RewriteRule ^import/([0-9]+)/([0-9]+)/([0-9]+)/([0-9_.]+)/([0-9]+)/([0-9]+)$ 	?cmd=ImportSupplierOrderExe&IdSupplier=$1&IdOrder=$2&IdResource=$3&Count=$4&Price=$5&PriceDiscount=$6 [L]

#---------------------------------------------------------------------------------------------------------------------------
# EXPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^export$ 								?cmd=Export [L]
RewriteRule ^export/([0-9]+)$ 						?cmd=ExportSupplier&IdSupplier=$1 [L]
RewriteRule ^export/([0-9]+)$ 						?cmd=ExportSupplier&IdSupplier=$1 [L]
RewriteRule ^export/([0-9]+)/page/([0-9]+)$ 		?cmd=ExportSupplier&IdSupplier=$1&Page=$2 [L]

RewriteRule ^export/([0-9]+)/([0-9]+)$				?cmd=ExportSupplierOrder&IdSupplier=$1&IdOrder=$2 [L]
RewriteRule ^export/([0-9]+)/([0-9]+)/print$		?cmd=ExportSupplierOrderPrint&IdSupplier=$1&IdOrder=$2 [L]
RewriteRule ^export/([0-9]+)/([0-9]+)/([0-9]+)/([0-9_.]+)/([0-9]+)$ 	?cmd=ExportSupplierOrderExe&IdSupplier=$1&IdOrder=$2&IdResource=$3&Count=$4&Price=$5 [L]


#---------------------------------------------------------------------------------------------------------------------------
# REPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^report$ 										?cmd=Report [L]
RewriteRule ^report/info$ 									?cmd=ReportInfo [L]
RewriteRule ^report/([0-9]+)$ 								?cmd=ReportDetail&IdTrack=$1 [L]

RewriteRule ^report/([0-9]+)/([0-9]+)$ 						?cmd=ReportDaily&IdTrack=$1&IdTD=$2 [L]
RewriteRule ^report/([0-9]+)/customer$ 						?cmd=ReportDetailCustomer&IdTrack=$1 [L]
RewriteRule ^report/([0-9]+)/supplier$ 						?cmd=ReportDetailSupplier&IdTrack=$1 [L]
RewriteRule ^report/([0-9]+)/store$ 						?cmd=ReportDetailStore&IdTrack=$1 [L]

RewriteRule ^report/([0-9]+)/customer/([0-9]+)$ 			?cmd=ReportDetailCustomerDetail&IdTrack=$1&IdTC=$2 [L]
RewriteRule ^report/([0-9]+)/customer/([0-9]+)/next$ 		?cmd=ReportDetailCustomerDetail&IdTrack=$1&IdTC=$2&action=next [L]
RewriteRule ^report/([0-9]+)/customer/([0-9]+)/previous$ 	?cmd=ReportDetailCustomerDetail&IdTrack=$1&IdTC=$2&action=previous [L]

RewriteRule ^report/([0-9]+)/supplier/([0-9]+)$ 			?cmd=ReportDetailSupplierDetail&IdTrack=$1&IdSupplier=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 												?cmd=Setting [L]
RewriteRule ^setting/theme/([a-z0-9_-]+)$ 							?cmd=SettingThemeChangeExe&Theme=$1 [L]

RewriteRule ^setting/customer$ 										?cmd=SettingCustomer [L]
RewriteRule ^setting/customer/page/([0-9]+)$ 						?cmd=SettingCustomer&Page=$1 [L]

RewriteRule ^setting/category$ 										?cmd=SettingCategory [L]
RewriteRule ^setting/category/page/([0-9]+)$ 						?cmd=SettingCategory&Page=$1 [L]
RewriteRule ^setting/category/([0-9]+)$ 							?cmd=SettingCategoryCourse&IdCategory=$1 [L]
RewriteRule ^setting/category/([0-9]+)/page/([0-9]+)$ 				?cmd=SettingCategoryCourse&IdCategory=$1&Page=$2 [L]
RewriteRule ^setting/category/([a-z0-9]+)/([a-z0-9]+)/recipe$ 		?cmd=SettingCategoryCourseRecipe&IdCategory=$1&IdCourse=$2 [L]

RewriteRule ^setting/domain$ 										?cmd=SettingDomain [L]
RewriteRule ^setting/domain/page/([0-9]+)$ 							?cmd=SettingDomain&Page=$1 [L]
RewriteRule ^setting/domain/([0-9]+)$ 								?cmd=SettingDomainTable&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/page/([0-9]+)$ 				?cmd=SettingDomainTable&IdDomain=$1&Page=$2 [L]
RewriteRule ^setting/unit$ 											?cmd=SettingUnit [L]
RewriteRule ^setting/unit/page/([0-9]+)$ 							?cmd=SettingUnit&Page=$1 [L]
RewriteRule ^setting/config$ 										?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9]+)$ 							?cmd=SettingConfig&Page=$1 [L]
RewriteRule ^setting/supplier$ 										?cmd=SettingSupplier [L]
RewriteRule ^setting/supplier/page/([0-9]+)$ 						?cmd=SettingSupplier&Page=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)$ 							?cmd=SettingSupplierResource&IdSupplier=$1 [L]
RewriteRule ^setting/supplier/([0-9]+)/page/([0-9]+)$ 				?cmd=SettingSupplierResource&IdSupplier=$1&Page=$2 [L]
RewriteRule ^setting/employee$ 										?cmd=SettingEmployee [L]
RewriteRule ^setting/employee/page/([0-9]+)$ 						?cmd=SettingEmployee&Page=$1 [L]
RewriteRule ^setting/termpaid$ 										?cmd=SettingTermPaid [L]
RewriteRule ^setting/termpaid/page/([0-9]+)$ 						?cmd=SettingTermPaid&Page=$1 [L]
RewriteRule ^setting/termcollect$ 									?cmd=SettingTermCollect [L]
RewriteRule ^setting/termcollect/page/([0-9]+)$ 					?cmd=SettingTermCollect&Page=$1 [L]
RewriteRule ^setting/user$ 											?cmd=SettingUser [L]
RewriteRule ^setting/user/page/([0-9]+)$ 							?cmd=SettingUser&Page=$1 [L]