	
	/* ==================================================================================== */
	/* ADMIN URL BAR																		*/
	/* ==================================================================================== */
	.url-bar {
		background:		url("/data/images/img/folder.png") no-repeat center left scroll transparent;
		margin:			0 10px;
		padding:		10px 0 10px 40px;
		border-bottom:	1px solid #D4D4D4;
	}
	
		.url-bar ul li {
			float:			left;
			background:		url("/data/images/img/forward_slash.png") no-repeat center left scroll transparent;
			padding-left:	10px;
		}

		.url-bar ul li span {
			display:		block;
			padding:		5px 5px;
			font-size:		1em;
			color:			#000000;
		}
	
	/* ==================================================================================== */
	/* ADMIN INSERT BUTTON																	*/
	/* ==================================================================================== */
	.add-tool a {
		display:		block;
		padding:		5px 35px 5px 5px;
		text-align:		right;
		background:		url("/data/images/img/add.png") no-repeat center right scroll transparent;
		color:			#000000;
	}
	
	/* ==================================================================================== */
	/* ADMIN PAGE NUMBER																	*/
	/* ==================================================================================== */
	.page-number-bar {
		margin:			5px 10px;
		font-size:		0.9em;
	}
	
		.page-number-bar ul {
			float:			right;
		}

		.page-number-bar ul li {
			float:			left;
			margin:			0 5px;
		}

		.page-number-bar ul li a {
			color:			#000000;
		}