	
	/* ==================================================================================== */
	/* ADMIN TABLE																			*/
	/* ==================================================================================== */
	.s-table {
		margin:					10px;
	}

		.s-table table {
			width:				100%;
			text-align:			left;
		}

		.s-table table thead {
			background-color:	#F0F9FF;
			color:				#1F8CE6;
			font-size:			0.9em;
		}

		.s-table table thead th {
			border-top:			1px solid #DDDDDD;
			border-bottom:		1px solid #DDDDDD;
			padding:			10px 0;
		}

		.s-table table tbody tr:hover {
			background-color:	#F7FCFF;
		}

		.s-table table tbody tr:hover td a.s-tools {
			visibility:			visible;
		}

		.s-table table tbody tr td {
			border-bottom:		1px solid #DDDDDD;
		}

		.s-table table tbody tr td a.s-tools {
			padding:			5px 0;
			background:			url("/data/images/img/remove.png") no-repeat center right scroll transparent;
			color:				transparent;
			display:			block;
			height:				32px;
			width:				32px;
			visibility:			hidden;
		}

		.s-table table tbody tr td a {
			color:				#000000;
		}