<!DOCTYPE html>
<html lang="en">
	<body>		
		<div id="CategorySAll" class="widget-box">
			<div class="widget-content nopadding">
				<div class="gallery-masonry">
					<div tal:repeat="Category CategoryAll" 
						tal:attributes="id php:
							'Category' . Category->getId();
							alt Category/getId;
							class 'CategoryS item'">
						<a class="thumbnail" tal:content="Category/getName"/>
					</div>
				</div>
			</div>					
		</div>						
        <script>
			//Click ở mục con
			$(".CategoryS").click(function(){
				var IdCategory = $(this).attr('alt');				
				$("#ResourceAll").load("/admin/selling/categorys/"+IdCategory+"/load");
				$(this).toggleClass('active').siblings().removeClass('active');				
				$("#SearchName").focus();
			});
			//Mặc định lấy click của DANH MỤC CON đầu tiên			
			$('.CategoryS:first').click();
						
			$('.gallery-masonry').masonry({
				itemSelector: '.item',
				isAnimated: true,
				isFitWidth: true
			});
        </script>
	</body>
</html>