<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">								
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">
									<div class="category-toolbar clearfix">										
										<div class="toolbox-pagination clearfix">
											<ul class="pagination">
												<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</div><!-- End .toolbox-pagination -->
									</div><!-- End .category-toolbar -->
									<div class="md-margin"></div><!-- .space -->
									<div class="category-item-container category-list-container">
										<div class="item item-list clearfix" tal:repeat="Album AlbumAll">
											<div class="item-image-container">
												<figure>
													<a tal:attributes="href Album/getURLView">
														<img tal:attributes="src Album/getImage" alt="item1" class="item-image"/>
														<img tal:attributes="src Album/getImage" alt="item1  Hover" class="item-image-hover"/>
													</a>
												</figure>
											</div><!-- End .item-image -->
											<div class="item-meta-container">
												<h3 class="item-name">
													<a tal:attributes="href Album/getURLView">
														<span tal:content="Album/getName"/>
													</a>
												</h3>
												<div class="ratings-container">
													<div class="ratings">
														<div class="ratings-result" data-result="70"></div>
													</div><!-- End .ratings -->
													<span class="ratings-amount">
														1 đánh giá
													</span>
												</div>
												<p tal:content="structure Album/getNote"/>
											</div>
										</div>
									</div>
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">									
									<div metal:use-macro="mFront.xhtml/Subscribe"/>
								</aside>								
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>