<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">								
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">									
									<div class="md-margin">
										<span>											
											<a href="#">
												<span tal:content="Album/getLiked"/> Like
											</a>
											<span tal:content="Album/getViewed"/> Xem
										</span>
									</div>
									<div class="category-item-container category-list-container">
										<div class="item item-list clearfix" tal:repeat="Image Album/getImageAll">
											<div class="item-image-container">
												<figure>
													<a tal:attributes="href Album/getURLView">
														<img tal:attributes="src Image/getURL" alt="item1" class="item-image"/>
														<img tal:attributes="src Image/getURL" alt="item1  Hover" class="item-image-hover"/>
													</a>
												</figure>
											</div>
											<div class="item-meta-container">
												<h3 class="item-name">
													<a tal:attributes="href Album/getURLView">
														<span tal:content="Image/getName"/>
													</a>
												</h3>												
												<p tal:content="structure Image/getName"/>
											</div>
										</div>
									</div>
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div metal:use-macro="mFront.xhtml/Subscribe"/>
									<div metal:use-macro="mFront.xhtml/Testmonials"/>
									<div metal:use-macro="mFront.xhtml/LastestPost"/>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>