<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">							
							<div class="xs-margin"></div>
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 articles-container single-post">
									<article class="article">
										<div class="article-meta-date" tal:content="Post/getTimePrint"/>
										<h2 tal:content="php:mb_strtoupper(Post->getTitle(),'UTF8')"/>
										<div class="article-meta-container clearfix">
											<div class="article-meta-more">
												<a href="#"><span class="separator"><i class="fa fa-user"></i></span> <span tal:content="Post/getAuthor"></span></a>
											</div>
											<div class="article-meta-view">
												<span class="separator"><i class="fa fa-eye "></i></span><span tal:content="Post/getCount"/>
												<a href="#"><span class="separator"><i class="fa fa-heart"></i></span>87</a>
											</div>
										</div>
										<div tal:content="structure Post/getContent" class="article-content-container"/>
									</article>
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">									
									<div metal:use-macro="mFront.xhtml/Subscribe"/>
									<div class="widget testimonials">
										<h3>Đánh giá</h3>
										<div class="testimonials-slider flexslider sidebarslider">
											<ul class="testimonials-list clearfix">
												<li tal:repeat="StoryLine StoryLineAll">
													<div class="testimonial-details">
														<header tal:content="StoryLine/getTitle"/>														
														<span tal:content="StoryLine/getNote"/>														
													</div>
													<figure class="clearfix">
														<img tal:attributes="src StoryLine/getImage"/>
														<figcaption>
															<a href="#"><span tal:content="StoryLine/getName"/></a>
															<span tal:content="StoryLine/getDatePrint"/>
														</figcaption>
													</figure>
												</li>												
											</ul>
										</div>
									</div>
								</aside>								
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>