<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">							
							<div class="xs-margin"></div><!-- space -->
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 articles-container single-post">
									<article class="article">
										<div class="article-meta-date" tal:content="Post/getTimePrint"/>
										<h2 tal:content="Post/getTitle"/>
										<div class="article-meta-container clearfix">
											<div class="article-meta-more">												
												<a href="#"><span class="separator"><i class="fa fa-user"></i></span> <span tal:content="Post/getAuthor"></span></a>
												<div class="share-button-group">										
													<div class="fb-share-button" tal:attributes="data-href URLShare" data-type="button_count" />
												</div>
											</div>
											<div class="article-meta-view">
												<span class="separator"><i class="fa fa-eye "></i></span><span tal:content="Post/getViewed"/>
												<a class="Liked Post" tal:attributes="data-id Post/getId">
													<span class="separator"><i class="fa fa-heart"></i></span><span tal:content="Post/getLiked"/>
												</a>
											</div>
										</div>
										<div tal:content="structure Post/getContent" class="article-content-container"/>
									</article><!-- End .article -->
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div metal:use-macro="mFront.xhtml/Subscribe"/>
									<div metal:use-macro="mFront.xhtml/Testmonials"/>
									<div metal:use-macro="mFront.xhtml/LastestPost"/>
								</aside>								
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('.Liked').click(function(){
				var Data = [];								
				var Id 	= $(this).attr('data-id');
								
				var URL = "/object/liked/Post/"+Id;
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();						
					}
				});
				return false;
			});
		/*]]>*/
		</script>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=525611617524479";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	</body>
</html>