<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">
									<div class="md-margin"></div>
									<div class="category-toolbar clearfix">										
										<div class="toolbox-pagination clearfix">
											<ul class="pagination">
												<li tal:repeat="P PN/getPages" tal:attributes="class php: (P->getId()==Page)?'active':''">
													<a tal:attributes="href P/getURL" tal:content="P/getName" />
												</li>
											</ul>											
										</div>
									</div>
									<div class="md-margin"></div>
									<div class="category-item-container">
										<div class="row">
											<h3 tal:content="php:'Từ khóa: ' . Term . ' ( ' . ProductAll1->count() . ' )'"/>
											<div tal:repeat="Product ProductAll" class="col-md-4 col-sm-6 col-xs-12">
												<div class="item">
													<div class="item-image-container">
														<figure>
															<a tal:attributes="href Product/getURLView" tal:condition="Product/getInfo">
																<img tal:attributes="src Product/getInfo/getImage1" class="item-image"/>
																<img tal:attributes="src Product/getInfo/getImage2" class="item-image-hover"/>
															</a>
														</figure>
														<div class="item-price-container">															
															<span class="item-price" tal:content="Product/getPrice2Print" />
														</div>														
													</div><!-- End .item-image -->
													<div class="item-meta-container">
														<div class="ratings-container">
															<div class="ratings">
																<div class="ratings-result" data-result="90"></div>
															</div><!-- End .ratings -->
															<span class="ratings-amount">
																1 đánh giá
															</span>
														</div><!-- End .rating-container -->
														<h3 class="item-name"><a tal:attributes="href Product/getURLView" tal:content="Product/getName"/></h3>
														<div class="item-action">
															<div class="item-add-btn" style="cursor:pointer">
																<span class="icon-cart-text"
																	tal:attributes="	id 		Product/getId;
																						name 	Product/getName;
																						price 	Product/getPrice2;
																						image 	Product/getInfo/getImage1;
																	"
																> Mua ngay</span>																
															</div>
															<div class="item-action-inner">
																<span class="icon-button icon-like" style="cursor:pointer"
																	tal:attributes="	id 		Product/getId;
																						name 	Product/getName;
																						price 	Product/getPrice2;
																						image 	Product/getInfo/getImage1;
																	"
																>
																	Ưa thích
																</span>
																<span class="icon-button icon-compare" style="cursor:pointer"
																	tal:attributes="	id 		Product/getId;
																						name 	Product/getName;
																						price 	Product/getPrice2;
																						image 	Product/getInfo/getImage1;
																	"
																>
																	Email
																</span>
															</div>
														</div><!-- End .item-action -->
													</div><!-- End .item-meta-container -->	
												</div><!-- End .col-md-4 -->
											</div><!-- End .row -->
										</div><!-- End .category-item-container -->
									</div>
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div class="md-margin" />
									<div class="widget subscribe">
										<h3>TÌM SẢN PHẨM</h3>
										<form action="/tim-kiem" id="subscribe-form" method="post">
											<div class="form-group">
												<input type="text" class="form-control" name="Term" placeholder="Gõ tên sản phẩm bạn cần tìm"/>
											</div>
											<div class="form-group" style="text-align:left;">
												Giá từ
												<select class="form-control" name="Price1">
													<option value="0">0</option>
													<option value="1000000">1 triệu</option>
													<option value="3000000">3 triệu</option>
													<option value="5000000">5 triệu</option>
													<option value="7000000">7 triệu</option>
													<option value="9000000">9 triệu</option>
												</select>
												Đến
												<select class="form-control" name="Price2">													
													<option value="1000000">1 triệu</option>
													<option value="3000000">3 triệu</option>
													<option value="5000000">5 triệu</option>
													<option value="7000000">7 triệu</option>
													<option value="9000000">9 triệu</option>
													<option value="5000000">trên 9 triệu</option>
												</select>
											</div>
											<input type="submit" value="Tìm kiếm" class="btn btn-custom"/>
										</form>
									</div>
								</aside><!-- End .col-md-3 -->
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$(function() {								
				$(".icon-cart-text").click(function(){
					var Data 	= [];
					Data[0]		= $(this).attr('id');
					Data[1]		= $(this).attr('name');
					Data[2]		= $(this).attr('price');
					Data[3]		= $(this).attr('image');
					
					var URL = "/gio-hang/them";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});				
				});
				
				$(".icon-like").click(function(){
					var Data 	= [];
					Data[0]		= $(this).attr('id');
					Data[1]		= $(this).attr('name');
					Data[2]		= $(this).attr('price');
					Data[3]		= $(this).attr('image');
					
					var URL = "/danh-dau/them";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
				
				});
				
			});
		</script>
	</body>
</html>