<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">								
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">									
									<div class="md-margin"></div><!-- .space -->
									<div class="category-item-container category-list-container">
										<iframe width="560" height="315" 
											tal:attributes="src Video/getURL" 
											frameborder="0" allowfullscreen="true">
										</iframe>
									</div><!-- End .category-item-container -->
								</div><!-- End .col-md-9 -->
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div class="widget">
										
									</div><!-- End .widget -->																		
								</aside><!-- End .col-md-3 -->
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->			
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>