<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead><tr><th width="40">1</th><th class="left">THU</th></tr></thead>
								<tbody>									
									<tr><td class="left">1.1</td><td>THU TỪ BÁN HÀNG (* KHÔNG NHẬP)</td></tr>
									<tr><td class="left">1.2</td><td><a tal:attributes="href '/money/collect/general'" >THU KHÁC</a></td></tr>
									<tr><td class="left">1.3</td><td><a tal:attributes="href '/money/collect/customer'" >THU TỪ KHÁCH TRẢ</a></td></tr>
								</tbody>
							</table>
							<table class="table table-bordered table-striped table-hover">
								<thead><tr><th width="40">2</th><th class="left">CHI</th></tr></thead>
								<tbody>
									<tr><td class="left">2.1</td><td><a tal:attributes="href '/money/paid/general'" >CHI CHUNG</a></td></tr>
									<tr><td class="left">2.2</td><td><a tal:attributes="href '/money/paid/customer'" >CHI KHÁCH NỢ PHIẾU</a></td></tr>
									<tr><td class="left">2.3</td><td><a tal:attributes="href '/money/paid/supplier'" >CHI NHÀ CUNG CẤP</a></td></tr>
									<tr><td class="left">2.4</td><td><a tal:attributes="href '/money/paid/employee'" >ỨNG LƯƠNG NHÂN VIÊN</a></td></tr>
								</tbody>
							</table>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>		
	</body>
</html>