<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="container-fluid">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<table class="table table-striped table-hover">									
									<tbody>										
										<tr>
											<td align="left" colspan="4"><B>2. TỔNG CHI:</B></td>
											<td align="right">
												<B tal:content="TD/getPaidPrint" style="color:red"/>
											</td>
										</tr>
									</tbody>
								</table>
								<B>2.1. CHI CHUNG</B>
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="18%"><div class="text-left">THỜI GIAN</div></th>
											<th width="20%"><div class="text-left">TÊN</div></th>
											<th width="35%"><div class="text-left">DIỄN GIẢI</div></th>
											<th width="22%"><div class="text-right">GIÁ TRỊ</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Paid PaidGeneralAll">
											<td align="center"><span tal:content="repeat/Paid/number"/></td>
											<td align="left"><span tal:content="Paid/getDatePrint"/></td>
											<td align="left"><span tal:content="Paid/getTerm/getName"/></td>											
											<td align="left"><span tal:content="Paid/getNote"/></td>
											<td align="right"><span tal:content="Paid/getValuePrint"/></td>
										</tr>
										<tr>
											<td align="right" colspan="4" />
											<td align="right"><B tal:content="php: NGeneralValue->formatCurrency()"/></td>
										</tr>
									</tbody>
								</table>
								
								<B>2.2. KHÁCH NỢ PHIẾU</B>
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="18%"><div class="text-left">THỜI GIAN</div></th>
											<th width="20%"><div class="text-left">TÊN</div></th>
											<th width="35%"><div class="text-left">DIỄN GIẢI</div></th>
											<th width="22%"><div class="text-right">GIÁ TRỊ</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Paid PaidCustomerAll">
											<td align="center"><span tal:content="repeat/Paid/number"/></td>
											<td align="left"><span tal:content="Paid/getDatePrint"/></td>
											<td align="left"><span tal:content="Paid/getCustomer/getName"/></td>											
											<td align="left"><span tal:content="Paid/getNote"/></td>
											<td align="right"><span tal:content="Paid/getValuePrint"/></td>
										</tr>
										<tr>
											<td align="right" colspan="4" />
											<td align="right"><B tal:content="php: NCustomerValue->formatCurrency()"/></td>
										</tr>
									</tbody>
								</table>
								
								<B>2.3. CHI NHÀ CUNG CẤP</B>
								<table class="table table-striped table-hover">
									<thead>
										<tr>										
											<th width="5%"><B>#ID</B></th>
											<th width="18%"><div class="text-left">THỜI GIAN</div></th>
											<th width="20%"><div class="text-left">TÊN</div></th>
											<th width="35%"><div class="text-left">DIỄN GIẢI</div></th>
											<th width="22%"><div class="text-right">GIÁ TRỊ</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="Paid PaidSupplierAll">
											<td align="center"><span tal:content="repeat/Paid/number"/></td>
											<td align="left"><span tal:content="Paid/getDatePrint"/></td>
											<td align="left"><span tal:content="Paid/getSupplier/getName"/></td>											
											<td align="left"><span tal:content="Paid/getNote"/></td>
											<td align="right"><span tal:content="Paid/getValuePrint"/></td>
										</tr>
										<tr>
											<td align="right" colspan="4" />
											<td align="right"><B tal:content="php: NSupplierValue->formatCurrency()"/></td>
										</tr>
									</tbody>
								</table>
																
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>