<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">				
				<div metal:use-macro="mFront.xhtml/LocationBar"/>				
				<div class="container">
					<div class="row">						
						<div class="col-md-9">
							<div class="row">
								<h3>ĐĂNG KÍ BÁN</h3>
							</div>
						</div>
						<div class="col-md-3">
							<div class="row"><div metal:use-macro="mFront.xhtml/SearchBox"/></div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</body>
</html>