<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container">
			<div class="row">						
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Trang Chủ</h3>
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div metal:use-macro="mFront.xhtml/SearchBox"/>
				</div>
			</div>
		</div>
		<!--
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">				
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">						
						<div class="col-md-9">
							<div class="row">
								
							</div>
						</div>
						<div class="col-md-3">
							<div class="row"><div metal:use-macro="mFront.xhtml/SearchBox"/></div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		-->
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>