<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<div class="row">						
				<div class="col-md-9">
					<div id="carousel-top-news" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="item" tal:repeat="PT PostTopAll">
								<img tal:attributes="src PT/getPost/getImage; alt PT/getPost/getTitle"/>
								<div class="carousel-caption">
									<p><b tal:content="PT/getPost/getTitle"/></p>
									<small tal:content="structure PT/getPost/getContentReduce"/>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-top-news" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-top-news" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
						<div class="news-title"/>
					</div>
					<div class="panel panel-default" tal:repeat="Category CategoryAll">
						<div class="panel-heading"><h3 class="panel-title" tal:content="Category/getName"/></div>						
						<div class="panel-body">
							<div class="media media-config" tal:repeat="Product Category/getTopProductAll">
								<div class="media-flag">
									<div class="flag hot-flag"/>
									<div class="flag new-flag"/>
									<div class="flag vip-flag"/>
								</div>
								<a tal:attributes="href Product/getURLView"><h4 tal:content="Product/getNameReduce"/></a>
								<a class="media-left" tal:attributes="href Product/getURLView">
									<img tal:attributes="src Product/getInfo/getImage; alt Product/getName" width="130" class="img-thumbnail"/>
								</a>
								<div class="media-body">
									<p tal:content="structure Product/getInfo/getInfoReduce" style="text-align:justify"/>
									<div class="row">
										<div class="col-md-10">
											Giá: <span tal:content="Product/getPricePrint" style="color:#055699;font-weight:bold;"/> 
											Diện tích: <span tal:condition="Product/getInfo" tal:content="structure Product/getInfo/getInfoEx13Print" style="color:#055699;font-weight:bold;" />
											Quận/Huyện: <span style="color:#055699;font-weight:bold;" tal:content="Product/getDistrict/getName" />, <span style="color:#055699;font-weight:bold;" tal:content="Product/getDistrict/getProvince/getName" />
										</div>
										<div class="col-md-2" style="text-align:right;">
											<span tal:content="Product/getDateTimePrint"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-md-3">
					<div class="list-group">
						<a class="list-group-item active">Tin mới cập nhật</a>
						<a tal:repeat="PT PostTopAll" href="#" tal:content="PT/getPost/getTitleReduce" class="list-group-item"/>
					</div>
					<tal:block metal:use-macro="mFront.xhtml/SearchBox"/>
					<div class="panel">
						<a tal:repeat="Ads AdsAll" tal:attributes="href Ads/getURL" target="blank">
							<img class="img-thumbnail" width="100%" tal:attributes="src Ads/getPicture"/>
						</a>
					</div>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$('.carousel .item:first-child').addClass('active');
		</script>
	</body>
</html>