<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>		
		<title>Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp</title>
		<base href="http://batdongsancamau.net"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="-1"/>
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<meta name="keywords" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		<meta name="description" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		<meta name="page-topic" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		<meta name="Abstract" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		<meta name="classification" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		
		<meta property="og:title" tal:attributes="content Post/getTitle"/>
		<meta property="og:description" tal:attributes="content Post/getContentReduce"/>
		<meta property="og:image" tal:attributes="content Post/getImage"/>

		<link rel="shortcut icon" type="image/png" href="/data/images/icon.png"/>
	
		<link rel="stylesheet" href="/mvc/templates/front/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/prettyPhoto.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/colpick.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/sequence-slider.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/owl.carousel.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/style.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/responsive.css"/>
	
	
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">							
							<div class="xs-margin"></div>
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 articles-container single-post">
									<article class="article">
										<div class="article-meta-date" tal:content="Post/getTimePrint"/>
										<h2 tal:content="Post/getTitle"/>
										<div class="article-meta-container clearfix">
											<div class="article-meta-more">												
												<a href="#"><span class="separator"><i class="fa fa-user"></i></span> <span tal:content="Post/getAuthor"></span></a>
												<div class="share-button-group">
													<div class="fb-share-button" tal:attributes="data-href URLShare" data-type="button_count" />
												</div>																								
											</div>											
										</div>
										<div tal:content="structure Post/getContent" class="article-content-container"/>
									</article>
								</div>
								<div class="col-md-3 col-sm-4 col-xs-12">
									<div metal:use-macro="mFront.xhtml/SearchBox"/>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('.Liked').click(function(){
				var Data = [];								
				var Id 	= $(this).attr('data-id');
								
				var URL = "/object/liked/Post/"+Id;
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();						
					}
				});
				return false;
			});
		/*]]>*/
		</script>				
		<div id="fb-root" />
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=525611617524479&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	</body>
</html>