<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="og:title" tal:attributes="content Post/getTitle"/>
		<meta property="og:description" tal:attributes="content Post/getContentReduce"/>
		<meta property="og:image" tal:attributes="content Post/getImage"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div metal:use-macro="mFront.xhtml/Breadcrumb"/>
			<div class="row">						
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title" tal:content="Post/getTitle" /></div>
						<div class="panel-body">
							<div class="page-header clearfix">								
								<p class="pull-left">Ngày đăng: <i tal:content="Post/getTimePrint"/></p>
								<div class="share-button-group pull-right">
									<div class="fb-share-button" tal:attributes="data-href URLShare" data-type="button_count"/>
								</div>
							</div>
							
							<div tal:content="structure Post/getContent" class="article-content-container"/>
							<b class="pull-right" tal:content="Post/getAuthor"/>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div metal:use-macro="mFront.xhtml/SearchBox"/>
				</div>
			</div>
			<div metal:use-macro="mFront.xhtml/Footer"/>
			<div metal:use-macro="mFront.xhtml/IncludeJS"/>
			<script type="text/javascript">
			/*<![CDATA[*/
				$('.Liked').click(function(){
					var Data = [];								
					var Id 	= $(this).attr('data-id');
									
					var URL = "/object/liked/Post/"+Id;
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();						
						}
					});
					return false;
				});
				
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=525611617524479&version=v2.0";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			/*]]>*/
			</script>
		</div>
	</body>
</html>