<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div metal:use-macro="mFront.xhtml/Breadcrumb"/>
			<div class="row">						
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" tal:content="Product/getName"/>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td width="20%">Ngày đăng</td>
										<td><B tal:content="Product/getDateTimePrint"/></td>
									</tr>
									<tr>
										<td>Địa chỉ</td>
										<td><B tal:content="Product/getAddress"/></td>
									</tr>
									<tr>
										<td>Diện tích</td>
										<td><B tal:content="Product/getInfo/getInfoEx13Print"/></td>
									</tr>
									<tr>
										<td>Giá</td>
										<td><B tal:content="Product/getPricePrint"/></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel panel-default" tal:condition="Product/getInfo">
						<div class="panel-heading">
							<h3 class="panel-title">THÔNG TIN</h3>
						</div>
						<div class="panel-body">
							<p tal:content="structure Product/getInfo/getInfo"/>
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td width="20%">Mã tin</td>
										<td width="15%"><B tal:content="Product/getId" /></td>
										<td width="20%">Hướng</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx03Print" /></td>
										<td width="15%">Phòng ăn</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx08Print" /></td>
									</tr>
									<tr>
										<td width="20%">Loại tin</td>
										<td width="15%"><B tal:content="Product/getCategory/getName" /></td>
										<td width="20%">Lộ giới</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx04Print" /></td>
										<td width="15%">Nhà bếp</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx09Print" /></td>
									</tr>
									<tr>
										<td width="20%">Loại BĐS</td>
										<td width="15%"><B tal:content="Product/getEstate/getName" tal:condition="Product/getEstate"/></td>
										<td width="20%">Pháp lý</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx05Print" /></td>
										<td width="15%">Sân thượng</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx10Print" /></td>
									</tr>
									<tr>
										<td width="20%">Chiều ngang</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx01Print" /></td>
										<td width="20%">Số lầu</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx06Print" /></td>
										<td width="15%">Chỗ để xe hơi</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx11Print" /></td>
									</tr>
									<tr>
										<td width="20%">Chiều dài</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx02Print" /></td>
										<td width="20%">Số phòng ngủ</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx07Print" /></td>
										<td width="15%">Chính chủ</td>
										<td width="15%"><B tal:content="Product/getInfo/getInfoEx12Print" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel panel-default" tal:condition="Product/getMap">
						<div class="panel-heading">
							<h3 class="panel-title">BẢN ĐỒ</h3>
						</div>
						<div class="panel-body">
							<div style="width:640px; height:480px"  id="ProductMap" />								
						</div>
					</div>
					<div class="panel panel-default" tal:condition="Product/getImageAll/count">
						<div class="panel-heading">
							<h3 class="panel-title">HÌNH ẢNH</h3>
						</div>
						<div class="panel-body">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">										
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img width="640px" tal:attributes="src Product/getImageAll/current/getURL"/>
									</div>
									<div class="item" tal:repeat="Image Product/getImageAll">
										<img width="640px" tal:attributes="src Image/getURL"/>
									</div>
								</div>										
								<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Tới</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Lui</span>
								</a>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">CÙNG DANH MỤC</h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a tal:repeat="P1 Category1/getProductAll" tal:attributes="href P1/getURLView; class php:P1->getKey()==Product->getKey()?'list-group-item active':'list-group-item'" tal:content="P1/getName"/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div metal:use-macro="mFront.xhtml/SearchBox"/>
				</div>
			</div>
			<div metal:use-macro="mFront.xhtml/Footer"/>
			<div metal:use-macro="mFront.xhtml/IncludeJS"/>
			<script src="https://maps.googleapis.com/maps/api/js" />
			<script>
				function initialize(){					
					var mapCanvas = document.getElementById('ProductMap');
					var mapOptions = {
					  center: new google.maps.LatLng(9.176299, 105.150823),				  
					  zoom: 18,
					  mapTypeId: google.maps.MapTypeId.ROADMAP
					}
					var map = new google.maps.Map(mapCanvas, mapOptions)
				}
				google.maps.event.addDomListener(window, 'load', initialize);
			</script>
		</div>
	</body>
</html>