<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>		
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">								
								<div class="col-md-6 col-sm-12 col-xs-12 product">
									<div class="lg-margin visible-sm visible-xs" />
									<h1 class="product-name"><span tal:content="Product/getName"/> ( Mã số: <B tal:content="Product/getId"/>)</h1>
									<div class="md-margin" />
									<div class="product-extra clearfix">
										<div class="share-button-group">																				
											<div class="fb-share-button" tal:attributes="data-href Product/getURLViewFull" data-type="button_count" />
										</div>
									</div>
									<div id="facebook">
										<div class="fb-comments"
											tal:attributes="data-href Product/getURLViewFull" 
											data-width="100%" 
											data-numposts="12"
											data-colorscheme="light">
										</div>
									</div>
								</div>
							</div>
							<div class="lg-margin2x"></div><!-- End .space -->
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<h1>GIỚI THIỆU</h1>
									<p tal:content="structure Product/getInfo/getInfo"/>
								</div>
								<div class="lg-margin2x visible-sm visible-xs" />
							</div>							
							<div class="lg-margin2x"></div>
							<div class="row" tal:condition="Product/getMap">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<h1>BẢN ĐỒ</h1>
									<p tal:content="Product/getMap/getLatitude"/>
									<p tal:content="Product/getMap/getLongitude"/>
								</div>
								<div class="lg-margin2x visible-sm visible-xs" />
							</div>
							
							<h2 class="title">TIN CÙNG DANH MỤC</h2>								
							<ul>
								<li tal:repeat="P1 Category1/getProductAll">
									<a tal:attributes="href P1/getURLView">
										<span tal:content="P1/getName"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
			<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		</div>
	</body>
</html>