<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<tal:block metal:use-macro="mFront.xhtml/Breadcrumb"/>
			<div class="row">						
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" tal:content="Title"/>
						</div>
						<div class="panel-body">
							<div class="media media-config" tal:repeat="PT PTAll">
								<a tal:attributes="href PT/getURLRead">
									<h4 tal:content="PT/getPost/getTitleReduce"/>
								</a>
								<a class="media-left" tal:attributes="href PT/getURLRead">
									<img tal:attributes="src PT/getPost/getImage; alt PT/getPost/getTitle" width="210" class="img-thumbnail"/>
								</a>
								<div class="media-body">
									<p>Cập nhật: <i tal:content="PT/getPost/getTimePrint"/></p>
									<p tal:content="structure PT/getPost/getContentReduce" style="text-align:justify"/>
								</div>
							</div>
						</div>
					</div>
					
					<nav class="pagination-config">
						<ul class="pagination">
							<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
								<a tal:attributes="href P/getURL" tal:content="P/getName"/>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-md-3">
					<tal:block metal:use-macro="mFront.xhtml/SearchBox"/>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>