Options +FollowSymlinks
RewriteEngine on
AddDefaultCharset UTF-8

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>

## EXPIRES CACHING ##

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^trang-chu$ 										?cmd=FHome [L]

RewriteRule ^dang-nhap$ 										?cmd=SigninLoad [L]
RewriteRule ^dang-nhap/exe$ 									?cmd=SigninExe [L]
RewriteRule ^signout/load$ 										?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 										?cmd=SignoutExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 				?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 				?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 						?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 						?cmd=ObjectUpd&ObjectName=$1 [L]

RewriteRule ^app$ 												?cmd=App [L]

#---------------------------------------------------------------------------------------------------------------------------
# BRANCH
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^don-vi/([A-Za-z0-9_-]+)$ 								?cmd=Branch&IdKey=$1							[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban$ 						?cmd=BranchSaleCommand&IdKey=$1					[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/([0-9]+)$ 			?cmd=BranchSaleCommandView&IdKey=$1&IdCommand=$2 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/([0-9]+)/huy$ 		?cmd=BranchSaleCommandDel&IdKey=$1&IdCommand=$2 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/([0-9]+)/trinh$ 		?cmd=BranchSaleCommandMail&IdKey=$1&IdCommand=$2 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/([0-9]+)/in$ 			?cmd=BranchSaleCommandPrint&IdKey=$1&IdCommand=$2 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/them$ 				?cmd=BranchSaleCommandInsExe&IdKey=$1	[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/nap$ 					?cmd=BranchSaleCommandLoad&IdKey=$1		[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/han-ngach$ 			?cmd=BranchSaleCommandQuota&IdKey=$1	[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/lenh-ban/han-ngach/exe$ 		?cmd=BranchSaleCommandQuota&IdKey=$1&Reload=1	[L]

RewriteRule ^don-vi/([A-Za-z0-9_-]+)/ban-hang$ 						?cmd=BranchSaleInvoice&IdKey=$1			[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/ban-hang/khach-hang/tim$ 		?cmd=BranchSaleInvoiceCustomerSearch&IdKey=$1 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/ban-hang/([0-9]+)$ 			?cmd=BranchSaleInvoiceCustomer&IdKey=$1&IdCustomer=$2 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/ban-hang/([0-9]+)/them$ 		?cmd=BranchSaleInvoiceCustomerInsExe&IdKey=$1&IdCustomer=$2 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/ban-hang/([0-9]+)/([0-9]+)$ 	?cmd=BranchSaleInvoiceCustomerView&IdKey=$1&IdCustomer=$2&IdInvoice=$3 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/ban-hang/([0-9]+)/([0-9]+)/in$ 	?cmd=BranchSaleInvoiceCustomerPrint&IdKey=$1&IdCustomer=$2&IdInvoice=$3 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/ban-hang/([0-9]+)/([0-9]+)/duyet$ 	?cmd=BranchSaleInvoiceCustomerCheck&IdKey=$1&IdCustomer=$2&IdInvoice=$3 [L]

RewriteRule ^don-vi/([A-Za-z0-9_-]+)/thu-tien$ 						?cmd=BranchCustomerCollect&IdKey=$1			[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/thu-tien/khach-hang/tim$ 		?cmd=BranchCustomerCollectSearch&IdKey=$1	[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/thu-tien/khach-hang/([0-9]+)$ 	?cmd=BranchCustomerCollectView&IdKey=$1&IdCustomer=$2 [L]

RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao$ 										?cmd=BranchReport&IdKey=$1						[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)$ 								?cmd=BranchReportTrackDaily&IdKey=$1&IdTrack=$2	[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/khach-hang$ 					?cmd=BranchReportTrackDailyCustomer&IdKey=$1&IdTrack=$2	[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/khach-hang/([0-9]+)$ 			?cmd=BranchReportTrackDailyCustomer&IdKey=$1&IdTrack=$2&IdTDB=$3 [L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/khach-hang/([0-9]+)/in$ 		?cmd=BranchReportTrackDailyCustomerPrint&IdKey=$1&IdTrack=$2&IdTDB=$3 [L]

RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/khach-hang/([0-9]+)/([0-9]+)$ 	?cmd=BranchReportTrackDailyCustomerView&IdKey=$1&IdTrack=$2&IdTDB=$3&IdTDBC=$4 	[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/khach-hang/([0-9]+)/([0-9]+)/exe$ ?cmd=BranchReportTrackDailyCustomerExe&IdKey=$1&IdTrack=$2&IdTDB=$3&IdTDBC=$4 	[L]
RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/khach-hang/([0-9]+)/([0-9]+)/in$ 	?cmd=BranchReportTrackDailyCustomerViewPrint&IdKey=$1&IdTrack=$2&IdTDB=$3&IdTDBC=$4 [L]

RewriteRule ^don-vi/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/han-ngach/([0-9]+)$ 			?cmd=BranchReportTrackDailyQuota&IdKey=$1&IdTrack=$2&IdTDB=$3 [L]

RewriteRule ^don-vi/([A-Za-z0-9_-]+)/thiet-lap$ 									?cmd=BranchSetting&IdKey=$1						[L]

#---------------------------------------------------------------------------------------------------------------------------
# WAREHOUSE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)$ 							?cmd=Warehouse&IdKey=$1							[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/lenh-nhap$ 					?cmd=WarehouseImport&IdKey=$1					[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/lenh-nhap/([0-9]+)$ 			?cmd=WarehouseImportSupplier&IdKey=$1&IdSupplier=$2	[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/lenh-nhap/([0-9]+)/([0-9]+)$	?cmd=WarehouseImportSupplierView&IdKey=$1&IdSupplier=$2&IdInvoice=$3	[L]

RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/lenh-xuat$ 					?cmd=WarehouseExport&IdKey=$1					[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/lenh-xuat/s1$ 				?cmd=WarehouseExportLoadQueue&IdKey=$1 			[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/lenh-xuat/s2$ 				?cmd=WarehouseExportLoadFinish&IdKey=$1 		[L]

RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/bao-cao$ 						?cmd=WarehouseReport&IdKey=$1						[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)$ 				?cmd=WarehouseReportTrackDaily&IdKey=$1&IdTrack=$2	[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/([0-9]+)$ 		?cmd=WarehouseReportTrackDailyView&IdKey=$1&IdTrack=$2&IdTDW=$3	[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/([0-9]+)/exe$ 	?cmd=WarehouseReportTrackDailyExe&IdKey=$1&IdTrack=$2&IdTDW=$3	[L]
RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/bao-cao/([0-9]+)/([0-9]+)/in$ 	?cmd=WarehouseReportTrackDailyViewPrint&IdKey=$1&IdTrack=$2&IdTDW=$3	[L]

RewriteRule ^kho-hang/([A-Za-z0-9_-]+)/thiet-lap$ 					?cmd=WarehouseSetting&IdKey=$1					[L]

#---------------------------------------------------------------------------------------------------------------------------
# SALE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^ql-ban-hang$ 										?cmd=Sale 				[L]
RewriteRule ^ql-ban-hang/lenh-ban$ 								?cmd=SaleCommand 		[L]
RewriteRule ^ql-ban-hang/lenh-ban/nap$ 							?cmd=SaleCommandLoad	[L]
RewriteRule ^ql-ban-hang/lenh-ban/([0-9]+)$ 					?cmd=SaleCommandView&IdCommand=$1 [L]
RewriteRule ^ql-ban-hang/lenh-ban/([0-9]+)/exe$ 				?cmd=SaleCommandCheck&IdCommand=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# WAREHOUSE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^ql-kho-hang$ 										?cmd=Warehouse [L]
RewriteRule ^ql-kho-hang/lenh-nhap$ 							?cmd=WarehouseImport [L]
RewriteRule ^ql-kho-hang/lenh-nhap/([0-9]+)$ 					?cmd=WarehouseImport&IdSupplier=$1 [L]
RewriteRule ^ql-kho-hang/lenh-nhap/([0-9]+)/ins/exe$ 			?cmd=WarehouseImportInsExe&IdSupplier=$1 [L]
RewriteRule ^ql-kho-hang/lenh-nhap/([0-9]+)/([0-9]+)$ 			?cmd=WarehouseImportView&IdSupplier=$1&IdInvoice=$2 [L]
RewriteRule ^ql-kho-hang/lenh-nhap/([0-9]+)/([0-9]+)/print$ 	?cmd=WarehouseImportViewPrint&IdSupplier=$1&IdInvoice=$2 [L]

RewriteRule ^ql-kho-hang/lenh-xuat$ 							?cmd=WarehouseExport [L]

RewriteRule ^ql-kho-hang/lenh-xuat/([0-9]+)$ 					?cmd=WarehouseExportDetail&IdInvoice=$1 [L]
RewriteRule ^ql-kho-hang/lenh-xuat/([0-9]+)/print$ 				?cmd=WarehouseExportDetailPrint&IdInvoice=$1 [L]
RewriteRule ^ql-kho-hang/lenh-xuat/([0-9]+)/gioi-thieu/print$ 	?cmd=WarehouseExportDetailIntroPrint&IdInvoice=$1 [L]

RewriteRule ^ql-kho-hang/bao-cao/([0-9]+)$ 						?cmd=WarehouseReport&IdTrack=$1 [L]
RewriteRule ^ql-kho-hang/bao-cao/([0-9]+)/([0-9]+)$ 			?cmd=WarehouseReportDaily&IdTrack=$1&IdDaily=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^ql-thiet-lap$ 												?cmd=Setting [L]

RewriteRule ^ql-thiet-lap/don-vi-truc-thuoc$ 							?cmd=SettingBranchGroup [L]
RewriteRule ^ql-thiet-lap/don-vi-truc-thuoc/page/([0-9]+)$ 				?cmd=SettingBranchGroup&Page=$1 [L]
RewriteRule ^ql-thiet-lap/don-vi-truc-thuoc/([0-9]+)$ 					?cmd=SettingBranch&IdGroup=$1 [L]
RewriteRule ^ql-thiet-lap/don-vi-truc-thuoc/([0-9]+)/page/([0-9]+)$ 	?cmd=SettingBranch&IdGroup=$1&Page=$2 [L]

RewriteRule ^ql-thiet-lap/tham-so$ 										?cmd=SettingConfig [L]
RewriteRule ^ql-thiet-lap/tham-so/page/([0-9]+)$ 						?cmd=SettingConfig&Page=$1 [L]

RewriteRule ^ql-thiet-lap/nguoi-dung$ 									?cmd=SettingUser [L]
RewriteRule ^ql-thiet-lap/nguoi-dung/page/([0-9]+)$ 					?cmd=SettingUser&Page=$1 [L]

RewriteRule ^ql-thiet-lap/khach-hang$ 									?cmd=SettingCustomer [L]
RewriteRule ^ql-thiet-lap/khach-hang/([0-9]+)$ 							?cmd=SettingCustomer&IdBranch=$1 [L]
RewriteRule ^ql-thiet-lap/khach-hang/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingCustomer&IdBranch=$1&Page=$2 [L]
RewriteRule ^ql-thiet-lap/khach-hang/([0-9]+)/([0-9]+)$ 				?cmd=SettingCustomerInit&IdBranch=$1&IdCustomer=$2 [L]

RewriteRule ^ql-thiet-lap/hang-hoa$ 									?cmd=SettingGoodGroup [L]
RewriteRule ^ql-thiet-lap/hang-hoa/page/([0-9]+)$ 						?cmd=SettingGoodGroup&Page=$1 [L]
RewriteRule ^ql-thiet-lap/hang-hoa/([0-9]+)$ 							?cmd=SettingGood&IdGroup=$1 [L]
RewriteRule ^ql-thiet-lap/hang-hoa/([0-9]+)/page/([0-9]+)$ 				?cmd=SettingGood&IdGroup=$1&Page=$2 [L]

RewriteRule ^ql-thiet-lap/nha-cung-cap$ 								?cmd=SettingSupplierType [L]
RewriteRule ^ql-thiet-lap/nha-cung-cap/page/([0-9]+)$ 					?cmd=SettingSupplierType&Page=$1 [L]
RewriteRule ^ql-thiet-lap/nha-cung-cap/([0-9]+)$ 						?cmd=SettingSupplier&IdType=$1 [L]
RewriteRule ^ql-thiet-lap/nha-cung-cap/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingSupplier&IdType=$1&Page=$2 [L]
RewriteRule ^ql-thiet-lap/nha-cung-cap/([0-9]+)/([0-9]+)$ 				?cmd=SettingSupplierInit&IdType=$1&IdSupplier=$2 [L]

RewriteRule ^ql-thiet-lap/kho-hang$ 									?cmd=SettingWarehouseGroup [L]
RewriteRule ^ql-thiet-lap/kho-hang/page/([0-9]+)$ 						?cmd=SettingWarehouseGroup&Page=$1 [L]
RewriteRule ^ql-thiet-lap/kho-hang/([0-9]+)$ 							?cmd=SettingWarehouse&IdGroup=$1 [L]
RewriteRule ^ql-thiet-lap/kho-hang/([0-9]+)/page/([0-9]+)$ 				?cmd=SettingWarehouse&IdGroup=$1&Page=$1 [L]
RewriteRule ^ql-thiet-lap/kho-hang/([0-9]+)/([0-9]+)$ 					?cmd=SettingWarehouseInit&IdGroup=$1&IdWarehouse=$2 [L]

RewriteRule ^ql-thiet-lap/phong-ban$ 									?cmd=SettingDepartment [L]
RewriteRule ^ql-thiet-lap/phong-ban/page/([0-9]+)$ 						?cmd=SettingDepartment&Page=$1 [L]
RewriteRule ^ql-thiet-lap/phong-ban/([0-9]+)$ 							?cmd=SettingEmployee&IdDepartment=$1 [L]
RewriteRule ^ql-thiet-lap/phong-ban/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingEmployee&IdDepartment=$1&Page=$2 [L]

RewriteRule ^ql-thiet-lap/theo-doi$ 									?cmd=SettingTrack [L]
RewriteRule ^ql-thiet-lap/theo-doi/page/([0-9]+)$ 						?cmd=SettingTrack&Page=$1 [L]
RewriteRule ^ql-thiet-lap/theo-doi/([0-9]+)$ 							?cmd=SettingTrackDaily&IdTrack=$1 [L]

RewriteRule ^ql-thiet-lap/phuong-tien$ 									?cmd=SettingTransport [L]
RewriteRule ^ql-thiet-lap/phuong-tien/([0-9]+)$ 						?cmd=SettingTransport&IdGroup=$1 [L]
RewriteRule ^ql-thiet-lap/phuong-tien/([0-9]+)/page/([0-9]+)$ 			?cmd=SettingTransport&IdGroup=$1&Page=$2 [L]
