<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mFront.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
                    
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>