<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:attributes="class php:ActiveItem=='Start'?'active':'disable'">
					<a tal:attributes="href Domain/getURLRecommendExe;">
						<i class="glyphicons-circle_info"/>Bắt đầu
					</a>
				</li>	
				<li tal:attributes="class php:ActiveItem=='Next'?'active':'disable'">
					<a tal:attributes="href Domain/getURLRecommendNext">
						<i class="glyphicons-circle_info"/>Tới
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Back'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendBack">
						<i class="glyphicons-circle_info"/>Lui
					</a>
				</li>
				<li tal:attributes="class php:ActiveItem=='Trace'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendTrace">
						<i class="glyphicons-circle_info"/>Dò vết
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Result'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendResult">
						<i class="glyphicons-circle_info"/>Kết quả
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Try'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendTry">
						<i class="glyphicons-circle_info"/>Thử lại
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Like'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendLike">
						<i class="glyphicons-circle_info"/>Thích
					</a>
				</li>
				<li tal:attributes="class php:ActiveItem=='Feed'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendFeed">
						<i class="glyphicons-circle_info"/>Phản hồi
					</a>
				</li>
			</ul>			
		</div>			
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div class="row">
				<div class="col-12">
					<h1 tal:content="php: Question[1]"/>
					<form class="form-horizontal" method="post">
						<input class="btn btn-primary" type="submit" value="Có" />
						<input class="btn btn-primary" type="submit" value="Không" />
					</form>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>