<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:attributes="class php:ActiveItem=='Start'?'active':'disable'">
					<a tal:attributes="href Domain/getURLRecommendExe;">
						<i class="glyphicons-circle_info"/>Bắt đầu
					</a>
				</li>
				<li tal:attributes="class php:ActiveItem=='Trace'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendTrace">
						<i class="glyphicons-circle_info"/>Dò vết
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Result'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendResult">
						<i class="glyphicons-circle_info"/>Kết quả
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Try'?'active':'disable'">
					<a tal:attributes="href Domain/getURLRecommend">
						<i class="glyphicons-circle_info"/>Up
					</a>
				</li>
			</ul>			
		</div>			
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<h3 tal:content="php: 'XÉT ĐẾN CÂU HỎI ' . IndexQ" />
							<table class="table table-bordered table-striped table-hover ">
								<thead>
									<tr>
										<th tal:repeat="Q php:ArrQ">
											<div class="text-right">
												<B tal:content="php:Q[0]"/>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="D php:ArrD">
										<td tal:repeat="C php:D" align="right">
											
											<span tal:condition="php:C=='1'" class="glyphicons-ok_2"/>
											<span tal:condition="php:C!='1'&&C!='0'" tal:content="php:C" />
											
										</td>										
									</tr>									
								</tbody>
							</table>							
							<h3 tal:content="php:count(ArrS) . ' GIẢI PHÁP ĐƯỢC XÉT ĐẾN'" />
							<table class="table table-bordered table-striped table-hover ">
								<thead>
									<tr>
										<th width="120"><div class="text-left">MÃ</div></th>
										<th><div class="text-left">NỘI DUNG</div></th>	
										<th><div class="text-left">INDEX</div></th>	
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="S php:ArrS">
										<td><span tal:content="php:S[0]" /></td>
										<td><span tal:content="php:S[1]" /></td>
										<td><span tal:content="php:S[2]" /></td>
									</tr>
								</tbody>
							</table>
							
							<h3 tal:content="php:count(ArrQ) . ' CÂU HỎI THAM KHẢO'" />
							<table class="table table-bordered table-striped table-hover ">
								<thead>
									<tr>
										<th width="120"><div class="text-left">MÃ</div></th>
										<th><div class="text-left">NỘI DUNG</div></th>	
										<th><div class="text-left">TẦN SUẤT</div></th>	
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Q php:ArrQ">
										<td><span tal:content="php:Q[0]" /></td>
										<td><span tal:content="php:Q[1]" /></td>
										<td><span tal:content="php:Q[2]" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>