<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>		
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="40">#</th>
										<th class="left">TÊN</th>
										<th width="120" class="left">TRẠNG THÁI</th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>									
									<tr tal:repeat="Clause Solve/getClauseAll">
										<td class="center"><span tal:content="repeat/Clause/number"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" 
												tal:content="Clause/getQuestion/getName"
												tal:attributes="id Clause/getId;
																id_question Clause/getIdQuestion;
																state Clause/getState;
												"
											/>
										</td>
										<td>
											<span tal:content="Clause/getStatePrint" />
										</td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Solve/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>									
								</tbody>																								
							</table>
						</div>
					</div>					
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-show_big_thumbnails modal-icon"/>THÊM MỚI MỆNH ĐỀ</h3></div>
								<form id="FormDomainInsert" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="modal-body">
										<div class="form-group">
											<label class="control-label">Id</label>
											<div class="controls">
												<input id="IdSolve1" name="IdSolve1" type="text" class="form-control input-small" tal:attributes="value Solve/getId" readonly="true"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Câu hỏi</label>
											<div class="controls">
												<select name="IdQuestion1" id="IdQuestion1" style="width:80%;">
													<option tal:repeat="Question Domain/getQuestionAll" tal:attributes="value Question/getId">
														<span tal:content="Question/getName" />
													</option>
												</select>
											</div>
										</div>										
										<div class="form-group">
											<label class="control-label">Trạng thái</label>											
											<div class="controls">
												<select name="State1" id="State1" style="width:80%;">
													<option value="1">Khẳng định</option>
													<option value="0">Phủ định</option>
												</select>
											</div>											
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLInsButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- UPDATE DIALOG  -->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-show_big_thumbnails modal-icon"/>CẬP NHẬT MỆNH ĐỀ</h3></div>
								<form id="FormDomainUpdate" action="#" class="form-horizontal" novalidate="novalidate">
									<div class="modal-body">										
										<div class="form-group">
											<label class="control-label">Id</label>
											<div class="controls">
												<input id="IdSolve2" name="IdSolve2" type="text" class="form-control input-small" tal:attributes="value Solve/getId" readonly="true"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Câu hỏi</label>
											<div class="controls">
												<select id="IdQuestion2" name="IdQuestion2" style="width:80%;">
													<option tal:repeat="Question Domain/getQuestionAll" tal:attributes="value Question/getId">
														<span tal:content="Question/getName" />
													</option>
												</select>
											</div>
										</div>										
										<div class="form-group">
											<label class="control-label">Trạng thái</label>
											<div class="controls">
												<select name="State2" id="State2" style="width:80%;">
													<option value="1">Khẳng định</option>
													<option value="0">Phủ định</option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button  id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END UPDATE DIALOG  -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/						
			//-----------------------------------------------------------------------------------
			//Delete 1 DOMAIN			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Clause/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 DOMAIN			
			$("#FormDomainInsert").validate({
				rules:{
					Name1:{
						minlength: 3,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';
					Data[1] = $('#IdSolve1').val();
					Data[2] = $('#IdQuestion1').val();
					Data[3] = $('#State1').val();
																			
					var URL = "/object/ins/Clause";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 CLAUSE
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){				
				//$(this).attr('id_question')
				$('#URLUpdButton').attr('alt', 	$(this).attr('id'));
				$('#IdQuestion2').select2('val'	, $(this).attr('id_question'));
				//$("div.IdQuestion2 select").val("2");

			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 CLAUSE
			//-----------------------------------------------------------------------------------
			$("#FormDomainUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdDomain2').val();
					Data[2] = $('#Name2').val();
					Data[3] = $('#Note2').val();
																		
					var URL = "/object/upd/Solve";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});		
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name2').first().focus()},
					0500
				);
			});
		/*]]>*/
		</script>
	</body>
</html>