<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>		
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>					
					<div class="widget-box">						
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40">ID</th>
										<th width="120" class="left">NGÀY</th>
										<th width="120" class="left">BÀN</th>
										<th class="left">DIỄN GIẢI</th>
										<th width="120" class="right">GIÁ TRỊ</th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Fixed FixedSessionAll">
										<td class="center"><B tal:content="Fixed/getSession/getId"/></td>
										<td><span tal:content="Fixed/getSession/getDateTimePrint"/></td>
										<td><div class="text-left" tal:content="Fixed/getSession/getTable/getName"/></td>
										<td><div class="text-left" tal:content="Fixed/getNote"/></td>
										<td><div class="text-right" tal:content="Fixed/getSession/getValuePrint"/></td>										
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Fixed/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>
							</table>							
						</div>
					</div>
										
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3><i class="glyphicons-disk_save modal-icon"/>THÊM KHOẢN THU</h3></div>
								<form id="FormInsert" action="#" class="form" novalidate="novalidate">
									<div class="modal-body">
										<div class="control-group">
											<label class="control-label">Giao dịch</label>
											<div class="controls">
												<select name="IdSession1" id="IdSession1" style="width:100%;">
													<option tal:repeat="Session SessionAll" tal:attributes="value Session/getId">
														<span tal:content="Session/getId" /> - <span tal:content="Session/getTable/getName" /> [<span tal:content="Session/getDateTimePrint" />] [<B tal:content="Session/getValuePrint" />]
													</option>
												</select>
											</div>
										</div>										
										<div class="control-group">
											<label class="control-label">Diễn giải</label>
											<div class="controls">
												<input id="Note1" name="Note1" type="text" class="form-control input-small"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLInsButton" type="submit" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
															
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
		<script type="text/javascript">
		/*<![CDATA[*/
						
			//-----------------------------------------------------------------------------------
			//Delete 1 SESSION DISABLE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/SessionDisable/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 SESSION DISABLE
			$("#FormInsert").validate({
				rules:{					
					Value1:{
						min: 0,
						number:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';					
					Data[1] = $('#IdSession1').val();					
					Data[2] = $('#Note1').val();
																			
					var URL = "/object/ins/SessionDisable";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(function(){$(event.currentTarget).find('input#Value1').first().focus()}, 0500);
			});
						
		/*]]>*/
		</script>
	</body>
</html>