<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="sidebar">			
			<ul style="display: block;">
				<li tal:repeat="Chapter1 Book/getChapterAll" tal:attributes="class php: Chapter1->getId()==Chapter->getId()?'active':''">
					<a tal:attributes="href Chapter1/getURLSettingBoard">
						<i class="glyphicons-tag"/><span tal:content="Chapter1/getTitle"/>
					</a>
				</li>
			</ul>			
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<a tal:attributes="href Chapter/getURLSettingBoardInsLoad" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>
					<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-remove_2"/> Xóa chọn
					</a>					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th class="left">TIÊU ĐỀ</th>
										<th width="120" class="left">NƯỚC ĐI</th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Board Chapter/getBoardAll">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Board/getId"/></td>
										<td><a tal:attributes="href Board/getURLUpdLoad" tal:content="Board/getName"/></td>
										<td>
											<a tal:attributes="href Board/getURLSettingPoseLoad">
												<span tal:content="Board/getDetailAll/count"/> nước
											</a>
										</td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Board/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>								
							</table>							
						</div>
					</div>					
					
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>				
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Board/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 Book			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Board/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		/*]]>*/
		</script>
	</body>
</html>