<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div class="container-fluid" id="wraper">
				<div class="row">
					<div class="col-md-3">
						
					</div>
					<div class="col-md-6">
						<p align="center"><img src="/mvc/templates/theme/img/bamboo.png"/></p>
						<p align="center">Với niềm đam mê cờ Tướng từ hồi còn bé ...</p>
						<p align="center">Mong muốn chia sẻ những kiến thức cờ Tướng đến các bạn yêu cờ Việt Nam</p>
						<p align="center">Các tư liệu chủ yếu từ Dr Google thu thập về</p>
						<p align="center">Mọi đóng góp cứ email vào <B>tuanbuithanh@gmail.com</B></p>
						<p align="center">Rất hoan nghênh các ý kiến mang tính chất đóng góp và xây dựng.</p>
					</div>
					<div class="col-md-3">
						
					</div>					
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>