<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container" id="wraper">
			<div class="row-fluid">
				<div class="col-md-9 col-sm-9">
					<table class="table table-striped">
						<tr>
							<th width="32px">STT</th>
							<th>PHẦN MỀM</th>						
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:1"/></td>
							<td><a tal:attributes="href '#'">Chương trình CCBridge</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:2"/></td>
							<td><a tal:attributes="href '#'">Chương trình CCW Setup</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:3"/></td>
							<td><a tal:attributes="href '#'">Chương trình CCworld</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:4"/></td>
							<td><a tal:attributes="href '#'">Chương trình Intella</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:5"/></td>
							<td><a tal:attributes="href '#'">Chương trình Sioki</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:6"/></td>
							<td><a tal:attributes="href '#'">Chương trình XQF Tool</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:7"/></td>
							<td><a tal:attributes="href '#'">Chương trình HiddenLynx</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:8"/></td>
							<td><a tal:attributes="href '#'">Chương trình XXFreeware</a></td>
						</tr>
						<tr>
							<td><div class="text-center" tal:content="string:9"/></td>
							<td><a tal:attributes="href '#'">Chương trình Saola</a></td>
						</tr>
					</table>
				</div>
				<div class="col-md-3 col-sm-3">
					
				</div>
			</div>
			<div style="position:absolute; bottom:10px; width:500px; text-align:center; color:#868686; margin-left:-250px; left:50%; font-size:11px; line-height:8px;">
				<p>Cờ Tướng Online &#169; 2015</p>
				<p>SPN Team</p>
			</div>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>