<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container" id="wraper">
			<div class="row-fluid">
				<table class="table table-striped">
					<tr>
						<th width="32px">STT</th>
						<th>DANH MỤC</th>
						<th width="20%">SÁCH</th>
					</tr>
					<tr tal:repeat="CB CategoryBookAll">
						<td><div class="text-center" tal:content="repeat/CB/number"/></td>
						<td><a tal:attributes="href CB/getURLView"><span tal:content="CB/getName"/></a></td>
						<td><a tal:attributes="href CB/getURLView">Xem(<span tal:content="CB/getBookAll/count" />)</a></td>
					</tr>
				</table>
			</div>
			<div style="position:absolute; bottom:10px; width:500px; text-align:center; color:#868686; margin-left:-250px; left:50%; font-size:11px; line-height:8px;">
				<p>Cờ Tướng Online &#169; 2015</p>
				<p>SPN Team</p>
			</div>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>