<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:attributes="class php:ActiveItem=='Start'?'active':'disable'">
					<a tal:attributes="href Domain/getURLRecommendExe;">
						<i class="glyphicons-circle_info"/>Bắt đầu
					</a>
				</li>
				<li tal:attributes="class php:ActiveItem=='Trace'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendTrace">
						<i class="glyphicons-circle_info"/>Dò vết
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Result'?'active':'disable'">	
					<a tal:attributes="href Domain/getURLRecommendResult">
						<i class="glyphicons-circle_info"/>Kết quả
					</a>
				</li>		
				<li tal:attributes="class php:ActiveItem=='Try'?'active':'disable'">
					<a tal:attributes="href Domain/getURLRecommend">
						<i class="glyphicons-circle_info"/>Up
					</a>
				</li>
			</ul>			
		</div>			
		<div id="content">
			<div id="content-header">
				<h1 tal:content="Title"/>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<h1 tal:content="php: Question[1]"/>
							<div class="Answer btn btn-primary" tal:attributes="alt Domain/getURLRecommendAnswerYes">Có</div>
							<div class="Answer btn btn-primary" tal:attributes="alt Domain/getURLRecommendAnswerNo">Không</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/						
			$(".Answer").click(function(){				
				var URL = $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						//location.reload();				
					}
				});				
			});
		/*]]>*/
		</script>
	</body>
</html>