<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">			
			<div id="sidebar">
				<ul style="display: block;">																				
					<li tal:repeat="Tracking1 TrackingAll" tal:attributes="class php:Tracking1->getId()==Tracking->getId()?'active':'disable'">
						<a tal:attributes="href Tracking1/getURLView">
							<i class="icon-book" /><span tal:content="Tracking1/getName"/>							
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="container-fluid">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<table tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>																					
											<th><div class="text-left">NGÀY</div></th>											
											<th width="90"><div class="text-right">BÁN HÀNG</div></th>																			
											<th width="90"><div class="text-right">QUỸ</div></th>											
											<th width="90"><div class="text-center">TK.MÓN</div></th>
											<th width="90"><div class="text-center">TK.KHÁCH</div></th>
											<th width="90"><div class="text-center">TK.NCC</div></th>
											<th width="90"><div class="text-center">TK KHO</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="TD Tracking/getDailyAll">
											<td><div tal:content="TD/getDatePrint"></div></td>
											<td align="right"><a tal:attributes="href TD/getURLReportSelling"><span tal:content="TD/getSellingPrint"/></a></td>
											<td align="right"><b tal:content="TD/getValuePrint"/></td>
											<td align="center"><a tal:attributes="href TD/getURLReportCourse">Xem</a></td>
											<td align="center"><a tal:attributes="href TD/getURLReportCustomer">Xem</a></td>
											<td align="center"><a tal:attributes="href TD/getURLReportSupplier">Xem</a></td>
											<td align="center"><a tal:attributes="href TD/getURLReportStore">Xem</a></td>
										</tr>
										<tr>
											<td align="right"><B>TỔNG KẾT</B></td>
											<td align="right"><B tal:content="ValueSelling/formatCurrency"/></td>																					
											<td align="right"><B tal:content="ValueNew/formatCurrency"/></td>
											<td align="center"><a tal:attributes="href Tracking/getURLReportCourse">Xem</a></td>
											<td align="center" />
											<td align="center" />
											<td align="center" />
										</tr>
									</tbody>
								</table>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//EXE DAILY			
			//-----------------------------------------------------------------------------------
			/*	
			$('.TDExe').click(function(){
				var URL = $(this).attr('alt');				
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						$.gritter.add({
							title		:'Thông tin',
							class_name	:'gritter-green',
							text		:'Đã cập nhật xong BÁO CÁO TRONG NGÀY',
							time		:5000,
							sticky		: false
						});
					}
				});
				location.reload();
			});
			*/			
		/*]]>*/
		</script>
	</body>
</html>