<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<tal:block metal:use-macro="mFront.xhtml/Breadcrumb"/>
			<div class="row">						
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title">Photo Album</h3></div>						
						<div class="panel-body">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li tal:repeat="Image Album/getImageAll" data-target="#carousel-example-generic" tal:attributes="data-slide-to php:repeat.Image.number"/>
								</ol>
								<div class="carousel-inner" role="listbox">
									<div class="item" tal:repeat="Image Album/getImageAll">
										<img tal:attributes="src Image/getURL;alt php:'sequence-slide-' . repeat.Image.number"/>
									</div>
								</div>
								<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<img alt="Khai trương" src="/mvc/templates/front/img/ads.jpg" width="100%" class="img-thumbnail"/>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$('#carousel-example-generic .item:first-child').addClass('active');
			$('#carousel-example-generic .carousel-indicators li:first-child').addClass('active');
		</script>
	</body>
</html>