<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
	</head>
	<body style="background:url('/data/images/gate.jpg') no-repeat center center fixed; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important; background-size: cover !important;">
		<div class="text-center">
			<a class="ron" href="/trang-chu" style="position:absolute; text-align:center; height:220px; left:0; width:100%; background-color:rgba(255, 255, 255, .3); top:50%; margin-top:-110px; box-shadow: 0 20px 20px rgba(255, 255, 255, .3), 0 -20px 20px rgba(255, 255, 255, .3);">
				<img src="/data/images/logo.png"/>
			</a>
			<audio src="/data/mp3/HuongSenDongThap.mp3" controls="true" autoplay="true" preload="auto" loop="true"/>
		</div>
	</body>
</html>