<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div id="slider-sequence" class="homeslider">
					<div class="sequence-prev"></div>
					<div class="sequence-next"></div>
					<ul class="sequence-canvas">						
						<li tal:repeat="Slide Presentation1/getSlideAll" tal:attributes="class php:'sequence-slide' . repeat.Slide.number">
							<div class="sequencebg">
								<img tal:attributes="src Slide/getURL;alt php:'sequence-slide-' . repeat.Slide.number" class="sequencebg-image"/>
							</div>
							<div class="sequence-container container" tal:content="structure Slide/getNote" />
						</li>
					</ul>
					<ul class="sequence-pagination">
						<li tal:repeat="Slide Presentation1/getSlideAll" tal:content="php:'Frame ' . repeat.Slide.number"/>
					</ul>
				</div>
				<div class="md-margin2x"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">
									<header class="content-title"><h2 class="title">MENU MÓN</h2></header>
									<div id="products-tabs-content" class="row tab-content">
										<div class="tab-pane active" id="all">
											<div tal:repeat="Product ProductAll" class="col-md-4 col-sm-6 col-xs-12">
												<div class="item" tal:condition="Product/getInfo">
													<div class="item-image-container">
														<figure>
															<a tal:attributes="href Product/getURLView">
																<img tal:attributes="src Product/getInfo/getImage1" class="item-image"/>
																<img tal:attributes="src Product/getInfo/getImage2" class="item-image-hover"/>
															</a>
														</figure>
														<div class="item-price-container" tal:condition="Product/getPrice2">
															<span class="item-price" tal:content="Product/getPrice2Print"/>
														</div>														
													</div>
													<div class="item-meta-container">
														<div class="ratings-container">
															<div class="ratings">
																<div class="ratings-result" data-result="100"></div>
															</div>
														</div>
														<h3 class="item-name">
															<a tal:attributes="href Product/getURLView" tal:content="Product/getName"/>
														</h3>														
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="purchased-items-container carousel-wrapper">
										<header class="content-title"><div class="title-bg"> <h2 class="title">ẢNH MỚI NHẤT</h2></div></header>
										<div class="carousel-controls">
											<div id="purchased-items-slider-prev1" class="carousel-btn carousel-btn-prev"></div>
											<div id="purchased-items-slider-next1" class="carousel-btn carousel-btn-next carousel-space"></div>
										</div>
										<div class="purchased-items-slider owl-carousel">
											<div class="item" tal:repeat="Album LastestAlbumAll">
												<div class="item-image-container">
													<figure>												
														<a tal:attributes="href Album/getURLView">
															<img tal:attributes="src Album/getImage" class="item-image"/>
															<img tal:attributes="src Album/getImage" class="item-image-hover"/>
														</a>
													</figure>													
												</div>
												<div class="item-meta-container">													
													<h3 class="item-name"><a tal:attributes="href Album/getURLView" tal:content="Album/getName"/></h3>
												</div>
											</div>
										</div>
									</div>
									
									<div class="purchased-items-container carousel-wrapper">
										<header class="content-title"><div class="title-bg"> <h2 class="title">VIDEO MỚI NHẤT</h2></div></header>
										<div class="carousel-controls">
											<div id="purchased-items-slider-prev2" class="carousel-btn carousel-btn-prev"></div>
											<div id="purchased-items-slider-next2" class="carousel-btn carousel-btn-next carousel-space"></div>
										</div>
										<div class="purchased-items-slider owl-carousel">
											<div class="item" tal:repeat="Video LastestVideoAll">
												<div class="item-image-container">
													<figure>												
														<a tal:attributes="href Video/getURLView">
															<img tal:attributes="src Video/getImage" class="item-image"/>
															<img tal:attributes="src Video/getImage" class="item-image-hover"/>
														</a>
													</figure>													
												</div>
												<div class="item-meta-container">													
													<h3 class="item-name"><a tal:attributes="href Video/getURLView" tal:content="Video/getName"/></h3>
												</div>
											</div>
										</div>
									</div>									
								</div>

								<div class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div metal:use-macro="mFront.xhtml/Subscribe"/>
									<div metal:use-macro="mFront.xhtml/Testmonials"/>
									<div metal:use-macro="mFront.xhtml/LastestPost"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$(function() {
				// Sequence.js Slider Plugin
				var options = {
					nextButton: true,
					prevButton: true,
					pagination:true,
					autoPlay: true,
					autoPlayDelay: 8500,
					pauseOnHover: true,
					preloader: true,
					theme: 'slide',
					speed: 700,
					animateStartingFrameIn: true
				},
				homeSlider = $('#slider-sequence').sequence(options).data("sequence");
				/*
				$(".icon-cart-text").click(function(){
					var Data 	= [];
					Data[0]		= $(this).attr('id');
					Data[1]		= $(this).attr('name');
					Data[2]		= $(this).attr('price');
					Data[3]		= $(this).attr('image');
					
					var URL = "/gio-hang/them";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});				
				});
				*/
				
				$(".icon-like").click(function(){
					var Data 	= [];
					Data[0]		= $(this).attr('id');
					Data[1]		= $(this).attr('name');
					Data[2]		= $(this).attr('price');
					Data[3]		= $(this).attr('image');
					
					var URL = "/danh-dau/them";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
				
				});
				
			});
		</script>
	</body>
</html>