<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
	<head>		
		<title>Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp 1</title>
		<base href="http://huongsenhong.com"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="Pragma" content="no-cache"/>
		<meta http-equiv="Expires" content="-1"/>
		<meta http-equiv="Cache-Control" content="no-cache"/>
		<meta name="keywords" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		<meta name="description" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp mô tả nè"/>
		<meta name="page-topic" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		<meta name="Abstract" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp Abstract nè"/>
		<meta name="classification" content="Website Khu Ẩm Thực Sinh Thái Hương Sen Hồng Đồng Tháp"/>
		<meta property="og:title" content="Hương Sen Hồng"/>
		<meta property="og:description" content="Giới thiệu Khu Ẩm Thực Sinh Thái Hương Sen Hồng"/>
		<meta property="og:image" content="ẢNH GÌ À"/>

		<link rel="shortcut icon" type="image/png" href="/data/images/icon.png"/>
	
		<link rel="stylesheet" href="/mvc/templates/front/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/prettyPhoto.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/colpick.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/sequence-slider.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/owl.carousel.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/style.css"/>
		<link rel="stylesheet" href="/mvc/templates/front/css/responsive.css"/>		
	</head>
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div id="slider-sequence" class="homeslider">
				<div class="sequence-prev"></div>
				<div class="sequence-next"></div>
				<ul class="sequence-canvas">						
					<li tal:repeat="Slide Presentation1/getSlideAll" tal:attributes="class php:'sequence-slide' . repeat.Slide.number">
						<div class="sequencebg">
							<img tal:attributes="src Slide/getURL;alt php:'sequence-slide-' . repeat.Slide.number" class="sequencebg-image"/>
						</div>
						<div class="sequence-container container" tal:content="structure Slide/getNote" />
					</li>
				</ul>
				<ul class="sequence-pagination">
					<li tal:repeat="Slide Presentation1/getSlideAll" tal:content="php:'Frame ' . repeat.Slide.number"/>
				</ul>
			</div>			
			<section id="content">				
				<div class="container">
					<div class="row">
						<div class="col-md-12">							
							<div class="xs-margin"></div>
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 articles-container single-post">
									<article class="article">
										<div class="article-meta-date" tal:content="Post/getTimePrint"/>
										<h2 tal:content="php:mb_strtoupper(Post->getTitle(),'UTF8')"/>
										<div class="article-meta-container clearfix">
											<div class="article-meta-more">
												<a href="#"><span class="separator"><i class="fa fa-user"></i></span> <span tal:content="Post/getAuthor"></span></a>
												<div class="share-button-group">										
													<div class="fb-share-button" tal:attributes="data-href 'http://huongsenhong.com/gioi-thieu'" data-type="button_count" />
												</div>
											</div>
											<div class="article-meta-view">
												<span class="separator"><i class="fa fa-eye "></i></span><span tal:content="Post/getViewed"/>
												<a class="Liked Post" tal:attributes="data-id Post/getId">
													<span class="separator"><i class="fa fa-heart"></i></span><span tal:content="Post/getLiked"/>
												</a>
											</div>
										</div>
										<div tal:content="structure Post/getContent" class="article-content-container"/>
									</article>									
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">									
									<div metal:use-macro="mFront.xhtml/Subscribe"/>
									<div metal:use-macro="mFront.xhtml/Testmonials"/>								
								</aside>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			// Sequence.js Slider Plugin
			var options = {
				nextButton: true,
				prevButton: true,
				pagination:true,
				autoPlay: true,
				autoPlayDelay: 8500,
				pauseOnHover: true,
				preloader: true,
				theme: 'slide',
				speed: 700,
				animateStartingFrameIn: true
			},
			homeSlider = $('#slider-sequence').sequence(options).data("sequence");
				
			$('.Liked').click(function(){
				var Data = [];								
				var Id 	= $(this).attr('data-id');
								
				var URL = "/object/liked/Post/"+Id;
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();						
					}
				});
				return false;
			});
		/*]]>*/
		</script>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=525611617524479";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	</body>
</html>