<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix" tal:condition="php: (Product->getImageAll()->count() > 0) ? true:false">
									<div id="product-image-carousel-container">
										<ul id="product-carousel" class="celastislide-list">
											<li class="active-slide">
												<a data-rel='prettyPhoto' tal:attributes="href Product/getImageAll/current/getURL">
													<img tal:attributes="src Product/getImageAll/current/getURL" alt="Phone photo 1"/>
												</a>
											</li>
											<li tal:repeat="Image Product/getImageAll">
												<a data-rel='prettyPhoto' tal:attributes="href Image/getURL">
													<img tal:attributes="src Image/getURL"/>
												</a>
											</li>
										</ul>
									</div>
									<div id="product-image-container">
										<figure>
											<img tal:attributes="src Product/getImageAll/current/getURL; data-big Product/getImageAll/current/getURL" alt="Product Big image" id="product-image"/>
											<figcaption class="item-price-container" tal:condition="Product/getPrice2">
												<span class="item-price" tal:content="Product/getPrice2Print" style="font-size:80%"/>
											</figcaption>
										</figure>
									</div>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 product">
									<div class="lg-margin visible-sm visible-xs"></div><!-- Space -->
									<h1 class="product-name" tal:content="Product/getName"/>
									<div class="ratings-container">
										<div class="ratings separator">
											<div class="ratings-result" data-result="100"></div>
										</div>
									</div>
									<div class="md-margin"></div>
									<div class="product-extra clearfix">
										<div class="share-button-group">																				
											<div class="fb-share-button" tal:attributes="data-href Product/getURLViewFull" data-type="button_count" />
										</div>
									</div>
									<div id="facebook">
										<div class="fb-comments"
											tal:attributes="data-href Product/getURLViewFull" 
											data-width="100%" 
											data-numposts="12"
											data-colorscheme="light">
										</div>
									</div>
								</div>
							</div>
							<div class="lg-margin2x"></div><!-- End .space -->
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">									
									<p tal:content="structure Product/getInfo/getInfo"/>																		
								</div>
								<div class="lg-margin2x visible-sm visible-xs"></div>
							</div>							
							<div class="lg-margin2x"></div>
							<div class="purchased-items-container carousel-wrapper">
								<header class="content-title">
									<div class="title-bg"> <h2 class="title">Món cùng mục</h2></div>
								</header>
								<div class="carousel-controls">
									<div id="purchased-items-slider-prev1" class="carousel-btn carousel-btn-prev"></div>
									<div id="purchased-items-slider-next1" class="carousel-btn carousel-btn-next carousel-space"></div>
								</div><!-- End .carousel-controllers -->
								<div class="purchased-items-slider owl-carousel">
									<div class="item" tal:repeat="P1 Category1/getProductAll">
										<div class="item-image-container">
											<figure>												
												<a tal:attributes="href P1/getURLView">
													<img tal:attributes="src P1/getInfo/getImage1" class="item-image"/>
													<img tal:attributes="src P1/getInfo/getImage2" class="item-image-hover"/>
												</a>
											</figure>
											<div class="item-price-container" tal:condition="P1/getPrice2">
												<span class="item-price" tal:content="P1/getPrice2Print"/>
											</div>											
										</div>
										<div class="item-meta-container">
											<div class="ratings-container">
												<div class="ratings">
													<div class="ratings-result" data-result="100" />
												</div>												
											</div>
											<h3 class="item-name"><a tal:attributes="href P1/getURLView" tal:content="P1/getName"/></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$(function() {
				var carouselContainer = $('#product-carousel'),
					productImg =  $('#product-image');
				carouselContainer.elastislide({
					orientation : 'vertical',
					minItems : 4
				});
				productImg.mlens({
					imgSrc: $("#product-image").attr("data-big"),         
					lensShape: "square",
					lensSize: 150,
					borderSize: 4,
					borderColor: "#999",
					borderRadius: 0
				});
				var oldImg = productImg.attr('src');
				carouselContainer.find('li').on('mouseover', function() {
					var newImg = $(this).find('a').attr('href');
					productImg.attr({'src': newImg, 'data-big': newImg}).trigger('imagechanged');
				});
				productImg.on('imagechanged', function() {
					productImg.mlens("update", 0 ,{
						imgSrc: productImg.attr("data-big"),
						lensShape: "square",
						lensSize: 150,
						borderSize: 4,
						borderColor: "#999"
					});
				});
				
				$(".icon-cart-text").click(function(){
					var Data 	= [];
					Data[0]		= $(this).attr('id');
					Data[1]		= $(this).attr('name');
					Data[2]		= $(this).attr('price');
					Data[3]		= $(this).attr('image');
					
					var URL = "/gio-hang/them";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});				
				});

			});
		</script>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1&appId=525611617524479";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	</body>
</html>