Options +FollowSymlinks
RewriteEngine on
AddDefaultCharset UTF-8

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^trang-chu$ 																?cmd=FHome [L]

RewriteRule ^bai-viet/([A-Za-z0-9_-]+)$													?cmd=FCategoryPost&KCategory=$1 [L]
RewriteRule ^bai-viet/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$								?cmd=FPost&KCategory=$1&KPost=$2 [L]

RewriteRule ^sach/([A-Za-z0-9_-]+)$														?cmd=FCategoryBook&KCategory=$1 [L]
RewriteRule ^sach/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$									?cmd=FBook&KCategory=$1&KBook=$2 [L]
RewriteRule ^sach/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$					?cmd=FChapter&KCategory=$1&KBook=$2&KChapter=$3 [L]
RewriteRule ^sach/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)$	?cmd=FBoard&KCategory=$1&KBook=$2&KChapter=$3&KBoard=$4 [L]
RewriteRule ^sach/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)/embeded/([0-9]+)$	?cmd=FBoardEmbeded&KCategory=$1&KBook=$2&KChapter=$3&KBoard=$4&Mode=$5 [L]

RewriteRule ^lien-he$ 											?cmd=FContact 		[L]
RewriteRule ^login$ 											?cmd=FLogin 		[L]
RewriteRule ^dang-ki$ 											?cmd=FRegister 		[L]

RewriteRule ^dang-nhap$ 										?cmd=SigninLoad [L]
RewriteRule ^dang-nhap/exe$ 									?cmd=SigninExe [L]
RewriteRule ^signout/load$ 										?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 										?cmd=SignoutExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 				?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 				?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 						?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 						?cmd=ObjectUpd&ObjectName=$1 [L]
RewriteRule ^object/liked/([A-Za-z0-9]+)/([0-9]+)$ 				?cmd=ObjectLiked&ObjectName=$1&Id=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^admin$ 													?cmd=Admin [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^admin/book$ 												?cmd=ABook [L]
RewriteRule ^admin/book/([0-9]+)$ 										?cmd=ABook&IdCategory=$1 [L]
RewriteRule ^admin/book/([0-9]+)/ins/load$ 								?cmd=ABookInsLoad&IdCategory=$1 			[L]
RewriteRule ^admin/book/([0-9]+)/ins/exe$ 								?cmd=ABookInsExe&IdCategory=$1 				[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/upd/load$ 					?cmd=ABookUpdLoad&IdCategory=$1&IdBook=$2 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/upd/exe$ 						?cmd=ABookUpdExe&IdCategory=$1&IdBook=$2	[L]

RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter$ 						?cmd=ABookChapter&IdCategory=$1&IdBook=$2 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/ins/load$ 			?cmd=ABookChapterInsLoad&IdCategory=$1&IdBook=$2 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/ins/exe$ 				?cmd=ABookChapterInsExe&IdCategory=$1&IdBook=$2 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/upd/load$ 	?cmd=ABookChapterUpdLoad&IdCategory=$1&IdBook=$2&IdChapter=$3 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/upd/exe$ 	?cmd=ABookChapterUpdExe&IdCategory=$1&IdBook=$2&IdChapter=$3 	[L]

RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board$ 					?cmd=ABookChapterBoard&IdCategory=$1&IdBook=$2&IdChapter=$3 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/ins/load$ 			?cmd=ABookChapterBoardInsLoad&IdCategory=$1&IdBook=$2&IdChapter=$3 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/ins/exe$ 			?cmd=ABookChapterBoardInsExe&IdCategory=$1&IdBook=$2&IdChapter=$3 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/([0-9]+)/upd/load$ ?cmd=ABookChapterBoardUpdLoad&IdCategory=$1&IdBook=$2&IdChapter=$3&IdBoard=$4 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/([0-9]+)/upd/exe$ 	?cmd=ABookChapterBoardUpdExe&IdCategory=$1&IdBook=$2&IdChapter=$3&IdBoard=$4 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/([0-9]+)/pose/load$ 	?cmd=ABookChapterBoardPoseLoad&IdCategory=$1&IdBook=$2&IdChapter=$3&IdBoard=$4 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/([0-9]+)/pose/exe$ 	?cmd=ABookChapterBoardPoseExe&IdCategory=$1&IdBook=$2&IdChapter=$3&IdBoard=$4 	[L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/([0-9]+)/state/load$ 	?cmd=ABookChapterBoardStateLoad&IdCategory=$1&IdBook=$2&IdChapter=$3&IdBoard=$4 [L]
RewriteRule ^admin/book/([0-9]+)/([0-9]+)/chapter/([0-9]+)/board/([0-9]+)/state/exe$ 	?cmd=ABookChapterBoardStateExe&IdCategory=$1&IdBook=$2&IdChapter=$3&IdBoard=$4 	[L]

RewriteRule ^admin/post$ 												?cmd=APost [L]
RewriteRule ^admin/post/([0-9]+)$ 										?cmd=APost&IdCategory=$1 [L]

RewriteRule ^admin/post/([0-9]+)/ins/load$ 								?cmd=APostInsLoad&IdCategory=$1 			[L]
RewriteRule ^admin/post/([0-9]+)/ins/exe$ 								?cmd=APostInsExe&IdCategory=$1 			[L]
RewriteRule ^admin/post/([0-9]+)/([0-9]+)/upd/load$ 					?cmd=APostUpdLoad&IdCategory=$1&IdPost=$2 [L]
RewriteRule ^admin/post/([0-9]+)/([0-9]+)/upd/exe$ 						?cmd=APostUpdExe&IdCategory=$1&IdPost=$2	[L]

RewriteRule ^admin/setting$ 											?cmd=ASetting [L]

RewriteRule ^admin/setting/category/post$ 								?cmd=ASettingCategoryPost [L]
RewriteRule ^admin/setting/category/post/page/([0-9]+)$ 				?cmd=ASettingCategoryPost&Page=$1 [L]
RewriteRule ^admin/setting/category/book$ 								?cmd=ASettingCategoryBook [L]
RewriteRule ^admin/setting/category/book/page/([0-9]+)$ 				?cmd=ASettingCategoryBook&Page=$1 [L]
RewriteRule ^admin/setting/category/board$ 								?cmd=ASettingCategoryBoard [L]
RewriteRule ^admin/setting/category/board/page/([0-9]+)$ 				?cmd=ASettingCategoryBoard&Page=$1 [L]

RewriteRule ^admin/setting/config$ 										?cmd=ASettingConfig [L]
RewriteRule ^admin/setting/config/page/([0-9]+)$ 						?cmd=ASettingConfig&Page=$1 [L]

RewriteRule ^admin/setting/user$ 										?cmd=ASettingUser [L]
RewriteRule ^admin/setting/user/page/([0-9]+)$ 							?cmd=ASettingUser&Page=$1 [L]
