<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">				
				<div metal:use-macro="mFront.xhtml/LocationBar"/>				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<header class="content-title">
								<h1 class="title">GIỎ HÀNG CỦA BẠN</h1>
								<p class="title-desc">
									Chỉ trong tuần bạn có thể nhận ngay sản phẩm.
								</p>
							</header>
							<div class="xs-margin"></div><!-- space -->
							<div class="row">
								<div class="col-md-12 table-responsive">									
									<table class="table cart-table">
										<thead>
											<tr>
												<th class="table-title">TÊN SẢN PHẨM</th>
												<th class="table-title" style="text-align:right;">GIÁ</th>
												<th class="table-title">SỐ LƯỢNG</th>
												<th class="table-title" style="text-align:right;">T.TIỀN</th>
												<th class="table-title" width="30"></th>
											</tr>
										</thead>
										<tbody tal:repeat="Item Cart/getItems">
											<tr>
												<td class="item-name-col">
													<figure>
														<img width="50%" tal:attributes="src php:Item['Image']" />
													</figure>
													<header class="item-name">
														<span tal:content="php:Item['Name']"/>
													</header>													
												</td>
												<td class="item-price-col" style="text-align:right;">
													<span class="item-price-special" tal:content="php:Item['PriceP']" />
												</td>
												<td>
													<div class="custom-quantity-input">
														<input type="text" name="Quantity" tal:attributes="value php:Item['Quantity']"/>
														<div class="quantity-btn quantity-input-up" 	tal:attributes="alt php:Item['URLPlusUpd']">	<i class="fa fa-angle-up"></i></div>
														<div class="quantity-btn quantity-input-down"	tal:attributes="alt php:Item['URLMinusUpd']">	<i class="fa fa-angle-down"></i></div>
													</div>
												</td>
												<td class="item-total-col" style="text-align:right;">
													<span class="item-price-special" tal:content="php:Item['ValueP']"/>
												</td>
												<td class="item-total-col">
													<div tal:attributes="alt php:Item['URLDel']" class="close-button" style="cursor:pointer;"/>
												</td>
											</tr>											
										</tbody>
										<tfoot>
											<tr>
												<td colspan="3"><B>TỔNG CỘNG</B></td>
												<td style="text-align:right;">													
													<span class="item-price-special" tal:content="Cart/getValuePrint" />
												</td>
												<td></td>
											</tr>
										</tfoot>	
									</table>									
								</div>
							</div>
							<div class="xs-margin"></div><!-- space -->
							<header class="content-title">
								<h1 class="title">THÔNG TIN CỦA BẠN</h1>
								<p class="title-desc">
									Để chúng tôi có thể liên lạc xác nhận thông tin
								</p>
							</header>
							<div class="xs-margin"></div><!-- space -->
							<div class="row">
								<div class="col-md-12 table-responsive">																		
									<div class="col-md-6 col-sm-6 col-xs-12">								   										   		
								   		<div class="xs-margin"></div>								   		
										<div class="input-group">
											<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
											<input type="text" class="form-control input-lg" placeholder="Email của bạn" />
										</div>
										<div class="input-group">
											<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Điện thoại&#42;</span></span>
											<input type="text" class="form-control input-lg" placeholder="Điện thoại của bạn" />
										</div>								   		
								   	</div>
									<div>
										<div class="lg-margin" />
										<div class="text-right">
											<input type="submit" class="btn btn-custom-2" value="Xác nhận" />
										</div>
									</div>
								</div>								
							</div>
							
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$(function() {				
				$(".close-button").click(function(){										
					var URL = $(this).attr('alt');
					$.ajax({
						type: "POST",						
						url: URL,
						success: function(msg){
							location.reload();
						}
					});				
				});
				
				$(".quantity-btn").click(function(){
					var URL = $(this).attr('alt');										
					$.ajax({
						type: "POST",						
						url: URL,
						success: function(msg){
							location.reload();
						}
					});				
				});
				
			});
		</script>
	</body>
</html>