<!DOCTYPE html>
<html>
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="og:title"			tal:attributes="content Post/getTitle"/>
		<meta property="og:description"		tal:attributes="content Post/getContentReduce"/>
		<meta property="og:image"			tal:attributes="content Post/getImage"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>		
		<div class="container">
			<tal:block metal:use-macro="mFront.xhtml/Header"/>
			<tal:block metal:use-macro="mFront.xhtml/Presentation"/>
			<tal:block metal:use-macro="mFront.xhtml/Marquee"/>
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title" tal:content="Post/getTitle"/></div>						
						<div class="panel-body">
							<div class="page-header clearfix">								
								<p class="pull-left">Ngày đăng: <i tal:content="Post/getTimePrint"/></p>
								<div class="share-button-group pull-right">
									<div class="fb-share-button" tal:attributes="data-href 'http://huongsenhong.com/gioi-thieu'" data-type="button_count" />
								</div>
							</div>
							<p tal:content="structure Post/getContent"/>
							<b class="pull-right" tal:content="Post/getAuthor"/>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<tal:block metal:use-macro="mFront.xhtml/ADS-1"/>
					<tal:block metal:use-macro="mFront.xhtml/Subscribe"/>					
					<tal:block metal:use-macro="mFront.xhtml/LikeBox"/>
				</div>
			</div>
			<tal:block metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>						
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#carousel-presentation-generic').carousel({pause: "false"});
			$('#carousel-presentation-generic .item:first-child').addClass('active');			
			
			$('.Liked').click(function(){
				var Data = [];								
				var Id 	= $(this).attr('data-id');
								
				var URL = "/object/liked/Post/"+Id;
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();						
					}
				});
				return false;
			});
		/*]]>*/
		</script>
	</body>
</html>