<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
	</head>
	<body style="overflow:hidden; position:absolute; width:100%; height:100%;">
			<a href="/trang-chu" style="position:fixed; text-align:center; height:220px; left:0; width:100%; background-color:rgba(255, 255, 255, .3); top:50%; margin-top:-110px; box-shadow: 0 20px 20px rgba(255, 255, 255, .3), 0 -20px 20px rgba(255, 255, 255, .3);">
				<img src="/data/images/logo.png" width="75%"/>
			</a>
			<audio src="/data/mp3/Matsuri-Kitaro.mp3" autoplay="true" preload="auto" loop="true"/>
			<video
				width="100%"
				height="100%"
				autoplay="true"
				loop="true"
				style="
					position:fixed;
					right:0;
					bottom:0;
					min-width:100%;
					min-height:100%;
					width:auto;
					height:auto;
					z-index:-100;">
				<source src="/data/video/HuongSenHong.mp4" type="video/mp4" />
			</video>
	</body>
</html>