<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">
			<div id="sidebar">
				<ul style="display: block;">
					<li><a target="blank" tal:attributes="href Tracking/getURLCourse"><i class="icon-beer" /> CÁC MÓN</a></li>
					<li><a target="blank" tal:attributes="href Tracking/getURLSellingGeneral"><i class="icon-book" /> TỔNG KẾT</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">								
								<div role="grid" class="dataTables_wrapper">
									<table class="table table-bordered table-striped table-hover data-table">
										<thead>
											<tr role="row">												
												<th><div class="text-left">NGÀY</div></th>
												<th width="120"><div class="text-left">DOANH SỐ</div></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">											
											<tr tal:repeat="Day Tracking/getURLDayAll" class="gradeA odd">
												<td><a tal:attributes="href php:Day[1]" target="blank"><span tal:content="php:Day[0]"/></a></td>
												<td><a tal:attributes="href php:Day[1]" target="blank"><span class="icon-print"/></a></td>
											</tr>											
										</tbody>
									</table>
									<br/>
									<table class="table table-bordered table-striped table-hover data-table">
										<caption><h3>LƯƠNG THÁNG</h3></caption>
										<thead>
											<tr>										
												<th width="32"><div class="text-center">STT</div></th>
												<th><div class="text-left">NHÂN VIÊN</div></th>
												<th width="120"><div class="text-left">LƯƠNG</div></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">											
											<tr tal:repeat="Employee EmployeeAll">
												<td><div class="text-center" tal:content="repeat/Employee/number"/></td>
												<td><div tal:content="Employee/getName"/></td>
												<td>
													<div class="text-left">
														<a target="blank" tal:attributes="href php:'/report/' . Tracking->getId() . '/payroll/' . Employee->getId()">
															<i class="icon-print"/>
														</a>
													</div>
												</td>
											</tr>
											<tr>
												<td />
												<td><div class="text-left" tal:content="string:BẢNG TỔNG HỢP"/></td>
												<td>
													<div class="text-left">
														<a target="blank" tal:attributes="href php:'/report/' . Tracking->getId() . '/payroll/general'"><i class="icon-print"/></a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>