<body>
	<BR/>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<BR />
	<table width="100%" border="1" cellpadding="2" >
		<tr>			
			<th width="60%" align="right"><B>LOẠI CHI</B></th>
			<th width="40%" align="right"><B>TỔNG TIỀN</B></th>
		</tr>
		<tr>
			<td align="right">TIỀN LƯƠNG</td>
			<td align="right" tal:content="php: Tracking->getPaidPayRollAllValuePrint()" />
		</tr>
		<tr tal:repeat="Term TermAll">
			<td align="right" tal:content="Term/getName" />
			<td align="right" tal:content="php: Tracking->getPaidAllValuePrint(Term->getId())" />
		</tr>
		<tr>			
			<th align="right"><B>TỔNG CỘNG</B></th>
			<th align="right"><B tal:content="php:Tracking->getPaidAllSumValuePrint()"/></th>
		</tr>
	</table>
	<!--
	<P align="right">
		(<span tal:content="php:Tracking->getPaidAllValueStrPrint( Term->getId() )" />)
	</P>
	!-->
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" tal:content="DateCurrent" />
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP BẢNG</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">P.GIÁM ĐỐC</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center" />
			<td width="30%" align="center" />
			<td width="35%" align="center">Lê Nguyễn Đông Khoa</td>
		</tr>
	</table>
</body>