<body>
	<BR/>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<BR />
	<table width="100%" border="0" cellpadding="2">
		<tr>
			<th width="40%" align="left"></th>
			<th width="60%" align="right"></th>
		</tr>
		<tr>
			<td align="left"><B>1. KHOẢN THU</B></td>
			<td align="right"><B tal:content="Tracking/getCollectAllSumValuePrint" /></td>
		</tr>
		<tr>
			<td align="left">DOANH SỐ</td>
			<td align="right">
				<span tal:content="Tracking/getSessionAllValuePrint" />
			</td>
		</tr>
		<tr tal:repeat="TermCollect TermCollectAll">
			<td align="left"><span tal:content="TermCollect/getName" /></td>
			<td align="right">
				<span tal:content="php:Tracking->getCollectAllValuePrint( TermCollect->getId() )" />
			</td>
		</tr>
		<tr> <td /> <td /></tr>
		<tr>
			<td align="left"><B>2. KHOẢN CHI</B></td>
			<td align="right"><B tal:content="php:Tracking->getPaidAllSumValuePrint( )" /></td>
		</tr>
		<tr tal:repeat="Term TermAll">
			<td align="left"><span tal:content="Term/getName" /></td>
			<td align="right"><span tal:content="php:Tracking->getPaidAllValuePrint( Term->getId() )" /></td>
		</tr>
		<tr>
			<td align="left">LƯƠNG NHÂN VIÊN</td>
			<td align="right">
				<span tal:content="Tracking/getPaidPayRollAllValuePrint" />
			</td>
		</tr>
		<tr> <td /> <td /></tr>
		<tr>
			<td align="left"><B>3. NHẬP HÀNG</B></td>
			<td align="right"><B tal:content="php:Tracking->getOrderAllSumValuePrint( )" /></td>
		</tr>
		<tr tal:repeat="Supplier SupplierAll">
			<td align="left"><span tal:content="Supplier/getName" /></td>
			<td align="right"><span tal:content="php:Tracking->getOrderAllValuePrint( Supplier->getId() )" /></td>
		</tr>
		<tr> <td /> <td /></tr>
		<tr>
			<td align="left"><B>4. TỒN KHO</B></td>
			<td align="right"><B tal:content="php:Tracking->getTrackingStoreValuePrint( )" /></td>
		</tr>
		<tr> <td /> <td /></tr>
		<tr>
			<td align="left"><B>5. KHẤU HAO TÀI SẢN</B></td>
			<td align="right"><B tal:content="php:Tracking->getEstateRatePrint( )" /></td>
		</tr>
		<tr> <td /> <td /></tr>
		<tr>
			<td align="left"><B>6. SỐ DƯ CUỐI</B></td>
			<td align="right"><H3 tal:content="php:Tracking->getValuePrint( )" /></td>
		</tr>
	</table>	
	<P align="right">(<b tal:content="php:Tracking->getValueStrPrint( )" />)</P>	
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" tal:content="DateCurrent" />
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP BẢNG</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">GIÁM ĐỐC</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center"></td>
		</tr>
	</table>
</body>