<body>
	<BR/>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<br/>
	<table width="100%" border="0" cellpadding="2">
		<tr>
			<td align="right" width="50%">LƯƠNG CƠ BẢN</td>
			<td align="left" width="50%"> + <B tal:content="Employee/getSalaryBasePrint"/> ĐỒNG</td>
		</tr>		
		<tr>
			<td align="right">LÀM THÊM</td>
			<td align="left"> + <B tal:content="ExtraValue"/> ĐỒNG (<span tal:content="Extra"/> CA)</td>
		</tr>		
		<tr>
			<td align="right">NGHỈ </td>
			<td align="left"> - <B tal:content="AbsentValue"/> ĐỒNG (<span tal:content="Absent"/> CA)</td>
		</tr>		
		<tr>
			<td align="right">PHẠT TRỄ</td>
			<td align="left"> - <B tal:content="LateValue"/> ĐỒNG (<span tal:content="Late"/> PHÚT)</td>
		</tr>
		<tr>
			<td align="right">--------------------------</td>
			<td align="left">--------------</td>
		</tr>
		<tr>
			<td align="right"><b>TỔNG LƯƠNG</b></td>
			<td align="left"> + <B tal:content="Salary"/> ĐỒNG</td>
		</tr>
	</table>
	<BR/>
	<table width="100%" border="1" cellpadding="2" >		
		<tr>
			<th width="5%"><B>#ID</B></th>
			<th width="20%" align="left"><B>THỜI GIAN</B></th>
			<th width="25%" align="left"><B>LÀM VIỆC</B></th>
			<th width="25%" align="left"><B>TĂNG CA</B></th>
			<th width="25%" align="left"><B>ĐI TRỄ</B></th>
		</tr>
		<tr tal:repeat="PR PRAll">
			<td align="center" 	tal:content="repeat/PR/number" />			
			<td align="left" 	tal:content="PR/getDatePrint" />
			<td align="left" 	tal:content="PR/getStatePrint" />
			<td align="left" 	tal:content="PR/getExtraPrint" />
			<td align="left" 	tal:content="PR/getLatePrint" />
		</tr>		
	</table>
</body>