<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">
									<table class="table table-bordered table-striped table-hover data-table">
										<thead>
											<tr>
												<th width="32">#</th>
												<th><div class="text-left">TÊN MÓN</div></th>
												<th width="120"><div class="text-left">ĐƠN VỊ</div></th>
												<th width="120"><div class="text-right">S.LƯỢNG</div></th>
												<th width="120"><div class="text-right">ĐƠN GIÁ</div></th>
												<th width="120"><div class="text-right">T.TIỀN</div></th>
												<th width="30" />
											</tr>
										</thead>
										<tbody>
											<tr tal:repeat="Detail Session/getDetails">
												<td align="center" tal:content="repeat/Detail/number" />
												<td>
													<a tal:attributes="href Detail/getURLUpdLoad">
														<span tal:content="Detail/getCourse/getName"/>
													</a>
												</td>
												<td tal:content="Detail/getCourse/getUnit" />
												<td align="right" tal:content="Detail/getCount" />
												<td align="right" tal:content="Detail/getPricePrint" />
												<td align="right" tal:content="Detail/getValuePrint" />
												<td>
													<a tal:attributes="href Detail/getURLDelLoad">
														<span class="icon-remove"/>
													</a>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th colspan="5"><div class="text-right">TỔNG CỘNG</div></th>
												<th><div class="text-right" tal:content="Session/getValuePrint"/></th>
												<th />
											</tr>
										</tfoot>
									</table>
									<a class="btn"  tal:attributes="href Session/getURLUpdLoad">GIẢM GIÁ</a>
									<a target="blank" class="btn"  tal:attributes="href Session/getURLPrint">IN PHIẾU</a>
									
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
	</body>
</html>
