<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SellingDomainTableEvalLoad.js"/>	
	</head>
<body>
	<div data-role="page" class="type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">				
				<form tal:attributes="action Table/getURLEvalExe" method="post" data-ajax="false">
					<ul data-role="listview" data-theme="c" data-dividertheme="b">
						<li data-role="list-divider" tal:content="Title" />
						<li data-role="fieldcontain">
							<label for="DateTime">Bắt đầu:</label>
							<input type="text" name="DateTime" id="DateTime" tal:attributes="value Session/getDateTime" />
						</li>
						<li data-role="fieldcontain">
							<label for="DateTimeEnd">Kết thúc:</label>
							<input type="text" name="DateTimeEnd" id="DateTimeEnd" tal:attributes="value Session/getDateTimeEnd" />
						</li>
						<button data-corners="false" type="submit" data-theme="c"  data-icon="check" name="submit" value="submit-value">Tính</button>
					</ul>					
				</form>				
			</div>
			<div class="content-secondary">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>