<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">
			<div id="sidebar">
				<ul style="display: block;">
					<li tal:repeat="Category1 CategoryAll" tal:attributes="class php: Category1->getId()==Category->getId() ? 'active':'disable'">
						<a tal:attributes="href php: URLCallLoad . '/' . Category1->getId()"><span tal:content="Category1/getName"/></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">
									<table class="Table table table-striped table-hover" tal:attributes="alt URLCall">
										<thead>
											<tr>
												<th width="32">STT</th>
												<th><div class="text-left">TÊN</div></th>
												<th width="60">TĂNG</th>
												<th width="60"></th>
												<th width="60">GIẢM</th>
											</tr>
										</thead>
										<tbody>
											<tr class="Course" tal:repeat="Course Category/getCourseAll" tal:attributes="alt Course/getId">
												<td width="32">
													<div tal:content="repeat/Course/number" />
												</td>
												<td>											
													<span tal:content="Course/getName"/>
												</td>										
												<td>
													<button class="Plus btn" tal:attributes="alt Course/getId">Tăng</button>
												</td>
												<td><span class="count" tal:content="string:0"/></td>
												<td>											
													<button class="Minus btn" tal:attributes="alt Course/getId">Giảm</button>
												</td>
											</tr>									
										</tbody>
									</table>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/			
			$('.Plus').click(function(){
				var URL = $(".Table").attr('alt');
				var IdCourse = $(this).attr('alt');
				var Count = $(this.parentNode.parentNode.childNodes[7]).html();
								
				URL = URL+"/"+IdCourse+"/plus";
				
				$.ajax({
					type: "POST", 
					async: false,
					url: URL,
					dataType: 'json',
					success: function(data){
						Count = data.Count;				
					}
				});		
				$(this.parentNode.parentNode.childNodes[7]).html( Count);
				
			});	
						
			$('.Minus').click(function(){
				var URL = $(".Table").attr('alt');
				var IdCourse = $(this).attr('alt');
				var Count = $(this.parentNode.parentNode.childNodes[7]).html();
								
				URL = URL+"/"+IdCourse+"/minus";
				
				$.ajax({
					type: "POST", 
					async: false,
					url: URL,
					dataType: 'json',
					success: function(data){
						Count = data.Count;				
					}
				});		
				$(this.parentNode.parentNode.childNodes[7]).html( Count);
			});	
			/*]]>*/
		</script>
	</body>
</html>