<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-align-justify"></i></span>
								<h5>CẬP NHẬT</h5>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" tal:attributes="action UserSelected/getURLUpdExe" method="post">
									<div class="control-group">
										<label class="control-label" for="Name">Tên</label>
										<div class="controls">
											<input id="Name" name="Name" type="text" tal:attributes="value UserSelected/getName" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Email">Email</label>
										<div class="controls">
											<input id="Email" name="Email" type="text" tal:attributes="value UserSelected/getEmail" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Pass">Mật khẩu</label>
										<div class="controls">
											<input id="Pass" name="Pass" type="text" tal:attributes="value UserSelected/getPass" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Type">Loại</label>
										<div class="controls">
											<select name="Type" id="Type" class="form-control input-sm">
												<option value="1" tal:attributes="selected php:UserSelected->getType()==1">Bán Hàng</option>
												<option value="2" tal:attributes="selected php:UserSelected->getType()==2">Quản Lý</option>
												<option value="3" tal:attributes="selected php:UserSelected->getType()==3">Quan Sát</option>
												<option value="4" tal:attributes="selected php:UserSelected->getType()==4">Quản Trị</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Gender">Giới tính</label>
										<div class="controls">
											<select name="Gender" id="Gender" class="form-control input-sm">
												<option value="0" tal:attributes="selected UserSelected/getGender">Nam</option>
												<option value="1" tal:attributes="selected UserSelected/getGender">Nữ</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Code">Mã code</label>
										<div class="controls">
											<input id="Code" name="Code" type="text" tal:attributes="value UserSelected/getCode" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Note">Ghi chú</label>
										<div class="controls">
											<input id="Note" name="Note" type="text" tal:attributes="value UserSelected/getNote" class="form-control input-sm"/>
										</div>
									</div>									
									<div class="form-actions">
										<button class="btn btn-primary btn-sm" type="submit"><i class="icon-download-alt"/> Lưu</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>