<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="sidebar">
			<ul style="display: block;">				
				<li tal:repeat="Category1 CategoryBoardAll" tal:attributes="class php: Category1->getId()==Category->getId()?'active':''">
					<a tal:attributes="href Category1/getURLSetting">
						<i class="glyphicons-tag"/><span tal:content="Category1/getName"/>
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<!--
					<a tal:attributes="href Category/getURLSettingBookInsLoad" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>
					<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-remove_2"/> Xóa chọn
					</a>
					!-->
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th class="left">TIÊU ĐỀ</th>
										<th width="120" class="left">NƯỚC ĐI</th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Board BoardAll">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Board/getId"/></td>
										<td><a tal:attributes="href Board/getURLUpdLoad" tal:content="Board/getName"/></td>
										<td>
											<a tal:attributes="href Board/getURLSettingPose">
												<span tal:content="Board/getDetailAll/count"/> nước
											</a>
										</td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Board/getId"><i class="glyphicon glyphicon-remove"/></a></td>
									</tr>
								</tbody>								
							</table>							
						</div>
					</div>					
					
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
				</div>
				<!--
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="40">STT</th>
										<th class="left">DANH MỤC</th>
										<th width="180"><div class="text-left">VÁN CỜ</div></th>										
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Category CategoryBoardAll">
										<td class="center"><span tal:content="repeat/Category/number"/></td>
										<td><span tal:content="Category/getName"/></td>
										<td>
											<a tal:attributes="href Category/getURLSetting">
												Xem (<span tal:content="Category/getBoardAll/count"/>)
											</a>
										</td>
									</tr>
								</tbody>								
							</table>
						</div>
					</div>
				</div>
				!-->
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			
		/*]]>*/
		</script>
	</body>
</html>