<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container" id="wraper">
			<div class="row-fluid">
				<div class="col-md-9 col-sm-9">
					<table class="table table-striped">
						<tr>
							<th width="32px">STT</th>
							<th>VÁN CỜ</th>						
						</tr>
						<tr tal:repeat="Board Category/getBoardAll">
							<td><div class="text-center" tal:content="repeat/Board/number"/></td>
							<td><a tal:attributes="href Board/getURLView"><span tal:content="Board/getName"/></a></td>
						</tr>
					</table>
				</div>
				<div class="col-md-3 col-sm-3">
					<div class="panel panel-default">
						<div class="panel-heading">Danh mục</div>
						<div class="panel-body">
							<ul>
								<li tal:repeat="Category CategoryBoardAll">
									<a tal:attributes="href Category/getURLView">
										<span tal:content="Category/getName"/> (<span tal:content="Category/getBoardAll/count"/>)
									</a>
								</li>
							</ul>
						</div>						
					</div>					
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>