<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div class="container-fluid" id="wraper">
				<div class="row">								
					<div class="col-md-9">
						<div id="contact-form">
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Tên&#42;</span></span>
									<input type="text" name="contact-name" id="contact-name" required="" class="form-control input-lg"/>
								</div>
								<div class="input-group">
									<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
									<input type="email" name="contact-email" id="contact-email" required="" class="form-control input-lg"/>
								</div>
								<div class="input-group">
									<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Chủ đề&#42;</span></span>
									<input type="text" name="contact-subject" id="contact-subject" required="" class="form-control input-lg"/>
								</div>
								<div class="input-group">
									<input id="BtnSend" type="submit" value="Gửi" class="btn btn-custom-2 md-margin"/>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						
					</div>					
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>