<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/HeaderHome"/>
		<div class="container" id="wraper">
			<div class="row-fluid">
				<div class="col-md-6">
					<iframe class="container well well-small span6"
						style="height:400px"
						src="http://w3.caytretramdot.com/tien-ich/co-tuong/ban-co/van-co-tham-khao">
					</iframe>
				</div>	
			</div>

			<div class="row">
				<!--
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<center>
						<img alt="Bamboo Logo" src="/mvc/templates/theme/img/bamboo.png" style="max-height:70px;margin-bottom:20px;"/>
						<form method="post" action="/bai-viet/tim-kiem" role="search">
							<input name="SearchContent" type="text" id="SearchContent" class="form-control" placeholder="Nhập nội dung cần tìm ..." style="margin-bottom:10px;"/>
							<button class="btn btn-default" id="SearchButton" type="submit" value="Tìm kiếm">Tìm</button>
						</form>
						<iframe src="http://w3.caytretramdot.com/tien-ich/co-tuong/ban-co/van-co-tham-khao" width="100%" height="320" allowfullscreen="" frameborder="0"></iframe>
					</center>
				</div>
				<div class="col-md-3"></div>
				!-->
				<!--
				<iframe src="http://w3.caytretramdot.com/tien-ich/co-tuong/ban-co/van-co-tham-khao" width="100%" height="640" allowfullscreen="" frameborder="0"></iframe>
				!-->
			</div>
			<div style="position:absolute; bottom:10px; width:500px; text-align:center; color:#868686; margin-left:-250px; left:50%; font-size:11px; line-height:8px;">
				<p>Mạng thông tin tổng hợp Cây Tre Trăm Đốt &#169; 2014</p>
				<p>SPN Group</p>
			</div>
		</div>
				
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>