<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid"  style="margin-top:70px;">
			<div class="row">
				<div class="col-md-9">
					<ul>
						<li tal:repeat="Tag TagAll">
							<a tal:attributes="href Tag/getURLView">							
								<B>
									<I class="glyphicon glyphicon-tag"/>
									<span tal:content="Tag/getName"/> (<span tal:content="Tag/getPTAll/count"/>) 
								</B>
							</a>
						</li>	
					</ul>
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>