<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-align-justify"></i></span>
								<h5>CẬP NHẬT</h5>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" tal:attributes="action Collect/getURLUpdExe" method="post">
									<div class="control-group">
										<label class="control-label" for="DateStart">Ngày</label>
										<div class="controls">
											<input id="Date" name="Date" type="text" data-date-format="yyyy-mm-dd" tal:attributes="value Collect/getDate" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Value">Giá trị</label>
										<div class="controls">
											<input id="Value" name="Value" type="text" tal:attributes="value Collect/getValue" class="form-control input-sm" />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Note">Diễn giải</label>
										<div class="controls">
											<input id="Note" name="Note" type="text" tal:attributes="value Collect/getNote" class="form-control input-sm"/>
										</div>
									</div>
									
									<div class="form-actions">
										<button class="btn btn-primary btn-sm" type="submit"><i class="icon-download-alt"/> Lưu</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/
				$('#Date').datepicker();
			/*]]>*/
		</script>
	</body>
</html>