<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/icheck/flat/blue.css"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/select2.css"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Track1 TrackAll" tal:attributes="class php:Track1->getId()==Track->getId()?'active':'disable'">
					<a tal:attributes="href Track1/getURLPayRoll">
						<i class="glyphicons-calendar"/> <span tal:content="Track1/getName"/>
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon">
								<i class="glyphicon glyphicon-edit"></i>
							</span>
							<h5 tal:content="Title"/>
						</div>
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover data-table">
								<thead>
									<tr>
										<th width="100">CHẤM</th>
										<th class="left">NGÀY</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Day Track/getURLDayAll">
										<td class="center">
											<a tal:attributes="href php:Day[2]" >
												<span class="glyphicons-edit"/>
											</a>
										</td>
										<td><span tal:content="php:Day[0]"/></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script src="/mvc/templates/theme/cms/js/jquery.icheck.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/select2.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/jquery.dataTables.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/unicorn.tables.js"></script>
	</body>
</html>