<body>
	<BR/>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<BR />
	<table width="100%" border="1" cellpadding="2" >
		<tr>			
			<th width="15%" align="right"><B>NGÀY</B></th>
			<th width="55%" align="left"><B>GHI CHÚ</B></th>
			<th width="30%" align="right"><B>TỔNG TIỀN</B></th>
		</tr>
		<tr tal:repeat="Collect php:Tracking->getCollectAll( Term->getId() )">
			<td align="right" tal:content="Collect/getDatePrint" />
			<td align="left" tal:content="Collect/getNote" />
			<td align="right" tal:content="Collect/getValuePrint" />
		</tr>
		<tr>
			<th align="right" colspan="2"><H3>TỔNG CỘNG</H3></th>
			<th align="right">
				<H3 tal:content="php:Tracking->getCollectAllValuePrint( Term->getId() )" />
			</th>
		</tr>
	</table>					
		
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" tal:content="DateCurrent" />
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP BẢNG</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">CHỦ TIỆM</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center" />
			<td width="30%" align="center" />
			<td width="35%" align="center" />
		</tr>
	</table>
</body>