<body>
	<BR/>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>	
	<table width="100%" border="1" cellpadding="2" >		
		<tr>
			<th width="5%" align="center"><B>STT</B></th>
			<th width="45%" align="left"><B>MẶT HÀNG</B></th>
			<th width="20%" align="left"><B>ĐƠN VỊ</B></th>
			<th width="30%" align="right"><B>SỐ LƯỢNG</B></th>
		</tr>
		<tr tal:repeat="Course CourseAll">
			<td align="center" tal:content="repeat/Course/number" />
			<td align="left" tal:content="Course/getName" />
			<td align="left" tal:content="Course/getUnit" />
			<td align="right" tal:content="php: Tracking->getCountCoursePrint( Course->getId() )"/>
		</tr>
	</table>
</body>