<body>
	<BR/>
	<div metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<BR/>	
	<table width="100%" border="1" cellpadding="2" >
		<tr>			
			<th width="20%" align="left"><B>NHÂN VIÊN</B></th>
			<th width="15%" align="right"><B>LƯƠNG CB</B></th>
			<th width="15%" align="right"><B>TĂNG CA</B></th>
			<th width="15%" align="right"><B>NGHỈ CA</B></th>
			<th width="15%" align="right"><B>ĐI TRỄ</B></th>
			<th width="20%" align="right"><B>THỰC LÃNH</B></th>
		</tr>
		<tr tal:repeat="D Data">
			<td align="left" 	tal:content="php: D[0]" />
			<td align="right" 	tal:content="php: '+' . D[1]" />
			<td align="right" 	tal:content="php: '+' . D[2]" />
			<td align="right" 	tal:content="php: '-' . D[3]" />
			<td align="right" 	tal:content="php: '-' . D[4]" />
			<td align="right" 	tal:content="php: '+' . D[5]" />
		</tr>
		<tr>
			<td colspan="5" align="right" 	tal:content="string:TỔNG CỘNG" />
			<td align="right" 	tal:content="Sum/formatCurrency" />
		</tr>
	</table>
	<p align="right">(<span tal:content="Sum/readDigit"/>)</p>
</body>