<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-align-justify"></i></span>
								<h5 tal:content="Title"/>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" tal:attributes="action Table/getURLMergeExe" method="post">									
									<div class="control-group">
										<label class="control-label" for="IdTableMerge">Gom với bàn</label>
										<div class="controls">
											<select name="IdTableMerge" id="IdTableMerge" class="form-control input-sm">
												<option tal:repeat="Table TableAll" tal:attributes="value Table/getId">
													<span tal:content="Table/getDomain/getName" /> / <span tal:content="Table/getName" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-actions">
										<button class="btn btn-primary btn-sm" type="submit"> <i class="icon-check"/> Đồng ý</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>