<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
	</head>
<body>
	<div data-role="page" class="type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">
				<span  tal:condition="Table/getSessionActive">
					<ul data-role="listview">
						<li data-role="list-divider" tal:content="Title" />
						<li data-theme="d">
							<a rel="external" data-ajax="false" tal:attributes="href Table/getSessionActive/getURLUpdLoad">
								<strong>
									<span tal:content="Table/getSessionActive/getTimeRangePrint" />,
									(<B tal:content="Table/getSessionActive/getHours" />)
									<span class="ui-li-aside" tal:content="Table/getSessionActive/getValueHoursPrint"/>
								</strong>
							</a>
							<a rel="external" tal:attributes="href Table/getSessionActive/getURLUpdLoad" data-theme="c" data-icon="grid" />
						</li>						
						<li data-role="list-divider" tal:content="string:DỊCH VỤ CỘNG THÊM" />
						<li data-theme="c" tal:repeat="Detail Table/getSessionActive/getDetails">
							<a data-ajax="false" tal:attributes="href Detail/getURLUpdLoad">
								<p>
									<span tal:content="repeat/Detail/number"/>. <span tal:content="Detail/getCourse/getName"/> 
									<span tal:content="Detail/getCount"/>(<span tal:content="Detail/getCourse/getUnit"/>) x <span tal:content="Detail/getPricePrint"/>
									<span class="ui-li-aside" tal:content="Detail/getValuePrint" />
								</p>
							</a>
							<a tal:attributes="href Detail/getURLDelLoad" data-theme="c" data-icon="delete" />
						</li>					
						<li data-role="list-divider" tal:content="string:CHIẾT KHẤU & PHỤ THU" />
						<li data-theme="c">
							Tiền mặt:<span class="ui-li-aside" tal:content="Table/getSessionActive/getDiscountValuePrint"/>
						</li>					
						<li data-theme="c">
							Chiết khấu:<span class="ui-li-aside" tal:content="Table/getSessionActive/getDiscountPercentPrint"/>
						</li>
						<li data-theme="c">
							PHỤ THU:<span class="ui-li-aside" tal:content="Table/getSessionActive/getSurtaxPrint"/>							
						</li>
						<li data-theme="d">
							<p tal:content="Table/getSessionActive/getNote" />
						</li>
						<li data-role="list-divider" tal:content="string:TỔNG CỘNG" />
						<li data-theme="d">
							<h3>TỔNG CỘNG:<span class="ui-li-aside" tal:content="Table/getSessionActive/getValuePrint"/></h3>
							<p>( <span tal:content="Table/getSessionActive/getValueStrPrint" /> )</p>
						</li>					
					</ul>
				</span>
			</div>
			<div class="content-secondary">				
				<ul data-role="listview" data-theme="c" data-dividertheme="d">
					<li data-role="list-divider">CHỨC NĂNG</li>
					<li tal:condition="not: Table/getSessionActive"><a data-ajax="false"  tal:attributes="href Table/getURLCheckinExe" >NHẬN PHÒNG</a></li>
					<li tal:condition="Table/getSessionActive"><a data-ajax="false"  tal:attributes="href Table/getSessionActive/getURLCheckoutExe" >TÍNH TIỀN</a></li>
					<li tal:condition="Table/getSessionActive"><a data-ajax="false" tal:attributes="href Table/getURLCallLoad">GỌI MÓN</a></li>
					<li tal:condition="Table/getSessionActive"><a data-ajax="false" target="blank" tal:attributes="href Table/getSessionActive/getURLPrint" tal:condition="Table/getSessionActive">IN PHIẾU</a></li>
					<li tal:condition="Table/getSessionActive"><a data-ajax="false" tal:attributes="href Table/getURLMoveLoad">CHUYỂN PHÒNG</a></li>
					<li tal:condition="Table/getSessionActive"><a data-ajax="false" tal:attributes="href Table/getURLMergeLoad">GOM PHÒNG</a></li>
					<li tal:condition="Table/getSessionActive"><a data-ajax="false" tal:attributes="href Table/getURLLog">XEM NHẬT KÝ</a></li>					
				</ul>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>