<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/icheck/flat/blue.css"/>
		<link rel="stylesheet" href="/mvc/templates/theme/cms/css/select2.css"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li class="nav-header">CÁC KHU VỰC</li>
				<li tal:repeat="Domain1 DomainAll" tal:attributes="class php: Domain1->getId()==Domain->getId()? 'active':'disable'">
					<a tal:attributes="href Domain1/getURLSelling"><i class="glyphicons-show_big_thumbnails"/><span tal:content="Domain1/getName"/></a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon">
								<i class="glyphicon glyphicon-edit"></i>
							</span>
							<h5 tal:content="Title"/>
						</div>
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover data-table">
								<thead>
									<tr>
										<th class="left">BÀN</th>
										<th width="120">PHIẾU</th>
										<th width="60">IN</th>
										<th width="60">VÀO</th>
										<th width="60">RA</th>
										<th width="60">GỌI</th>
										<th width="60">SỔ</th>
										<th width="60">DỜI</th>										
										<th width="60">GOM</th>
									</tr>
								</thead>
								<tbody>											
									<tr tal:repeat="Table Domain/getTableAll" tal:attributes="class php: Table->getSessionActive()!=null ? (Table->getSessionActive()->getNote()=='In phieu' ? 'info':'error') :''">
										<td><div tal:content="Table/getName"/></td>
										<td class="right">
											<a tal:condition="Table/getSessionActive" tal:attributes="href Table/getSessionActive/getURLDetail" tal:content="Table/getSessionActive/getValuePrint"/>
										</td>
										<td class="center">
											<a class="Print" tal:condition="Table/getSessionActive" tal:attributes="alt Table/getSessionActive/getURLPrint" style="cursor:pointer">
												<i class="glyphicons-fax"/>
											</a>
										</td>
										<td class="center">
											<a tal:condition="not: Table/getSessionActive" tal:attributes="href Table/getURLCheckinExe">
												<i class="glyphicons-disk_import"/>
											</a>
										</td>
										<td class="center">
											<span tal:condition="Table/getSessionActive">
												<a tal:condition="Table/getSessionActive/getNote" tal:attributes="href Table/getSessionActive/getURLCheckoutExe">
													<i class="glyphicons-disk_export"/>
												</a>
											</span>
										</td>
										<td class="center">
											<a tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLCallLoad">
												<i class="glyphicons-drink"/>
											</a>
										</td>
										<td class="center">
											<a tal:attributes="href Table/getURLLog">
												<i class="glyphicons-edit"/>
											</a>
										</td>
										<td class="center">
											<a tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLMoveLoad">
												<i class="glyphicons-new_window"/>
											</a>
										</td>
										<td class="center">
											<a tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLMergeLoad">
												<i class="glyphicons-resize_small"/>
											</a>
										</td>
									</tr>
								</tbody>								
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script src="/mvc/templates/theme/cms/js/jquery.icheck.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/select2.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/jquery.dataTables.min.js"></script>
		<script src="/mvc/templates/theme/cms/js/unicorn.tables.js"></script>
		<script type="text/javascript">
			/*<![CDATA[*/			
			$('.Print').click(function(){														
				location.reload();
				window.open($(this).attr('alt'), '_blank');
			});
			/*]]>*/
		</script>
	</body>
</html>