<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="Macros.xhtml/IncludeMETA"/>
		<div metal:use-macro="Macros.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="Macros.xhtml/Header"/>
		<div metal:use-macro="Macros.xhtml/PageTitle"/>
		
		<div class="shop-items blocky">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-push-3">
						<div metal:use-macro="Macros.xhtml/Breadcrumb"/>

						<div class="row picture-rows">
							<div class="col-md-12 col-sm-12 col-xs-15">
								<div class="staff">
									<div class="pic pic-view">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/4.jpg" alt="" class="img-responsive" width="100%"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row picture-rows">
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/1.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/2.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/3.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row picture-rows">
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/4.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/5.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/6.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row picture-rows">
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/7.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/8.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-4 col-xs-7">
								<div class="staff">
									<div class="pic">
										<a data-toggle="modal" href="#image-view">
											<img src="img/items/1.jpg" alt="" class="img-responsive"/>
										</a>
									</div>
									<div class="details">
										<div class="desig pull-left">
											<p class="name"><i class="icon-calendar"></i> 13/11/2013</p>
										</div>
										<div class="asocial pull-right">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-twitter"></i></a>
											<a href="#"><i class="icon-linkedin"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-md-pull-9">
						<div metal:use-macro="Macros.xhtml/ProductLeftMenu"/>

						<div class="sidebar-items">
							<h5>Dự án mới nhất</h5>
							<div class="sitem">
								<div class="onethree-left">
									<a href="project.html">
										<i class="icon-building" style="font-size:60px !important;"></i>
									</a>
								</div>
								<div class="onethree-right">
									<a href="project.html">Khu căn hộ An Phú 2</a>
									<p>Vị trí: 961 Hậu Giang, Phường 11, Quận 6, Tp.HCM</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sitem">
								<div class="onethree-left">
									<a href="project.html">
										<i class="icon-building" style="font-size:60px !important;"></i>
									</a>
								</div>
								<div class="onethree-right">
									<a href="project.html">Dragon Hill Residence and Suites</a>
									<p>Vị trí : Số 15A1, Khu đô thị Dragon City, Nguyễn Hữu Thọ,quận 7, Tp.HCM</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sitem">
								<div class="onethree-left">
									<a href="project.html">
										<i class="icon-building" style="font-size:60px !important;"></i>
									</a>
								</div>
								<div class="onethree-right">
									<a href="project.html">Khu căn hộ cao cấp Fusion Suites Danang</a>
									<p>Vị trí: KDC An Cư 5, Phường Mân Thái, Quận Sơn Trà, Đà Nẵng</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sitem">
								<div class="onethree-left">
									<a href="project.html">
										<i class="icon-building" style="font-size:60px !important;"></i>
									</a>
								</div>
								<div class="onethree-right">
									<a href="project.html">Khu phức hợp căn hộ - khách sạn Tropicana Nha Trang</a>
									<p>Vị trí: 40 Trần Phú, phường Lộc Thọ, Nha Trang, Khánh Hòa</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="sitem">
								<div class="onethree-left">
									<a href="project.html">
										<i class="icon-building" style="font-size:60px !important;"></i>
									</a>
								</div>
								<div class="onethree-right">
									<a href="project.html">Happy Valley: Căn hộ sinh thái trong đô thị Phú Mỹ Hưng</a>
									<p>Vị trí: Đường Nguyễn Văn Linh, Phú Mỹ Hưng, quận 7, TP.HCM</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="recent-posts blocky">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h4><i class="icon-globe color"></i> Tin tức mới cập nhật</h4>
						</div>    

						<div class="row">
							<div class="col-md-12">
								<div class="my_carousel">
									<ul id="carousel_container">
										<li>
											<a href="#"><img src="img/items/1.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="#">Tin tức 1 về dự án hiện tại</a></h5>
												<p>Trích dẫn tin tức 1</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="img/items/2.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="#">Tin tức 2 về dự án hiện tại</a></h5>
												<p>Trích dẫn tin tức 2</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="img/items/3.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="#">Tin tức 3 về dự án hiện tại</a></h5>
												<p>Trích dẫn tin tức 3</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="img/items/4.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="#">Tin tức 4 về dự án hiện tại</a></h5>
												<p>Trích dẫn tin tức 4</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="img/items/5.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="#">Tin tức 5 về dự án hiện tại</a></h5>
												<p>Trích dẫn tin tức 5</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="img/items/6.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="#">Tin tức 6 về dự án hiện tại</a></h5>
												<p>Trích dẫn tin tức 6</p>
											</div>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="catchy blocky">
			<div class="catchy-inner1">
				<div class="catchy-inner2">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<div class="catchy-subscribe">
									<h3>Nhận thông tin</h3>
									<p>Nhập Email của bạn để đăng ký nhận thông tin những dự án mới nhất từ chúng tôi</p>
									<br />
									<form class="form-inline" role="form">
										<div class="form-group">
											<input type="text" class="form-control " id="exampleInputEmail2" placeholder="Địa chỉ Email">
										</div>
										<button type="submit" class="btn btn-danger">Đăng ký</button>
									</form>
								</div>
							</div>
							<div class="col-md-7">
								<div class="report">
									<div class="report-bor">
										<div class="row">
											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-group color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">40,000</span> <span>Đăng ký</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-calendar color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">1857</span> <span>Dự án</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-globe color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">30,000</span> <span>Tin tức</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<hr class="hidden-xs">

										<div class="row">
											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-building color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">150 +</span> <span>Chủ đầu tư</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-signal color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">5060</span> <span>Truy cập</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-user color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">10,000</span> <span>Thành viên</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
		<div metal:use-macro="Macros.xhtml/Footer"/>
		<div metal:use-macro="Macros.xhtml/IncludeJS"/>
		<script>
			$('.picture-rows .pic a').click(function (e) {
				$('#image-view').find('img').attr('src', $(this).find('img').attr('src'));
			});
		</script>
	</body>	
</html>