<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>				
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<form class="form-horizontal" tal:attributes="action BoardDetail/getURLUpdExe" method="POST">
								<div class="control-group">
									<label class="control-label" for="Name1">Nước Tiên</label>
									<div class="controls">
										<input type="text" id="Name1" name="Name1" tal:attributes="value BoardDetail/getName1"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="State1">Trạng thái Tiên</label>
									<div class="controls">
										<input type="text" id="State1" name="State1" tal:attributes="value BoardDetail/getState1"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Pre1">Nước trước Tiên</label>
									<div class="controls">
										<input type="text" id="Pre1" name="Pre1" tal:attributes="value BoardDetail/getPre1"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Note1">Ghi chú Tiên</label>
									<div class="controls">
										<textarea id="Note1" class="ckeditor" name="Note1" tal:content="BoardDetail/getNote1"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Name2">Nước Hậu</label>
									<div class="controls">
										<input type="text" id="Name2" name="Name2" tal:attributes="value BoardDetail/getName2"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="State1">Trạng thái Hậu</label>
									<div class="controls">
										<input type="text" id="State2" name="State2" tal:attributes="value BoardDetail/getState2"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Pre2">Nước trước Hậu</label>
									<div class="controls">
										<input type="text" id="Pre2" name="Pre2" tal:attributes="value BoardDetail/getPre2"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Note">Ghi chú 2</label>
									<div class="controls">
										<textarea id="Note2" class="ckeditor" name="Note2" tal:content="BoardDetail/getNote2"/>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>
								</div>
							</form>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/back/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			
		/*]]>*/
		</script>
	</body>
</html>