<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">							
							<div class="xs-margin"></div><!-- space -->
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 articles-container single-post">
									<article class="article">
										<div class="article-meta-date" tal:content="Post/getTimePrint"/>
										<h2 tal:content="Post/getTitle"/>
										<div class="article-meta-container clearfix">
											<div class="article-meta-more">
												<a href="#"><span class="separator"><i class="fa fa-user"></i></span> <span tal:content="Post/getAuthor"></span></a>												
											</div>
											<div class="article-meta-view">
												<span class="separator"><i class="fa fa-eye "></i></span><span tal:content="Post/getCount"/>
												<a href="#"><span class="separator"><i class="fa fa-heart"></i></span>87</a>
											</div><!-- End. pull-right -->
										</div><!-- End .article-meta-container -->
										<div tal:content="structure Post/getContent" class="article-content-container"/>
									</article><!-- End .article -->
								</div><!-- End .col-md-9 -->
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div class="widget">
										<div class="panel-group custom-accordion sm-accordion" id="category-filter">
											<div class="panel">
												<div class="accordion-header">
													<div class="accordion-title"><span tal:content="Tag/getName"/></div><!-- End .accordion-title -->
													<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
												</div><!-- End .accordion-header -->
												<div id="category-list-1" class="collapse in">
													<div class="panel-body">
														<ul class="category-filter-list jscrollpane">
															<li tal:repeat="PT Tag/getPostTop4">
																<a tal:attributes="href PT/getURLRead"><span tal:content="PT/getPost/getTitle"/></a>
															</li>
														</ul>
													</div><!-- End .panel-body -->
												</div><!-- #collapse -->
											</div><!-- End .panel -->																																	
										</div><!-- .panel-group -->
									</div><!-- End .widget -->																		
								</aside><!-- End .col-md-3 -->
								
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>