<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">								
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">
									<div class="category-toolbar clearfix">										
										<div class="toolbox-pagination clearfix">
											<ul class="pagination">
												<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</div><!-- End .toolbox-pagination -->
									</div><!-- End .category-toolbar -->
									<div class="md-margin"></div><!-- .space -->
									<div class="category-item-container category-list-container">
										<div class="item item-list clearfix" tal:repeat="PT PTAll">
											<div class="item-image-container">
												<figure>
													<a tal:attributes="href PT/getURLRead">
														<img tal:attributes="src PT/getPost/getImage" alt="item1" class="item-image"/>
														<img tal:attributes="src PT/getPost/getImage" alt="item1  Hover" class="item-image-hover"/>
													</a>
												</figure>
											</div><!-- End .item-image -->
											<div class="item-meta-container">
												<h3 class="item-name">
													<a tal:attributes="href PT/getURLRead">
														<span tal:content="PT/getPost/getTitle"/>
													</a>
												</h3>
												<div class="ratings-container">
													<div class="ratings">
														<div class="ratings-result" data-result="70"></div>
													</div><!-- End .ratings -->
													<span class="ratings-amount">
														1 đánh giá
													</span>
												</div><!-- End .rating-container -->
												<p tal:content="structure PT/getPost/getContentReduce"/>
											</div><!-- End .item-meta-container -->	
										</div><!-- End .item -->
									</div><!-- End .category-item-container -->
								</div><!-- End .col-md-9 -->
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div class="widget">
										<div class="panel-group custom-accordion sm-accordion" id="category-filter">
											<div class="panel">
												<div class="accordion-header">
													<div class="accordion-title"><span>Danh mục tin</span></div><!-- End .accordion-title -->
													<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
												</div><!-- End .accordion-header -->
												<div id="category-list-1" class="collapse in">
													<div class="panel-body">
														<ul class="category-filter-list jscrollpane">
															<li tal:repeat="Tag TagAll">
																<a tal:attributes="href Tag/getURLView"><span tal:content="Tag/getName"/> (<span tal:content="Tag/getPostAll/count"/>)</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div metal:use-macro="mFront.xhtml/Subscribe"/>
									<div metal:use-macro="mFront.xhtml/Testmonials"/>
									
								</aside>
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->			
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>