<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/Header"/>
		
		<div id="carousel-example-generic" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active animated fadeInRight">
					<img src="/mvc/templates/theme/base/img/back1.jpg" alt="" class="img-responsive"/>
					<div class="carousel-caption">
						<h2 class="animated fadeInLeftBig">Khu căn hộ An Phú 2</h2>
						<p class="animated fadeInRightBig">Được xây dựng trên khu đất có diện tích 4.202m<sup>2</sup>, với diện tích xây dựng 1.260,6m<sup>2</sup>, Khu căn hộ An Phú 2 gồm 1 tòa nhà cao 25 tầng với các chức năng căn hộ, trung tâm thương mại.</p>
						<a href="/project" class="animated fadeInLeftBig btn btn-info btn-lg">Chủ đầu tư: Công ty Cổ phần An Phú</a>
					</div>
				</div>
				<div class="item animated fadeInRight">
					<img src="/mvc/templates/theme/base/img/back2.jpg" alt="" class="img-responsive"/>
					<div class="carousel-caption">
						<h2 class="animated fadeInLeftBig">Khu căn hộ Dragon Hill Residence and Suites</h2>
						<p class="animated fadeInRightBig">Tọa lạc trên mặt tiền trục đường Nguyễn Hữu Thọ lộ giới 60m, kết nối với đại lộ Nguyễn Văn Linh 120m</p>
						<a href="/project" class="animated fadeInLeftBig btn btn-info btn-lg">Chủ đầu tư : Công ty Cổ phần Địa ốc Phú Long</a>
					</div>
				</div>
				<div class="item animated fadeInRight">
					<img src="/mvc/templates/theme/base/img/back3.jpg" alt="" class="img-responsive"/>
					<div class="carousel-caption">
						<h2 class="animated fadeInLeftBig">Khu căn hộ cao cấp Fusion Suites Danang</h2>
						<p class="animated fadeInRightBig">Tọa lạc tại vị trí thuận lợi trên đường Hoàng Sa, Fusion Suites Danang Beach chỉ cách trung tâm thành phố Đà Nẵng 7 phút đi xe</p>
						<a href="/project" class="animated fadeInLeftBig btn btn-info btn-lg">Chủ đầu tư: Công ty Cổ phần Bảo Phước</a>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="icon-next"></span>
			</a>
		</div>
		
		<div class="sep-bor"></div>

		<div class="shop-items blocky">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-6" tal:repeat="Project AllProject">
						<div class="item">
							<div class="item-icon" tal:condition="Project/isVIP"><span>HOT</span></div>
							<div class="item-image">
								<a tal:attributes="href Project/getURLView">
									<img tal:attributes="src Project/getImage" class="img-responsive"/>
								</a>
							</div>
							<div class="item-details">
								<h5><a tal:attributes="href Project/getURLView" tal:content="Project/getName"/></h5>
								<div class="clearfix"></div>
								<p tal:content="Project/getDescription"/>
								<p tal:content="Project/reKey"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="catchy blocky">
			<div class="catchy-inner1">
				<div class="catchy-inner2">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<div class="catchy-subscribe">
									<h3>Nhận thông tin</h3>
									<p>Nhập Email của bạn để đăng ký nhận thông tin những dự án mới nhất từ chúng tôi</p>
									<br />
									<form class="form-inline" role="form">
										<div class="form-group">
											<input type="text" class="form-control " id="exampleInputEmail2" placeholder="Địa chỉ Email"/>
										</div>
										<button type="submit" class="btn btn-danger">Đăng ký</button>
									</form>
								</div>
							</div>
							<div class="col-md-7">
								<div class="report">
									<div class="report-bor">
										<div class="row">
											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-group color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">40,000</span> <span>Đăng ký</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-calendar color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">1857</span> <span>Dự án</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-globe color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">30,000</span> <span>Tin tức</span>
														</div>
													</div>
												</div>
											</div>
										</div>

										<hr class="hidden-xs"/>

										<div class="row">
											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-building color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">150 +</span> <span>Chủ đầu tư</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-signal color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">5060</span> <span>Truy cập</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4 col-sm-4">
												<div class="report-data">
													<div class="row">
														<div class="col-md-4 col-sm-4 col-xs-4">
															<div class="report-icon">
																<i class="icon-user color"></i>
															</div>
														</div>
														<div class="col-md-8 col-md-8 col-xs-8">
															<span class="report-big color">10,000</span> <span>Thành viên</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>      

		<div class="recent-posts blocky">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h4><i class="icon-globe color"></i> Dự án tiêu biểu</h4>
						</div>    

						<div class="row">
							<div class="col-md-12">
								<div class="my_carousel">
									<ul id="carousel_container">
										<li>
											<a href="#"><img src="/mvc/templates/theme/base/img/items/1.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="/project">Khu căn hộ An Phú 2</a></h5>
												<p>Vị trí: 961 Hậu Giang, Phường 11, Quận 6, Tp.HCM</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="/mvc/templates/theme/base/img/items/2.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="/project">Dragon Hill Residence and Suites</a></h5>
												<p>Vị trí : Số 15A1, Khu đô thị Dragon City, Nguyễn Hữu Thọ,quận 7, Tp.HCM</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="/mvc/templates/theme/base/img/items/3.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="/project">Khu căn hộ cao cấp Fusion Suites Danang</a></h5>
												<p>Vị trí: KDC An Cư 5, Phường Mân Thái, Quận Sơn Trà, Đà Nẵng</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="/mvc/templates/theme/base/img/items/4.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="/project">Khu phức hợp căn hộ - khách sạn Tropicana Nha Trang</a></h5>
												<p>Vị trí: 40 Trần Phú, phường Lộc Thọ, Nha Trang, Khánh Hòa</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="/mvc/templates/theme/base/img/items/5.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="/project">Happy Valley: Căn hộ sinh thái trong đô thị Phú Mỹ Hưng</a></h5>
												<p>Vị trí: Đường Nguyễn Văn Linh, Phú Mỹ Hưng, quận 7, TP.HCM</p>
											</div>
										</li>
										<li>
											<a href="#"><img src="/mvc/templates/theme/base/img/items/6.jpg" alt="" class="img-responsive"/></a>
											<div class="carousel_caption">
												<h5><a href="/project">Khu căn hộ cao cấp Platinum Residences</a></h5>
												<p>Vị trí: Số 6 Nguyễn Công Hoan, phường Ngọc Khánh, quận Ba Đình, Hà Nội</p>
											</div>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>
	</body>
</html>