<!DOCTYPE html>
<html lang="en">	
	<body>
		<div id="sidebar">
			<ul>
				<li tal:repeat="Customer CustomerFAll" class="Customer" tal:attributes="alt Customer/getId">
					<a class="ctt" data-toggle="tooltip" data-placement="right" tal:attributes="data-original-title Customer/getName">
						<i class="glyphicons-show_big_thumbnails" /><span tal:content="Customer/getName"/>
					</a>
				</li>
			</ul>
		</div>
	</body>
	<script>
			//NẠP DANH SÁCH GIAO DỊCH VỚI KHÁCH HÀNG
			$('.Customer').click(function(){				
				var IdCustomer = $(this).attr('alt');				
				$("#SessionAll").load("/selling/load/customer/"+IdCustomer);
				$(this).toggleClass('active').siblings().removeClass('active');
				$("#SearchName").focus();
			});
			$('.Customer:first').click();
			$("#SearchCustomer").focus();
			$(".ctt").tooltip();
    </script>
</html>