<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40">1</th>
										<th class="left">THU</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="center">1.1</td>
										<td><a tal:attributes="href '/money/collect/general'" >THU TỪ BÁN HÀNG</a></td>
									</tr>
									<tr>
										<td class="center">1.2</td>
										<td><a tal:attributes="href '/money/collect/general'" >THU TỪ NGUỒN KHÁC</a></td>
									</tr>
									<tr>
										<td class="center">1.2</td>
										<td><a tal:attributes="href '/money/collect/customer'" >THU TỪ NỢ KHÁCH HÀNG</a></td>
									</tr>																	
								</tbody>
							</table>
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40">2</th>
										<th class="left">CHI</th>
									</tr>
								</thead>
								<tbody>									
									<tr>
										<td class="center">2.1</td>
										<td><a tal:attributes="href '/money/paid/general'" >CHI CHO KHÁC</a></td>
									</tr>
									<tr>
										<td class="center">2.2</td>
										<td><a tal:attributes="href '/money/paid/employee'" >CHI CHO LƯƠNG NHÂN VIÊN</a></td>
									</tr>
									<tr>
										<td class="center">2.3</td>
										<td><a tal:attributes="href '/money/paid/supplier'" >CHI CHO NHÀ CUNG CẤP</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>		
	</body>
</html>