<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="container-fluid">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<table tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()" class="table table-bordered table-striped table-hover">
									<thead>										
										<tr>
											<th width="120"><div class="text-right">NGÀY</div></th>
											<th width="120"><div class="text-right">SỐ DƯ</div></th>
											<th width="120"><div class="text-right">QUỸ</div></th>
											<th width="120"><div class="text-right">KHÁCH HÀNG</div></th>
											<th width="120"><div class="text-right">NHÀ CUNG CẤP</div></th>
											<th width="120"><div class="text-right">KHO HÀNG</div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="TD Tracking/getDailyAll">
											<td><div tal:attributes="alt TD/getURLReport" tal:content="TD/getDatePrint"></div></td>
											<td align="right"><a tal:attributes="href TD/getURLReportSelling"><span tal:content="TD/getSellingPrint"/></a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportSelling">Xem</a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportImport">Xem</a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportExport">Xem</a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportExport">Xem</a></td>
										</tr>										
									</tbody>
								</table>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//EXE DAILY			
			//-----------------------------------------------------------------------------------						
						
		/*]]>*/
		</script>
	</body>
</html>