<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="sidebar">			
			
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table width="100%">
								<tr>
									<td width="50%" align="right">VÉ NHẬP VỀ TỪ CÁC ĐẠI LÝ</td>
									<td width="50%" align="right"><span tal:content="TD/getTicketImportPrint"/> (+)</td>
								</tr>
								<tr>
									<td width="50%" align="right">VÉ ĐƯA TAY EM BÁN</td>
									<td width="50%" align="right"><span tal:content="TD/getTicketSellingPrint"/> (-)</td>
								</tr>								
								<tr>
									<td width="50%" align="right">VÉ TAY EM TRẢ LẠI</td>
									<td width="50%" align="right"><span tal:content="TD/getTicketSellingBackPrint"/> (-)</td>
								</tr>
								<tr>
									<td width="50%" align="right">TIỀN VÉ BÁN ƯỚC TÍNH</td>
									<td width="50%" align="right"><B tal:content="TD/getTicketSellingValuePrint"/> (-)</td>
								</tr>
								<tr>
									<td width="50%" align="right">TIỀN VÉ BÁN THỰC THU</td>
									<td width="50%" align="right"><B tal:content="TD/getPaidTicketPrint"/> (-)</td>
								</tr>
								<tr>
									<td width="50%" align="right">------------------------------------------</td>
									<td width="50%" align="left">------------------------------------------------------------------------------------------------------</td>
								</tr>								
								<tr>
									<td width="50%" align="right">VÉ PHẢI TRẢ CHO ĐẠI LÝ</td>
									<td width="50%" align="right"><B tal:content="TD/getTicketImportBackPrint"/> (-)</td>
								</tr>
								<tr>
									<td width="50%" align="right">TIỀN VÉ PHẢI TRẢ ĐẠI LÝ</td>
									<td width="50%" align="right"><B tal:content="TD/getValueImportDPrint"/> (-)</td>
								</tr>
								<tr>
									<td width="50%" align="right">------------------------------------------</td>
									<td width="50%" align="left">------------------------------------------------------------------------------------------------------</td>
								</tr>
								<tr>
									<td width="50%" align="right">ỨNG THÊM TIỀN GÓP</td>
									<td width="50%" align="right"><B tal:content="TD/getDebtPrint"/> (-)</td>
								</tr>
								<tr>
									<td width="50%" align="right">TIỀN GÓP HIỆN TẠI</td>
									<td width="50%" align="right"><B tal:content="TD/getPaidDebtPrint"/> (+)</td>
								</tr>
								<tr>
									<td width="50%" align="right">TỔNG NỢ TIỀN VÉ</td>
									<td width="50%" align="right"><B tal:content="TD/getPaidTicketRemainPrint"/> (+)</td>
								</tr>
								<tr>
									<td width="50%" align="right">TỔNG NỢ TIỀN GÓP</td>
									<td width="50%" align="right"><B tal:content="TD/getPaidDebtRemainPrint"/> (+)</td>
								</tr>
							</table>							
						</div>
					</div>					
				</div>
			</div>
		</div>
						
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
					
			
		/*]]>*/
		</script>
	</body>
</html>