<!DOCTYPE html>
<html lang="en">
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="fb:app_id" content="1550985445183957"/>
		<meta property="og:title" tal:attributes="content Book/getTitle"/>
		<meta property="og:description" tal:attributes="content Book/getInfoReduce"/>		
		<meta property="og:type" content="article" />
		<meta property="og:image" tal:attributes="content Book/getThumb"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-body">							
							<div id="carousel-cotuong-generic" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li tal:repeat="Slide Presentation/getSlideAll" data-target="#carousel-cotuong-generic" tal:attributes="data-slide-to php: repeat.Slide.number" />
								</ol>
								<div class="carousel-inner" role="listbox">
									<div class="item" tal:repeat="Slide Presentation/getSlideAll">
										<img tal:attributes="src Slide/getURL;alt php:'sequence-slide-' . repeat.Slide.number" width="100%"/>
										<div class="carousel-caption">
											
										</div>
									</div>
								</div>
								<a class="left carousel-control" href="#carousel-cotuong-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Lui</span>
								</a>
								<a class="right carousel-control" href="#carousel-cotuong-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Tới</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<ol class="breadcrumb">
								<li><a tal:attributes="href Category/getURLView" tal:content="php: mb_strtoupper(Category->getName(), 'UTF8')"/></li>
								<li class="active" tal:content="php: mb_strtoupper(Book->getTitle(), 'UTF8')"/>
							</ol>
						</div>
						<div class="panel-body">
							<div class="article-meta-date">																
								<div class="fb-like" tal:attributes="data-href URLShare" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
								<span class="text-left">cập nhật mới nhất <B><i tal:content="Book/getTimePrint1" /></B></span>
							</div>
							<div role="tabpanel" id="TabBook">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation">
										<a tal:attributes="href php:'#TabInfo'" aria-controls="profile" role="tab" data-toggle="tab">TÓM LƯỢC</a>
									</li>
									<li role="presentation" class="active">
										<a tal:attributes="href php:'#TabChapter'" aria-controls="profile" role="tab" data-toggle="tab">NỘI DUNG</a>
									</li>							
									<li role="presentation">
										<a tal:attributes="href php:'#TabComment'" aria-controls="profile" role="tab" data-toggle="tab">THẢO LUẬN</a>
									</li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane"  id="TabInfo">
										<div class="article-meta-more">
											<div tal:content="structure Book/getInfo" class="article-content-container"/>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane"  id="TabComment">
										<div 
											class="fb-comments" 
											tal:attributes="data-href Book/getURLViewFull" 
											data-numposts="12" data-colorscheme="light"
										/>
									</div>
									<div role="tabpanel" class="tab-pane active" id="TabChapter">
										<table class="table table-striped">
											<tr tal:repeat="Chapter Book/getChapterAll">
												<td width="48px"><img width="48px" tal:attributes="src Chapter/getThumb"/></td>
												<td>
													<a tal:attributes="href Chapter/getURLView">
														<span tal:content="Chapter/getTitle"/>
														 (<span tal:content="Chapter/getBoardAll/count"/> ván)
													</a>
													<p tal:content="structure Chapter/getInfoReduce"/>													
													<div class="progress">
														<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Chapter/getCompletedPercentPrint1">
															<B tal:content="Chapter/getCompletedPercentPrint2"/>
														</div>
													</div>																										
												</td>
											</tr>											
										</table>								
									</div>							
								</div>
							</div>
						</div>		
					</div>	
				</div>
				<div class="col-md-4">					
					<div class="panel panel-default">						
						<div class="panel-body">														
							<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/															
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=1550985445183957&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
			$('#carousel-cotuong-generic').carousel({pause: "false"});
			$('.carousel-inner .item:first-child').addClass('active');
				
			$(".ChessBoard").attr("height", ($(".ChessBoard").width() * 1.05));
						
			$(".Liked").click(function(){									
				//-----------------------------------------------------------------------------------			
				var IdBook = $(this).attr('data-id');
												
				var URL = "/object/liked/Book/"+IdBook;
				$.ajax({
					type: "POST",						
					url: URL,
					success: function(msg){
						location.reload();
					}
				});			
			});
		/*]]>*/
		</script>
	</body>	
</html>