<!DOCTYPE html>
<html lang="en">
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="fb:app_id" content="1550985445183957"/>
		<meta property="og:title" tal:attributes="content Book/getTitle"/>
		<meta property="og:description" tal:attributes="content Book/getInfoReduce"/>		
		<meta property="og:image" tal:attributes="content Book/getThumb"/>
		<meta property="og:type" content="article" />
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-primary">
						<div class="panel-heading">							
							<span tal:content="php: mb_strtoupper(Chapter->getTitle(), 'UTF8')"/>
						</div>	
						<div class="panel-body">
							<div role="tabpanel" id="TabChapter">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation">
										<a tal:attributes="href php:'#TabInfo'" aria-controls="profile" role="tab" data-toggle="tab">Tổng quan</a>
									</li>
									<li role="presentation" class="active">
										<a tal:attributes="href php:'#TabBoard'" aria-controls="profile" role="tab" data-toggle="tab">Chi tiết</a>
									</li>							
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane"  id="TabInfo">
										<div class="article-meta-date">
											
										</div>
										<div class="article-meta-more">									
											<div tal:content="structure Chapter/getInfo" class="article-content-container"/>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane active" id="TabBoard">
										<table class="table table-striped">
											<tr tal:repeat="Board Chapter/getBoardAll">										
												<td width="48px"><img width="48px" tal:attributes="src Board/getThumb"/></td>
												<td>
													<a tal:attributes="href Board/getURLView">
														<span tal:content="Board/getName"/> (<span tal:content="Board/getDetailAll/count"/> nước)
													</a>
													<p tal:content="structure Board/getInfoReduce"/>											
												</td>										
											</tr>
										</table>
									</div>							
								</div>
							</div>
						</div>	
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-primary">
						<div class="panel-heading">DANH MỤC</div>
						<div class="panel-body">														
							<div class="btn-group" role="group" aria-label="...">
								<a tal:attributes="href Book/getURLView" class="btn btn-default">
									<i class="glyphicon glyphicon-share-alt"/>
								</a>
							</div>
							<ul class="list-group">
								<li tal:attributes="class php:Chapter->getId()==Chapter1->getId()? 'list-group-item list-group-item-success' : 'list-group-item'" tal:repeat="Chapter1 Book/getChapterAll">
									<a tal:attributes="href Chapter1/getURLView">
										<span tal:content="Chapter1/getTitleReduce"/>
									</a>									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</body>	
</html>