<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">			
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="glyphicon glyphicon-folder-open"/> <B>SÁCH CỜ</B>
						</div>
						<div class="panel-body">							
							<div role="tabpanel">
								<ul class="nav nav-tabs" role="tablist" id="PostTab">
									<li role="presentation"><a href="#book-random" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-flash"/></a></li>
									<li role="presentation" class="active"><a href="#book-recent" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-calendar"/></a></li>
									<li role="presentation"><a href="#book-viewed" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a></li>
									<li role="presentation"><a href="#book-liked" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a></li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane" id="book-random">
										<div class="col-sm-3 col-md-3" tal:repeat="Book BookRandomAll">
											<div class="thumbnail">
												<a tal:attributes="href Book/getURLView; title Book/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Book/getThumb"/>
													<div class="caption">
														<p align="center"><span tal:content="Book/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane active" id="book-recent">										
										<div class="col-sm-3 col-md-3" tal:repeat="Book BookRecentAll">
											<div class="thumbnail">
												<a tal:attributes="href Book/getURLView; title Book/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Book/getThumb"/>
													<div class="caption">
														<p align="center"><span tal:content="Book/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="book-viewed">
										<div class="col-sm-3 col-md-3" tal:repeat="Book BookViewedAll">
											<div class="thumbnail">
												<a tal:attributes="href Book/getURLView; title Book/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Book/getThumb"/>
													<div class="caption">
														<p align="center"><span tal:content="Book/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="book-liked">										
										<div class="col-sm-3 col-md-3" tal:repeat="Book BookLikedAll">
											<div class="thumbnail">
												<a tal:attributes="href Book/getURLView; title Book/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Book/getThumb"/>
													<div class="caption">
														<p align="center"><span tal:content="Book/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>											
									</div>
								</div>
							</div>
						</div>
					</div>					
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-folder-open"/> <B>VIDEO</B></div>
						<div class="panel-body">							
							<div role="tabpanel">
								<ul class="nav nav-tabs" role="tablist" id="VideoTab">
									<li role="presentation" class="active"><a href="#video-random" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-flash"/></a></li>
									<li role="presentation"><a href="#video-recent" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-calendar"/></a></li>
									<li role="presentation"><a href="#video-viewed" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a></li>
									<li role="presentation"><a href="#video-liked" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a></li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="video-random">										
										<div class="col-sm-2 col-md-2" tal:repeat="Video VideoRandomAll">
											<div class="thumbnail">
												<a tal:attributes="href Video/getURLView; title Video/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Video/getImage"/>
													<div class="caption">
														<p><span tal:content="Video/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="video-recent">
										<div class="col-sm-2 col-md-2" tal:repeat="Video VideoRecentAll">
											<div class="thumbnail">
												<a tal:attributes="href Video/getURLView; title Video/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Video/getImage"/>
													<div class="caption">
														<p><span tal:content="Video/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="video-viewed">
										<div class="col-sm-2 col-md-2" tal:repeat="Video VideoViewedAll">
											<div class="thumbnail">
												<a tal:attributes="href Video/getURLView; title Video/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Video/getImage"/>
													<div class="caption">
														<p><span tal:content="Video/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>
									</div>									
									<div role="tabpanel" class="tab-pane" id="video-liked">
										<div class="col-sm-2 col-md-2" tal:repeat="Video VideoLikedAll">
											<div class="thumbnail">
												<a tal:attributes="href Video/getURLView; title Video/getTitle" data-toggle="tooltip" data-placement="top">
													<img width="100%" tal:attributes="src Video/getImage"/>
													<div class="caption">
														<p><span tal:content="Video/getTimePrint1"/></p>
													</div>
												</a>													
											</div>
										</div>
									</div>									
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-body">							
							<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>
						</div>
					</div>
				</div>
			</div>
		</div>		
				
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('[data-toggle="tooltip"]').tooltip();
			$('#carousel-cotuong-generic').carousel({pause: "true"});
			$('.carousel-inner .item:first-child').addClass('active');
		/*]]>*/
		</script>
	</body>
</html>