<!DOCTYPE html>
<html lang="en">
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="og:title" tal:attributes="content Post/getTitle"/>
		<meta property="og:description" tal:attributes="content Post/getContentReduce"/>
		<meta property="og:image" tal:attributes="content Post/getImage"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-primary">
						<div class="panel-heading">							
							<ol class="breadcrumb">
								<li><a tal:attributes="href Category/getURLView"><span tal:content="Category/getName"/></a></li>
								<li class="active" tal:content="php: mb_strtoupper(Category->getName(), 'UTF8')"/>
							</ol>							
						</div>
						<div class="panel-body">
							<div class="article-meta-date">								
								<span tal:content="Post/getTimePrint"/>, <div class="btn"><i class="glyphicon glyphicon-stats"/> <span tal:content="Post/getViewedPrint"/></div> 
								<div class="btn"><i class="glyphicon glyphicon-star"/> <span tal:content="Post/getLikedPrint"/></div>
							</div>
							<div class="article-meta-more">																				
								<div class="share-button-group">
									<div class="fb-share-button" tal:attributes="data-href URLShare" data-type="button_count" />
								</div>
								<div tal:content="structure Post/getContent" class="article-content-container"/>
							</div>
						</div>						
					</div>
				</div>
				<div class="col-md-3 col-sm-3">
					<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>					
					<div width="100%" class="fb-like-box" data-href="https://www.facebook.com/pages/Caytretramdot/596061963849405" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				</div>
			</div>
		</div>		
	</body>	
</html>