<!DOCTYPE html>
<html lang="en">
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="og:title" tal:attributes="content Video/getTitle"/>
		<meta property="og:description" tal:attributes="content Video/getInfoReduce"/>
		<meta property="og:image" tal:attributes="content Video/getImage"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a tal:attributes="href Category/getURLView">
								<i class="glyphicon glyphicon-home"/>
								<span tal:content="Video/getTitle"/>
							</a>
						</div>
						<div class="panel-body">
							<div class="article-meta-date">								
								<span tal:content="Video/getTimePrint"/>, 
								<div class="btn"><i class="glyphicon glyphicon-stats"/> <span id="Viewed" tal:content="Video/getViewedPrint"/> <i class="glyphicon glyphicon-thumbs-up"/><span tal:content="Video/getLikedPrint"/></div>
							</div>
							<div class="article-meta-more">																				
								<div class="share-button-group">
									<div class="fb-share-button" tal:attributes="data-href URLShare" data-type="button_count" />
								</div>
								<div class="article-content-container">
									<iframe width="100%" height="480px" id="IdYouTube" tal:attributes="src Video/getYouTubeEmbeded;alt Video/getIdYouTube;data-id Video/getId" frameborder="0" allowfullscreen="1" />
									<span tal:content="structure Video/getInfo"/>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="col-md-4">
					<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>
					<div width="100%" class="fb-like-box" data-href="https://www.facebook.com/pages/Caytretramdot/596061963849405" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=1550985445183957&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
			var IdYouTube = $("#IdYouTube").attr("alt");
			var URL = "https://gdata.youtube.com/feeds/api/videos/" + IdYouTube + "?v=2&alt=json";
			//Load dữ liệu JSON lên FORM
			$.ajax({
				url: URL,
				async: false,
				dataType: 'json',
				success: function (data){
					var Viewed 	= data.entry.yt$statistics.viewCount;					
					var IdVideo = $("#IdYouTube").attr("data-id");
															
					var URL1 = "/service/youtube/update/statistic/video";
					$.ajax({
						type: "POST",
						data: {Viewed:Viewed, Liked:Liked, IdVideo:IdVideo},
						url: URL1,
						success: function(msg){
							
						}
					});					
				}
			});
			
			
		/*]]>*/
		</script>
	</body>	
</html>