<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul style="display: block;">
				<li tal:repeat="Save1 SaveAll" tal:attributes="class php:Save->getId()==Save1->getId()?'active':'disable'">
					<a tal:attributes="href Save1/getURLAdmin">
						<i class="glyphicons-show_big_thumbnails"/><span tal:content="Save1/getName"/>
					</a>
				</li>
			</ul>
		</div>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">																	
				<div class="col-12">										
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicon glyphicon-plus"/> Thêm mới
					</a>
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40"><i class="glyphicons-fax"/></th>
										<th><div class="text-left">SẢN PHẨM</div></th>
										<th width="120"><div class="text-right">GIẢM %</div></th>
										<th width="120"><div class="text-right">GIẢM TIỀN</div></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									<tr tal:repeat="SR Save/getSRAll">
										<td align="center" tal:content="repeat/SR/number"/>
										<td>
											<a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id SR/getId" tal:content="SR/getResource/getName" />
										</td>										
										<td><div class="text-right" tal:content="SR/getDiscount" /></td>
										<td><div class="text-right" tal:content="SR/getValue" /></td>
										<td class="center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id SR/getId">
												<i class="glyphicon glyphicon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="SaveCurrent" tal:attributes="alt Save/getId" />
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fax modal-icon"/>THÊM SẢN PHẨM</h3>
								</div>
								<div class="form-horizontal">
									<div class="modal-body">
										<div class="form-group">
											<label class="control-label" for="Name">Sản phẩm</label>											
											<div class="controls">
												<select name="IdResource1" id="IdResource1" style="width:80%;">
													<option tal:repeat="Product ProductAll" tal:attributes="value Product/getId">
														<span tal:content="Product/getCategory/getName" /> / 
														<span tal:content="Product/getName" />
													</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label" for="Discount1">Giảm %</label>
											<div class="controls">
												<input id="Discount1" name="Discount1" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label" for="Discount1">Giảm tiền</label>
											<div class="controls">
												<input id="Value1" name="Value1" type="text" class="form-control input-small"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END INSERT DIALOG  -->
					
					<!-- DELETE DIALOG  -->
					<div id="DialogDel" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3>XÓA ĐỢT KHUYẾN MÃI</h3>
								</div>
								<div class="modal-body">
									<p>Bạn có chắc muốn xóa mục này ?</p>
								</div>
								<div class="modal-footer">
									<button id="URLDelButton" class="btn btn-primary btn-small">Xóa</button>
									<button data-dismiss="modal" class="btn btn-default btn-small">Không</button>
								</div>
							</div>
						</div>
					</div>
					<!-- END DELETE DIALOG  -->
					
					<!-- UPDATE DIALOG  -->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fax modal-icon"/>CẬP NHẬT ĐỢT KHUYẾN MÃI</h3>
								</div>
								<div class="form-horizontal">
									<div class="modal-body">
										<div class="form-group">
											<label class="control-label" for="Name">Sản phẩm</label>
											<div class="controls">
												<select name="IdProduct2" id="IdProduct2" style="width:80%;">
													<option tal:repeat="Product ProductAll" tal:attributes="value Product/getId">
														<span tal:content="Product/getCategory/getName" /> / 
														<span tal:content="Product/getName" />
													</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label" for="Discount1">Giảm %</label>
											<div class="controls">
												<input id="Discount2" name="Discount2" type="text" class="form-control input-small"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label" for="Discount1">Giảm tiền</label>
											<div class="controls">
												<input id="Value2" name="Value2" type="text" class="form-control input-small"/>
											</div>
										</div>
									</div>									
									<div class="modal-footer">
										<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END UPDATE DIALOG  -->

					<!-- DELETE DIALOG  -->
					<div id="DialogDel" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"><h3>XÓA ĐỢT KHUYẾN MÃI</h3></div>
								<div class="modal-body">
									<p>Bạn có chắc muốn xóa mục này ?</p>
								</div>
								<div class="modal-footer">
									<button id="URLDelButton" class="btn btn-primary btn-small">Xóa</button>
									<button data-dismiss="modal" class="btn btn-default btn-small">Không</button>
								</div>
							</div>
						</div>
					</div>
					<!-- END DELETE DIALOG  -->
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>		
		<script type="text/javascript">
		/*<![CDATA[*/
												
			//-----------------------------------------------------------------------------------
			//Delete 1 REPORT			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Save/" + $(this).attr('alt');
				$.ajax({
					type: "POST",
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 REPORT
			$('#URLInsButton').click(function(){
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#SaveCurrent').attr('alt');
				Data[2] = $('#IdProduct1').val();
				Data[3] = $('#Discount1').val();
				Data[4] = $('#Value1').val();
				var URL = "/object/ins/SaveProduct";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 REPORT
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/SaveProduct/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', 		data.Id);
					$('#IdProduct2').select2('val', 	data.IdProduct);
					$('#Discount2').attr('value', 		data.Discount);
					$('#Value2').attr('value', 			data.Value);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 REPORT
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#SaveCurrent').attr('alt');
				Data[2] = $('#IdProduct2').val();
				Data[3] = $('#Discount2').val();
				Data[4] = $('#Value2').val();
				
				var URL = "/object/upd/SaveProduct";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});			
		/*]]>*/
		</script>
	</body>
</html>