<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style>
	@media print{
		.header, .hide { visibility: hidden };
		body { font-size: 9px };
		margin: 0mm 0mm 0mm 0mm;
	}	 
	@media screen {
		body { font-size: 9px }
	}
	@media screen, print {
		body { line-height: 1.0 }
	}
	@page  
	{ 
		size: auto;   /* auto is the initial value */ 
		/* this affects the margin in the printer settings */ 
		margin: 0mm 0mm 0mm 0mm;
	}
	</style>
</head>
<body onload="window.print()">
<table width="100%" cellpadding="1" cellspacing="0" border="0">
	<tr>
		<td width="100%" align="center" style="font-size:14pt;font-family:Arial; line-height:14pt;padding-top:0px">
			<B tal:content="ConfigName/getValue" />
		</td>
	</tr>
	<tr>
		<td width="100%" align="center" style="font-size:9pt;font-family:Arial; line-height:11pt;">			
			<span tal:content="ConfigAddress/getValue"/>
		</td>
	</tr>
	<tr>
		<td width="100%" align="center" style="font-size:10pt;font-family:Arial; line-height:11pt">
			<span tal:content="ConfigPhone/getValue"/>
		</td>
	</tr>
	<tr>
		<td width="100%" align="center" style="font-size:13pt;font-family:Arial; line-height:14pt">
			<b>PHIẾU TÍNH TIỀN</b>
		</td>
	</tr>
</table>
<br/>
<table width="100%" cellpadding="1" cellspacing="0" border="0" style="font-size:10pt;font-family:Arial; line-height:11pt;padding-top:0px">
	<tr>
		<td width="55%" align="left">							
			<span tal:content="Order/getDatePrint" />
		</td>
		<td width="45%" align="right">
			<span tal:content="Order/getCustomer/getName" />
		</td>
	</tr>	
</table>
<br/>
<table width="100%" cellpadding="2" cellspacing="0" border="1" style="font-size:10pt;font-family:Arial; line-height:11pt;padding-bottom:0px">
	<thead>
		<tr>
			<th width="42%" align="left"><b>TÊN HÀNG</b></th>
			<th width="11%" align="right"><b>SL</b></th>
			<th width="21%" align="right"><b>Đ.GIÁ</b></th>
			<th width="26%" align="right"><b>T.TIỀN</b></th>
		</tr>
	</thead>
	<tbody>
		<tr tal:repeat="Detail Order/getDetailAll">
			<td width="42%" align='left' tal:content="Detail/getResource/getName" />
			<td width="11%" align='right' tal:content="Detail/getCount" 		/>
			<td width="21%" align='right' tal:content="Detail/getPricePrint" 	/>
			<td width="26%" align='right' ><span tal:content="Detail/getValuePrint" /></td>
		</tr>		
	</tbody>
</table>	
<table width="100%" cellpadding="2" cellspacing="0" border="0" style="font-size:12pt;font-family:Arial; line-height:12pt;padding-bottom:2px;">
	<tbody>		
		<tr>
			<td align='right' colspan="5" width="100%">
				TỔNG TIỀN: <b tal:content="Order/getValuePrint"/>
			</td>
		</tr>
		<tr>
			<td align='right' colspan="5" width="100%">
				<p style="font-size:10pt;font-family:Arial; line-height:10pt;">( <span tal:content="Order/getValueStrPrint" /> )</p>
			</td>
		</tr>
		<tr><td></td></tr>
		<tr>
			<td align='center' colspan="5" width="100%">				
				<B style="font-size:10pt;font-family:Arial; line-height:12pt;">CÁM ƠN QUÍ KHÁCH. HẸN GẶP LẠI !</B>
			</td>
		</tr>
	</tbody>
</table>
</body>





