<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<form class="form-horizontal" tal:attributes="action Question/getURLUpdExe" method="post">																								
								<div class="control-group">	
									<label class="control-label" for="Content">Nội dung</label>
									<div class="controls">
										<textarea id="Content" tal:content="Question/getContent" class="ckeditor" name="Content" />
									</div>
								</div>								
								<div class="control-group">
									<label class="control-label">Gợi ý</label>
									<div class="controls">
										<input id="Hint" name="Hint" type="text" class="form-control input-small" tal:attributes="value Question/getHint" />
									</div>
								</div>
								<div class="control-group">	
									<label class="control-label" for="Detail1">A</label>
									<div class="controls">
										<textarea id="Detail1" class="ckeditor" name="Detail1" tal:content="QD1/getContent"/>
									</div>
								</div>
								<div class="control-group">	
									<label class="control-label" for="Detail2">B</label>
									<div class="controls">
										<textarea id="Detail2" class="ckeditor" name="Detail2" tal:content="QD2/getContent"/>
									</div>
								</div>
								<div class="control-group">	
									<label class="control-label" for="Detail2">C</label>
									<div class="controls">
										<textarea id="Detail3" class="ckeditor" name="Detail3" tal:content="QD3/getContent"/>
									</div>
								</div>
								<div class="control-group">	
									<label class="control-label" for="Detail2">D</label>
									<div class="controls">
										<textarea id="Detail4" class="ckeditor" name="Detail4" tal:content="QD4/getContent"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Chìa khóa</label>
									<div class="controls">
										<select name="Key" id="Key" style="width:80%;">
											<option value="1" tal:attributes="selected php:Question->getKey()=='1'?'selected':''">Chọn A</option>
											<option value="2" tal:attributes="selected php:Question->getKey()=='2'?'selected':''">Chọn B</option>
											<option value="4" tal:attributes="selected php:Question->getKey()=='4'?'selected':''">Chọn C</option>
											<option value="8" tal:attributes="selected php:Question->getKey()=='8'?'selected':''">Chọn D</option>
										</select>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>
								</div>
							</form>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/back/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			/* ---------------------------------------------------------------------------- */
			/* SET TODAY FOR DATEPICKER														*/
			/* ---------------------------------------------------------------------------- */
			//THIẾT LẬP NGÀY GIỜ GIAO DỊCH
			$('#Time').datetimepicker({
				language:  'vi',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				showMeridian: 1
			});			
		/*]]>*/
		</script>
	</body>
</html>