<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div class="container-fluid" id="wraper">
				<div class="row">								
					<div class="col-md-9">
						<div id="map_canvas" style="width:100%; height:300px;"></div>
						<input id="X" type="text" value='10.014996'/>
						<input id="Y" type="text" value='105.757973'/>
					</div>
					<div class="col-md-3">
						<div metal:use-macro="mFront.xhtml/Box1"/>
						<div metal:use-macro="mFront.xhtml/Box2"/>
					</div>
					<!--
					<div class="col-md-8 col-sm-8 col-xs-12">									
						<div class="row">
							<div id="contact-form">
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="input-group">
										<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Tên&#42;</span></span>
										<input type="text" name="contact-name" id="contact-name" required="" class="form-control input-lg"/>
									</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
										<input type="email" name="contact-email" id="contact-email" required="" class="form-control input-lg"/>
									</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Chủ đề&#42;</span></span>
										<input type="text" name="contact-subject" id="contact-subject" required="" class="form-control input-lg"/>
									</div>
								</div>
								
								<div class="col-md-6 col-sm-12 col-xs-12">									
									<input id="BtnSend" type="submit" value="Gửi" class="btn btn-custom-2 md-margin"/>
								</div>									
							</div>
							</div>
						</div>-->								
				</div>
			</div>
		</div>
		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script src="https://maps.googleapis.com/maps/api/js"></script>

		<script type="text/javascript">
			function initialize() {
				var mapCanvas = document.getElementById('map_canvas');
				var mapOptions = {
					center: new google.maps.LatLng($('#X').val(), $('#Y').val()),
					zoom: 17,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				var map = new google.maps.Map(mapCanvas, mapOptions)
			}
			google.maps.event.addDomListener(window, 'load', initialize);
			/*
			$("#refreshCaptcha").click(function() {					
					$.ajax({
					  url: 'http://huongsenhong.com/lien-he/RefreshCaptcha',
					  dataType: "json",					  
					  success: function(djson) {	
						var pathimg = djson['result'];						
						$('#PicCaptcha').attr("src","/data/" + pathimg);						
					  }
					});
					
			});	
									
			$('#BtnSend').click(function(e){
				var Data = [];
					Data[0] = $("#contact-name").val();
					Data[1] = $("#contact-email").val();
					Data[2] = $("#contact-subject").val();				
					Data[3] = $("#contact-message").val();					
					Data[4] = $("#CodeCaptcha").val();					
											
					var URL1 = "/lien-he/email";									
					$.ajax({
						type: "POST",
						data: {Data:Data},
						dataType: "json",	
						url: URL1,
						success: function(djson1){							
							var txtResult = djson1['result'];							
							if (txtResult === "OK") { 																
									$.ajax({
									  url: 'http://caytretramdot.com/lien-he/RefreshCaptcha',
									  dataType: "json",					  
									  success: function(djson) {	
										var pathimg = djson['result'];						
										$('#PicCaptcha').attr("src","/data/" + pathimg);						
									  }
									});	
																
								var Data1 = [];
									Data1[0] = $("#contact-name").val();
									Data1[1] = $("#contact-email").val();
									Data1[2] = $("#contact-subject").val();				
									Data1[3] = $("#contact-message").val();
								
								$("#contact-name").val('');
								$("#contact-email").val('');
								$("#contact-subject").val('');
								$("#contact-message").val('');
								$("#CodeCaptcha").val('');
									
								$("#Mesenge").html('Đã gửi mail phản hồi thành công!');
								
								$.ajax({
									  url: '/lien-he/gmail',									  
									  data: {Data:Data1},									  
									  success: function(html) {
										
									  }
									});	
							}
							
							if (txtResult === "FALSE") {
									$.ajax({
									  url: 'http://caytretramdot.com/lien-he/RefreshCaptcha',
									  dataType: "json",					  
									  success: function(djson) {	
										var pathimg = djson['result'];						
										$('#PicCaptcha').attr("src","/data/" + pathimg);						
									  }
									});
									$("#CodeCaptcha").val('');
									$("#Mesenge").html('Mã bảo mật không đúng nhập lại!');									
								}
						}
					});	
				
			});
			*/			
		</script>
	</body>
</html>