<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid"  style="margin-top:70px;">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default" tal:repeat="Tag TagAll">
						<div class="panel-body">
							<div class="media">
								<a class="media-left" tal:attributes="href Tag/getURLView">
									<!--
									<img width="86" tal:attributes="src Tag/getPost/getImage"/>
									!-->
								</a>
								<div class="media-body">
									<a tal:attributes="href Tag/getURLView">
										<h4 class="media-heading">
											<span tal:content="Tag/getName"/> (<span tal:content="Tag/getPTAll/count"/>)
										</h4>
									</a>									
								</div>
							</div>
						</div>
					</div>
					<!--
					<nav>
						<ul class="pagination">
							<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
								<a tal:attributes="href P/getURL" tal:content="P/getName"/>
							</li>
						</ul>
					</nav>
					!-->
				</div>
			</div>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>