<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-9">
					<h1>TIỆN ÍCH ĐỔI ĐƠN VỊ</h1>
				</div>
				<div class="col-md-3">
					<div metal:use-macro="mFront.xhtml/Box1"/>
					<div metal:use-macro="mFront.xhtml/Box2"/>
				</div>
			</div>
		</div>
				
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>