<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid"  style="margin-top:70px;">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1><span tal:content="User1/getName"/> <small>Đã đăng</small></h1>
					</div>
					<div class="panel panel-default" tal:repeat="Post PostAll">
						<div class="panel-body">
							<div class="media">
								<a class="media-left" tal:attributes="href Post/getURLRead">
									<img width="86" tal:attributes="src Post/getImage; alt Post/getTitle;"/>
								</a>
								<div class="media-body">
									<a tal:attributes="href Post/getURLRead">
										<h4 tal:content="Post/getTitle" class="media-heading"/>
									</a>
									<small><i tal:content="Post/getTimePrint"/></small>
									<p tal:content="structure Post/getContentReduce"/>
								</div>
							</div>
						</div>
					</div>
					<nav>
						<ul class="pagination">
							<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
								<a tal:attributes="href P/getURL" tal:content="P/getName"/>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>