<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>						
				
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">						
						<div class="widget-content nopadding">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label">Danh mục</label>
									<div class="controls">
										<select name="IdCategory" id="IdCategory" style="width:80%;">
											<option tal:repeat="Category CategoryAll" tal:attributes="value Category/getId">
												<span tal:content="Category/getCategory/getName"/> / <span tal:content="Category/getName"/>
											</option>
										</select>
									</div>
								</div>								
								<div class="control-group">
									<label class="control-label" for="IdPlayListYoutube">Id Playlist YouTube</label>
									<div class="controls">
										<input type="text" id="IdPlayListYoutube" name="IdPlayListYoutube" />
									</div>
								</div>
								<div class="form-actions">
									<button class="btn btn-success Exe">Thực hiện</button>
								</div>
							</div>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
		$(".Exe").click(function(){			
			var Count 	= 50;
			var Page 	= 0;
			var IdPlayList 	= $("#IdPlayListYoutube").val();
			var IdCategory	= $("#IdCategory").val();
			
			while (Count >=50){
				var URL = "https://gdata.youtube.com/feeds/api/playlists/" + IdPlayList + "?v=2&start-index="+(Page*50+1)+"&alt=json&max-results=50";
								
				//Load dữ liệu JSON lên FORM
				$.ajax({
					url: URL,
					async: false,
					dataType: 'json',
					success: function (data) {
						var DTitle 		= [];
						var DURL 		= [];
						var DViewed 	= [];
						var DLiked	 	= [];
						var Index   	= 0;
												
						Count = data.feed.entry.length;
						for (var i=0; i<Count; i++){
							//Video Private không thể truy xuất được
							if (data.feed.entry[i].title.$t != "Private video"){
								DTitle[Index] 	= data.feed.entry[i].title.$t;
								DURL[Index] 	= data.feed.entry[i].content.src;
								DViewed[Index] 	= data.feed.entry[i].yt$statistics.viewCount;								
								Index ++;
							}
						}
						alert("A");
						var URL1 = "/service/youtube/add/video/from/playlist";
						$.ajax({
							type: "POST",
							data: {IdCategory:IdCategory, DTitle:DTitle, DURL:DURL, DViewed:DViewed},
							url: URL1,
							success: function(msg){
								
							}
						});
					}
				});
				Page = Page + 1;
			}
			alert("Đã thêm xong !");
		});
		/*]]>*/
		</script>
	</body>
</html>