<!DOCTYPE html>
<html lang="en">
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="og:title" tal:attributes="content Book/getTitle"/>
		<meta property="og:description" tal:attributes="content Book/getInfoReduce"/>		
		<meta property="og:image" tal:attributes="content Book/getThumb"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading"><H1 tal:content="Book/getTitle"/></div>
						<div class="panel-body">
							<div class="article-meta-date">								
								<span tal:content="Book/getTimePrint"/>, <B tal:content="Book/getViewed"/> lượt xem,  <B tal:content="Book/getAuthor"/> 
								<span tal:condition="Book/getURL"><a class="btn btn-default" tal:attributes="href Book/getURL" target="blank">Link tải file sách gốc</a></span>
							</div>
							<div class="article-meta-more">																				
								<div class="share-button-group">
									<div class="fb-share-button" tal:attributes="data-href URLShare" data-type="button_count" />
								</div>
								<div tal:content="structure Book/getInfo" class="article-content-container"/>
								<iframe width="100%" height="480px" src="http://cotuong.caytretramdot.com/sach/co-the/bach-cuc-tuong-ky-tap-2-59/van-001-020-14/van-003-1421912642/embeded/1" />
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">CÁC CHƯƠNG</div>
						<div class="panel-body">
							<div class="article-meta-date" />							
							<div class="article-meta-more">
								<a tal:attributes="href Chapter1/getURLView;class 'btn btn-default btn-block'"  tal:repeat="Chapter1 Book/getChapterAll">
									<span tal:content="Chapter1/getTitle"/>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">
						<div class="panel-heading">DANH MỤC SÁCH</div>
						<div class="panel-body">
							<a tal:attributes="href Book1/getURLView;class php: Book1->getId()==Book->getId()?'btn btn-primary btn-block':'btn btn-default btn-block'"  tal:repeat="Book1 Category/getBookAll">
								<span tal:content="Book1/getTitleReduce"/>
							</a>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/						
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=525611617524479&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		/*]]>*/
		</script>
	</body>	
</html>