<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row-fluid">
				<div class="col-md-8">					
					<div class="panel panel-primary">
						<div class="panel-heading">
							<a tal:attributes="href Buddha/getURLView">
								<i class="glyphicon glyphicon-folder-open"/>
								<span tal:content="php: mb_strtoupper(Category->getName(), 'UTF8')"/>
							</a>
						</div>
						<div class="panel-body">
							<div role="tabpanel" id="TabBuddha">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Viewed')?'active':''">
										<a tal:attributes="href php:'#TabViewed'" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a>
									</li>
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Liked')?'active':''">
										<a tal:attributes="href php:'#TabLiked'" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a>
									</li>
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Name')?'active':''">
										<a tal:attributes="href php:'#TabName'" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-sort-by-alphabet"/></a>
									</li>									
								</ul>
								<div class="tab-content">
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Viewed')?'tab-pane active':'tab-pane'"  id="TabViewed">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoOrderViewedAll">
												<td width="48px">
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>														
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p><span tal:content="Video/getTimePrint1"/> <i class="glyphicon glyphicon-star"/><span tal:content="Video/getLikedPrint"/>, <i class="glyphicon glyphicon-stats"/><span tal:content="Video/getViewedPrint"/> </p>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>										
										<ul class="pagination alternate pull-right page-bar">
											<li tal:repeat="P PNByViewed/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
												<a tal:attributes="href P/getURL" tal:content="P/getName"/>
											</li>
										</ul>
									</div>
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Liked')?'tab-pane active':'tab-pane'"  id="TabLiked">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoOrderLikedAll">
												<td width="48px">
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>														
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p><span tal:content="Video/getTimePrint1"/> <i class="glyphicon glyphicon-star"/><span tal:content="Video/getLikedPrint"/>, <i class="glyphicon glyphicon-stats"/><span tal:content="Video/getViewedPrint"/> </p>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>
										<ul class="pagination alternate pull-right page-bar">
											<li tal:repeat="P PNByLiked/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
												<a tal:attributes="href P/getURL" tal:content="P/getName"/>
											</li>
										</ul>
									</div>	
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Name')?'tab-pane active':'tab-pane'"  id="TabName">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoOrderNameAll">
												<td width="48px">
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>														
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p><span tal:content="Video/getTimePrint1"/> <i class="glyphicon glyphicon-star"/><span tal:content="Video/getLikedPrint"/>, <i class="glyphicon glyphicon-stats"/><span tal:content="Video/getViewedPrint"/> </p>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>										
										<ul class="pagination alternate pull-right page-bar">
											<li tal:repeat="P PNByName/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
												<a tal:attributes="href P/getURL" tal:content="P/getName"/>
											</li>
										</ul>
									</div>	
								</div>
							</div>
						</div>						
					</div>										
				</div>
				<div class="col-md-4">
					<div width="100%" class="fb-like-box" data-href="https://www.facebook.com/pages/Caytretramdot/596061963849405" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/			
			
		/*]]>*/
		</script>
	</body>
</html>