<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div class="container-fluid" id="wraper">
				<div class="row">
					<div class="col-md-3">
						
					</div>
					<div class="col-md-6">
						<p align="center"><img src="/mvc/templates/theme/img/bamboo.png"/></p>						
						<p align="center">Các tư liệu video Phật Pháp chúng tôi sưu tầm từ Internet.</p>
						<p align="center">Rất hoan nghênh mọi người chia sẻ trao đổi và học hỏi kinh nghiệm về Cờ !</p>
						<p align="center">Hệ thống đã được và đang phát triển bởi <B>SPN Team</B>. Mọi đóng góp gửi trực tiếp vào email <B>tuanbuithanh@gmail.com</B></p>
						<p align="center"></p>
						<p align="center">Rất hoan nghênh các ý kiến mang tính chất đóng góp và xây dựng.</p>
					</div>
					<div class="col-md-3">
						
					</div>					
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>