<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	
	<body>
		<div class="wraper">
			<div metal:use-macro="macros.xhtml/Header"/>
			<div id="main">
				<a href="#" class="banner-show">
					<img src="/data/images/ads.jpg" border="0" width="100%"/>
				</a>
				<div class="columb-1-3">
					<!-- ///////////////////////////////////////// -->
					<div class="box">
						Thông tin
					</div>
					<div class="box">
						Thư viện địa ốc
					</div>
					<div class="box">
						Tài sản mới nhất
					</div>
					<div class="box">
						Quảng cáo
					</div>
				</div>
				<div class="columb-2-3">
					<div class="add-bar">
						<ul class="clearfix">
							<li class="no-bg"><a href="#">Thông tin địa ốc</a></li>
							<li><a href="#">Thị trường địa ốc</a></li>
						</ul>
					</div>
					<!-- ///////////////////////////////////////// -->
					<div class="box-radius">								
						<div class="news-nav clearfix" tal:repeat="NG News">
							<div class="left">
								<img tal:attributes="src NG/getImage" width="130px" height="100px" />
							</div>
							<div class="right">
								<h3 class="title"><a tal:attributes="href NG/getURLRead" tal:content="NG/getTitle"/></h3>
								<div class="date">Cập nhật <span tal:content="NG/getDatePrint"/></div>
								<div class="content-reduce" tal:content="structure NG/getContentReduce" />
							</div>
						</div>
					</div>
				</div>
				<div class="columb-3-3">
					<!-- ///////////////////////////////////////// -->
					<div class="box">
						<img src="/data/images/ads/ads1.gif" border="0" width="100%" />
					</div>
					<div class="box">
						<img src="/data/images/ads/ads2.gif" border="0" width="100%" />
					</div>
					<div class="box">
						Phong Thủy Nhà Đất
					</div>
					<div class="box">
						Đăng ký nhận bản tin
					</div>
					<div class="box">
						<img src="/data/images/ads/ads3.gif" border="0" width="100%" />
					</div>
					<div class="box">
						<img src="/data/images/ads/ads4.gif" border="0" width="100%" />
					</div>
					<div class="box">
						Bộ sưu tập nhà đẹp
					</div>
				</div>
				<div class="clear"/>
			</div>
		</div>
		<div metal:use-macro="macros.xhtml/Footer"/>
	</body>
</html>