<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>
	
	<body>
		<div class="container">
			<span metal:use-macro="macros.xhtml/Header"/>
			<div class="middle">
				<div class="default-wraper clearfix">
					<div class="ads-banner" style="margin-top:5px;">
						<img src="/data/images/img/ads.jpg" width="100%" border="0"/>
					</div>
					<div class="column w70">
						<div class="box in-left no-border">
							<div class="news-slider">
								<div class="content clearfix" tal:repeat="NG NGTopAll">
									<div class="column w50">
										<img tal:attributes="src NG/getImage" width="100%" height="200px" border="0"/>
									</div>
									<div class="column w50 right">
										<a class="news-title" tal:attributes="href NG/getURLRead" tal:content="NG/getTitle" />
										<div class="news-time">Cập nhật: <span tal:content="NG/getDatePrint"/></div>
										<div class="news-content-reduce" tal:content="structure NG/getContentReduceTop" />
									</div>
								</div>
							</div>
						</div>
						
						<div class="box in-left">
							<div class="box-title"><h1>Dự án nổi bật</h1></div>
							<div class="box-content">
								<div class="column w50" tal:repeat="Project ProjectTopAll">
									<img tal:attributes="src Project/getImage" width="90%" border="0"/><br/>
									<a tal:attributes="href Project/getURLRead"><h2 tal:content="Project/getTitle"/></a>
									<div class="news-time">Cập nhật: <span tal:content="Project/getDatePrint"/></div>
									<div class="news-content-reduce" tal:content="string: Project/getContentReduce"/>
								</div>
							</div>
						</div>
						
						<div class="box in-left" tal:repeat="Category CategoryMarketAll">
							<div class="box-title"><h1 tal:content="Category/getName"/> (<span tal:content="Category/getNews/count"/> tin)</div>
							<div class="box-content">
								<div class="grid-news">
									<ul class="clearfix">
										<li tal:repeat="News Category/getNewsTop4">
											<div class="column w50">
												<img src="/data/images/ads/ads5.jpg" width="90%" border="0"/><br/>
											</div>
											<div class="column w50">
												<a tal:attributes="href News/getURLRead"><h2 tal:content="News/getTitle"/></a>
												<div class="news-time">Cập nhật: <span tal:content="News/getDatePrint"/></div>
												<div class="news-content-reduce">Tóm tắt nội dung</div>
											</div>
										</li>										
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="column w30 right">
						<div class="box no-border" tal:repeat="Ads AdsAll">
							<a tal:attributes="href Ads/getURLRead" target="blank">
								<img tal:attributes="src Ads/getLogo" width="100%" border="0"/>
							</a>
						</div>						
					</div>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/Footer"/>
		</div>				
	</body>
</html>