<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>		
		<span metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<span metal:use-macro="mAdmin.xhtml/PanelAdmin"/>
				<div class="span9">
					<span metal:use-macro="mAdmin.xhtml/TitleAdmin"/>					
					<table class="table">
						<thead>
							<tr>
								<th width="32">#</th>
								<th>TÊN</th>
								<th width="150">DỰ ÁN</th>
								<th width="32"></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="CP CategoryProjectAll">
								<td><span tal:content="repeat/CP/number"/></td>
								<td><a tal:attributes="href CP/getURLUpdLoad"><span tal:content="CP/getName"/></a></td>
								<td><a tal:attributes="href CP/getURLView">
									Xem (<span tal:content="CP/getProjects/count"/>)
								</a></td>
								<td><a tal:attributes="href CP/getURLDelLoad"><span class="icon-remove"/></a></td>
							</tr>
						</tbody>
					</table>
					<a class="btn" href="/setting/category/project/ins/load">
						<span class="icon-plus" /> Thêm mới
					</a>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>