<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<span metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<span metal:use-macro="macros.xhtml/PanelAdmin"/>
				<div class="span9">
					<span metal:use-macro="mAdmin.xhtml/TitleAdmin"/>
					
					<form class="form-horizontal" tal:attributes="action 'setting/category/general/ins/exe'" method="POST">
						<div class="control-group">
							<label for="Name" class="control-label">Tên</label>
							<div class="controls">
								<input id="Name" name="Name" type="text"/>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button class="btn" type="submit" name="submit" value="submit-value">Thêm mới</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>