<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeAdminCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>		
		<span metal:use-macro="macros.xhtml/HeaderAdmin"/>
		<div class="container-fluid">
			<div class="row-fluid">
				<span metal:use-macro="macros.xhtml/PanelAdmin"/>
				<div class="span9">
					<ul class="breadcrumb">
						<li class="active">Thiết lập</li>
					</ul>
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/FooterAdmin"/>
		</div>
	</body>
</html>