<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>	
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function(){
				$("#BankingGuideDetail").hide();
				$("#BankingGuideView").click(function(){
					$("#BankingGuideDetail").toggle("slide");
				});
			});
			/*]]>*/
		</script>
	</head>	
	<body>
		
		<div metal:use-macro="macros.xhtml/Header"/>
			<div id="main">				
				<div id="left">
					<div class="box">
						<div class="box-title"><span tal:content="Title" style="color:white; font-size:13px; font-weight:bold; display:block; padding-top:3px; padding-left:10px;" /></div>
						<div class="market-content">
							<form class="form-editor" tal:attributes="action '/utility/banking'" method="post">
								<div class="row">
									<div for="Value" class="label">Số tiền vay (VNĐ)</div>
									<div class="textbox"><input id="Value" name="Value" type="text" tal:attributes="Value Value"/></div>
									<div class="clear" />
								</div>
								<div class="row">
									<div for="Type" class="label">Hình thức trả nợ</div>
									<div class="selectbox" >
										<select id="Type" name="Type">
											<option tal:attributes="selected php:Type==0?true:false" value="0">Trả góp theo dư nợ giảm dần</option>
											<option tal:attributes="selected php:Type==1?true:false" value="1">Trả góp đều hàng tháng theo lãi suất đơn</option>
											<option tal:attributes="selected php:Type==2?true:false" value="2">Trả góp đều hàng tháng theo lãi suất kép</option>
											<option tal:attributes="selected php:Type==3?true:false" value="3">Trả góp đều hàng tháng, lãi tính trên dư nợ giảm dần</option>
										</select>
									</div>
									<div class="clear" />
								</div>						
								<div class="row">
									<div for="Rate" class="label">Lãi suất (% tháng)</div>
									<div class="textbox" >
										<input id="Rate" name="Rate" type="text" tal:attributes="Value Rate"/>
									</div>
									<div class="clear" />
								</div>
								<div class="row">
									<div for="Count" class="label">Thời gian vay (tháng)</div>
									<div class="textbox" >
										<input id="Count" name="Count" type="text"  tal:attributes="Value Count"/>
									</div>
									<div class="clear" />
								</div>
								<div class="row">
									<div class="button" >
										<button type="submit" name="submit" value="submit-value">Xem</button>
										<button id="BankingGuideView" type="button" name="button" value="button-value">Hướng dẫn</button>
									</div>
									<div class="clear" />
								</div>
							</form>
							<table width="100%">
								<tr><td colspan="3" width="100%" align="left"><H3>THÔNG TIN KHOẢN VAY</H3></td></tr>								
								<tr>
									<td width="50%" align="right">Hình thức</td>
									<td colspan ="2" width="50%" align="left" tal:content="TypeStr"/>
								</tr>
								<tr>
									<td width="50%" align="right">Tổng số tiền vay</td>
									<td width="20%" align="right" tal:content="ValueOld"/>
									<td width="30%" align="left">VNĐ</td>
								</tr>
								<tr>
									<td align="right">Lãi suất</td>
									<td align="right" tal:content="Rate"/>
									<td align="left">%</td>
								</tr>
								<tr>
									<td align="right">Thời gian vay</td>
									<td align="right" tal:content="Count"/>
									<td align="left">tháng</td>
								</tr>
								<tr><td colspan="3" width="100%" align="left"><H3>TỔNG KẾT</H3></td></tr>
								<tr>
									<td align="right">Tổng số tiền lãi</td>
									<td align="right" tal:content="SRateValue"/>
									<td align="left">VNĐ</td>
								</tr>
								<tr>
									<td align="right">Lãi suất thực</td>
									<td align="right" tal:content="SRate"/>
									<td align="left">%</td>
								</tr>
								<tr>
									<td align="right">Tổng số tiền phải trả</td>
									<td align="right" tal:content="ValueNew"/>
									<td align="left">VNĐ</td>
								</tr>
							</table>
							<H3>BẢNG SAO KÊ CHI TIẾT</H3>
							<div tal:condition="Value" id="BankingExplainView">
								<table border="0" cellpadding="0" cellspacing="1" class="table-setting">
									<thead>
										<tr>
											<th align="center">Thời gian <BR/>(tháng)</th>
											<th align="right">Tiền phải trả<BR/>(VNĐ)</th>
											<th align="right">Tiền trả<BR/>(VNĐ)</th>
											<th align="right">Tiền lãi<BR/>(VNĐ)</th>
											<th align="right">Còn lại<BR/>(VNĐ)</th>
											<th align="right">Lãi suất thật<BR/>(%)</th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="arr ArrData">
											<td align="center" tal:content="php:arr[0]"/>
											<td align="right" tal:content="php:arr[1]"/>
											<td align="right" tal:content="php:arr[2]"/>
											<td align="right" tal:content="php:arr[3]"/>
											<td align="right" tal:content="php:arr[4]"/>
											<td align="right" tal:content="php:arr[5]"/>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td align="center">TỔNG</td>
											<td align="right" tal:content="ValueNew"/>
											<td align="right" tal:content="ValueOld"/>
											<td align="right" tal:content="SRateValue" />
											<td />
											<td />
										</tr>
									</tfoot>
								</table>
							</div>
							<div id="BankingGuideDetail">
								<ul>
									<li><B>Bước 1</B>: Nhập số tiền mà bạn đã vay hoặc dự định vay.</li>
									<li><B>Bước 2</B>: Chọn hình thức trả nợ mà bạn đã hoặc dự định lựa chọn. Có thể tham khảo ý nghĩa các loại hình trả nợ tại đây.</li>
									<li><B>Bước 3</B>: Nhập mức lãi suất vay, hiện nay các ngân hàng không công bố lãi suất cho vay mà áp dụng lãi suất thỏa thuận, do đó lãi suất bạn tự nhập hoặc xem có tính chất tham khảo tại đây.</li>
									<li><B>Bước 4</B>: Nhập thời gian vay theo tháng và nhấn nút "Xem" để xem kết quả.</li>
								</ul>
								<p>Kết quả sẽ hiển thị tóm tắt số tiền vay, lãi suất thực tính theo tháng, tổng số tiền phải trả cho khoản vay và số tiền trả hàng tháng trong thời gian vay.</p>
								<p>Giải thích về các hình thức vay vốn:</p>
								<ul>
									<li><b>Trả góp đều hàng tháng theo lãi suất đơn:</b>Là hình thức tiền lãi được tính trên dư nợ gốc và cộng vào dư nợ gốc, tổng số tiền gôm vốn và lãi sẽ được chia đều ra trả hàng tháng cho đến cuối kỳ vay vốn.</li>
									<li><b>Trả góp đều hàng tháng theo lãi suất kép:</b>Là hình thức tiền lãi của tháng trước sẽ được cộng vào vốn để tính lãi cho tháng sau và tổng số tiền lãi và vốn đến cuối kỳ được chia đều trả hàng tháng.</li>
									<li><b>Trả góp theo dư nợ giảm dần:</b>Là hình thức mà mỗi tháng sẽ trả một phần tiền nợ gốc như nhau và số lãi của tháng đó cho đến cuối chu kỳ vay. Lãi của tháng sẽ tính theo dư nợ thực của tháng.</li>
									<li><b>Trả góp đều hàng tháng, lãi tính trên dư nợ giảm dần:</b>Là hình thức mà người vay phải trả số tiền như nhau trong suốt thời gian vay vốn bao gồm cả lãi của tháng đó và trừ dần dư nợ. Lãi suất trong hợp đồng được tính trên dư nợ thực tế của tháng đó.</li>
								</ul>
							</div>
							<style type="text/css">
								#BankingGuideDetail { padding:10px; background-color:#F9F9F9; border:1px solid #DDDDDD; margin-top:10px; margin-bottom:10px; }
								#BankingGuideDetail ul { list-style:none; line-height:20px; }
								#BankingGuideDetail ul li { margin-top:10px; }
							</style>
						</div>
					</div>
				</div>
				<div id="right">
					<div metal:use-macro="macros.xhtml/BoxRegister"/>
					<div metal:use-macro="macros.xhtml/BoxProject"/>
					<div metal:use-macro="macros.xhtml/BoxAgency"/>
				</div>
				<div class="clear" />				
			</div>
		<div metal:use-macro="macros.xhtml/Footer"/>
		
	</body>
</html>
