<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
		<link href="/mvc/templates/theme/cchess/css/style.css" rel="stylesheet" media="screen"/>
		<style>

		</style>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/Header"/>
		<div id="wrap" class="container-fluid">
			<div metal:use-macro="mBase.xhtml/Breadcrumb" />
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-tabs nav-stacked">
						<li tal:repeat="Set CB/getSetTopAll">
							<a tal:attributes="href Set/getURLRead">
								<span tal:content="Set/getNameReduce"/>
								<i class="icon-chevron-right pull-right"/>
							</a>
						</li>
					</ul>
				</div>
				<div class="span5">
					<div class="well">
						<div class="base-board">
							<canvas id="ChessBoard"></canvas>
						</div>
					</div>
				</div>
				<div class="span4">
					<h4 tal:content="CS/getName"/>
					(<span tal:content="CS/getCountPrint"/> xem)
					<div tal:repeat="Step CS/getStepAll">
						<span class='btn btn-danger iStep' 	tal:attributes="alt Step/getContent1"><span tal:content="Step/getName1"/></span>
						<span class='btn btn-info 	iStep' 	tal:attributes="alt Step/getContent2"><span tal:content="Step/getName2"/></span>
					</div>
					<div id="DataMove" tal:attributes="alt CS/getStepAllPrint"/>
				</div>
			</div>
		</div>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>
		<script src="/mvc/templates/theme/cchess/js/piece.js"></script>	
		<script src="/mvc/templates/theme/cchess/js/board.js"></script>
		<script>
			window.onload = function() {					
								
				var canvas 		= document.getElementById("ChessBoard");			
				var context 	= canvas.getContext("2d");
				var Rect 		= canvas.getBoundingClientRect();
				var bsBoard		= $('.base-board').width();
				
				canvas.width 	= bsBoard;
				canvas.height 	= bsBoard + (bsBoard/8);
				
				$("#ChessBoard").css("box-shadow", "0 0 0 "+((bsBoard/8)/3)+"px #ADD8E6 inset");				
				var VC			= new Board("Van1", ((bsBoard/8)/3)+5, ((bsBoard/8)/3)+5, Rect, ((bsBoard-((((bsBoard/8)/3)+5)*2))/8)-1.7, ((canvas.height-((((bsBoard/8)/3)+5)*2))/9)-1.8);
				
				//KHỞI TẠO BÀN CỜ
				VC.init();
				VC.getStepAllLoad($("#DataMove").attr('alt'));
				
				canvas.addEventListener('click', function(e){
						VC.click(e);
						context.clearRect(0, 0, canvas.width, canvas.height);
						VC.draw(canvas, context);				
						$("#MoveList").html(VC.getStepAll());
					},
				false);												
				VC.draw(canvas, context);
								
				//XỬ LÍ NƯỚC ĐI
				$('.iStep').click(function(){
					var move = $(this).attr('alt');					
					VC.setState(move);
					context.clearRect(0, 0, canvas.width, canvas.height);
					VC.draw(canvas, context);
				});
				
			}
		</script>
	</body>
</html>