<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
		<link href="/mvc/templates/theme/cchess/css/style.css" rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/HeaderChess"/>
		<div id="wrap" class="container-fluid">
			<div metal:use-macro="mBase.xhtml/Breadcrumb" />
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-tabs nav-stacked">
						<li tal:repeat="CB CBAll">
							<a tal:attributes="href CB/getURLRead">
								<span tal:content="CB/getTitleReduce"/>
								<i class="icon-chevron-right pull-right"/>
							</a>
						</li>
					</ul>
				</div>
				<div class="span9">
					<div class="well">
						<p> bây giờ chỉ bấm và xem.</p>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>		
	</body>
</html>