<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mBase.xhtml/IncludeMETA"/>
		<div metal:use-macro="mBase.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mBase.xhtml/Header"/>
		<div id="wrap" class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<ul class="thumbnails">
						<li class="span4"/>
						<li class="span4">
							<div class="thumbnail" style="padding:10px 20px 0;">
								<form>
									<center><legend>Thông Báo</legend></center>
									<fieldset>
										<label>Tên tài khoản</label>
										<input class="span12" type="text" placeholder="Tên của bạn" />										
									</fieldset>
									<a href="/dang-ky" class="flip-link to-login">&laquo; Trở lại Đăng ký</a>
									<a href="/dang-nhap" class="flip-link to-login">&laquo; Trở lại Đăng nhập</a>
									<a href="/trang-chu" class="flip-link to-login">&laquo; Trở lại trang chủ</a>
								</form>
							</div>
						</li>
						<li class="span4"/>
					</ul>
				</div>
			</div>
		</div>
		<div metal:use-macro="mBase.xhtml/Footer"/>
		<div metal:use-macro="mBase.xhtml/IncludeJS"/>
	</body>
</html>