<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
					
					<h1 tal:content="Title"/>
                    <form class="form-horizontal" tal:attributes="action '/quan-ly/co-tuong/ins-exe'" method="post">
						<div class="control-group">
							<label class="control-label" for="Title">Tiêu đề</label>
							<div class="controls">
								<input type="text" id="Title" name="Title" placeholder="Tên sách"/>
							</div>
						</div>									
						<div class="control-group">
							<label class="control-label" for="Date">Thời gian</label>
							<div class="controls">
								<input id="DateTime" name="DateTime" type="text" data-date="" data-date-format="yyyy-mm-dd hh:ss" class="datepicker form-control input-small"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Author">Tác giả</label>
							<div class="controls">
								<input type="text" id="Author" name="Author" placeholder="Tác giả"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Author">Nội dung</label>
							<div class="controls">
								<textarea id="Content" class="ckeditor" name="Content" placeholder="Nội dung"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Count">Lượt xem</label>
							<div class="controls">
								<input type="text" id="Count" name="Count" placeholder="Count"/>
							</div>
						</div>						
						<div class="form-actions">
							<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>										
						</div>
					</form>
					
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			/* ---------------------------------------------------------------------------- */
			/* SET TODAY FOR DATEPICKER														*/
			/* ---------------------------------------------------------------------------- */
			$('#DateTime').datetimepicker({
				language:  'vi',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				showMeridian: 1
			});			
		/*]]>*/
		</script>
	</body>
</html>