<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
					
					<h1 tal:content="Title"/>
                    <form class="form-horizontal" tal:attributes="action ZenMusic/getURLUpdExe" method="post">
						<div class="control-group">
							<label class="control-label" for="Introduction">Giới thiệu</label>
							<div class="controls">
								<textarea id="Introduction" class="ckeditor" name="Introduction" placeholder="Nội dung" tal:content="ZenMusic/getIntroduction" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Count">Lượt truy cập</label>
							<div class="controls">
								<input type="text" id="Count" name="Count" placeholder="Count" tal:attributes="value ZenMusic/getCount" />
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>
						</div>
					</form>
					
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/ckeditor/ckeditor.js"/>
	</body>
</html>