<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">				
					<div class="row-fluid">
						<div class="span12">
							<h1 tal:content="Title"/>
							<div class="btn-group">
								<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
									<i class="icon-plus icon-white"/> Thêm mới
								</a>								
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="30">STT</th>
										<th><div class="text-left">TÊN</div></th>										
										<th width="80"><div class="text-right">XEM</div></th>
										<th width="30" />
									</tr>
								</thead>
								<tbody>									
									<tr tal:repeat="TCategory TCategoryAll">
										<td  align="center" tal:content="repeat/TCategory/number"/>
										<td><a 	class="update-item" href="#DialogEdit" data-toggle="modal" 
												tal:attributes="id TCategory/getId;
																name TCategory/getName;
																order TCategory/getOrder;"
												tal:content="TCategory/getName"
											/>
										</td>
										<td align="right">
											<a 	tal:attributes="href TCategory/getURLSetting;"
												tal:content="TCategory/getThemeAll/count"
											/>
										</td>
										<td align="center"><a class="remove-item" data-toggle="modal" tal:attributes="id TCategory/getId;" href="#DialogDel"><i class="icon-remove"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
                </div>
            </div>
		</div>
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-user modal-icon"/>THÊM MỚI DANH MỤC THEME</h3>
					</div>
					<form id="FormTCategoryInsert" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Thứ tự</label>
								<div class="controls">
									<input id="Order1" name="Order1" type="text" class="form-control input-small"/>
								</div>
							</div>								
						</div>
						<div class="modal-footer">
							<button id="URLInsButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-user modal-icon"/>CẬP NHẬT DANH MỤC WEBSITE MẪU</h3>
					</div>
					<form id="FormTCategoryUpdate" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Thứ tự</label>
								<div class="controls">
									<input id="Order2" name="Order2" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>	
						<div class="modal-footer">
							<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>		
		<!-- END UPDATE DIALOG  -->
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/TCategory/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 USER			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/TCategory/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 USER
			$("#FormTCategoryInsert").validate({
				rules:{
					Name1:{
						minlength: 3,
						required:true
					}					
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';
					Data[1] = $('#Name1').val();
					Data[2] = $('#Order1').val();				
																		
					var URL = "/object/ins/TCategory";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 USER
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về				
				$('#URLUpdButton').attr('alt', 	$(this).attr('id'));
				$('#Name2').attr('value', 		$(this).attr('name'));
				$('#Order2').attr('value', 		$(this).attr('order'));
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 USER
			//-----------------------------------------------------------------------------------			
			$("#FormTCategoryUpdate").validate({
				rules:{
					Name2:{
						minlength: 3,
						required:true
					}					
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];								
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#Name2').val();
					Data[2] = $('#Order2').val();				
														
					var URL = "/object/upd/TCategory";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name2').first().focus()},
					0500
				);
			});
			
		/*]]>*/
		</script>
	</body>
</html>