<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mGebo.xhtml/IncludeMETA"/>
		<div metal:use-macro="mGebo.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div id="maincontainer" class="clearfix no-bg">
            <div metal:use-macro="mAdmin.xhtml/Header"/>
            <div id="contentwrapper">
                <div class="main_content">
				
                    <div class="row-fluid">
						<div class="span12">
							<h1 tal:content="Title"/>
							<div class="btn-group">
								<a id="insertObject" tal:attributes="href CB/getURLSettingSetInsLoad" class="btn btn-success sinleins"><i class="icon-plus icon-white"/> Thêm mới</a>
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="30">STT</th>
										<th><div class="text-left">TÊN VÁN</div></th>
										<th width="80"><div class="text-right">THỨ TỰ</div></th>
										<th width="80"><div class="text-right">LƯỢT XEM</div></th>
										<th width="80"><div class="text-right">NƯỚC ĐI</div></th>
										<th width="30" />
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Set CB/getSetAll">
										<td  align="center" tal:content="repeat/Set/number"/>
										<td><a tal:attributes="href Set/getURLUpdLoad" tal:content="Set/getName"/></td>											
										<td align="right" tal:content="Set/getOrder"/>
										<td align="right" tal:content="Set/getCountPrint"/>
										<td align="right">
											<a tal:attributes="href Set/getURLSettingStep">
												Xem
											</a>
										</td>
										<td align="center"><a tal:attributes="href Set/getURLDelLoad"><i class="icon-remove"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
                </div>
            </div>
		</div>
		
		<div metal:use-macro="mGebo.xhtml/IncludeJS"/>
	</body>
</html>