Options +FollowSymlinks
RewriteEngine on
 
#---------------------------------------------------------------------------------------------------------------------------
# BASE
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 							?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 							?cmd=ObjectUpd&ObjectName=$1 [L]

RewriteRule ^trang-chu$ 											?cmd=Home [L]
RewriteRule ^tim-kiem$ 												?cmd=Search [L]

RewriteRule ^ung-dung/co-tuong$ 									?cmd=AppCChess [L]
RewriteRule ^ung-dung/co-tuong/([a-z0-9_-]+)$ 						?cmd=AppCBook&KIdBook=$1 [L]
RewriteRule ^ung-dung/co-tuong/([a-z0-9_-]+)/([a-z0-9_-]+)$ 		?cmd=AppCSet&KIdBook=$1&KIdSet=$2 [L]

RewriteRule ^p/([a-z0-9_-]+)$ 										?cmd=PostRead&KIdPost=$1 [L]
RewriteRule ^dang-ky$ 												?cmd=Register [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------

RewriteRule ^dang-nhap$ 											?cmd=SigninLoad [L]
RewriteRule ^dang-nhap/exe$ 										?cmd=SigninExe [L]
RewriteRule ^signout$ 												?cmd=SignoutExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 							?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 							?cmd=ObjectUpd&ObjectName=$1 [L]

RewriteRule ^quan-ly$ 												?cmd=Setting [L]
RewriteRule ^quan-ly/bai-viet$										?cmd=SettingPost [L]
RewriteRule ^quan-ly/bai-viet/([0-9]+)/upd-load$					?cmd=SettingPostUpdLoad&IdPost=$1 [L]
RewriteRule ^quan-ly/bai-viet/([0-9]+)/upd-exe$						?cmd=SettingPostUpdExe&IdPost=$1 [L]
RewriteRule ^quan-ly/bai-viet/([0-9]+)/del-load$					?cmd=SettingPostDelLoad&IdPost=$1 [L]
RewriteRule ^quan-ly/bai-viet/([0-9]+)/del-exe$						?cmd=SettingPostDelExe&IdPost=$1 [L]
RewriteRule ^quan-ly/bai-viet/ins-load$								?cmd=SettingPostInsLoad [L]
RewriteRule ^quan-ly/bai-viet/ins-exe$								?cmd=SettingPostInsExe [L]

RewriteRule ^quan-ly/co-tuong$										?cmd=SettingCChess [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/upd-load$					?cmd=SettingCChessUpdLoad&IdCBook=$1 [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/upd-exe$						?cmd=SettingCChessUpdExe&IdCBook=$1 [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/del-load$					?cmd=SettingCChessDelLoad&IdCBook=$1 [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/del-exe$						?cmd=SettingCChessDelExe&IdCBook=$1 [L]
RewriteRule ^quan-ly/co-tuong/ins-load$								?cmd=SettingCChessInsLoad [L]
RewriteRule ^quan-ly/co-tuong/ins-exe$								?cmd=SettingCChessInsExe [L]

RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co$						?cmd=SettingCSet&IdCBook=$1 [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/ins-load$				?cmd=SettingCSetInsLoad&IdCBook=$1 [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/ins-exe$				?cmd=SettingCSetInsExe&IdCBook=$1 [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/([0-9]+)/upd-load$	?cmd=SettingCSetUpdLoad&IdCBook=$1&IdCSet=$2 	[L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/([0-9]+)/upd-exe$		?cmd=SettingCSetUpdExe&IdCBook=$1&IdCSet=$2 	[L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/([0-9]+)/del-load$	?cmd=SettingCSetDelLoad&IdCBook=$1&IdCSet=$2 	[L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/([0-9]+)/del-exe$		?cmd=SettingCSetDelExe&IdCBook=$1&IdCSet=$2 	[L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/([0-9]+)/step$		?cmd=SettingCSetStep&IdCBook=$1&IdCSet=$2 		[L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/([0-9]+)/step/upd$	?cmd=SettingCSetStep1&IdCBook=$1&IdCSet=$2 [L]
RewriteRule ^quan-ly/co-tuong/([0-9]+)/van-co/([0-9]+)/step/exe$	?cmd=SettingCSetStep1Exe&IdCBook=$1&IdCSet=$2 [L]

RewriteRule ^quan-ly/nguoi-dung$									?cmd=SettingUser [L]