<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">			
			<ul style="display: block;">
				<li tal:repeat="Domain1 DomainAll" tal:attributes="class php:Domain1->getId()==Domain->getId()?'active':'disable'">
					<a tal:attributes="href php: Domain1->getURLDailyReport( TD )">
						<i class="glyphicons-group" /><span tal:content="Domain1/getName"/>							
					</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a tal:attributes="href php: Domain->getURLDailyReportPrint( TD )" target="blank" class="btn btn-primary btn-ins">
						<i class="glyphicons-print"/>  In báo cáo
					</a>					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="32">STT</th>
										<th class="left">TÊN</th>
										<th width="60"><div class="text-right">V.NHẬN</div></th>
										<th width="60"><div class="text-right">V.TRẢ</div></th>
										<th width="60"><div class="text-right">V.BÁN</div></th>
										<th width="100"><div class="text-right">T.BÁN VÉ</div></th>
										<th width="100"><div class="text-right">THU T.BÁN</div></th>
										<th width="100"><div class="text-right">NỢ T.VÉ </div></th>
										
										<th><div class="text-right">THU T.GÓP</div></th>
										<th><div class="text-right">NỢ T.ỨNG</div></th>
										
										<th><div class="text-right">TỔNG NỢ</div></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="CL CLAll">
										<td class="center"><span tal:content="repeat/CL/number"/></td>
										<td><span tal:content="CL/getCustomer/getName"/></td>
										<td><div class="text-right" tal:content="CL/getTicket1"/></td>
										<td><div class="text-right" tal:content="CL/getTicket2"/></td>
										<td><div class="text-right" tal:content="CL/getTicketD"/></td>										
										<td><div class="text-right" tal:content="CL/getTicketValuePrint"/></td>
										<td><div class="text-right" tal:content="CL/getPaid1Print"/></td>
										<td><div class="text-right" tal:content="CL/getPaid1RemainPrint" style="color:blue;"/></td>
										
										<td><div class="text-right" tal:content="CL/getPaid2Print"/></td>
										<td><div class="text-right" tal:content="CL/getPaid2RemainPrint" style="color:blue;"/></td>
										
										<td><div class="text-right" tal:content="CL/getValuePrint" style="color:red;"/></td>										
									</tr>
									<tr>										
										<td colspan="2" class="left"><B>TỔNG</B></td>
										<td><B><div class="text-right" tal:content="STicket1"/></B></td>
										<td><B><div class="text-right" tal:content="STicket2" /></B></td>
										<td><B><div class="text-right" tal:content="STicketD" /></B></td>
										<td><B><div class="text-right" tal:content="STicketValue" /></B></td>
										<td><B><div class="text-right" tal:content="SPaid1" /></B></td>
										<td><B><div class="text-right" tal:content="SPaid1Remain" style="color:blue;"/></B></td>
										
										<td><B><div class="text-right" tal:content="SPaid2" /></B></td>
										<td><B><div class="text-right" tal:content="SPaid2Remain" style="color:blue;"/></B></td>
										
										<td><B><div class="text-right" tal:content="SValue" style="color:red;"/></B></td>
									</tr>
								</tbody>
							</table>							
						</div>
					</div>					
				</div>
			</div>
		</div>
						
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
					
			
		/*]]>*/
		</script>
	</body>
</html>