<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<form class="form-horizontal" tal:attributes="action PI/getURLSettingExe" method="post">
								<div class="control-group">
									<label class="control-label" for="Image1">Ảnh 1</label>
									<div class="controls">
										<input type="text" id="Image1" name="Image1" tal:attributes="value PI/getImage1" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Image2">Ảnh 2</label>
									<div class="controls">
										<input type="text" id="Image2" name="Image2" tal:attributes="value PI/getImage2" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Info">Thông tin</label>
									<div class="controls">
										<textarea id="Info" class="ckeditor" name="Info" tal:content="PI/getInfo"/>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>
								</div>
							</form>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/back/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			/* ---------------------------------------------------------------------------- */
			/* SET TODAY FOR DATEPICKER														*/
			/* ---------------------------------------------------------------------------- */
			//THIẾT LẬP NGÀY GIỜ GIAO DỊCH
			$('#Time').datetimepicker({
				language:  'vi',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				showMeridian: 1
			});			
		/*]]>*/
		</script>
	</body>
</html>