<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">
				<div id="slider-sequence" class="homeslider">
					<div class="sequence-prev"></div>
					<div class="sequence-next"></div>
					<ul class="sequence-canvas">
						<li tal:repeat="Image Album/getImageAll" tal:attributes="class php:'sequence-slide' . repeat.Image.number">							
							<img width="100%" tal:attributes="src Image/getURL;alt php:'sequence-slide-' . repeat.Image.number" />							
							<div class="sequence-container container" tal:content="structure Image/getName" />
						</li>
					</ul>
					<ul class="sequence-pagination">
						<li tal:repeat="Image Album/getImageAll" tal:content="php:'Frame ' . repeat.Image.number"/>
					</ul>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			var options = {
				nextButton: true,
				prevButton: true,
				pagination:true,
				autoPlay: true,
				autoPlayDelay: 8500,
				pauseOnHover: true,
				preloader: true,
				theme: 'slide',
				speed: 700,
				animateStartingFrameIn: true
			},
			homeSlider = $('#slider-sequence').sequence(options).data("sequence");
				
			$('.Liked').click(function(){
				var Data = [];								
				var Id 	= $(this).attr('data-id');
								
				var URL = "/object/liked/Album/"+Id;
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();						
					}
				});
				return false;
			});
		/*]]>*/
		</script>
	</body>
</html>