<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">				
				<div id="slider-sequence" class="homeslider">
					<div class="sequence-prev"></div>
					<div class="sequence-next"></div>
					<ul class="sequence-canvas">						
						<li tal:repeat="Slide Presentation/getSlideAll" tal:attributes="class php:'sequence-slide' . repeat.Slide.number">
							<div class="sequencebg">
								<img tal:attributes="src Slide/getURL;alt php:'sequence-slide-' . repeat.Slide.number" class="sequencebg-image"/>
							</div>
							<div class="sequence-container container" tal:content="structure Slide/getNote" />
						</li>
					</ul>
					<ul class="sequence-pagination">
						<li tal:repeat="Slide Presentation/getSlideAll" tal:content="php:'Frame ' . repeat.Slide.number"/>
					</ul>
				</div>
				<div class="md-margin2x"></div><!-- Space -->
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9 col-sm-8 col-xs-12 main-content">
									<div class="category-toolbar clearfix">										
										<div class="toolbox-pagination clearfix">
											<!--
											<ul class="pagination">
												<li tal:repeat="P PN/getPages" tal:attributes="class php: (P->getId()==Page)?'active':''">
													<a tal:attributes="href P/getURL" tal:content="P/getName" />
												</li>
											</ul>
											!-->											
										</div><!-- End .toolbox-pagination -->
									</div><!-- End .category-toolbar -->
									<div class="md-margin"></div><!-- .space -->
									<div class="category-item-container">
										<div class="row">
											<div tal:repeat="Product PSAll" class="col-md-4 col-sm-6 col-xs-12">
												<div class="item">
													<div class="item-image-container">
														<figure>
															<a tal:attributes="href Product/getURLView" tal:condition="Product/getInfo">
																<img tal:attributes="src Product/getInfo/getImage1" class="item-image"/>
																<img tal:attributes="src Product/getInfo/getImage2" class="item-image-hover"/>
															</a>
														</figure>
														<div class="item-price-container">															
															<span class="item-price" tal:content="Product/getPrice1Print" />
														</div>
													</div><!-- End .item-image -->
													<div class="item-meta-container">
														<div class="ratings-container">
															<div class="ratings">
																<div class="ratings-result" data-result="90"></div>
															</div><!-- End .ratings -->
															<span class="ratings-amount">
																1 đánh giá
															</span>
														</div><!-- End .rating-container -->
														<h3 class="item-name"><a tal:attributes="href Product/getURLView" tal:content="Product/getName"/></h3>
														<div class="item-action">
															<a href="#" class="item-add-btn">
																<span class="icon-cart-text">Mua ngay</span>
															</a>
															<div class="item-action-inner">
																<a href="#" class="icon-button icon-like">Favourite</a>
																<a href="#" class="icon-button icon-compare">Checkout</a>
															</div><!-- End .item-action-inner -->
														</div><!-- End .item-action -->
													</div><!-- End .item-meta-container -->	
												</div><!-- End .col-md-4 -->
											</div><!-- End .row -->
										</div><!-- End .category-item-container -->
									</div>
								</div>
								<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
									<div class="widget">
										<div class="panel-group custom-accordion sm-accordion" id="category-filter">
											<div class="panel">
												<div class="accordion-header">
													<div class="accordion-title"><span>Danh mục</span></div><!-- End .accordion-title -->
													<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
												</div><!-- End .accordion-header -->
												<div id="category-list-1" class="collapse in">
													<div class="panel-body">
														<ul class="category-filter-list jscrollpane">
															<li tal:repeat="SC Save/getSCAll">
																<a tal:attributes="href SC/getCategory/getURLViewSave"><span tal:content="SC/getCategory/getName"/> 
																	(<span tal:content="php: Save->getSPCAll( SC->getIdCategory() )->count()"/>)
																</a>
															</li>
														</ul>
													</div><!-- End .panel-body -->
												</div><!-- #collapse -->
											</div><!-- End .panel -->
											<div class="panel">
												<div class="accordion-header">
													<div class="accordion-title"><span>Thương hiệu</span></div><!-- End .accordion-title -->
													<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-2"></a>
												</div><!-- End .accordion-header -->
												<div id="category-list-2" class="collapse in">
													<div class="panel-body">
														<ul class="category-filter-list jscrollpane">
															<li tal:repeat="PM PMAll">
																<a tal:attributes="href php: Save->getURLViewManufacturer( PM->getIdManufacturer() )">
																	<span tal:content="PM/getManufacturer/getName"/> (<span tal:content="php: Save->getSPMAll( PM->getIdManufacturer() )->count()"/>)
																</a>
															</li>
														</ul>
													</div><!-- End .panel-body -->
												</div><!-- #collapse -->
											</div><!-- End .panel -->											
										</div><!-- .panel-group -->
									</div><!-- End .widget -->																		
								</aside><!-- End .col-md-3 -->
							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</section><!-- End #content -->
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div><!-- End #wrapper -->		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script>
			$(function() {
				// Sequence.js Slider Plugin
				var options = {
					nextButton: true,
					prevButton: true,
					pagination:true,
					autoPlay: true,
					autoPlayDelay: 8500,
					pauseOnHover: true,
					preloader: true,
					theme: 'slide',
					speed: 700,
					animateStartingFrameIn: true
				},
				homeSlider = $('#slider-sequence').sequence(options).data("sequence");
			});
		</script>
	</body>
</html>