<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid"  style="margin-top:70px;">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading" tal:content="Post/getTitle"/>
						<div class="panel-body">
							<div class="article-meta-date" tal:content="Post/getTimePrint"/>
							<div class="article-meta-more">												
								<a tal:attributes="href Post/getUser/getURLView"><span class="separator"><i class="fa fa-user"></i></span> <span tal:content="Post/getUser/getName"></span></a>
								<div class="share-button-group">
									<div class="fb-share-button" tal:attributes="data-href URLShare" data-type="button_count" />
								</div>
								<div tal:content="structure Post/getContent" class="article-content-container"/>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>