<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">										
			<div metal:use-macro="mFront.xhtml/SearchBar"/>
			<div class="row">
				<p>Tìm với từ khóa: <B tal:content="SearchContent"/></p>
				<div class="col-md-9 col-sm-8 col-xs-12 main-content">									
					<div class="category-item-container category-list-container">
						<div class="item item-list clearfix" tal:repeat="Post PostAll">
							<div class="item-image-container">
								<figure>
									<a tal:attributes="href Post/getURLRead">
										<img tal:attributes="src Post/getImage" alt="item1" class="item-image"/>
										<img tal:attributes="src Post/getImage" alt="item1  Hover" class="item-image-hover"/>
									</a>
								</figure>
							</div>
							<div class="item-meta-container">
								<h3 class="item-name">
									<a tal:attributes="href Post/getURLRead">
										<span tal:content="Post/getTitle"/>
									</a>
								</h3>
								<div class="ratings-container">
									<div class="ratings"><div class="ratings-result" data-result="100"></div></div>
									<span class="ratings-amount"><span tal:content="Post/getTimePrint"/></span>
								</div>
								<p tal:content="structure Post/getContentReduce"/>
							</div>
						</div>
					</div>
					<!--
					<div class="category-toolbar clearfix">
						<div class="toolbox-pagination clearfix">
							<ul class="pagination">
								<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
									<a tal:attributes="href P/getURL" tal:content="P/getName"/>
								</li>
							</ul>
						</div>
					</div>
					!-->
				</div>
			</div>	
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>