<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<!--
		<div metal:use-macro="mAdmin.xhtml/MenuSettingProduct"/>
		!-->
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th class="left">TÊN</th>										
										<th width="120"><div class="text-right">CHI TIẾT</div></th>										
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="District Province/getDistrictAll">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id District/getId"/></td>
										<td><span tal:content="District/getName"/></td>
										<td><span tal:content="District/getName"/></td>
									</tr>
								</tbody>								
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			
		/*]]>*/
		</script>
	</body>
</html>