<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">			
			<div id="sidebar">
				<ul style="display: block;">																				
					<li><a tal:attributes="href Tracking/getURLCustomer"><i class="icon-book" />KHÁCH HÀNG</a></li>
					<li><a tal:attributes="href Tracking/getURLSupplier"><i class="icon-book" />NHÀ CUNG CẤP</a></li>
					<li><a tal:attributes="href Tracking/getURLStore"><i class="icon-book" />KHO HÀNG</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="container-fluid">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-content nopadding">								
								<table tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>																					
											<th rowspan="2"><div class="text-left">NGÀY</div></th>
											<th colspan="2" width="90"><div class="text-center">BÁN HÀNG</div></th>
											<th colspan="2" width="90"><div class="text-center">KHO HÀNG</div></th>
											<th colspan="2" width="90"><div class="text-center">TIỀN</div></th>
										</tr>
										<tr>																																
											<th width="90"><div class="text-right">C.NỢ</div></th>
											<th width="90"><div class="text-right">T.MẶT</div></th>
											<th width="90"><div class="text-right">NHẬP</div></th>
											<th width="90"><div class="text-right">XUẤT</div></th>
											<th width="90"><div class="text-right">K.CHI</div></th>
											<th width="90"><div class="text-right">K.THU</div></th>											
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="TD Tracking/getDailyAll">											
											<td><div tal:attributes="alt TD/getURLReport" tal:content="TD/getDatePrint"></div></td>
											<td align="right"><a tal:attributes="href TD/getURLReportSellingDebt"><span tal:content="TD/getSellingDebtPrint"/></a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportSellingCash"><span tal:content="TD/getSellingCashPrint"/></a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportImport"><span tal:content="TD/getImportPrint"/></a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportExport"><span tal:content="TD/getExportPrint"/></a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportPaid"><span tal:content="TD/getPaidPrint"/></a></td>
											<td align="right"><a tal:attributes="href TD/getURLReportCollect"><span tal:content="TD/getCollectPrint"/></a></td>											
										</tr>										
									</tbody>
								</table>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		
		<script type="text/javascript">
		/*<![CDATA[*/
			//-----------------------------------------------------------------------------------
			//EXE DAILY			
			//-----------------------------------------------------------------------------------						
						
		/*]]>*/
		</script>
	</body>
</html>