<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div class="col-md-8">					
					<div class="panel panel-primary">										
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="modal-body">
									<div class="form-group">
										<label class="col-sm-2 control-label">Tên ứng dụng</label>
										<div class="col-sm-10 controls">
											<input id="NameApp2" tal:attributes="value ConfigNameApp/getValue;data-id ConfigNameApp/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Tên công ty</label>
										<div class="col-sm-10 controls">
											<input id="NameCompany2" tal:attributes="value ConfigNameCompany/getValue;data-id ConfigNameCompany/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Địa chỉ</label>
										<div class="col-sm-10 controls">
											<input id="Address2" tal:attributes="value ConfigAddress/getValue;data-id ConfigAddress/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Khẩu hiệu</label>
										<div class="col-sm-10 controls">
											<input id="Slogan2" tal:attributes="value ConfigSlogan/getValue;data-id ConfigSlogan/getId" type="text" class="form-control input-small"/>
										</div>
									</div>												
									<div class="form-group">
										<label class="col-sm-2 control-label">Điện thoại 1</label>
										<div class="col-sm-10 controls">
											<input id="Phone12" tal:attributes="value ConfigPhone1/getValue;data-id ConfigPhone1/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Điện thoại 2</label>
										<div class="col-sm-10 controls">
											<input id="Phone22" tal:attributes="value ConfigPhone2/getValue;data-id ConfigPhone2/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Số dòng trên trang</label>
										<div class="col-sm-10 controls">
											<input id="RowPerPage2" tal:attributes="value ConfigRowPerPage/getValue;data-id ConfigRowPerPage/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Số lượt truy cập</label>
										<div class="col-sm-10 controls">
											<input id="GuestVisit2" tal:attributes="value ConfigGuestVisit/getValue;data-id ConfigGuestVisit/getId" type="text" class="form-control input-small"/>
										</div>
									</div>									
								</div>
								<div class="modal-footer">
									<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/									
			//-----------------------------------------------------------------------------------
			//Update 1 UNIT
			//-----------------------------------------------------------------------------------															
			$('#URLUpdButton').click(function(){
				var Data1 = [];
				var Data2 = [];
				var Data3 = [];
				var Data4 = [];
				var Data5 = [];
				var Data6 = [];
				var Data7 = [];
				var Data8 = [];
				var URL = "/object/upd/Config";
								
				Data1[0] = $('#NameApp2').attr('data-id');
				Data1[1] = "NAME_APP";
				Data1[2] = $('#NameApp2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data1},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật tên quán
				Data2[0] = $('#NameCompany2').attr('data-id');
				Data2[1] = "NAME_COMPANY";
				Data2[2] = $('#NameCompany2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data2},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật địa chỉ
				Data3[0] = $('#Address2').attr('data-id');
				Data3[1] = "ADDRESS";
				Data3[2] = $('#Address2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data3},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật KHẨU HIỆU
				Data4[0] = $('#Slogan2').attr('data-id');
				Data4[1] = "SLOGAN";
				Data4[2] = $('#Slogan2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data4},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật điện thoại
				Data5[0] = $('#Phone12').attr('data-id');
				Data5[1] = "PHONE1";
				Data5[2] = $('#Phone12').val();
				$.ajax({
					type: "POST",
					data: {Data:Data5},
					url: URL,
					success: function(msg){}
				});
																
				//Cập nhật điện thoại
				Data6[0] = $('#Phone22').attr('data-id');
				Data6[1] = "PHONE2";
				Data6[2] = $('#Phone22').val();
				$.ajax({
					type: "POST",
					data: {Data:Data6},
					url: URL,
					success: function(msg){}
				});
				
				Data7[0] = $('#RowPerPage2').attr('data-id');
				Data7[1] = "ROW_PER_PAGE";
				Data7[2] = $('#RowPerPage2').val();				
				var URL = "/object/upd/Config";
				$.ajax({
					type: "POST",
					data: {Data:Data7},
					url: URL,
					success: function(msg){}
				});
				
				Data8[0] = $('#GuestVisit2').attr('data-id');
				Data8[1] = "GUEST_VISIT";
				Data8[2] = $('#GuestVisit2').val();			
				$.ajax({
					type: "POST",
					data: {Data:Data8},
					url: URL,
					success: function(msg){}
				});
			});
		/*]]>*/
		</script>
	</body>
</html>