<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<style>.datepicker{z-index:1151 !important;}</style>
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div>
					<div class="col-md-4">						
						<input id="NameSearch" name="NameSearch" type="text" 
							class="form-control input-small" placeholder="Gõ vào tên khách hàng"
							tal:attributes="data-url Branch/getURLCustomerCollectSearch"
						/>
						<div id="CustomerAll" />
					</div>
					<div class="col-md-8"><div id="CollectAll" /></div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/					
			$('#NameSearch').keyup(function(event){
				var URL = $(this).attr('data-url');
				$("#CustomerAll").load(URL, {NameSearch:$(this).val()});
			});
		/*]]>*/
		</script>
	</body>
</html>