<body>
	<div id="CommandPanel" class="panel panel-primary" tal:attributes="alt Command/getURLLoad; data-id Command/getId; data-customer-id Command/getIdCustomer">
		<div class="panel-heading"><i class="glyphicon glyphicon-star"/> <B tal:content="php: 'LỆNH BÁN ' . Command->getDateTimePrint()"/></div>
		<div class="panel-body">
			<table width="100%">
				<tr>
					<td width="35%">KHÁCH HÀNG</td>
					<td width="45%">
						<B tal:condition="Command/getBranch" tal:content="Command/getBranch/getName" /> / <B tal:content="Command/getCustomer/getName" />
					</td>
					<td width="20%" rowspan="7">
						<img width="64px" tal:attributes="src Command/getEmployee/getAvatar"/>
					</td>
				</tr>
				<tr>
					<td width="35%">ĐỊA CHỈ</td>
					<td width="45%"><B tal:content="Command/getCustomer/getAddress" /></td>					
				</tr>
				<tr>
					<td width="35%">ĐIỆN THOẠI</td>
					<td width="45%"><B tal:content="Command/getCustomer/getTel" /></td>					
				</tr>				
				<tr>
					<td width="35%">TẠO LÚC</td>
					<td width="45%"><B tal:content="Command/getDateTimePrint" /></td>					
				</tr>				
				<tr>
					<td width="35%">NHÂN VIÊN BÁN</td>
					<td width="45%">
						<a tal:condition="php:Command->getState()==0?true:false"
							href="#DialogChooseEmployee" data-toggle="modal" 
							class="Command-item"
								tal:attributes="id 				Command/getId;
											id_employee 		Command/getIdEmployee;
											id_customer 		Command/getIdCustomer;																						
											id_branch 			Command/getIdBranch;
											datetime 			Command/getDateTime;											
											note 				Command/getNote;
											state 				Command/getState;"
						><B tal:content="Command/getEmployee/getName" /></a>
						<B tal:condition="php:Command->getState()==0?false:true" tal:content="Command/getEmployee/getName" />
					</td>					
				</tr>
				<tr>
					<td width="35%">TÌNH TRẠNG</td>
					<td width="45%"><B tal:content="Command/getStatePrint" /></td>					
				</tr>
			</table>
			<BR/>			
			<table class="table table-striped table-hover">
				<thead>
					<tr>										
						<th width="30">STT</th>
						<th><div class="text-left">TÊN</div></th>
						<th width="60"><div class="text-right">SL</div></th>
						<th width="60">ĐVT</th>
						<th width="120"><div class="text-right">Đ.GIÁ</div></th>
						<th width="120"><div class="text-right">T.TIỀN</div></th>
						<th width="30"><i class="glyphicon glyphicon-trash"/></th>
					</tr>
				</thead>
				<tbody>
					<tr tal:repeat="Detail Command/getDetailAll">
						<td><div class="text-center" tal:content="repeat/Detail/number" /></td>
						<td><a 
							tal:condition="php:Command->getState()==0?true:false"
							class="Command-detail-item" href="#DialogGoodUpd" data-toggle="modal" 
							tal:attributes="id 			Detail/getId;
											id_good 	Detail/getIdGood;
											name_good	Detail/getGood/getName;
											count 		Detail/getCount;
											price 		Detail/getPrice;											
							" 
							tal:content="Detail/getGood/getName"/>
							
							<span 	tal:condition="php:Command->getState()==0?false:true"							
									tal:content="Detail/getGood/getName"/>
							
						</td>
						<td><div class="text-right" tal:content="Detail/getCountPrint"/></td>
						<td><div class="text-left" tal:content="Detail/getGood/getUnit"/></td>
						<td><div class="text-right" tal:content="Detail/getPricePrint"/></td>
						<td><div class="text-right" tal:content="Detail/getValuePrint"/></td>
						<td>
							<div class="text-right">
								<a tal:condition="php:Command->getState()==0?true:false" class="remove-detail-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Detail/getId"><i class="glyphicon glyphicon-remove"/></a>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="5"><div class="text-right"><B>TỔNG CỘNG</B></div></td>
						<td><div class="text-right"><B tal:content="Command/getValuePrint" /></div></td>
						<td/>
					</tr>
				</tbody>
			</table>			
			<a title="In phiếu" class="Ticket btn" tal:attributes="alt Command/getURLPrint"><i class="glyphicon glyphicon-print"/> IN PHIẾU</a>			
			<a tal:condition="php:Command->getState()==0?true:false" href="#DialogGoodIns" data-toggle="modal"><i class="glyphicon glyphicon-plus"/> HÀNG HÓA</a>
		</div>
	</div>
	
	<!-- DIALOG Command EDIT -->
	<div id="DialogChooseEmployee" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><h3><i class="glyphicon glyphicon-star modal-icon"/>CẬP NHẬT ĐƠN HÀNG</h3></div>
				<form id="FormCommandUpdate" action="#" class="form-horizontal" novalidate="novalidate">					
					<input id="CommandId" type="hidden" />
					<input id="CommandIdCustomer" type="hidden" />
					<input id="CommandIdTransport" type="hidden" />
					<input id="CommandIdWarehouse" type="hidden" />
					<div class="form-group">
						<label class="col-sm-3 control-label">Khởi tạo</label>
						<div class="col-sm-8 controls">
							<input id="CommandDateTimeCreated" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd hh:ii" readonly="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Cập nhật cuối</label>
						<div class="col-sm-8 controls">
							<input id="CommandDateTimeUpdated" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd hh:ii" readonly="true"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Ghi chú</label>
						<div class="col-sm-8 controls">
							<input id="CommandNote" type="text" class="form-control input-small" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Chi nhánh</label>
						<div class="col-sm-8 controls">
							<select id="CommandIdBranch" style="width:100%;" class="form-control">
								<option tal:repeat="Branch BranchAll" tal:attributes="value Branch/getId;selected php:Branch->getId()==Command->getIdBranch()?true:false">
									<span tal:content="Branch/getName" />
								</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Tình trạng</label>
						<div class="col-sm-8 controls">							
							<select id="CommandState" style="width:100%;" class="form-control">
								<option tal:attributes="value string:0;selected php:Command->getState()==0?true:false">Chờ duyệt</option>
								<option tal:attributes="value string:1;selected php:Command->getState()==1?true:false">Duyệt xong</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Nhân viên</label>
						<div class="col-sm-8 controls">
							<select id="CommandIdEmployee" style="width:100%;" class="form-control">
								<option tal:repeat="Employee EmployeeAll" tal:attributes="value Employee/getId;selected php:Employee->getId()==Command->getIdEmployee()?true:false">
									<span tal:content="Employee/getName" />
								</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-small" id="URLCommandUpdButton"><i class="glyphicons-download_alt"/> Lưu</button>
						<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- DIALOG GOOD INS -->
	<div id="DialogGoodIns" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><h3><i class="glyphicon glyphicon-star modal-icon"/>THÊM HÀNG HÓA</h3></div>
				<div id="FormGoodIns" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label">Hàng hóa</label>
						<div class="col-sm-8 controls">
							<select id="IdGood1" style="width:100%;" class="form-control">
								<option tal:repeat="Good GoodAll" tal:attributes="value Good/getId">
									<span tal:content="Good/getGroup/getName" /> / <span tal:content="Good/getName" />
								</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Số lượng</label>
						<div class="col-sm-8 controls">
							<input id="Count1" type="text" class="form-control input-small" value="1"/>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-small" id="URLGoodInsButton"><i class="glyphicons-download_alt"/> Thêm</button>
						<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- DIALOG GOOD UPD-->
	<div id="DialogGoodUpd" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"><h3><i class="glyphicon glyphicon-star modal-icon"/>CẬP NHẬT HÀNG HÓA</h3></div>
				<div id="FormGoodIns" class="form-horizontal">					
					<div class="form-group">
						<input id="DetailId2" type="hidden" class="form-control input-small" />
						<input id="DetailIdGood2" type="hidden" class="form-control input-small" />
						<label class="col-sm-3 control-label">Mặt hàng</label>
						<div class="col-sm-8 controls">
							<input id="DetailNameGood2" type="text" class="form-control input-small" readonly="true" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Số lượng</label>
						<div class="col-sm-8 controls">
							<input id="DetailCount2" type="text" class="form-control input-small" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Đơn giá</label>
						<div class="col-sm-8 controls">
							<input id="DetailPrice2" type="text" class="form-control input-small" />
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-small" id="URLGoodUpdButton"><i class="glyphicons-download_alt"/> Cập nhật</button>
						<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div metal:use-macro="mDialog.xhtml/DialogDel"/>
	
</body>
<script>
	$(".Command-detail-item").click(function(){						
		$("#DetailId2").val( $(this).attr('id') );
		$("#DetailIdGood2").val( $(this).attr('id_good') );
		$("#DetailNameGood2").val( $(this).attr('name_good') );
		$("#DetailCount2").val( $(this).attr('count') );
		$("#DetailPrice2").val( $(this).attr('price') );
	});
	
	$(".Command-item").click(function(){
		var CommandId 				= $(this).attr('id');		
		var CommandIdCustomer 		= $(this).attr('id_customer');
		var CommandIdWarehouse		= $(this).attr('id_warehouse');
		var CommandIdTransport		= $(this).attr('id_transport');
		var CommandIdBranch 		= $(this).attr('id_branch');
		var CommandDateTimeCreated 	= $(this).attr('datetime_created');
		var CommandDateTimeUpdated 	= $(this).attr('datetime_updated');	
		var CommandNote 			= $(this).attr('note');
				
		$('#URLCommandUpdButton').attr('alt', CommandId);
		$("#CommandId").val(CommandId);
		$("#CommandIdCustomer").val(CommandIdCustomer);
		$("#CommandIdTransport").val(CommandIdTransport);
		$("#CommandIdWarehouse").val(CommandIdWarehouse);
		$("#CommandIdBranch").val(CommandIdBranch);
		$("#CommandDateTimeCreated").val(CommandDateTimeCreated);
		$("#CommandDateTimeUpdated").val(CommandDateTimeUpdated);
		$("#CommandNote").val(CommandNote);			
	});
	
	//Chèn vào HÀNG HÓA MỚI
	$("#URLGoodInsButton").click(function(){
		var IdCustomer 	= $("#CommandPanel").attr("data-customer-id");
		var IdCommand 	= $("#CommandPanel").attr("data-id");
		var IdGood 		= $("#IdGood1").val();
		var Count 		= $("#Count1").val();
		var URL 		= "/ql-ban-hang/don-hang/chi-tiet/them-moi";
		
		$.ajax({
			type: "POST",
			data: {IdCommand:IdCommand, IdGood:IdGood, Count:Count},
			url: URL,
			success: function(msg){					
				var URL = "/ql-ban-hang/khach-hang/" + IdCustomer +"/" + IdCommand;
				$("#CommandView").load(URL);
			}
		});
	});
	
	
	//Cập nhật HÀNG HÓA MỚI
	$("#URLGoodUpdButton").click(function(){
		var IdCustomer 	= $("#CommandPanel").attr("data-customer-id");
		var IdCommand 	= $("#CommandPanel").attr("data-id");
		var IdDetail	= $("#DetailId2").val();
		var IdGood 		= $("#DetailIdGood2").val();
		var Count 		= $("#DetailCount2").val();
		var Price 		= $("#DetailPrice2").val();
		
		var URL 		= "/ql-ban-hang/don-hang/chi-tiet/cap-nhat";
						
		$.ajax({
			type: "POST",
			data: {IdDetail:IdDetail, Count:Count, Price:Price},
			url: URL,
			success: function(msg){					
				var URL = "/ql-ban-hang/khach-hang/" + IdCustomer +"/" + IdCommand;
				$("#CommandView").load(URL);
			}
		});		
	});
	
	//-----------------------------------------------------------------------------------
	//Update 1 Command CURRENT
	//-----------------------------------------------------------------------------------
	$("#FormCommandUpdate").validate({
		rules:{
			Name2:{
				minlength: 2,
				required:true
			}					
		},
		errorClass: "help-inline",
		errorElement: "span",
		highlight:function(element, errorClass, validClass) {
			$(element).parents('.form-group').addClass('has-error');
		},
		unhighlight: function(element, errorClass, validClass) {
			$(element).parents('.form-group').removeClass('has-error');
			$(element).parents('.form-group').addClass('has-success');
		},
		submitHandler: function (form) {					
			var Data = [];
			Data[0] = $('#URLCommandUpdButton').attr('alt');
			Data[1] = $('#CommandIdEmployee').val();
			Data[2] = $('#CommandIdCustomer').val();
			Data[3] = $('#CommandIdWarehouse').val();
			Data[4] = $('#CommandIdTransport').val();
			Data[5] = $('#CommandIdBranch').val();
			Data[6] = $('#CommandDateTimeCreated').val();
			Data[7] = $('#CommandDateTimeUpdated').val();
			Data[8] = $('#CommandNote').val();				
			Data[9] = $('#CommandState').val();
																
			var URL = "/object/upd/CommandSell";
			$.ajax({
				type: "POST",
				data: {Data:Data},
				url: URL,
				success: function(msg){					
					var URL1 = "/ql-ban-hang/khach-hang/" + $('#CommandIdCustomer').val()+"/"+$('#URLCommandUpdButton').attr('alt');					
					$("#CommandView").load(URL1);
				}
			});
			return false;
		}
	});
	
	$(".Ticket").click(function(){
		var url = $(this).attr('alt');
		var thePopup = window.open( url, "In Phiếu", "menubar=0,location=0,height=700,width=700" );
		thePopup.print();
	});
	
	//-----------------------------------------------------------------------------------
	//Delete 1 DETAIL			
	//-----------------------------------------------------------------------------------
	$('.remove-detail-item').click(function(){
		$('#URLDelButton').attr('alt', $(this).attr('data-id'));
	});	
	$('#URLDelButton').click(function(){			
		var URL = "/object/del/CommandSellDetail/" + $(this).attr('alt');
		var IdCustomer 	= $("#CommandPanel").attr("data-customer-id");
		var IdCommand 	= $("#CommandPanel").attr("data-id");
		
		$.ajax({
			type: "POST",					
			url: URL,
			success: function(msg){
				var URL = "/ql-ban-hang/khach-hang/" + IdCustomer +"/" + IdCommand;
				$("#CommandView").load(URL);
			}
		});
	});
			
</script>