<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<style>.datepicker{z-index:1151 !important;}</style>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div class="col-md-8">					
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
						<div class="panel-body">		
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th class="text-center" width="32" />
										<th width="200" class="text-left">TÊN</th>
										<th class="text-left">CHI TIẾT</th>
										<th class="text-center" width="40"><i class="glyphicon glyphicon-trash"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Customer CustomerAll1">
										<td class="text-center"><img tal:attributes="src Customer/getAvatar" width="32px"/></td>
										<td>
											<a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="Customer" tal:attributes="data-id Customer/getId">
												<span tal:content="Customer/getName"/><br/><span tal:content="Customer/getRepresent"/>
											</a>
										</td>
										<td><span tal:content="Customer/getAddress"/></td>
										<td class="text-center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Customer/getId">
												<i class="glyphicon glyphicon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div metal:use-macro="mFront.xhtml/PageBar"/>							
						</div>
					</div>										
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>DANH SÁCH NHÓM</B></div>
						<div class="panel-body">
							<ul class="list-group">								
								<li tal:attributes="class php:Group->getId()==Group1->getId()? 'list-group-item list-group-item-success' : 'list-group-item'" tal:repeat="Group1 GroupAll">
									<a tal:attributes="href Group1/getURLSettingCustomer">
										<span tal:content="Group1/getName"/>
									</a>
									<span class="badge" tal:content="Group1/getCustomerAll/count"/>
								</li>
							</ul>
							<a href="#DialogIns" data-toggle="modal" class="btn btn-default btn-ins"><i class="glyphicon glyphicon-plus"/> KHÁCH HÀNG</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
		
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-cog modal-icon"/> THÊM MỚI KHÁCH HÀNG</h3></div>
					<form id="FormCustomerInsert" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<div class="form-group">
								<div class="col-sm-6 controls">
									<select name="IdGroup1" id="IdGroup1" style="width:100%;" class="form-control">
										<option tal:repeat="Group1 GroupAll" tal:attributes="value Group1/getId;selected php:Group->getId()==Group1->getId()?true:false">
											<span tal:content="Group1/getName"/>
										</option>
									</select>
								</div>
								<div class="col-sm-6 controls">
									<select name="IdBranch1" id="IdBranch1" style="width:100%;" class="form-control">
										<option tal:repeat="Branch BranchAll" tal:attributes="value Branch/getId">
											<span tal:content="Branch/getName"/>
										</option>
									</select>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">
									<input id="Code1" name="Code1" type="text" class="form-control input-small" placeholder="Mã KH"/>
								</div>
								<div class="col-sm-6 controls">
									<input id="Name1" name="Name1" type="text" class="form-control input-small" placeholder="Tên KH"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Represent1" name="Represent1" type="text" class="form-control input-small" placeholder="Người đại diện"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">								
									<input id="Tel1" name="Tel1" type="text" class="form-control input-small" placeholder="Điện thoại"/>
								</div>
								<div class="col-sm-6 controls">
									<input id="Fax1" name="Fax1" type="text" class="form-control input-small" placeholder="Fax"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">								
									<input id="Email1" name="Email1" type="text" class="form-control input-small" placeholder="Email"/>
								</div>
								<div class="col-sm-6 controls">								
									<input id="Web1" name="Web1" type="text" class="form-control input-small" placeholder="Web"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">								
									<input id="TaxCode1" name="TaxCode1" type="text" class="form-control input-small" placeholder="Mã số thuế"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-12 controls">								
									<input id="DebtLimit1" name="DebtLimit1" type="text" class="form-control input-small" placeholder="Giới hạn nợ"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Address1" name="Address1" type="text" class="form-control input-small" placeholder="Địa chỉ"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Note1" name="Note1" type="text" class="form-control input-small" placeholder="Ghi chú"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Avatar1" name="Avatar1" type="text" class="form-control input-small" placeholder="Hình ảnh KH"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="ContractId1" name="ContractId1" type="text" class="form-control input-small" placeholder="Mã hợp đồng"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-6 controls">
									<input id="ContractFrom1" name="ContractFrom1" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd" placeholder="Bắt đầu"/>
								</div>
								<div class="col-sm-6 controls">
									<input id="ContractTo1" name="ContractTo1" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd" placeholder="Kết thúc"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-12 controls">									
									<div class="col-sm-12 controls">
										<select id="PaymentMethod1" name="PaymentMethod1" style="width:100%;" class="form-control">
											<option tal:repeat="PaymentMethod PaymentMethodAll" tal:attributes="value PaymentMethod/getId">
												<span tal:content="PaymentMethod/getName"/>
											</option>										
										</select>
									</div>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">
									<input id="Public1" name="Public1" type="checkbox" /> Công cộng
								</div>
								<div class="col-sm-6 controls">
									<input id="Enable1" name="Enable1" type="checkbox" /> Có hiệu lực
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLInsButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>								
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-cog modal-icon"/> CẬP NHẬT KHÁCH HÀNG</h3></div>
					<form id="FormCustomerUpdate" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<div class="form-group">
								<div class="col-sm-6 controls">
									<select name="IdGroup2" id="IdGroup2" style="width:100%;" class="form-control">
										<option tal:repeat="Group GroupAll" tal:attributes="value Group/getId">
											<span tal:content="Group/getName"/>
										</option>										
									</select>
								</div>
								<div class="col-sm-6 controls">
									<select name="IdBranch2" id="IdBranch2" style="width:100%;" class="form-control">
										<option tal:repeat="Branch BranchAll" tal:attributes="value Branch/getId">
											<span tal:content="Branch/getName"/>
										</option>
									</select>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">
									<input id="Code2" name="Code2" type="text" class="form-control input-small" placeholder="Mã KH"/>
								</div>
								<div class="col-sm-6 controls">
									<input id="Name2" name="Name2" type="text" class="form-control input-small" placeholder="Tên KH"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Represent2" name="Represent2" type="text" class="form-control input-small" placeholder="Người đại diện"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">								
									<input id="Tel2" name="Tel2" type="text" class="form-control input-small" placeholder="Điện thoại"/>
								</div>
								<div class="col-sm-6 controls">
									<input id="Fax2" name="Fax2" type="text" class="form-control input-small" placeholder="Fax"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">								
									<input id="Email2" name="Email2" type="text" class="form-control input-small" placeholder="Email"/>
								</div>
								<div class="col-sm-6 controls">								
									<input id="Web2" name="Web2" type="text" class="form-control input-small" placeholder="Web"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">								
									<input id="TaxCode2" name="TaxCode2" type="text" class="form-control input-small" placeholder="Mã số thuế"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-12 controls">								
									<input id="DebtLimit2" name="DebtLimit2" type="text" class="form-control input-small" placeholder="Giới hạn nợ"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Address2" name="Address2" type="text" class="form-control input-small" placeholder="Địa chỉ"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Note2" name="Note2" type="text" class="form-control input-small" placeholder="Ghi chú"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="Avatar2" name="Avatar2" type="text" class="form-control input-small" placeholder="Hình ảnh KH"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<input id="ContractId2" name="ContractId2" type="text" class="form-control input-small" placeholder="Mã hợp đồng"/>
								</div>
							</div>
							<div class="form-group">								
								<div class="col-sm-6 controls">
									<input id="ContractFrom2" name="ContractFrom2" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd" placeholder="Bắt đầu"/>
								</div>
								<div class="col-sm-6 controls">
									<input id="ContractTo2" name="ContractTo2" type="text" class="form-control input-small" data-date-format="yyyy-mm-dd" placeholder="Kết thúc"/>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-12 controls">
									<select id="PaymentMethod2" name="PaymentMethod2" style="width:100%;" class="form-control">
										<option tal:repeat="PaymentMethod PaymentMethodAll" tal:attributes="value PaymentMethod/getId">
											<span tal:content="PaymentMethod/getName"/>
										</option>										
									</select>
								</div>
							</div>							
							<div class="form-group">								
								<div class="col-sm-6 controls">
									<input id="Public2" name="Public2" type="checkbox" /> Công cộng
								</div>
								<div class="col-sm-6 controls">
									<input id="Enable2" name="Enable2" type="checkbox" /> Có hiệu lực
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLUpdButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END UPDATE DIALOG  -->
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>		
		<script src="/mvc/templates/theme/cms/js/jquery-ui.custom.js"></script>	
		<script src="/mvc/templates/theme/cms/js/bootstrap-datepicker.js"></script>
		<script src="/mvc/templates/theme/cms/js/bootstrap-datepicker.vi.js"></script>		
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#ContractFrom1').datepicker({language: 'vi'});
			$('#ContractFrom2').datepicker({language: 'vi'});			
			$('#ContractTo1').datepicker({language: 'vi'});
			$('#ContractTo2').datepicker({language: 'vi'});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 EMPLOYEEE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Customer/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 CUSTOMER			
			$("#FormCustomerInsert").validate({
				rules:{
					Name1:{
						minlength: 2,
						required:true
					}					
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';					
					Data[1] = $('#IdGroup1').val();
					Data[2] = $('#IdBranch1').val();
					Data[3] = $('#Name1').val();
					Data[4] = $('#Code1').val();
					Data[5] = $('#Represent1').val();
					Data[6] = $('#Tel1').val();
					Data[7] = $('#Fax1').val();
					Data[8] = $('#Email1').val();
					Data[9] = $('#TaxCode1').val();
					Data[10] = $('#Web1').val();
					Data[11] = $('#DebtLimit1').val();
					Data[12] = $('#Address1').val();
					Data[13] = $('#Note1').val();
					Data[14] = $('#Avatar1').val();
					Data[15] = $('#ContractId1').val();
					Data[16] = $('#ContractFrom1').val();
					Data[17] = $('#ContractTo1').val();
					Data[18] = $('#PaymentMethod1').val();
					Data[19] = $('#Public1').is(':checked')?1:0;
					Data[20] = $('#Enable1').is(':checked')?1:0;
					var URL = "/object/ins/Customer";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
						
			//-----------------------------------------------------------------------------------
			//Load 1 Customer
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){				
				//Load dữ liệu JSON về
				var url = "/object/load/Customer/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$('#update-link').attr('action', $(this).attr('alt'));
				$.getJSON(url, function(data) {
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#IdGroup2').val(				data.IdGroup);
					$('#IdBranch2').val(			data.IdBranch);
					$('#Name2').attr('value', 		data.Name);
					$('#Code2').attr('value', 		data.Code);
					$('#Represent2').attr('value', 	data.Represent);					
					$('#Tel2').attr('value', 		data.Tel);
					$('#Fax2').attr('value', 		data.Fax);
					$('#Email2').attr('value', 		data.Email);
					$('#TaxCode2').attr('value', 	data.TaxCode);
					$('#Web2').attr('value', 		data.Web);
					$('#DebtLimit2').attr('value', 	data.DebtLimit);					
					$('#Address2').attr('value', 	data.Address);
					$('#Note2').attr('value', 		data.Note);
					$('#Avatar2').attr('value', 	data.Avatar);					
					$('#ContractId2').attr('value', data.ContractId);
					$('#ContractFrom2').attr('value', data.ContractFrom);
					$('#ContractTo2').attr('value', data.ContractTo);
					$('#PaymentMethod2').val( 		data.PaymentMethod);
					(data.Public==1)?$('#Public2').attr('checked', 'true'):0;
					(data.Enable==1)?$('#Enable2').attr('checked', 'true'):0;					
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 EMPLOYEEE
			//-----------------------------------------------------------------------------------
			$("#FormCustomerUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];										
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdGroup2').val();
					Data[2] = $('#IdBranch2').val();
					Data[3] = $('#Name2').val();
					Data[4] = $('#Code2').val();
					Data[5] = $('#Represent2').val();
					Data[6] = $('#Tel2').val();
					Data[7] = $('#Fax2').val();
					Data[8] = $('#Email2').val();
					Data[9] = $('#TaxCode2').val();
					Data[10] = $('#Web2').val();
					Data[11] = $('#DebtLimit2').val();
					Data[12] = $('#Address2').val();
					Data[13] = $('#Note2').val();
					Data[14] = $('#Avatar2').val();
					Data[15] = $('#ContractId2').val();
					Data[16] = $('#ContractFrom2').val();
					Data[17] = $('#ContractTo2').val();
					Data[18] = $('#PaymentMethod2').val();					
					Data[19] = $('#Public2').is(':checked')?1:0;
					Data[20] = $('#Enable2').is(':checked')?1:0;
															
					var URL = "/object/upd/Customer";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			
		/*]]>*/
		</script>
	</body>
</html>	