<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->IsSeller()">
					
				</div>
				<div tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->IsAdmin()">
					<div class="col-md-8">						
						<div class="panel panel-primary">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>BÁN HÀNG</B></div>
							<div class="panel-body">
								<a href="/ql-ban-hang" class="list-group-item">
									<h4 class="list-group-item-heading"><B>BÁN HÀNG</B></h4>
									<p class="list-group-item-text">Mô tả chức năng bán hàng của hệ thống ...</p>
								</a>
								<a href="/ql-ban-hang/bao-cao" class="list-group-item">
									<h4 class="list-group-item-heading"><B>BÁO CÁO BÁN HÀNG</B></h4>
									<p class="list-group-item-text">Mô tả chức năng báo cáo bán hàng của hệ thống ...</p>
								</a>								
							</div>	
						</div>
						<div class="panel panel-primary">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>THIẾT LẬP</B></div>
							<div class="panel-body">
								<a href="/admin/setting/type/account" class="list-group-item">
									<h4 class="list-group-item-heading"><B>SỐ HIỆU TÀI KHOẢN</B></h4>
									<p class="list-group-item-text">Mô tả cây tài khoản của hệ thống ...</p>
								</a>
								<a href="/admin/setting/user" class="list-group-item">								  
									<h4 class="list-group-item-heading"><B>NGƯỜI DÙNG</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức người dùng của hệ thống ...</p>
								</a>
								<a href="/admin/setting/customer" class="list-group-item">								  								  
									<h4 class="list-group-item-heading"><B>KHÁCH HÀNG</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức Khách Hàng của hệ thống ...</p>
								</a>
								<a href="/admin/setting/supplier" class="list-group-item">
									<h4 class="list-group-item-heading"><B>NHÀ CUNG CẤP</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức Nhà Cung Cấp của hệ thống ...</p>
								</a>
								<a href="/admin/setting/warehouse" class="list-group-item">								  
									<h4 class="list-group-item-heading"><B>KHO HÀNG</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức Kho Hàng của hệ thống ...</p>
								</a>								  
								<a href="/admin/setting/good" class="list-group-item">
									<h4 class="list-group-item-heading"><B>HÀNG HÓA</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức Hàng Hóa của hệ thống ...</p>
								</a>								
								<a href="/admin/setting/department" class="list-group-item">
									<h4 class="list-group-item-heading"><B>PHÒNG BAN</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức Phòng Ban của hệ thống ...</p>
								</a>								  
								<a href="/admin/setting/track" class="list-group-item">
									<h4 class="list-group-item-heading"><B>BÁO CÁO</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức Báo Cáo của hệ thống ...</p>
								</a>
								<a href="/admin/setting/config" class="list-group-item">
									<h4 class="list-group-item-heading"><B>THAM SỐ</B></h4>
									<p class="list-group-item-text">Mô tả tổ chức Tham Số của hệ thống ...</p>
								</a>								  
							</div>
						</div>						
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">							
							<div class="panel-body">								
								<a href="/signout/exe" class="list-group-item">
									<h4 class="list-group-item-heading"><span tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->getEmail()"/> <span tal:content="php:@\MVC\Library\Statistic::getIPPrint()"/></h4>
									<p class="list-group-item-text">Click vào để thoát khỏi hệ thống</p>
								</a>
								<a href="/signout/exe" class="list-group-item">
									<h4 class="list-group-item-heading">Thông tin tài khoản</h4>
									<p class="list-group-item-text">Xem / cập nhật thông tin tài khoản sử dụng ...</p>
								</a>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</body>
</html>