<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div>
					<div class="col-md-8">												
						<div class="panel panel-primary" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->IsAdmin()">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>MODULE QUẢN LÝ</B></div>
							<div class="panel-body">
								<a href="/ql-ban-hang" class="list-group-item">
									<h4 class="list-group-item-heading"><B>BÁN HÀNG</B></h4>
									<p class="list-group-item-text">Quản lý các thao tác bán hàng.</p>
								</a>
								<a href="/ql-kho-hang" class="list-group-item">
									<h4 class="list-group-item-heading"><B>KHO HÀNG</B></h4>
									<p class="list-group-item-text">Quản lý hàng hóa trong các kho hàng, thống kê lượng hàng nhập về, xuất ra và tồn theo ngày, mỗi tháng ...</p>
								</a>
								<a href="/ql-thu-chi" class="list-group-item">
									<h4 class="list-group-item-heading"><B>THU CHI</B></h4>
									<p class="list-group-item-text">Quản lý sổ sách thu chi, công nợ khách hàng, nhà cung cấp ...</p>
								</a>
								<a href="/ql-nhan-su" class="list-group-item">
									<h4 class="list-group-item-heading"><B>NHÂN SỰ</B></h4>
									<p class="list-group-item-text">Quản lý hồ sơ nhân sự, tiền lương, chấm công, ...</p>
								</a>
								<a href="/ql-bao-cao" class="list-group-item">
									<h4 class="list-group-item-heading"><B>BÁO CÁO</B></h4>
									<p class="list-group-item-text">Quản lý sổ sách, báo cáo, báo biểu, thống kê.</p>
								</a>
								<a href="/ql-thiet-lap" class="list-group-item">
									<h4 class="list-group-item-heading"><B>THIẾT LẬP</B></h4>
									<p class="list-group-item-text">Quản lý các thiết lập thông tin cơ sở hệ thống</p>
								</a>
							</div>
						</div>
						<div class="panel panel-primary" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->IsBranchRole()">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>MODULE CHI NHÁNH</B></div>
							<div class="panel-body">
								<a class="list-group-item" tal:repeat="BR php:@\MVC\Base\SessionRegistry::instance()->getCurrentUser()->getBranchRole()" tal:attributes="href BR/getURLBranch">
									<h4 class="list-group-item-heading"><B tal:content="BR/getBranch/getName"/></h4>
									<p class="list-group-item-text">Có quyền sử dụng là <B tal:content="BR/getRole/getName"/></p>
								</a>
							</div>
						</div>
						<div class="panel panel-primary" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->IsWarehouseRole()">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>MODULE KHO HÀNG</B></div>
							<div class="panel-body">
								<a class="list-group-item" tal:repeat="WR php:@\MVC\Base\SessionRegistry::instance()->getCurrentUser()->getWarehouseRole()" tal:attributes="href WR/getURLWarehouse">
									<h4 class="list-group-item-heading"><B tal:content="WR/getWarehouse/getName"/></h4>
									<p class="list-group-item-text">Có quyền sử dụng là <B tal:content="WR/getRole/getName"/></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">							
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>THÔNG TIN NGƯỜI DÙNG</B></div>
							<div class="panel-body">								
								<a href="/signout/exe" class="list-group-item">
									<h4 class="list-group-item-heading"><span tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->getEmail()"/> <span tal:content="php:@\MVC\Library\Statistic::getIPPrint()"/></h4>
									<p class="list-group-item-text">Click vào để thoát khỏi hệ thống</p>
								</a>
								<a href="/signout/exe" class="list-group-item">
									<h4 class="list-group-item-heading">Thông tin tài khoản</h4>
									<p class="list-group-item-text">Xem / cập nhật thông tin tài khoản sử dụng ...</p>
								</a>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</body>
</html>