<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div class="col-md-8">					
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-home"/> <B>QUẢN TRỊ / PHÒNG BAN</B></div>
						<div class="panel-body">		
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="40">ID</th>
										<th class="left">TÊN</th>
										<th width="120">NHÂN SỰ</th>
										<th width="40"><i class="glyphicon glyphicon-remove"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Department DepartmentAll1">
										<td class="center"><span tal:content="repeat/Department/number"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="Department" tal:attributes="data-id Department/getId" tal:content="Department/getName"/></td>
										<td><a tal:attributes="href Department/getURLSettingEmployee">Xem (											
											<span tal:content="Department/getEmployeeAll/count"/>											
										)</a></td>
										<td class="center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Department/getId"><i class="glyphicon glyphicon-remove"/></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div metal:use-macro="mFront.xhtml/PageBar"/>
						</div>
					</div>										
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>THAO TÁC</B></div>
						<div class="panel-body">
							<a href="#DialogIns" data-toggle="modal" class="btn btn-default btn-ins">
								<i class="glyphicon glyphicon-plus"/> PHÒNG BAN
							</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
		
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-home modal-icon"/> THÊM MỚI PHÒNG BAN</h3></div>
					<form id="FormDepartmentInsert" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">							
							<div class="form-group">
								<label class="col-sm-2 control-label">Tên</label>
								<div class="col-sm-10 controls">
									<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Điện thoại</label>
								<div class="col-sm-10 controls">
									<input id="Tel1" name="Tel1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Fax</label>
								<div class="col-sm-10 controls">
									<input id="Fax1" name="Fax1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Địa chỉ</label>
								<div class="col-sm-10 controls">
									<input id="Address1" name="Address1" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLInsButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>								
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-home modal-icon"/> CẬP NHẬT PHÒNG BAN</h3></div>
					<form id="FormDepartmentUpdate" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">							
							<div class="form-group">
								<label class="col-sm-2 control-label">Tên</label>
								<div class="col-sm-10 controls">
									<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Điện thoại</label>
								<div class="col-sm-10 controls">
									<input id="Tel2" name="Tel2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Fax</label>
								<div class="col-sm-10 controls">
									<input id="Fax2" name="Fax2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Địa chỉ</label>
								<div class="col-sm-10 controls">
									<input id="Address2" name="Address2" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLUpdButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END UPDATE DIALOG  -->
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
				
		<script type="text/javascript">
		/*<![CDATA[*/			
			//-----------------------------------------------------------------------------------
			//Delete 1 EMPLOYEEE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Department/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 Department			
			$("#FormDepartmentInsert").validate({
				rules:{
					Name1:{
						minlength: 2,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';
					Data[1] = $('#Name1').val();
					Data[2] = $('#Tel1').val();
					Data[3] = $('#Fax1').val();
					Data[4] = $('#Address1').val();
					Data[5] = 1;
																									
					var URL = "/object/ins/Department";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 Department
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Department/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$('#update-link').attr('action', $(this).attr('alt'));
				$.getJSON(url, function(data) {
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#Name2').attr('value', 		data.Name);
					$('#Tel2').attr('value', 		data.Tel);
					$('#Fax2').attr('value', 		data.Fax);
					$('#Address2').attr('value', 	data.Address);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 EMPLOYEEE
			//-----------------------------------------------------------------------------------
			$("#FormDepartmentUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					}					
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#Name2').val();
					Data[2] = $('#Tel2').val();
					Data[3] = $('#Fax2').val();
					Data[4] = $('#Address2').val();
					Data[5] = 1;
																									
					var URL = "/object/upd/Department";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name2').first().focus()},
					0500
				);
			});
		/*]]>*/
		</script>
	</body>
</html>