<!DOCTYPE html>
<html lang="en">	
	<body>
		<div class="panel panel-primary">			
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item Customer" 
						tal:repeat="Customer CustomerAll" 
						style="cursor: pointer;"
						tal:attributes="data-url Customer/getURLBranchCollectLoad"
					>
						<span tal:content="Customer/getName"/>
						<span class="badge" tal:content="Customer/getCollectAll/count"/>
					</li>
				</ul>				
			</div>	
		</div>		
		<script type="text/javascript">
		/*<![CDATA[*/						
			$(".Customer").click(function(){
				$(".Customer").removeClass("list-group-item-success");
				$(this).addClass("list-group-item-success");
				
				var URLLoad = $(this).attr('data-url');				
				$("#CollectAll").load(URLLoad);
			});
			$(".Customer:first").click();
		/*]]>*/
		</script>
	</body>
</html>