<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row" tal:condition="not:BranchQuotaAll/count">
				<div class="col-md-12">					
					<div class="jumbotron text-center">
						<h1>CHƯA ĐƯỢC PHÉP</h1>
						<p>Ngày hôm nay Chi Nhánh chưa làm lệnh bán để xin cấp hạn ngạch bán hàng. Quản lý hệ thống phải làm lệnh bán trình về công ty để được phép bán hàng trong hạn ngạch cho phép.</p>
						<p><a class="btn btn-primary btn-lg" tal:attributes="href Branch/getURLSaleCommand" role="button">Click vào đây</a></p>
					</div>
				</div>
			</div>
			<div class="row" tal:condition="BranchQuotaAll/count">
				<div class="col-md-3">
					<div id="BranchId" tal:attributes="data-id Branch/getId"/>
					<input id="NameSearch" name="NameSearch" type="text" 
						class="form-control input-small" placeholder="Gõ vào tên khách hàng"
						tal:attributes="data-url Branch/getURLSaleInvoiceCustomerSearch"
					/>
					<div id="CustomerAll" />
				</div>				
				<div class="col-md-3">
					<div id="CustomerView" />
				</div>
				<div class="col-md-6">
					<div id="InvoiceView" />
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/					
			$('#NameSearch').keyup(function(event){
				var URL = $(this).attr('data-url');
				$("#CustomerAll").load(URL, {NameSearch:$(this).val()});
			});
		/*]]>*/
		</script>
	</body>
</html>