<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div>
					<div class="col-md-8">
						<div class="panel panel-primary">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
							<div class="panel-body">								
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="32">ID</th>											
											<th class="text-left">KHÁCH HÀNG</th>
											<th class="text-right" width="120">NỢ CŨ</th>
											<th class="text-right" width="120">TIỀN HÀNG</th>
											<th class="text-right" width="120">THANH TOÁN</th>
											<th class="text-right" width="120">NỢ MỚI</th>
											<th class="text-center" width="60" />
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="TDBC TDB/getTDBCustomerAll">
											<td class="center"><span tal:content="repeat/TDBC/number"/></td>
											<td>
												<a tal:attributes="href TDBC/getURLView">
													<span tal:content="TDBC/getCustomer/getName"/>
												</a>
											</td>
											<td class="text-right"><span tal:content="TDBC/getDebtOldPrint"/>	</td>
											<td class="text-right"><span tal:content="TDBC/getSalePrint"/>		</td>
											<td class="text-right"><span tal:content="TDBC/getCollectPrint"/>	</td>
											<td class="text-right"><span tal:content="TDBC/getDebtNewPrint"/>	</td>
											<td class="text-center"><div class="btn btn-xs btn-default"><i class="glyphicon glyphicon-refresh"/></div></td>
										</tr>
									</tbody>
								</table>								
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">							
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>CHỨC NĂNG</B></div>
							<div class="panel-body">
								
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</body>
</html>