<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div>
					<div class="col-md-8">
						<div class="panel panel-primary">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
							<div class="panel-body">																
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th width="32">ID</th>
											<th class="text-left">NGÀY</th>
											<th width="32"/>
											<th class="text-center" width="120">NỢ CŨ</th>
											<th class="text-center" width="120">BÁN HÀNG</th>
											<th class="text-center" width="120">THANH TOÁN</th>
											<th class="text-center" width="120">NỢ MỚI</th>
											<th width="12"/>
											<th class="text-center" width="60"><div class="btn btn-xs btn-default ExeAll"><i class="glyphicon glyphicon-refresh"/></div></th>
										</tr>
									</thead>
									<tbody>
										<tr tal:repeat="TDB TDBAll" tal:attributes="class php: TDB->getDate()==DateCurrent?'success':''">
											<td class="center"><span tal:content="repeat/TDB/number"/></td>
											<td><a tal:attributes="href TDB/getURLCustomer"><span tal:content="TDB/getDatePrint"/></a></td>
											<td><a tal:attributes="href TDB/getURLQuota"><i class="glyphicon glyphicon-stats"/></a></td>
											<td class="text-right"><span tal:content="TDB/getDebtOldPrint"/></td>
											<td class="text-right"><span tal:content="TDB/getSalePrint"/></td>
											<td class="text-right"><span tal:content="TDB/getCollectPrint"/></td>
											<td class="text-right"><span tal:content="TDB/getDebtNewPrint"/></td>
											<td />
											<td class="text-center"><div class="btn btn-xs btn-default Exe" tal:attributes="url-exe '#'"><i class="glyphicon glyphicon-refresh"/></div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">							
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>CHỨC NĂNG</B></div>
							<div class="panel-body">								
								
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</body>
</html>