<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div>
					<div class="col-md-8">
						<div class="panel panel-primary">
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
							<div class="panel-body">
								<a tal:attributes="href Branch/getURLSaleCommand" class="list-group-item">
									<h4 class="list-group-item-heading"><B>LỆNH BÁN</B></h4>
									<p class="list-group-item-text">Quản lý lệnh bán hàng.</p>
								</a>
								<a tal:attributes="href Branch/getURLSaleInvoice" class="list-group-item">
									<h4 class="list-group-item-heading"><B>BÁN HÀNG</B></h4>
									<p class="list-group-item-text">Quản lý bán hàng.</p>
								</a>
								<a tal:attributes="href Branch/getURLCustomerCollect" class="list-group-item">
									<h4 class="list-group-item-heading"><B>THANH TOÁN</B></h4>
									<p class="list-group-item-text">Quản lý thu tiền khách hàng.</p>
								</a>
								<a tal:attributes="href Branch/getURLReport" class="list-group-item">
									<h4 class="list-group-item-heading"><B>BÁO CÁO</B></h4>
									<p class="list-group-item-text">Quản lý báo cáo, báo biểu, thống kê hàng ngày / tháng.</p>
								</a>
								<a tal:attributes="href Branch/getURLSetting" class="list-group-item">
									<h4 class="list-group-item-heading"><B>THIẾT LẬP</B></h4>
									<p class="list-group-item-text">Quản lý các thiết lập hệ thống</p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-primary">							
							<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>NGƯỜI DÙNG ONLINE</B></div>
							<div class="panel-body">								
								<a href="/signout/exe" class="list-group-item">
									<h4 class="list-group-item-heading"><span tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->getEmail()"/> <span tal:content="php:@\MVC\Library\Statistic::getIPPrint()"/></h4>
									<p class="list-group-item-text">Click vào để thoát khỏi hệ thống</p>
								</a>
								<a href="/signout/exe" class="list-group-item">
									<h4 class="list-group-item-heading">Thông tin tài khoản</h4>
									<p class="list-group-item-text">Xem / cập nhật thông tin tài khoản sử dụng ...</p>
								</a>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</body>
</html>