<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/HeaderHome"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<H1 align="center">HỆ THỐNG QUẢN LÝ PTC</H1>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/			
			$('[data-toggle="tooltip"]').tooltip();
		/*]]>*/
		</script>
	</body>
</html>