<!DOCTYPE html>
<html lang="en">	
	<body>
		<div class="panel panel-default">
			<div class="panel-heading"><i class="glyphicon glyphicon-list"/> <B><span tal:content="php:mb_strtoupper(Customer->getName(), 'UTF8')"/></B></div>
			<div class="panel-body">
				<div class="widget-content nopadding">
					<table class="table table-hover">
						<thead>
							<tr>								
								<th><div class="text-left">NGÀY</div></th>
								<th><div class="text-right">TÌNH TRẠNG</div></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Command Customer/getSaleCommandAll" tal:attributes="alt Command/getURLLoad" class="CommandView">
								<td><div style="cursor: pointer" class="text-left" tal:content="Command/getDateTimePrint"/></td>
								<td><div style="cursor: pointer" class="text-right"><span tal:content="Command/getStatePrint"/></div></td>
							</tr>
						</tbody>
					</table>				
					<div class="btn btn-default CommandInsert" tal:attributes="alt Customer/getId"><i class="glyphicon glyphicon-plus" /> ĐƠN HÀNG</div>
				</div>
			</div>
		</div>		
	</body>
	<script>		
		$(".CommandView").click(function(){
			var URL = $(this).attr('alt');			
			$("#CommandView").load(URL);						
			$(this).toggleClass('success').siblings().removeClass('success');
		});
		$('.CommandView:first').click();
		
		$(".CommandInsert").click(function(){
			var IdCustomer = $(this).attr('alt');											
			var Data = [];
			var URL = "/ql-ban-hang/lenh-ban/khach-hang/"+IdCustomer+"/ins/exe";
			$.ajax({
				type: "POST",					
				url: URL,
				success: function(msg){						
					$("#CommandAll").load("/ql-ban-hang/lenh-ban/khach-hang/"+IdCustomer);
				}
			});			
		});
    </script>
</html>