<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div class="col-md-8">					
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
						<div class="panel-body">		
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th class="text-center" width="40">ID</th>
										<th class="text-left">TÊN</th>
										<th class="text-left" width="220">TÀI XẾ</th>
										<th class="text-center" width="40"><i class="glyphicon glyphicon-trash"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Transport TransportAll1">
										<td class="text-center"><span tal:content="repeat/Transport/number"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="Transport" tal:attributes="data-id Transport/getId" tal:content="Transport/getName"/></td>
										<td><span tal:content="Transport/getDriver"/></td>
										<td class="text-center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Transport/getId"><i class="glyphicon glyphicon-remove"/></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div metal:use-macro="mFront.xhtml/PageBar"/>
						</div>
					</div>										
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>THAO TÁC</B></div>
						<div class="panel-body">
							<ul>								
								<li tal:attributes="class php:Group->getId()==Group1->getId()? 'btn btn-info' : 'btn btn-default'" tal:repeat="Group1 GroupAll">
									<a tal:attributes="href Group1/getURLSetting">
										<i class="glyphicon glyphicon-cog"/> <span tal:content="Group1/getName"/> 
									</a>
								</li>
							</ul>
							<a href="#DialogIns" data-toggle="modal" class="btn btn-default btn-ins">
								<i class="glyphicon glyphicon-plus"/> PHƯƠNG TIỆN
							</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
		
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-cog modal-icon"/> THÊM MỚI PHƯƠNG TIỆN</h3></div>
					<form id="FormTransportInsert" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">							
							<div class="form-group">
								<label class="col-sm-3 control-label">Nhóm</label>
								<div class="col-sm-8 controls">
									<select name="IdGroup1" id="IdGroup1" style="width:100%;" class="form-control">
										<option tal:repeat="Group1 GroupAll" tal:attributes="value Group1/getId; selected php:Group1->getId()==Group->getId()?true:false">
											<span tal:content="Group1/getName"/>
										</option>										
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Tên</label>
								<div class="col-sm-8 controls">
									<input id="Name1" name="Name1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Biển số</label>
								<div class="col-sm-8 controls">
									<input id="Code1" name="Code1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Tài xế</label>
								<div class="col-sm-8 controls">
									<input id="Driver1" name="Driver1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Dung tích</label>
								<div class="col-sm-8 controls">
									<input id="Quantity1" name="Quantity1" type="text" class="form-control input-small"/>
								</div>
							</div>					
							<div class="form-group">
								<label class="col-sm-3 control-label">Ghi chú</label>
								<div class="col-sm-8 controls">
									<input id="Note1" name="Note1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Hiệu lực</label>
								<div class="col-sm-8 controls">
									<input id="Enable1" name="Enable1" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLInsButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>								
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-cog modal-icon"/> CẬP NHẬT PHƯƠNG TIỆN</h3></div>
					<form id="FormTransportUpdate" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<div class="form-group">
								<label class="col-sm-3 control-label">Nhóm</label>
								<div class="col-sm-8 controls">
									<select name="IdGroup2" id="IdGroup2" style="width:100%;" class="form-control">
										<option tal:repeat="Group1 GroupAll" tal:attributes="value Group1/getId; selected php:Group1->getId()==Group->getId()?true:false">
											<span tal:content="Group1/getName"/>
										</option>										
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Tên</label>
								<div class="col-sm-8 controls">
									<input id="Name2" name="Name2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Biển số</label>
								<div class="col-sm-8 controls">
									<input id="Code2" name="Code2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Tài xế</label>
								<div class="col-sm-8 controls">
									<input id="Driver2" name="Driver2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Dung tích</label>
								<div class="col-sm-8 controls">
									<input id="Quantity2" name="Quantity2" type="text" class="form-control input-small"/>
								</div>
							</div>					
							<div class="form-group">
								<label class="col-sm-3 control-label">Ghi chú</label>
								<div class="col-sm-8 controls">
									<input id="Note2" name="Note2" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Hiệu lực</label>
								<div class="col-sm-8 controls">
									<input id="Enable2" name="Enable2" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLUpdButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END UPDATE DIALOG  -->
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
				
		<script type="text/javascript">
		/*<![CDATA[*/			
			//-----------------------------------------------------------------------------------
			//Delete 1 EMPLOYEEE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/Transport/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 Transport			
			$("#FormTransportInsert").validate({
				rules:{
					Name1:{
						minlength: 2,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';					
					Data[1] = $('#IdGroup1').val();
					Data[2] = $('#Name1').val();
					Data[3] = $('#Code1').val();
					Data[4] = $('#Driver1').val();
					Data[5] = $('#Quantity1').val();
					Data[6] = $('#Note1').val();
					Data[7] = $('#Enable1').val();
																									
					var URL = "/object/ins/Transport";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 Transport
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Transport/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$('#update-link').attr('action', $(this).attr('alt'));
				$.getJSON(url, function(data) {
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#IdGroup2').attr('value', 	data.IdGroup);
					$('#Name2').attr('value', 		data.Name);
					$('#Code2').attr('value', 		data.Code);
					$('#Driver2').attr('value', 	data.Driver);
					$('#Quantity2').attr('value', 	data.Quantity);
					$('#Note2').attr('value', 		data.Note);
					$('#Enable2').attr('value', 	data.Enable);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 EMPLOYEEE
			//-----------------------------------------------------------------------------------
			$("#FormTransportUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					}					
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdGroup2').val();
					Data[2] = $('#Name2').val();
					Data[3] = $('#Code2').val();
					Data[4] = $('#Driver2').val();
					Data[5] = $('#Quantity2').val();
					Data[6] = $('#Note2').val();
					Data[7] = $('#Enable2').val();
																														
					var URL = "/object/upd/Transport";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogEdit").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name2').first().focus()},
					0500
				);
			});
		/*]]>*/
		</script>
	</body>
</html>