<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div class="col-md-8">					
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
						<div class="panel-body">		
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th width="32">ID</th>
										<th class="text-left" width="180">HÀNG HÓA</th>
										<th class="text-right">TỒN ĐẦU</th>
										<th class="text-left" width="60">ĐVT</th>										
										<th class="text-center" width="40"><i class="glyphicon glyphicon-trash"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="WI Warehouse/getInitAll">
										<td class="text-center"><span tal:content="repeat/WI/number"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" data-name="Warehouse" tal:attributes="data-id WI/getId" tal:content="WI/getGood/getName"/></td>
										<td class="text-right"><span tal:content="WI/getValuePrint" /></td>
										<td class="text-left"><span tal:content="WI/getGood/getUnit" /></td>
										<td class="text-center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id WI/getId"><i class="glyphicon glyphicon-remove"/></a>
										</td>
									</tr>
								</tbody>
							</table>						
						</div>
					</div>										
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>DS KHO</B></div>
						<div class="panel-body">							
							<ul class="list-group">								
								<li tal:attributes="class php:Warehouse->getId()==Warehouse1->getId()? 'list-group-item list-group-item-success' : 'list-group-item'" tal:repeat="Warehouse1 WarehouseAll">
									<a tal:attributes="href Warehouse1/getURLSettingInit">
										<span tal:content="Warehouse1/getName"/>
									</a>
									<span class="badge" tal:content="Warehouse1/getInitAll/count"/>
								</li>
							</ul>
							<a href="#DialogIns" data-toggle="modal" class="btn btn-default btn-ins">
								<i class="glyphicon glyphicon-plus"/> TỒN ĐẦU
							</a>							
						</div>	
					</div>
				</div>
			</div>
		</div>
		
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-home modal-icon"/> THÊM MỚI TỔN ĐẦU</h3></div>
					<form id="FormWarehouseInsert" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<input id="IdWarehouse1" name="IdWarehouse1" type="hidden" tal:attributes="value Warehouse/getId"/>
							<div class="form-group">
								<label class="col-sm-3 control-label">Hàng hóa</label>
								<div class="col-sm-8 controls">
									<select id="IdGood1" name="IdGood1" style="width:100%;" class="form-control">
										<option tal:repeat="Good1 GoodAll" tal:attributes="value Good1/getId">
											<span tal:content="Good1/getName"/>
										</option>										
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Giá trị</label>
								<div class="col-sm-8 controls">
									<input id="Value1" name="Value1" type="text" class="form-control input-small"/>
								</div>
							</div>							
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLInsButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>								
				</div>
			</div>
		</div>
		<!-- END INSERT DIALOG  -->
		
		<!-- UPDATE DIALOG  -->
		<div id="DialogEdit" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header"><h3><i class="glyphicon glyphicon-home modal-icon"/> CẬP NHẬT TỒN ĐẦU</h3></div>
					<form id="FormWarehouseUpdate" action="#" class="form-horizontal" novalidate="novalidate">
						<div class="modal-body">
							<input id="IdWarehouse2" name="IdWarehouse1" type="hidden" tal:attributes="value Warehouse/getId"/>
							<div class="form-group">
								<label class="col-sm-3 control-label">Hàng hóa</label>
								<div class="col-sm-8 controls">
									<select name="IdGood2" id="IdGood2" style="width:100%;" class="form-control">
										<option tal:repeat="Good1 GoodAll" tal:attributes="value Good1/getId">
											<span tal:content="Good1/getName"/>
										</option>										
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Giá trị</label>
								<div class="col-sm-8 controls">
									<input id="Value2" name="Value2" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary btn-small" id="URLUpdButton"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END UPDATE DIALOG  -->
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
				
		<script type="text/javascript">
		/*<![CDATA[*/			
			//-----------------------------------------------------------------------------------
			//Delete 1 EMPLOYEEE			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/WarehouseInit/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 Warehouse			
			$("#FormWarehouseInsert").validate({
				rules:{
					Name1:{
						minlength: 2,
						required:true
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = 'null';
					Data[1] = $('#IdWarehouse1').val();
					Data[2] = $('#IdGood1').val();
					Data[3] = $('#Value1').val();
																																			
					var URL = "/object/ins/WarehouseInit";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			$("#DialogIns").on('show.bs.modal', function(event){
				window.setTimeout(
					function(){$(event.currentTarget).find('input#Name1').first().focus()},
					0500
				);
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 Warehouse
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/WarehouseInit/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$('#update-link').attr('action', $(this).attr('alt'));
				$.getJSON(url, function(data) {
					$('#URLUpdButton').attr('alt', 	data.Id);
					$('#IdGood2').val( 				data.IdGood);
					$('#Value2').attr('value', 		data.Value);					
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 EMPLOYEEE
			//-----------------------------------------------------------------------------------
			$("#FormWarehouseUpdate").validate({
				rules:{
					Name2:{
						minlength: 2,
						required:true
					}					
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight:function(element, errorClass, validClass) {
					$(element).parents('.form-group').addClass('has-error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.form-group').removeClass('has-error');
					$(element).parents('.form-group').addClass('has-success');
				},
				submitHandler: function (form) {					
					var Data = [];
					Data[0] = $('#URLUpdButton').attr('alt');
					Data[1] = $('#IdWarehouse2').val();
					Data[2] = $('#IdGood2').val();
					Data[3] = $('#Value2').val();																														
					var URL = "/object/upd/WarehouseInit";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,
						success: function(msg){
							location.reload();
						}
					});
					return false;
				}
			});
			
		/*]]>*/
		</script>
	</body>
</html>