<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>	
	<body>	
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">				
				<div class="col-md-8">
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B tal:content="Title"/></div>
						<div class="panel-body">							
							<table class="table table-bordered table-striped table-hover with-check">
								<thead>
									<tr>
										<th class="text-center" width="40">ID</th>
										<th class="text-left">TÊN ĐƠN VỊ</th>
										<th class="text-left" width="120">QUYỀN</th>										
										<th class="text-center" width="40"><i class="glyphicon glyphicon-trash"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="UB UBAll">
										<td class="text-center"><span tal:content="repeat/UB/number"/></td>
										<td><span tal:content="UB/getBranch/getName"/></td>
										<td class="text-left">											
											<span tal:content="UB/getRole/getName"/>
										</td>
										<td class="text-center">
											<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id UB/getId">
												<i class="glyphicon glyphicon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>																			
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-cog"/> <B>THAO TÁC</B></div>
						<div class="panel-body">
							<a href="#DialogIns" data-toggle="modal" class="btn btn-default btn-ins">
								<i class="glyphicon glyphicon-plus"/> ĐƠN VỊ
							</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- INSERT DIALOG  -->
		<div id="DialogIns" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicon glyphicon-cog modal-icon"/> THÊM MỚI QUẢN LÝ</h3>
					</div>
					<div class="form-horizontal" action="#" novalidate="novalidate">
						<div class="modal-body">
							<input id="IdUser" type="text" tal:attributes="value UserSelect/getId"/>
							<div class="form-group">
								<label class="col-sm-2 control-label">Đơn vị</label>
								<div class="col-sm-10 controls">
									<select name="IdBranch" id="IdBranch" style="width:100%;" class="form-control">
										<option tal:repeat="Branch BranchAll" tal:attributes="value Branch/getId">
											<span tal:content="Branch/getName"/>
										</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Vai trò</label>
								<div class="col-sm-10 controls">
									<select name="IdRole" id="IdRole" style="width:100%;" class="form-control">
										<option tal:repeat="Role RoleAll" tal:attributes="value Role/getId">
											<span tal:content="Role/getName"/>
										</option>
									</select>
								</div>
							</div>
						</div>	
						<div class="modal-footer">
							<div class="form-group">
								<div class="col-sm-2"/>
								<div class="col-sm-10">
									<button id="URLInsButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
									<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
								</div>	
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>				
		<div metal:use-macro="mDialog.xhtml/DialogDel"/>
		<script type="text/javascript">
		/*<![CDATA[*/						
			//-----------------------------------------------------------------------------------
			//Delete 1 USER			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/UserBranch/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 USER
			$("#URLInsButton").click(function(){
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#IdUser').val();
				Data[2] = $('#IdBranch').val();
				Data[3] = $('#IdRole').val();
												
				var URL = "/object/ins/UserBranch";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});			
			});
								
		/*]]>*/
		</script>
	</body>
</html>