<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<style>
	@media print{
		.header, .hide { visibility: hidden };
		body { font-size: 9px };
		margin: 0mm 0mm 0mm 0mm;
	}	 
	@media screen {
		body { font-size: 9px }
	}
	@media screen, print {
		body { line-height: 1.0 }
	}
	@page  
	{ 
		size: auto;   /* auto is the initial value */ 
		/* this affects the margin in the printer settings */ 
		margin: 0mm 0mm 0mm 0mm;
	}	
	</style>
</head>
<body onload="window.print()">
	<table width="100%" cellpadding="1" cellspacing="0" border="0">
		<tr>
			<td width="40%" align="center"><B tal:content="ConfigName/getValue"/></td>
			<td width="10%" align="left" />
			<td width="50%" align="center"><B>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</B></td>
		</tr>
		<tr>
			<td width="40%" align="center"><B tal:content="ConfigAddress/getValue"/></td>
			<td width="10%" align="left" />
			<td width="50%" align="center"><B>Độc lập - Tự do - Hạnh phúc</B></td>
		</tr>
		<tr>
			<td width="40%" align="center">Số: <B tal:content="Invoice/getIdPrint"/></td>
			<td width="10%" align="left" />
			<td width="50%" align="center"><I tal:content="Invoice/getDateTimeCreatedStrPrint"/></td>
		</tr>
	</table>
	<p align="center" style="font-size:18pt;font-family:Arial; line-height:18pt"><b>LỆNH XUẤT KHO</b></p>
	<p align="center" style="font-size:14pt;font-family:Arial; line-height:14pt">
		<u>Kính gửi</u>: <b>BAN GIÁM ĐỐC <span tal:content="php:mb_strtoupper(Invoice->getWarehouse()->getName(), 'UTF8')"/></b>
	</p>
	<p align="justify" style="font-size:13pt;font-family:Arial; line-height:13pt">
		Công ty CP Thương Mại Dầu Khí Cửu Long giới thiệu cho ??? nhận hàng tại kho <B tal:content="php:mb_strtoupper(Invoice->getWarehouse()->getName(), 'UTF8')"/> với số lượng như sau:
	</p>
	<table width="100%" cellpadding="2" cellspacing="0" border="1" style="font-size:12pt;font-family:Arial; line-height:12pt;padding-bottom:2px;">
		<thead>
			<tr>										
				<th align="center" width="30">STT</th>
				<th align="left">TÊN</th>
				<th align="right" width="60">SL</th>
				<th align="left" width="60">ĐVT</th>
				<th align="right" width="120">Đ.GIÁ</th>
				<th align="right" width="120">T.TIỀN</th>
			</tr>
		</thead>
		<tbody>
			<tr tal:repeat="Detail Invoice/getDetailAll">
				<td align="center"><span tal:content="repeat/Detail/number" /></td>
				<td align="left"><span tal:content="Detail/getGood/getName"/></td>				
				<td align="right"><span tal:content="Detail/getCountPrint"/></td>
				<td align="left"><span tal:content="Detail/getGood/getUnit"/></td>
				<td align="right"><span tal:content="Detail/getPricePrint"/></td>
				<td align="right"><span tal:content="Detail/getValuePrint"/></td>				
			</tr>
			<tr>
				<td align="right" colspan="5"><B>TỔNG CỘNG</B></td>
				<td align="right"><B tal:content="Invoice/getValuePrint" /></td>
			</tr>
		</tbody>		
	</table>
	<p style="font-size:12pt;font-family:Arial; line-height:12pt;padding-bottom:2px;" align="right" tal:content="php: '(' . Invoice->getValueStrPrint() . ')' "/>
	<table width="100%" cellpadding="1" cellspacing="0" border="0">
		<tr>
			<td width="30%" align="center"><B>NGƯỜI LẬP PHIẾU</B></td>			
			<td width="40%" align="center"><B>TRƯỞNG PHÒNG</B></td>
			<td width="30%" align="center"><B>GIÁM ĐỐC</B></td>
		</tr>		
	</table>
</body>