Options +FollowSymlinks
RewriteEngine on

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

#---------------------------------------------------------------------------------------------------------------------------
# SYSTEM
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^signin/load$ 			?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 			?cmd=SigninExe [L]
RewriteRule ^signout/load$ 			?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 			?cmd=SignoutExe [L]
RewriteRule ^change/pass/load$ 		?cmd=ChangePassLoad [L]
RewriteRule ^change/pass/exe$ 		?cmd=ChangePassExe [L]

RewriteRule ^object/load/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectLoad&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/del/([A-Za-z0-9]+)/([0-9]+)$ 					?cmd=ObjectDel&ObjectName=$1&Id=$2 [L]
RewriteRule ^object/ins/([A-Za-z0-9]+)$ 							?cmd=ObjectIns&ObjectName=$1 [L]
RewriteRule ^object/upd/([A-Za-z0-9]+)$ 							?cmd=ObjectUpd&ObjectName=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SELLING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 													?cmd=App [L]

RewriteRule ^checking$ 												?cmd=Checking [L]
RewriteRule ^checking/update$ 										?cmd=CheckingUpdate [L]
RewriteRule ^checking/([0-9]+)$ 									?cmd=CheckingDomain&IdDomain=$1 [L]
RewriteRule ^checking/([0-9]+)/([0-9]+)$ 							?cmd=CheckingDomainTable&IdDomain=$1&IdTable=$2 [L]
RewriteRule ^checking/([0-9]+)/([0-9]+)/init$ 						?cmd=CheckingDomainTableInit&IdDomain=$1&IdTable=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# REPORT
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^report$ 												?cmd=Report [L]
RewriteRule ^report/([0-9]+)$ 										?cmd=ReportDetail&IdTrack=$1 [L]

#---------------------------------------------------------------------------------------------------------------------------
# SETTING
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^setting$ 												?cmd=Setting [L]

RewriteRule ^setting/init$ 											?cmd=SettingInit [L]
RewriteRule ^setting/init/exe$ 										?cmd=SettingInitExe [L]
RewriteRule ^setting/init/move$ 									?cmd=SettingInitMove [L]

RewriteRule ^setting/domain$ 										?cmd=SettingDomain [L]
RewriteRule ^setting/domain/page/([0-9]+)$ 							?cmd=SettingDomain&Page=$1 [L]
RewriteRule ^setting/domain/([0-9]+)$ 								?cmd=SettingDomainTable&IdDomain=$1 [L]
RewriteRule ^setting/domain/([0-9]+)/page/([0-9]+)$ 				?cmd=SettingDomainTable&IdDomain=$1&Page=$2 [L]
RewriteRule ^setting/domain/([0-9]+)/([0-9]+)$ 						?cmd=SettingTableStudent&IdDomain=$1&IdTable=$2 [L]

RewriteRule ^setting/config$ 										?cmd=SettingConfig [L]
RewriteRule ^setting/config/page/([0-9]+)$ 							?cmd=SettingConfig&Page=$1 [L]

RewriteRule ^setting/user$ 											?cmd=SettingUser [L]
RewriteRule ^setting/user/page/([0-9]+)$ 							?cmd=SettingUser&Page=$1 [L]
