<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>				
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<div class="form-horizontal">
								<div class="modal-body">
									<div class="form-group">
										<label class="control-label">Tên Website</label>
										<div class="controls">
											<input id="Name2" tal:attributes="value ConfigName/getValue;data-id ConfigName/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Địa chỉ</label>
										<div class="controls">
											<input id="Address2" tal:attributes="value ConfigAddress/getValue;data-id ConfigAddress/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Khẩu hiệu</label>
										<div class="controls">
											<input id="Slogan2" tal:attributes="value ConfigSlogan/getValue;data-id ConfigSlogan/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Người liên hệ</label>
										<div class="controls">
											<input id="Contact2" tal:attributes="value ConfigContact/getValue;data-id ConfigContact/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Nick YahooMessenger</label>
										<div class="controls">
											<input id="YahooMessenger2" tal:attributes="value ConfigYahooMessenger/getValue;data-id ConfigYahooMessenger/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Nick Skype</label>
										<div class="controls">
											<input id="Skype2" tal:attributes="value ConfigSkype/getValue;data-id ConfigSkype/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Nick GTalk</label>
										<div class="controls">
											<input id="GTalk2" tal:attributes="value ConfigGTalk/getValue;data-id ConfigGTalk/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Điện thoại 1</label>
										<div class="controls">
											<input id="Phone12" tal:attributes="value ConfigPhone1/getValue;data-id ConfigPhone1/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Điện thoại 2</label>
										<div class="controls">
											<input id="Phone22" tal:attributes="value ConfigPhone2/getValue;data-id ConfigPhone2/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số dòng trên trang</label>
										<div class="controls">
											<input id="RowPerPage2" tal:attributes="value ConfigRowPerPage/getValue;data-id ConfigRowPerPage/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số lượt truy cập</label>
										<div class="controls">
											<input id="GuestVisit2" tal:attributes="value ConfigGuestVisit/getValue;data-id ConfigGuestVisit/getId" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Trang giới thiệu - Post</label>
										<div class="controls">											
											<select name="ConfigIntroduction2" id="ConfigIntroduction2" style="width:80%;" tal:attributes="data-id ConfigIntroduction/getId">
												<option tal:repeat="PT Tag/getPostAll" tal:attributes="value PT/getPost/getId; selected php:ConfigIntroduction->getValue()==PT->getPost()->getId()?'selected':''">
													<span tal:content="PT/getPost/getTitle" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Trang FAQ</label>
										<div class="controls">											
											<select name="ConfigFAQ2" id="ConfigFAQ2" style="width:80%;" tal:attributes="data-id ConfigFAQ/getId">
												<option tal:repeat="PT Tag/getPostAll" tal:attributes="value PT/getPost/getId; selected php:ConfigFAQ->getValue()==PT->getPost()->getId()?'selected':''">
													<span tal:content="PT/getPost/getTitle" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Trang Điều khoản</label>
										<div class="controls">											
											<select name="ConfigPolicy2" id="ConfigPolicy2" style="width:80%;" tal:attributes="data-id ConfigPolicy/getId">
												<option tal:repeat="PT Tag/getPostAll" tal:attributes="value PT/getPost/getId; selected php:ConfigPolicy->getValue()==PT->getPost()->getId()?'selected':''">
													<span tal:content="PT/getPost/getTitle" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Trang Bảng giá dịch vụ</label>
										<div class="controls">											
											<select name="ConfigPriceService2" id="ConfigPriceService2" style="width:80%;" tal:attributes="data-id ConfigPriceService/getId">
												<option tal:repeat="PT Tag/getPostAll" tal:attributes="value PT/getPost/getId; selected php:ConfigPriceService->getValue()==PT->getPost()->getId()?'selected':''">
													<span tal:content="PT/getPost/getTitle" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Trang Bảng giá đất</label>
										<div class="controls">											
											<select name="ConfigPriceLand2" id="ConfigPriceLand2" style="width:80%;" tal:attributes="data-id ConfigPriceLand/getId">
												<option tal:repeat="PT Tag/getPostAll" tal:attributes="value PT/getPost/getId; selected php:ConfigPriceLand->getValue()==PT->getPost()->getId()?'selected':''">
													<span tal:content="PT/getPost/getTitle" />
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Trang Bảng giá nhà</label>
										<div class="controls">											
											<select name="ConfigPriceHouse2" id="ConfigPriceHouse2" style="width:80%;" tal:attributes="data-id ConfigPriceHouse/getId">
												<option tal:repeat="PT Tag/getPostAll" tal:attributes="value PT/getPost/getId; selected php:ConfigPriceHouse->getValue()==PT->getPost()->getId()?'selected':''">
													<span tal:content="PT/getPost/getTitle" />
												</option>
											</select>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button id="URLUpdButton" class="btn btn-primary btn-small" type="submit"><i class="glyphicons-download_alt"/> Lưu</button>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/									
			//-----------------------------------------------------------------------------------
			//Update 1 UNIT
			//-----------------------------------------------------------------------------------															
			$('#URLUpdButton').click(function(){
				var Data = [];
								
				Data[0] = $('#RowPerPage2').attr('data-id');
				Data[1] = "ROW_PER_PAGE";
				Data[2] = $('#RowPerPage2').val();
				
				var URL = "/object/upd/Config";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				Data[0] = $('#GuestVisit2').attr('data-id');
				Data[1] = "GUEST_VISIT";
				Data[2] = $('#GuestVisit2').val();			
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
								
				//Cập nhật tên quán
				Data[0] = $('#Name2').attr('data-id');
				Data[1] = "NAME";
				Data[2] = $('#Name2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật địa chỉ
				Data[0] = $('#Address2').attr('data-id');
				Data[1] = "ADDRESS";
				Data[2] = $('#Address2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật điện thoại
				Data[0] = $('#Phone12').attr('data-id');
				Data[1] = "PHONE1";
				Data[2] = $('#Phone12').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật KHẨU HIỆU
				Data[0] = $('#Slogan2').attr('data-id');
				Data[1] = "SLOGAN";
				Data[2] = $('#Slogan2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật Bài viết giới thiệu
				Data[0] = $('#ConfigIntroduction2').attr('data-id');
				Data[1] = "POST_INTRODUCTION";
				Data[2] = $('#ConfigIntroduction2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật Bài 
				Data[0] = $('#ConfigFAQ2').attr('data-id');
				Data[1] = "POST_FAQ";
				Data[2] = $('#ConfigFAQ2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật Bài 
				Data[0] = $('#ConfigPolicy2').attr('data-id');
				Data[1] = "POST_POLICY";
				Data[2] = $('#ConfigPolicy2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật Bảng giá dịch vụ
				Data[0] = $('#ConfigPriceService2').attr('data-id');
				Data[1] = "POST_PRICE_SERVICE";
				Data[2] = $('#ConfigPriceService2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật Bảng giá nhà
				Data[0] = $('#ConfigPriceHouse2').attr('data-id');
				Data[1] = "POST_PRICE_HOUSE";
				Data[2] = $('#ConfigPriceHouse2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật Bảng giá đất
				Data[0] = $('#ConfigPriceLand2').attr('data-id');
				Data[1] = "POST_PRICE_LAND";
				Data[2] = $('#ConfigPriceLand2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
											
				//Cập nhật tên người liên hệ
				Data[0] = $('#Contact2').attr('data-id');
				Data[1] = "CONTACT_NAME";
				Data[2] = $('#Contact2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật nick Yahoo Messenger
				Data[0] = $('#YahooMessenger2').attr('data-id');
				Data[1] = "CONTACT_YAHOOMESSENGER";
				Data[2] = $('#YahooMessenger2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật nick Skype
				Data[0] = $('#Skype2').attr('data-id');
				Data[1] = "CONTACT_SKYPE";
				Data[2] = $('#Skype2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật nick GTalk
				Data[0] = $('#GTalk2').attr('data-id');
				Data[1] = "CONTACT_GTALK";
				Data[2] = $('#GTalk2').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//Cập nhật điện thoại
				Data[0] = $('#Phone22').attr('data-id');
				Data[1] = "PHONE2";
				Data[2] = $('#Phone22').val();
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){}
				});
				
				//hiển thị thông báo
				$.gritter.add({
					title		:'Thông báo',
					class_name	:'gritter-green',
					text		:'Đã cập nhật xong',
					time		:5000,
					sticky		: false
				});
			});
		/*]]>*/
		</script>
	</body>
</html>