<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>		
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<section id="content">				
				<div metal:use-macro="mFront.xhtml/LocationBar"/>
				<div class="container">
					<div class="row">						
						<div class="col-md-9">
							<div class="row">
								<table border="1">
									<tr>
										<th></th>
										<th>HỌ TÊN</th>										
										<th>ĐIỆN THOẠI</th>
										<th>TIN ĐÃ ĐĂNG</th>
									</tr>
									<tr tal:repeat="Supplier SupplierAll">
										<td><img width="64px" tal:attributes="src Supplier/getPicture" /></td>
										<td><span tal:content="Supplier/getName" /></td>										
										<td><span tal:content="Supplier/getPhone" /></td>
										<td>
											<a tal:attributes="href Supplier/getURLView">
												Xem (<span tal:content="Supplier/getProductAll/count"/>)
											</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="col-md-3">
							<div metal:use-macro="mFront.xhtml/SearchBox"/>
						</div>
					</div>
				</div>
			</section>
			<div metal:use-macro="mFront.xhtml/Footer"/>
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>