<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container" id="wraper">
			<div class="row-fluid">
				<div class="col-md-2">
						
				</div>
				<div class="col-md-8">
					<p align="center"><img width="100%" src="data/chess/bg/bg001.jpg"/></p>
				</div>
				<div class="col-md-2">
					
				</div>					
			</div>
		</div>
				
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>