/*-- Dahenar --*/

/*--------------Grid------------------------*/

.units-container:after,
.units-row-end:after,
.units-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.units-container {
  padding-top: 1px;
  margin-top: -1px;
}
.units-container,
.units-row-end,
.units-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.units-row {
  max-width: 1200px;
  margin: 0 auto;
  -moz-hyphens:auto;
  -ms-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
  word-wrap:break-word;
}
.units-row-end {
  margin-bottom: 0;
}
.unit-100 {
  width: 100%;
}
.unit-80 {
  width: 80%;
}
.unit-75 {
  width: 75%;
}
.unit-70 {
  width: 70%;
}
.unit-66 {
  width: 66.6%;
}
.unit-60 {
  width: 60%;
}
.unit-50 {
  width: 50%;
}
.unit-40 {
  width: 40%;
}
.unit-33 {
  width: 33.3%;
}
.unit-30 {
  width: 30%;
}
.unit-25 {
  width: 25%;
}
.unit-20 {
  width: 20%;
}
.unit-15 {
  width: 15%;
}
.units-row .unit-100,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row .unit-15,
.units-row-end .unit-100,
.units-row-end .unit-80,
.units-row-end .unit-75,
.units-row-end .unit-70,
.units-row-end .unit-66,
.units-row-end .unit-60,
.units-row-end .unit-50,
.units-row-end .unit-40,
.units-row-end .unit-33,
.units-row-end .unit-30,
.units-row-end .unit-25,
.units-row-end .unit-20,
.units-row-end .unit-15 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row .unit-15,
.units-row-end .unit-100,
.units-row-end .unit-80,
.units-row-end .unit-75,
.units-row-end .unit-70,
.units-row-end .unit-66,
.units-row-end .unit-60,
.units-row-end .unit-50,
.units-row-end .unit-40,
.units-row-end .unit-33,
.units-row-end .unit-30,
.units-row-end .unit-25,
.units-row-end .unit-20,
.units-row-end .unit-15 {
  float: left;
  margin-left: 3%;
}
.units-row .unit-80:first-child,
.units-row .unit-75:first-child,
.units-row .unit-70:first-child,
.units-row .unit-66:first-child,
.units-row .unit-60:first-child,
.units-row .unit-50:first-child,
.units-row .unit-40:first-child,
.units-row .unit-33:first-child,
.units-row .unit-30:first-child,
.units-row .unit-25:first-child,
.units-row .unit-20:first-child,
.units-row .unit-15:first-child,
.units-row-end .unit-100:first-child,
.units-row-end .unit-80:first-child,
.units-row-end .unit-75:first-child,
.units-row-end .unit-70:first-child,
.units-row-end .unit-66:first-child,
.units-row-end .unit-60:first-child,
.units-row-end .unit-50:first-child,
.units-row-end .unit-40:first-child,
.units-row-end .unit-33:first-child,
.units-row-end .unit-30:first-child,
.units-row-end .unit-25:first-child,
.units-row-end .unit-20:first-child,
.units-row-end .unit-15:first-child {
  margin-left: 0;
}
.units-row .unit-80,
.units-row-end .unit-80 {
  width: 79.4%;
}
.units-row .unit-75,
.units-row-end .unit-75 {
  width: 74.25%;
}
.units-row .unit-70,
.units-row-end .unit-70 {
  width: 69.1%;
}
.units-row .unit-66,
.units-row-end .unit-66 {
  width: 65.66666666666666%;
}
.units-row .unit-60,
.units-row-end .unit-60 {
  width: 58.800000000000004%;
}
.units-row .unit-50,
.units-row-end .unit-50 {
  width: 48.5%;
}
.units-row .unit-40,
.units-row-end .unit-40 {
  width: 38.2%;
}
.units-row .unit-30,
.units-row-end .unit-30 {
  width: 27.9%;
}
.units-row .unit-33,
.units-row-end .unit-33 {
  width: 31.333333333333332%;
}
.units-row .unit-25,
.units-row-end .unit-25 {
  width: 22.75%;
}
.units-row .unit-20,
.units-row-end .unit-20 {
  width: 17.6%;
}
.units-row .unit-15,
.units-row-end .unit-15 {
  width: 12.3%;
}


/*--------------------Blocks-----------------------*/


.blocks-2,
.blocks-3,
.blocks-4 {
  padding-left: 0;
  list-style: none;
  margin-left: -3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blocks-2:after,
.blocks-3:after,
.blocks-4:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.blocks-2 > article,
.blocks-3 > article,
.blocks-4 > article {
  height: auto;
  float: left;
  margin-bottom: 1.65em;
  margin-left: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blocks-2 > article {
  width: 47%;
}
.blocks-3 > article {
  width: 30.333333333333332%;
}
.blocks-4 > article {
  width: 21.5%;
}
.block-first {
  clear: both;
}




/*--------------------Wide (Portrait)-----------------------*/


@media only screen and (min-width: 1030px)  {


#bick10 { display:none}	
#bick12 { display:none}	

.topslider {
    	margin-left: auto;
    	margin-right: auto;
    	width: 1000px;
}
#home-items {
	position:absolute;
	width:1000px;
	height:100%; 
}						


}

/*--------------------Wide (Portrait)-----------------------*/


@media only screen and (min-width: 910px) and (max-width: 1030px)  {

.our-team .team-member a { text-decoration: none; }
.our-team .team-member .image { width: 220px; height: 340px; display: inline-block; overflow: hidden; }
.our-team .team-member img { width: auto; display: block; height:100%; }
.our-team .info {
	border: #ffcfc7 1px solid;
	text-align: center;
	text-transform: uppercase;
	width: 218px;
	margin-top: -4px;
}

.our-team .team-hover1 {
	background: url("../img/bg-team-1.png") no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 340px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.our-team .team-hover1:hover { opacity: 1; }
.our-team .team-hover1 img { max-width: 100%; }

.our-team .team-hover2 {
	background: url("../img/bg-team-2.png") no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 340px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.our-team .team-hover2:hover { opacity: 1; }
.our-team .team-hover2 img { max-width: 100%; }

.our-team .team-hover3 {
	background: url("../img/bg-team-3.png") no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 340px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


.our-team .in { 
	background: url("../img/in-w.png") no-repeat center;
	width: 0px;
	height: 0px;
}
.our-team .in:hover { 
	width: 0px;
	height: 0px;
}






header.container {
    	width: 1030px;
}
.topslider {
    	margin-left: auto;
    	margin-right: auto;
    	width: 680px;
}
#home-items {
	position:absolute;
	width:700px;
	height:100%; 
}						


#bick8 { display:none}
#bick9 { display:none}
#bick11 { display:none}	


}



/*--------------------Wide (Portrait)-----------------------*/


@media only screen and (min-width: 720px) and (max-width: 910px)  {



  .units-row {
    padding: 0 10px !important;
    max-width: auto;
  }

  .units-row1 {
    padding: 0 10px !important;
    max-width: 90%;
  }

  .flexheader .slides {
    padding-top: 50px;
  }
  .flexheader .slides p {
    font-size: 34px;
    line-height: 30px;
  }
  .flexheader .slides p small {
    font-size: 20px;
  }
  .icon, .blog .blog-hover p {
    margin: 15px auto;
  }
  .portfolio h1,
  .about h1,
  .our-clients h1,
  .contact h1 {
    padding: 150px 0 0;
  }

 .our-clients h2 { padding: 250px 0 30px; }

  .service h1 {
    padding: 150px 0 0;
  }

 .service h2 { padding: 250px 0 30px;margin: 200px 0 30px; }



  .blog .blog-hover .icon, .portfolio .portfolio-nav .icon {
    margin-bottom: 0;
  }
  .portfolio-content.blocks-3 article {
    max-width: 100%; width: auto;
  }


  .yellow-quote .main-wrapper {
  height: auto;
  padding: 180px 0;
  }
  .yellow-quote p {
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
  text-transform: uppercase;
  }
  .yellow-quote h1 {
    font-size: 36px;
    margin-left:9px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .port-slider {
    height: 500px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: -450px; 
    overflow: hidden;
    display: block;
  }
  .blog-post .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .blog-post .port-slider {
    height: 500px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: -300px;
    overflow: hidden;
    display: block;
  }
  .portfolio .big-image {
    margin: 50px 0 -200px;
  }
  .portfolio .related {
    padding: 0;
  }



  .blog-post .quote > p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
  }
  .mobile-text-centered {
    text-align: center;
  }
  .portfolio-nav ul li {
    margin-bottom: 10px;
  }
  .search-bar input[type="text"] {
    width: 90%;
  }
  .comments .comment-area .comment {
    width: 100%;
    margin: 90px auto 0 auto;
  }
  .comments .comment-area .comment-reply {
    margin: 50px auto;
    float: right;
  }
  .leave-comment {
    margin: 50px 0;
  }
  .comments .header h1 {
    float: none;
  }
  .comments .header input[type="button"] {
    margin: 0 auto;
    float: none;
    text-align: center;
    position: relative;
    display: block;
  }
  .comments .comment .user-image {
/*    margin: 0 auto;
    display: block;
    float: none;*/
  }
  .mobile-hide {
    display: none;
  }






header.container {
    	width: 910px;
}
.topslider {
    	margin-left: auto;
    	margin-right: auto;
    	width: 680px;
}
#home-items {
	position:absolute;
	width:680px;
	height:100%; 
}						




#bick8 { display:none}
#bick9 { display:none}
#bick11 { display:none}	

.about h1 {
	margin-top: 10px;

}



.or-quote {
	background: url(../img/main-images/header-image1-ipad.jpg) no-repeat fixed center;
}

.or-quote1 {
	background: url(../img/main-images/header-image2-ipad.jpg) no-repeat fixed center;
}

.or-quote2 {
	background: url(../img/main-images/header-image3-ipad.jpg) no-repeat fixed center;
}

.or-quote3 {
	background: url(../img/main-images/header-image4-ipad.jpg) no-repeat fixed center;
}






.service .client-main .client {
	position: relative;
	margin-bottom: 50px;
	cursor: pointer;
	height: 330px;
}
.service .client-hover {
	border: #ffcfc7 1px solid;
	position:absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 340px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}





.our-team .team-member {
	margin-left:22%;
	margin-right:10%;
}





.our-team .team-member {
	position: relative;
	float: left;
	/*margin: 50px 20px 80px;*/
	cursor: pointer;
/*	width: 350px;*/
	height: auto;
	padding : 0;
	display: inline-block;
}
.our-team .team-member a { text-decoration: none; }
.our-team .team-member .image { width: 350px; height: 530px; display: inline-block; overflow: hidden; }
.our-team .team-member img { width: auto; display: block; height:100%; }
.our-team .info {
	border: #ffcfc7 1px solid;
	text-align: center;
	text-transform: uppercase;
	width: 348px;
	margin-top: -4px;
}

.our-team .team-hover1 {
	background: rgba(230,110,66,.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 530px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.our-team .team-hover1:hover { opacity: 1; }
.our-team .team-hover1 img { max-width: 100%; }

.our-team .team-hover2 {
	background: rgba(230,110,66,.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 530px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.our-team .team-hover2:hover { opacity: 1; }
.our-team .team-hover2 img { max-width: 100%; }

.our-team .team-hover3 {
	background: rgba(230,110,66,.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 530px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


.our-team .fb { 
	background: url("../img/fb-w.png") no-repeat center;
	border-radius: 0%;
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	width: 53px;
	height: 53px;
	position: absolute;
	bottom: 30px;
	left: 87px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.our-team .fb:hover {
	background: #fff url("../img/fb.png") no-repeat center;
	border-radius: 0%;
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	width: 53px;
	height: 53px;
	position: absolute;
	bottom: 30px;
	left: 87px;
}
.our-team .tw { 
	background: url("../img/tw-w.png") no-repeat center;
	border-radius: 0%;
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	width: 53px;
	height: 53px;
	position: absolute;
	bottom: 30px;
	right: 77px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.our-team .tw:hover { 
	background: #fff url("../img/tw.png") no-repeat center;
	border-radius: 0%;
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	width: 53px;
	height: 53px;
	position: absolute;
	bottom: 30px;
	right: 77px;
}
.our-team .in { 
	background: url("../img/in-w.png") no-repeat center;
	border-radius: 0%;
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	width: 53px;
	height: 53px;
	position: absolute;
	bottom: 30px;
	right: 143px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.our-team .in:hover { 
	background: #fff url("../img/in.png") no-repeat center;
	border-radius: 0%;
	-webkit-border-radius: 0%;
	-moz-border-radius: 0%;
	width: 53px;
	height: 53px;
	position: absolute;
	bottom: 30px;
	right: 143px;
}

.highlight-1 {margin-left:150px}

.portfolio .portfolio-content .entry a { text-decoration: none; }
.portfolio .portfolio-content .image { position: relative;}
.portfolio  .entry img { width: auto; display: block; margin-left:22%; margin-right:10%; height:288px }
.portfolio  h2 { margin: 20px 0 10px 0; }
.portfolio  p { display:none; line-height: 24px; }
.portfolio  a {text-decoration: none;}

.portfolio  .work-hover {
	background: rgba(230,110,66,.8);
	margin-left:22%; 
	margin-right:10%;
	position:absolute;
	top: 0;
	left: 0;
 height:288px;
	width: 100%;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.portfolio  .work-hover:hover { opacity: 1; }
.portfolio  .work-hover img { width: 100%; }
.portfolio  .work-hover .icon { 
	background:  url("../img/plus.png") no-repeat center;
	width: 85px;
	height: 85px;
	position: relative;
	margin: 25% auto 10px auto;
	display: block;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.portfolio  .work-hover:hover .icon {
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}
.portfolio  .work-hover p { 
	font-size: 18px; 
	text-align: center; 
	color: #fff;
}



}



/*--------------------Tablet (Portrait)-----------------------*/


@media only screen and  (min-width: 500px) and (max-width: 720px) {


 #bick12 { display:none}	

  #MainNav {
    padding: 20px 0 0 0;
  }
  #MainNav .units-row {
    padding-bottom: 20px;
    text-align: center;
  }
  #MainNav ul li {
    padding: 0;
  }
  #MainNav ul li a {
    color: #fff;
  }
  .units-row {
    padding: 0 10px !important;
    max-width: auto;
  }
  .units-row1 {
    padding: 0 10px !important;
    max-width: auto;
  }
  .brand {
    float: none;
    display: block;
    padding-bottom: 20px;
  }
  .flexheader .slides {
    padding-top: 50px;
  }
  .flexheader .slides p {
    font-size: 34px;
    line-height: 30px;
  }
  .flexheader .slides p small {
    font-size: 20px;
  }
  .icon, .blog .blog-hover p {
    margin: 15px auto;
  }
  .portfolio h1,
  .about h1,
  .our-clients h1,
  .contact h1 {
    padding: 150px 0 0;
  }

 .our-clients h2 { padding: 250px 0 30px; }

  .service h1 {
    padding: 150px 0 0;
  }

 .service h2 { padding: 250px 0 30px; }

  .blog .blog-hover .icon, .portfolio .portfolio-nav .icon {
    margin-bottom: 0;
  }
  .portfolio-content.blocks-3 article {
    max-width: 100%; width: auto;
  }


  .yellow-quote .main-wrapper {
  height: auto;
  padding: 180px 0;
  }
  .yellow-quote p {
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
  text-transform: uppercase;
  }
  .yellow-quote h1 {
    font-size: 36px;
    margin-left:9px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .port-slider {
    height: 500px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: -450px; 
    overflow: hidden;
    display: block;
  }
  .blog-post .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .blog-post .port-slider {
    height: 500px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: -300px;
    overflow: hidden;
    display: block;
  }
  .portfolio .big-image {
    margin: 50px 0 -200px;
  }
  .portfolio .related {
    padding: 0;
  }
  .blog-post .quote > p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
  }
  .mobile-text-centered {
    text-align: center;
  }
  .portfolio-nav ul li {
    margin-bottom: 10px;
  }
  .search-bar input[type="text"] {
    width: 90%;
  }
  .comments .comment-area .comment {
    width: 100%;
    margin: 90px auto 0 auto;
  }
  .comments .comment-area .comment-reply {
    margin: 50px auto;
    float: right;
  }
  .leave-comment {
    margin: 50px 0;
  }
  .comments .header h1 {
    float: none;
  }
  .comments .header input[type="button"] {
    margin: 0 auto;
    float: none;
    text-align: center;
    position: relative;
    display: block;
  }
  .comments .comment .user-image {
/*    margin: 0 auto;
    display: block;
    float: none;*/
  }
  .mobile-hide {
    display: none;
  }










header.container {
    	width: 720px;
}
.topslider {
    	margin-left: auto;
    	margin-right: auto;
    	width: 350px;
}
#home-items {
	position:absolute;
	width:340px;
	height:100%; 
}						

#block-left {
	width:350px;
}
#block-right {
	width:0px;
	display:none;
}
#block-center {
	width:0px;
	display:none;
}
#bick4 { display:none;}	
#bick6 { display:none;}



.about h1 {
	margin-top: 10px;

}



.or-quote {
	background: url(../img/main-images/header-image1-ipad.jpg) no-repeat fixed center;
}

.or-quote1 {
	background: url(../img/main-images/header-image2-ipad.jpg) no-repeat fixed center;
}

.or-quote2 {
	background: url(../img/main-images/header-image3-ipad.jpg) no-repeat fixed center;
}

.or-quote3 {
	background: url(../img/main-images/header-image4-ipad.jpg) no-repeat fixed center;
}


.service .client-main .client {
	position: relative;
	margin-bottom: 50px;
	cursor: pointer;
	height: 330px;
}
.service .client-hover {
	border: #ffcfc7 1px solid;
	position:absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 340px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


.our-team .main-wrapper {
	margin-left:20%;
	margin-right:10%;
}


.our-team .team-member {
	margin-left:15%;
	margin-right:10%;
}










.portfolio {
	background: #fff;
	text-align:center;
	margin-left:20%;
	margin-right:10%;
}

.portfolio  .entry img {  height:288px }

.portfolio  .work-hover {
	height:288px;
}
.portfolio  .work-hover .icon { 
	margin: 25% auto 10px auto;}

}






/*--------------------ipad (Portrait)-----------------------*/


@media only screen and  (min-width: 350px) and (max-width: 500px) {



  #bick12 { display:none}	

  #MainNav {
    padding: 20px 0 0 0;
  }
  #MainNav .units-row {
    padding-bottom: 20px;
    text-align: center;
  }
  #MainNav ul li {
    padding: 0;
  }
  #MainNav ul li a {
    color: #fff;
  }
  .units-row {
    padding: 0 10px !important;
    max-width: auto;
  }
  .units-row1 {
    padding: 0 10px !important;
    max-width: auto;
  }
  .brand {
    float: none;
    display: block;
    padding-bottom: 20px;
  }
  .flexheader .slides {
    padding-top: 50px;
  }
  .flexheader .slides p {
    font-size: 34px;
    line-height: 30px;
  }
  .flexheader .slides p small {
    font-size: 20px;
  }
  .icon, .blog .blog-hover p {
    margin: 15px auto;
  }
  .portfolio h1,
  .about h1,
  .our-clients h1,
  .contact h1 {
    padding: 150px 0 0;
  }

 .our-clients h2 { padding: 250px 0 30px; }

  .service h1 {
    padding: 150px 0 0;
  }

 .service h2 { padding: 250px 0 30px; }

  .blog .blog-hover .icon, .portfolio .portfolio-nav .icon {
    margin-bottom: 0;
  }
  .portfolio-content.blocks-3 article {
    max-width: 100%; width: auto;
  }


  .yellow-quote .main-wrapper {
  height: auto;
  padding: 180px 0;
  }
  .yellow-quote p {
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
  text-transform: uppercase;
  }
  .yellow-quote h1 {
    font-size: 36px;
    margin-left:9px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .port-slider {
    height: 500px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: -450px; 
    overflow: hidden;
    display: block;
  }
  .blog-post .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .blog-post .port-slider {
    height: 500px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: -300px;
    overflow: hidden;
    display: block;
  }
  .portfolio .big-image {
    margin: 50px 0 -200px;
  }
  .portfolio .related {
    padding: 0;
  }
  .blog-post .quote > p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
  }
  .mobile-text-centered {
    text-align: center;
  }
  .portfolio-nav ul li {
    margin-bottom: 10px;
  }
  .search-bar input[type="text"] {
    width: 90%;
  }
  .comments .comment-area .comment {
    width: 100%;
    margin: 90px auto 0 auto;
  }
  .comments .comment-area .comment-reply {
    margin: 50px auto;
    float: right;
  }
  .leave-comment {
    margin: 50px 0;
  }
  .comments .header h1 {
    float: none;
  }
  .comments .header input[type="button"] {
    margin: 0 auto;
    float: none;
    text-align: center;
    position: relative;
    display: block;
  }
  .comments .comment .user-image {
/*    margin: 0 auto;
    display: block;
    float: none;*/
  }
  .mobile-hide {
    display: none;
  }










header.container {
    	width: 500px;
}
.topslider {
    	margin-left: auto;
    	margin-right: auto;
    	width: 350px;
}
#home-items {
	position:absolute;
	width:310px;
	height:100%; 
}						

#block-left {
	width:310px;
}
#block-right {
	width:0px;
	display:none;
}
#block-center {
	width:0px;
	display:none;
}
#bick4 { display:none;}	
#bick6 { display:none;}



.about h1 {
	margin-top: 10px;

}



.or-quote {
	background: url(../img/main-images/header-image1-ipad.jpg) no-repeat fixed center;
}

.or-quote1 {
	background: url(../img/main-images/header-image2-ipad.jpg) no-repeat fixed center;
}

.or-quote2 {
	background: url(../img/main-images/header-image3-ipad.jpg) no-repeat fixed center;
}

.or-quote3 {
	background: url(../img/main-images/header-image4-ipad.jpg) no-repeat fixed center;
}



.service .client-main .client {
	position: relative;
	margin-bottom: 50px;
	cursor: pointer;
	height: 330px;
}
.service .client-hover {
	border: #ffcfc7 1px solid;
	position:absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 340px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


.our-team .main-wrapper {
	margin-left:10%;
	margin-right:10%;
}


.our-team .team-member {
	margin-left:15%;
	margin-right:10%;
}







.portfolio  .entry img {  height:288px }

.portfolio  .work-hover {
	height:288px;
}





.portfolio  .work-hover .icon { 
	margin: 25% auto 10px auto;}



}





/*--------------------Mobile (Portrait)-----------------------*/


@media only screen and (max-width: 350px) {

 
 #bick12 { display:none}	

  #MainNav {
    padding: 20px 0 0 0;
  }
  #MainNav .units-row {
    padding-bottom: 20px;
    text-align: center;
  }
  #MainNav ul li {
    padding: 0;
  }
  #MainNav ul li a {
    color: #fff;
  }
  .units-row {
    padding: 0 10px !important;
    max-width: auto;
  }
  .units-row1 {
    padding: 0 10px !important;
    max-width: auto;
  }
  .brand {
    float: none;
    display: block;
    padding-bottom: 20px;
  }
  .flexheader .slides {
    padding-top: 50px;
  }
  .flexheader .slides p {
    font-size: 34px;
    line-height: 30px;
  }
  .flexheader .slides p small {
    font-size: 20px;
  }
  .icon, .blog .blog-hover p {
    margin: 15px auto;
  }
  .portfolio h1,
  .about h1,
  .our-clients h1,
  .contact h1 {
    padding: 150px 0 0;
  }

 .our-clients h2 { padding: 250px 0 30px; }

  .service h1 {
    padding: 150px 0 0;
  }

 .service h2 { padding: 250px 0 30px; }

  .blog .blog-hover .icon, .portfolio .portfolio-nav .icon {
    margin-bottom: 0;
  }
  .portfolio-content.blocks-3 article {
    max-width: 100%; width: auto;
  }


  .yellow-quote .main-wrapper {
  height: auto;
  padding: 180px 0;
  }
  .yellow-quote p {
  font-size: 24px;
  line-height: 36px;
  margin-top: 30px;
  text-transform: uppercase;
  }
  .yellow-quote h1 {
    font-size: 36px;
    margin-left:9px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .port-slider {
    height: 500px;
    margin: 0;
    margin-top: -20px;
    margin-bottom: -450px; 
    overflow: hidden;
    display: block;
  }
  .blog-post .port-slider .flexslider {
    margin: 0;
    position: relative;
  }
  .blog-post .port-slider {
    height: 500px;
    margin: 0;
    margin-top: 100px;
    margin-bottom: -300px;
    overflow: hidden;
    display: block;
  }
  .portfolio .big-image {
    margin: 50px 0 -200px;
  }
  .portfolio .related {
    padding: 0;
  }
  .blog-post .quote > p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
  }
  .mobile-text-centered {
    text-align: center;
  }
  .portfolio-nav ul li {
    margin-bottom: 10px;
  }
  .search-bar input[type="text"] {
    width: 90%;
  }
  .comments .comment-area .comment {
    width: 100%;
    margin: 90px auto 0 auto;
  }
  .comments .comment-area .comment-reply {
    margin: 50px auto;
    float: right;
  }
  .leave-comment {
    margin: 50px 0;
  }
  .comments .header h1 {
    float: none;
  }
  .comments .header input[type="button"] {
    margin: 0 auto;
    float: none;
    text-align: center;
    position: relative;
    display: block;
  }
  .comments .comment .user-image {
/*    margin: 0 auto;
    display: block;
    float: none;*/
  }
  .mobile-hide {
    display: none;
  }










header.container {
    	width: 350px;
}
.topslider {
    	margin-left: auto;
    	margin-right: auto;
    	width: 300px;
}
#home-items {
	position:absolute;
	width:300px;
	height:100%; 
}						

#block-left {
	width:300px;
}
#block-right {
	width:0px;
	display:none;
}
#block-center {
	width:0px;
	display:none;
}
#bick4 { display:none;}	
#bick6 { display:none;}



.about h1 {
	margin-top: 10px;

}



.or-quote {
	background: url(../img/main-images/header-image1-mobile.jpg) no-repeat fixed center;
}

.or-quote1 {
	background: url(../img/main-images/header-image2-mobile.jpg) no-repeat fixed center;
}

.or-quote2 {
	background: url(../img/main-images/header-image3-mobile.jpg) no-repeat fixed center;
}

.or-quote3 {
	background: url(../img/main-images/header-image4-mobile.jpg) no-repeat fixed center;
}


.service .client-main .client {
	position: relative;
	margin-bottom: 50px;
	cursor: pointer;
	height: 350px;
}
.service .client-hover {
	border: #ffcfc7 1px solid;
	position:absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 350px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


.our-team .main-wrapper {
	margin-left:10%;
	margin-right:10%;
}


.our-team .team-member {
	margin-left:0%;
	margin-right:10%;
}






.blog .blog-hover .icon { 

	margin: 15% auto 0 auto;
}








}


/*---------------Media---------------*/


/* Responsive images and other embedded objects */
img,
video {
  max-width: 100%;
  height: auto;
}
img {
  -ms-interpolation-mode: bicubic;
  border: none;
}
audio {
  width: 100%;
}
.video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  /* ratio 16:9 */

  position: relative;
  margin-bottom: 1.65em;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*-------------------Mobile (Portrait)---------------------*/


@media only screen and (max-width: 767px) {
  .units-row .unit-80,
  .units-row .unit-75,
  .units-row .unit-70,
  .units-row .unit-66,
  .units-row .unit-60,
  .units-row .unit-50,
  .units-row .unit-40,
  .units-row .unit-33,
  .units-row .unit-30,
  .units-row .unit-25,
  .units-row .unit-20,
  .units-row .unit-15,
  .units-row-end .unit-80,
  .units-row-end .unit-75,
  .units-row-end .unit-70,
  .units-row-end .unit-66,
  .units-row-end .unit-60,
  .units-row-end .unit-50,
  .units-row-end .unit-40,
  .units-row-end .unit-33,
  .units-row-end .unit-30,
  .units-row-end .unit-25,
  .units-row-end .unit-20,
  .units-row-end .unit-15 {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 1.65em;
  }
}


/*---------------Mobile (Portrait)-------------*/


@media only screen and (max-width: 880px) {
  .blocks-2,
  .blocks-3,
  .blocks-4 {
    margin-left: 0;
    margin-bottom: 1.65em;
  }
  .blocks-2 > article,
  .blocks-3 > article,
  .blocks-4 > article {
    float: none;
    margin-left: 0;
    width: 100%;
  }
}




















/*---------------------Responsive Menu--------------*/


a.meanmenu-reveal {
  display: none;
}
.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: #000;
  padding: 4px 0;
  min-height: 42px;
  z-index: 999999;
}
.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 13px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 3px;
  margin-top: 3px;
}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #000;
  margin-top: 33px;
}
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}
.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #383838;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  text-decoration: none;
  text-transform: uppercase;
}
.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 1em 10%;
  border-bottom: 1px solid #f1f1f1;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  opacity: 0.75;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover {
  background: #252525;
  background: rgba(255,255,255,0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
  width: 26px;
  height: 26px;
  border: none !important;
  padding: 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
  background: none;
}
.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}
.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.mean-container .mean-bar, .mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}












