<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>				
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">					
					<div class="widget-box">
						<div class="widget-content nopadding">
							<form class="form-horizontal" tal:attributes="action Chapter/getURLSettingBoardInsExe" method="POST">
								<div class="control-group">
									<label class="control-label" for="Title">Tiêu đề</label>
									<div class="controls">
										<input type="text" id="Name" name="Name" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Time">Thời gian</label>
									<div class="controls">
										<input type="text" id="Time" name="Time" data-date-format="yyyy-mm-dd hh:ii"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="MoveStart">Nước khởi tạo</label>
									<div class="controls">
										<input type="text" id="MoveInit" name="MoveInit" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="MoveStart">Nước đầu</label>
									<div class="controls">
										<input type="text" id="MoveStart" name="MoveStart" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="MoveStart">Nước cuối</label>
									<div class="controls">
										<input type="text" id="MoveEnd" name="MoveEnd" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Lượt đi</label>
									<div class="controls">
										<select name="Round" id="Round" style="width:80%;">
											<option value="-1">Xanh đi trước</option>
											<option value="1">Đỏ đi trước</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Kết quả</label>
									<div class="controls">
										<select name="Result" id="Result" style="width:80%;">
											<option value="-1">Đỏ thắng</option>
											<option value="0">Hòa</option>
											<option value="1">Đỏ thua</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Info">Giới thiệu</label>
									<div class="controls">
										<textarea id="Info" class="ckeditor" name="Info" />
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-success" value="submit-value">Lưu</button>
								</div>
							</form>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/back/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			/* ---------------------------------------------------------------------------- */
			/* SET TODAY FOR DATEPICKER														*/
			/* ---------------------------------------------------------------------------- */
			//THIẾT LẬP NGÀY GIỜ GIAO DỊCH
			$('#Time').datetimepicker({
				language:  'vi',
				weekStart: 1,
				todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
				showMeridian: 1
			});			
		/*]]>*/
		</script>
	</body>
</html>