<!DOCTYPE html>
<html lang="en">
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="og:title" tal:attributes="content Book/getTitle"/>
		<meta property="og:description" tal:attributes="content Book/getInfoReduce"/>		
		<meta property="og:image" tal:attributes="content Book/getThumb"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-info">
						<div class="panel-heading">
							<a tal:attributes="href Category/getURLView">
								<i class="glyphicon glyphicon-home"/>
								<span tal:content="Book/getTitle"/>
							</a>
						</div>
						<div class="panel-body">
							<div class="article-meta-date">
								<B tal:content="Book/getAuthor"/>
								<div class="btn"><i class="glyphicon glyphicon-stats"/> <span tal:content="Book/getViewed"/></div>  
								<div class="btn"><i class="glyphicon glyphicon-thumbs-up"/> <span tal:content="Book/getLikedPrint"/></div>
							</div>
							<div class="article-meta-more">
								<div class="share-button-group">
									<div class="btn fb-share-button" tal:attributes="data-href URLShare" data-type="button_count" />
									<span tal:condition="Book/getURL"><a class="btn" tal:attributes="href Book/getURL" target="blank"><i class="glyphicon glyphicon-download-alt"/></a></span>
								</div>
								<div tal:content="structure Book/getInfo" class="article-content-container"/>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">							
							<div class="col-xs-6 col-md-3" tal:repeat="Chapter1 Book/getChapterAll" data-toggle="tooltip" data-placement="bottom" tal:attributes="title php: Chapter1->getTitle()">
								<a tal:attributes="href Chapter1/getURLView" class="thumbnail">
									<img src="/data/chess/150/chapter.png" />
									<div class="caption text-center" tal:content="Chapter1/getTitleReduce" />
								</a>
							</div>
						</div>						
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-default">						
						<div class="panel-body">
							<a tal:attributes="href Book1/getURLView;class php: Book1->getId()==Book->getId()?'btn btn-primary btn-block':'btn btn-default btn-block'"  tal:repeat="Book1 Category/getBookAll">
								<span tal:content="Book1/getTitleReduce"/>
							</a>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/						
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=525611617524479&version=v2.0";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
						
			$(".ChessBoard").attr("height", ($(".ChessBoard").width() * 1.05));
			$('[data-toggle="tooltip"]').tooltip();
		/*]]>*/
		</script>
	</body>	
</html>