<!DOCTYPE html>
<html lang="en">
	<head>
		<tal:block metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<meta property="fb:app_id" content="1550985445183957"/>
		<meta property="og:title" tal:attributes="content Book/getTitle"/>
		<meta property="og:description" tal:attributes="content Book/getInfoReduce"/>		
		<meta property="og:type" content="article" />
		<meta property="og:image" tal:attributes="content Book/getThumb"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeCSS"/>
		<tal:block metal:use-macro="mFront.xhtml/IncludeJS"/>		
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">			
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-primary">
						<div class="panel-heading">							
							<span tal:content="php: mb_strtoupper(Book->getTitle(), 'UTF8')"/>
						</div>
						<div class="panel-body">
							<div class="article-meta-date">																
								<div class="fb-like" tal:attributes="data-href URLShare" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
								<span class="text-left">cập nhật mới nhất <B><i tal:content="Book/getTimePrint1" /></B></span>
							</div>
							<div role="tabpanel" id="TabBook">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation">
										<a tal:attributes="href php:'#TabInfo'" aria-controls="profile" role="tab" data-toggle="tab">TÓM LƯỢC</a>
									</li>
									<li role="presentation" class="active">
										<a tal:attributes="href php:'#TabChapter'" aria-controls="profile" role="tab" data-toggle="tab">NỘI DUNG</a>
									</li>							
									<li role="presentation">
										<a tal:attributes="href php:'#TabComment'" aria-controls="profile" role="tab" data-toggle="tab">THẢO LUẬN</a>
									</li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane"  id="TabInfo">
										<div class="article-meta-more">
											<div tal:content="structure Book/getInfo" class="article-content-container"/>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane"  id="TabComment">
										<div 
											class="fb-comments" 
											tal:attributes="data-href Book/getURLViewFull" 
											data-numposts="12" data-colorscheme="light"
										/>
									</div>
									<div role="tabpanel" class="tab-pane active" id="TabChapter">
										<table class="table table-striped">
											<tr tal:repeat="Chapter Book/getChapterAll">
												<td width="48px"><img width="48px" tal:attributes="src Chapter/getThumb"/></td>
												<td>
													<a tal:attributes="href Chapter/getURLView">
														<span tal:content="Chapter/getTitle"/>
														 (<span tal:content="Chapter/getBoardAll/count"/> ván)
													</a>
													<p tal:content="structure Chapter/getInfoReduce"/>													
													<div class="progress">
														<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Chapter/getCompletedPercentPrint1">
															<B tal:content="Chapter/getCompletedPercentPrint2"/>
														</div>
													</div>																										
												</td>
											</tr>											
										</table>								
									</div>							
								</div>
							</div>
						</div>		
					</div>	
				</div>
				<div class="col-md-3">
					<div class="panel panel-primary">
						<div class="panel-heading">DANH MỤC</div>
						<div class="panel-body">
							<div class="btn-group" role="group" aria-label="...">
								<a tal:attributes="href Category/getURLView" class="btn btn-default">
									<i class="glyphicon glyphicon-share-alt"/>
								</a>
							</div>
							<ul class="list-group">
								<li tal:attributes="class php:Book->getId()==Book1->getId()? 'list-group-item list-group-item-success' : 'list-group-item'" tal:repeat="Book1 Category/getBookAll">
									<a tal:attributes="href Book1/getURLView">
										<span tal:content="Book1/getTitleReduce"/>
									</a>
									<span class="badge" tal:content="Book1/getChapterAll/count"/>
								</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		/*<![CDATA[*/															
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=1550985445183957&version=v2.0";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
			$('#carousel-cotuong-generic').carousel({pause: "false"});
			$('.carousel-inner .item:first-child').addClass('active');
				
			$(".ChessBoard").attr("height", ($(".ChessBoard").width() * 1.05));
						
			$(".Liked").click(function(){									
				//-----------------------------------------------------------------------------------			
				var IdBook = $(this).attr('data-id');
												
				var URL = "/object/liked/Book/"+IdBook;
				$.ajax({
					type: "POST",						
					url: URL,
					success: function(msg){
						location.reload();
					}
				});			
			});
		/*]]>*/
		</script>
	</body>	
</html>