<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<ol class="breadcrumb">						
								<li class="active" tal:content="php: mb_strtoupper(Category->getName(), 'UTF8')"/>
							</ol>
						</div>
						<div class="panel-body">
							<div role="tabpanel" id="TabBook">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Viewed')?'active':''">
										<a tal:attributes="href php:'#TabViewed'" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a>
									</li>
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Liked')?'active':''">
										<a tal:attributes="href php:'#TabLiked'" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a>
									</li>
									<li role="presentation" tal:attributes="class php:(OrderBy == 'Recent')?'active':''">
										<a tal:attributes="href php:'#TabRecent'" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-calendar"/></a>
									</li>									
								</ul>
								<div class="tab-content">
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Viewed')?'tab-pane active':'tab-pane'"  id="TabViewed">
										<table class="table table-striped">
											<tr tal:repeat="Book BookOrderByViewedAll">
												<td width="48px">												
													<a tal:attributes="href Book/getURLView">
														<img width="48px" tal:attributes="src Book/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
													<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
													<div class="progress">
														<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Book/getCompletedPercentPrint1">
															<B tal:content="Book/getCompletedPercentPrint2"/> hoàn thành 
														</div>
													</div>
												</td>
											</tr>
										</table>
										<nav>
											<ul class="pagination alternate pull-center page-bar">
												<li tal:repeat="P PNByViewed/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</nav>
									</div>
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Liked')?'tab-pane active':'tab-pane'"  id="TabLiked">
										<table class="table table-striped">
											<tr tal:repeat="Book BookOrderByLikedAll">
												<td width="48px">
													<a tal:attributes="href Book/getURLView">
														<img width="48px" tal:attributes="src Book/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
													<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
													<div class="progress">
														<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Book/getCompletedPercentPrint1">
															<B tal:content="Book/getCompletedPercentPrint2"/> hoàn thành 
														</div>
													</div>
												</td>
											</tr>
										</table>
										<nav>
											<ul class="pagination alternate pull-center page-bar">
												<li tal:repeat="P PNByLiked/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</nav>
									</div>
									<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Recent')?'tab-pane active':'tab-pane'"  id="TabRecent">
										<table class="table table-striped">
											<tr tal:repeat="Book BookOrderByRecentAll">
												<td width="48px">
													<a tal:attributes="href Book/getURLView">
														<img width="48px" tal:attributes="src Book/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
													<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
													<div class="progress">
														<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Book/getCompletedPercentPrint1">
															<B tal:content="Book/getCompletedPercentPrint2"/> hoàn thành 
														</div>
													</div>
												</td>
											</tr>
										</table>
										<nav>
											<ul class="pagination alternate pull-center page-bar">
												<li tal:repeat="P PNByRecent/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
													<a tal:attributes="href P/getURL" tal:content="P/getName"/>
												</li>
											</ul>
										</nav>								
									</div>
								</div>
							</div>								
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">						
						<div class="panel-body">														
							<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>
							<div width="100%" class="fb-like-box" data-href="https://www.facebook.com/pages/Caytretramdot/596061963849405" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/			
			$(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});
		/*]]>*/
		</script>
	</body>
</html>