<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row-fluid">
				<div class="col-md-9 col-sm-9">															
					<ol class="breadcrumb">						
						<li class="active" tal:content="php: mb_strtoupper(Category->getName(), 'UTF8')"/>
					</ol>

					<div role="tabpanel" id="TabBook">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" tal:attributes="class php:(OrderBy == 'Viewed')?'active':''">
								<a tal:attributes="href php:'#TabViewed'" aria-controls="profile" role="tab" data-toggle="tab">xem nhiều</a>
							</li>
							<li role="presentation" tal:attributes="class php:(OrderBy == 'Liked')?'active':''">
								<a tal:attributes="href php:'#TabLiked'" aria-controls="profile" role="tab" data-toggle="tab">yêu thích</a>
							</li>
							<li role="presentation" tal:attributes="class php:(OrderBy == 'Recent')?'active':''">
								<a tal:attributes="href php:'#TabRecent'" aria-controls="home" role="tab" data-toggle="tab">gần đây</a>
							</li>									
						</ul>
						<div class="tab-content">
							<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Viewed')?'tab-pane active':'tab-pane'"  id="TabViewed">
								<table class="table table-striped">
									<tr tal:repeat="Book BookOrderByViewedAll">
										<td width="10%">
											<a tal:attributes="href Book/getURLView">
												<img width="96px" tal:attributes="src Book/getThumb"/>
											</a>	
										</td>
										<td>
											<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
											<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
										</td>
									</tr>
								</table>
								<nav>
									<ul class="pagination alternate pull-center page-bar">
										<li tal:repeat="P PNByViewed/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
											<a tal:attributes="href P/getURL" tal:content="P/getName"/>
										</li>
									</ul>
								</nav>
							</div>
							<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Liked')?'tab-pane active':'tab-pane'"  id="TabLiked">
								<table class="table table-striped">
									<tr tal:repeat="Book BookOrderByLikedAll">
										<td width="10%">
											<a tal:attributes="href Book/getURLView">
												<img width="96px" tal:attributes="src Book/getThumb"/>
											</a>	
										</td>
										<td>
											<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
											<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
										</td>
									</tr>
								</table>
								<nav>
									<ul class="pagination alternate pull-center page-bar">
										<li tal:repeat="P PNByLiked/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
											<a tal:attributes="href P/getURL" tal:content="P/getName"/>
										</li>
									</ul>
								</nav>
							</div>
							<div role="tabpanel" tal:attributes="class php:(OrderBy == 'Recent')?'tab-pane active':'tab-pane'"  id="TabRecent">
								<table class="table table-striped">
									<tr tal:repeat="Book BookOrderByRecentAll">
										<td width="10%">
											<a tal:attributes="href Book/getURLView">
												<img width="96px" tal:attributes="src Book/getThumb"/>
											</a>	
										</td>
										<td>
											<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
											<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
										</td>
									</tr>
								</table>
								<nav>
									<ul class="pagination alternate pull-center page-bar">
										<li tal:repeat="P PNByRecent/getPages" tal:attributes="class php:Page==P->getId()?'active':'disable'">
											<a tal:attributes="href P/getURL" tal:content="P/getName"/>
										</li>
									</ul>
								</nav>								
							</div>
						</div>
					</div>									
				</div>
				<div class="col-md-3 col-sm-3">
					
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/			
			$(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});
		/*]]>*/
		</script>
	</body>
</html>