<!DOCTYPE html>
<html>
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="mFront.xhtml/Header"/>
			<div class="container-fluid" id="wraper">
				<div class="row">
					<div class="col-md-3">
						
					</div>
					<div class="col-md-6">
						<p align="center"><img width="30%" src="/data/chess/bg/CCRook.png" /></p>
						<p align="center">Các tư liệu CỜ TƯỚNG chúng tôi sưu tầm từ các nhà sách cũ hoặc từ Internet.</p>
						<p align="center">Team chúng tôi sử dụng IT tái hiện hàng trăm ván cờ của các danh thủ trên môi trường Web để các <B>kỳ hữu</B> tiện theo dõi trên các phương tiện PC, Laptop, Smartphone, Tablet</p>
						<p align="center">Rất hoan nghênh mọi người chia sẻ trao đổi và học hỏi kinh nghiệm về Cờ !</p>
						<p align="center">Hệ thống đã được và đang phát triển bởi <B>SPN Team</B></p>						
					</div>
					<div class="col-md-3">
						
					</div>					
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
	</body>
</html>