<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<tal:block metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-body">							
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">								
								<div class="carousel-inner" role="listbox">
									<div class="item active">										
										<img tal:attributes="src Presentation/getSlideAll/current/getURL;alt php:'sequence-slide-1'" width="100%"/>
										<div class="carousel-caption">
											
										</div>
									</div>
									<div class="item" tal:repeat="Slide Presentation/getSlideAll">
										<img tal:attributes="src Slide/getURL;alt php:'sequence-slide-' . repeat.Slide.number" width="100%"/>
										<div class="carousel-caption">
											
										</div>
									</div>							
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-8">					
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="glyphicon glyphicon-folder-open"/> <B>SÁCH CỜ</B>
						</div>
						<div class="panel-body">							
							<div role="tabpanel">
								<ul class="nav nav-tabs" role="tablist" id="PostTab">
									<li role="presentation" class="active"><a href="#book-recent" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-calendar"/></a></li>
									<li role="presentation"><a href="#book-viewed" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a></li>
									<li role="presentation"><a href="#book-liked" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a></li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="book-recent">
										<table class="table table-striped">
											<tr tal:repeat="Book BookRecentAll">
												<td width="48px">
													<a tal:attributes="href Book/getURLView">
														<img width="48px" tal:attributes="src Book/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
													<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
													<div class="progress">
														<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Book/getCompletedPercentPrint1">
															<B tal:content="Book/getCompletedPercentPrint2"/> hoàn thành 
														</div>
													</div>
												</td>
											</tr>
										</table>										
									</div>
									<div role="tabpanel" class="tab-pane" id="book-viewed">
										<table class="table table-striped">
											<tr tal:repeat="Book BookViewedAll">
												<td width="48px">
													<a tal:attributes="href Book/getURLView">
														<img width="48px" tal:attributes="src Book/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
													<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
													<div class="progress">
														<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Book/getCompletedPercentPrint1">
															<B tal:content="Book/getCompletedPercentPrint2"/> hoàn thành 
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
									<div role="tabpanel" class="tab-pane" id="book-liked">
										<table class="table table-striped">
											<tr tal:repeat="Book BookLikedAll">
												<td width="48px">
													<a tal:attributes="href Book/getURLView">
														<img width="48px" tal:attributes="src Book/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Book/getURLView"><span tal:content="Book/getTitle"/></a>
													<p class="text-justify" tal:content="structure Book/getInfoReduce"/>
													<div class="progress">
														<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" tal:attributes="style Book/getCompletedPercentPrint1">
															<B tal:content="Book/getCompletedPercentPrint2"/> hoàn thành 
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="glyphicon glyphicon-folder-open"/> <B>VÁN CỜ</B>
						</div>
						<div class="panel-body">							
							<div role="tabpanel">
								<ul class="nav nav-tabs" role="tablist" id="BoardTab">
									<li role="presentation" class="active"><a href="#board-recent" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-calendar"/></a></li>
									<li role="presentation"><a href="#board-viewed" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a></li>
									<li role="presentation"><a href="#board-liked" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a></li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="board-recent">
										<table class="table table-striped">
											<tr tal:repeat="Board BoardRecentAll">
												<td width="48px">
													<a tal:attributes="href Board/getURLView">
														<img width="48px" tal:attributes="src Board/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Board/getURLView"><span tal:content="Board/getName"/></a>
													<p class="text-justify" tal:content="structure Board/getInfoReduce"/>
												</td>
											</tr>
										</table>
									</div>
									<div role="tabpanel" class="tab-pane" id="board-viewed">
										<table class="table table-striped">
											<tr tal:repeat="Board BoardViewedAll">
												<td width="48px">
													<a tal:attributes="href Board/getURLView">
														<img width="48px" tal:attributes="src Board/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Board/getURLView"><span tal:content="Board/getName"/></a>
													<p class="text-justify" tal:content="structure Board/getInfoReduce"/>
												</td>
											</tr>
										</table>
									</div>									
									<div role="tabpanel" class="tab-pane" id="board-liked">
										<table class="table table-striped">
											<tr tal:repeat="Board BoardLikedAll">
												<td width="48px">
													<a tal:attributes="href Board/getURLView">
														<img width="48px" tal:attributes="src Board/getThumb"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Board/getURLView"><span tal:content="Board/getName"/></a>
													<p class="text-justify" tal:content="structure Board/getInfoReduce"/>
												</td>
											</tr>
										</table>
									</div>									
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="glyphicon glyphicon-folder-open"/> <B>VIDEO</B></div>
						<div class="panel-body">							
							<div role="tabpanel">
								<ul class="nav nav-tabs" role="tablist" id="VideoTab">
									<li role="presentation" class="active"><a href="#video-recent" aria-controls="home" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-calendar"/></a></li>
									<li role="presentation"><a href="#video-viewed" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-stats"/></a></li>
									<li role="presentation"><a href="#video-liked" aria-controls="profile" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star"/></a></li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="video-recent">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoRecentAll">
												<td width="48px">
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>
													</a>	
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>
									</div>
									<div role="tabpanel" class="tab-pane" id="video-viewed">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoViewedAll">
												<td width="48px">
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>
									</div>									
									<div role="tabpanel" class="tab-pane" id="video-liked">
										<table class="table table-striped">
											<tr tal:repeat="Video VideoLikedAll">
												<td width="48px">
													<a tal:attributes="href Video/getURLView">
														<img width="48px" tal:attributes="src Video/getImage"/>
													</a>
												</td>
												<td>
													<a tal:attributes="href Video/getURLView"><span tal:content="Video/getTitle"/></a>
													<p class="text-justify" tal:content="structure Video/getInfoReduce"/>
												</td>
											</tr>
										</table>
									</div>									
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">						
						<div class="panel-body">														
							<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>
							<div width="100%" class="fb-like-box" data-href="https://www.facebook.com/pages/Caytretramdot/596061963849405" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/			
			$('#carousel-presentation-generic').carousel({pause: "false"});
			$('#carousel-presentation-generic .item:first-child').addClass('active');
		/*]]>*/
		</script>
	</body>
</html>