<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mFront.xhtml/IncludeMETA"/>
		<div metal:use-macro="mFront.xhtml/IncludeCSS"/>
	</head>
	<body>
		<div metal:use-macro="mFront.xhtml/Header"/>
		<div class="container-fluid" id="wraper">			
			<div class="row">
				<div class="col-md-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<ol class="breadcrumb">						
								<li class="active" tal:content="string:LIÊN KẾT"/>
							</ol>
						</div>
						<div class="panel-body">
							<table class="table table-striped">
								<tr tal:repeat="Linked LinkedAll">
									<td width="48px">												
										<a target="blank" tal:attributes="href Linked/getWebsite">
											<img width="48px" src="/data/chess/150/linked.png"/>
										</a>	
									</td>
									<td>
										<a target="blank" tal:attributes="href Linked/getWebsite"><span tal:content="Linked/getName"/></a>
										<p class="text-justify" tal:content="structure Linked/getNote"/>
									</td>
								</tr>
							</table>																						
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<tal:block metal:use-macro="mFront.xhtml/SearchBox"/>
					<div class="panel panel-default">						
						<div class="panel-body">														
							<tal:block metal:use-macro="mFront.xhtml/SuggestLevel01"/>
							<div width="100%" class="fb-like-box" data-href="https://www.facebook.com/pages/Caytretramdot/596061963849405" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div metal:use-macro="mFront.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/			
			
		/*]]>*/
		</script>
	</body>
</html>