<!DOCTYPE html>
<html>
	<head>
		<title>Kiểm tra tài khoản FaceBook</title>
		<meta charset="UTF-8" />
	</head>
<body>
	<div id="fb-root"></div>
	<p>thử xem</p>
	<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1550985445183957',
				xfbml      : true,
				version    : 'v2.1'
			});
			
			FB.getLoginStatus(function(response) {
				if (response.status === 'connected') {
					//alert("Đã đăng nhập");
					
				}
				else {					
					FB.login();					
				}
			});
			/*
			FB.login(function(){
				FB.api('/me/feed', 'post', {message: 'Chào mọi người !'});
			}, {scope: 'publish_actions'});
			*/
			
		};

		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/vi_VN/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		
	</script>
</body>
</html>