	
	/* ==================================================================================== */
	/* ADMIN MENU																			*/
	/* ==================================================================================== */
	.s-menu {

	}

		.s-menu ul {
			margin-top:			50px;
		}
		
		.s-menu ul > li > a {
			display:			block;
			padding:			7px 5px;
			color:				#000000;
		}

		.s-menu ul > li:hover {
			background-color:	#E7E7E7;
		}

		.s-menu ul > li.selected {
			background-color:	#D4D4D4;
		}